<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8583.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,136},{42,20}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8584.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,86},{46,20}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{46,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8587.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,132},{42,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8590.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,320},{26,24}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8591.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,224},{34,22}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8592.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,158},{36,24}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8593.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,198},{36,22}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8596.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,172},{34,12}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8597.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,184},{34,32}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8598.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,248},{34,20}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{34,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8599.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8600.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8601.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,60},{48,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8602.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,290},{28,24}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8603.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{36,30}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8604.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,370},{12,18}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{12,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8607.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,268},{32,22}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8608.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,218},{32,30}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8609.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,140},{30,8}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{30,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8610.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{40,26}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8611.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,126},{44,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8612.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,36},{48,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8613.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,68},{14,14}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8614.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,164},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8615.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{36,18}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{36,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8618.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,44},{14,22}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8619.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,34},{36,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8620.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{28,24}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8621.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,36},{48,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8622.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8623.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,32},{48,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8624.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,230},{34,22}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8625.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{34,30}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{34,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8626.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,278},{18,10}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{18,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8632.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,296},{28,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{28,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8638.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,354},{24,18}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8639.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,368},{22,18}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{22,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8640.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{26,18}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8641.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,346},{24,18}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8644.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,294},{30,26}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8645.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,346},{26,20}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{26,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8646.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,322},{28,24}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8647.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,304},{26,24}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8650.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,254},{22,10}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8651.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,316},{28,16}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{28,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8652.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,330},{26,22}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8653.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,84},{14,12}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{14,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8656.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,106},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8659.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{46,24}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8660.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,82},{46,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{46,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8663.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,208},{34,22}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8664.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{34,18}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8665.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,274},{32,18}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8666.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,250},{32,22}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8675.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,356},{20,22}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8676.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,254},{30,28}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8677.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,240},{32,26}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8678.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,284},{30,18}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{30,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8681.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,108},{44,22}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8682.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{44,22}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{44,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8685.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,170},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8691.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,274},{30,20}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8692.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,328},{26,24}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8698.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{42,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8701.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,62},{46,24}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8702.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,88},{44,24}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{44,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8705.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,98},{36,12}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8706.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,198},{36,24}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8707.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,298},{28,20}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8708.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,354},{24,20}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8711.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,114},{44,20}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8712.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,62},{46,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{46,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8715.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{32,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8718.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,206},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8721.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,92},{44,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8724.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,178},{40,18}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8725.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,270},{34,18}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8732.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,292},{30,26}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8733.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,334},{24,12}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{24,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8734.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,348},{20,26}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8735.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,320},{28,24}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8747.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,224},{28,10}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8748.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,62}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8749.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{42,28}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8750.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,136},{16,32}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8751.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,62},{1,1}}</string>
                <key>offset</key>
                <string>{-23.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8754.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,64},{36,26}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8755.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{32,16}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{32,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8756.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{32,26}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8757.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,222},{34,26}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{34,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8760.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{30,22}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8761.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,274},{30,26}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8762.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,244},{28,24}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8763.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,334},{24,24}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8766.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,170},{34,26}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8767.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,200},{34,28}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8768.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,332},{22,26}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8769.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,250},{32,22}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8772.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,302},{28,28}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8773.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,156},{42,20}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{42,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object4_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab567198adf83882e3e26795e9c13454:1/1$</string>
            <key>textureFileName</key>
            <string>object4_4.png</string>
        </dict>
    </dict>
</plist>
