<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3041.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,624},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>3042.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,374},{48,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,103}}</string>
                <key>sourceSize</key>
                <string>{48,103}</string>
            </dict>
            <key>3043.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,574},{48,85}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,85}}</string>
                <key>sourceSize</key>
                <string>{48,103}</string>
            </dict>
            <key>3044.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,18},{8,33}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,33}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>3046.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,869},{40,67}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>3047.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,424},{48,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,108}}</string>
                <key>sourceSize</key>
                <string>{48,108}</string>
            </dict>
            <key>3048.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,152},{48,123}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,123}}</string>
                <key>sourceSize</key>
                <string>{48,139}</string>
            </dict>
            <key>3050.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,181},{44,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>3051.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,474},{48,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,97}}</string>
                <key>sourceSize</key>
                <string>{48,97}</string>
            </dict>
            <key>3052.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,624},{48,81}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,97}</string>
            </dict>
            <key>3054.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,227},{40,73}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{48,73}</string>
            </dict>
            <key>3055.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,424},{48,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,102}</string>
            </dict>
            <key>3056.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,574},{48,84}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,102}</string>
            </dict>
            <key>3057.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,53},{6,32}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,32}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>3060.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,524},{48,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,86}}</string>
                <key>sourceSize</key>
                <string>{48,86}</string>
            </dict>
            <key>3061.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,474},{48,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{48,100}</string>
            </dict>
            <key>3062.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,796},{38,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>3065.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,524},{48,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,85}}</string>
                <key>sourceSize</key>
                <string>{48,85}</string>
            </dict>
            <key>3066.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,52},{48,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,161}}</string>
                <key>sourceSize</key>
                <string>{48,161}</string>
            </dict>
            <key>3067.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,115},{36,64}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>3068.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,374},{48,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,121}}</string>
                <key>sourceSize</key>
                <string>{48,121}</string>
            </dict>
            <key>3069.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,102},{48,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,158}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3070.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{48,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,175}}</string>
                <key>sourceSize</key>
                <string>{48,175}</string>
            </dict>
            <key>3071.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,202},{48,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,124}</string>
            </dict>
            <key>3072.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,52},{30,61}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>3074.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,702},{38,243}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,243}}</string>
                <key>sourceSize</key>
                <string>{48,265}</string>
            </dict>
            <key>3075.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,45},{14,227}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,227}}</string>
                <key>sourceSize</key>
                <string>{48,257}</string>
            </dict>
            <key>3076.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{4,10}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,10}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>3077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{48,244}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,244}}</string>
                <key>sourceSize</key>
                <string>{48,274}</string>
            </dict>
            <key>3078.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,14},{2,9}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,9}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>3080.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,12},{16,31}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>3081.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,274},{48,225}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,225}}</string>
                <key>sourceSize</key>
                <string>{48,233}</string>
            </dict>
            <key>3082.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,324},{48,216}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,234}</string>
            </dict>
            <key>3083.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{8,21}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>3085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{48,262}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,262}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,302}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{48,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3097.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,524},{48,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3098.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{48,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{48,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d632873f9a2bebc1cff5da1823e33c89:1/1$</string>
            <key>textureFileName</key>
            <string>object1.png</string>
        </dict>
    </dict>
</plist>
