<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4884.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4885.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4886.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4887.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4888.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,212}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,212}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4889.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,210},{4,20}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4890.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,478},{22,32}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4891.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4892.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,448},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4893.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,398},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4894.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,448},{12,10}}</string>
                <key>offset</key>
                <string>{-18,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5387.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,302},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5388.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,400},{42,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5389.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,352},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5390.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5433.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,444},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5434.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5435.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5436.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5445.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,450},{10,18}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,14},{10,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5446.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5447.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,380},{34,32}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5448.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,386},{20,20}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{20,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5449.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5450.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,448},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5451.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,398},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5452.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,302},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5453.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,202},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5454.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5455.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,444},{28,32}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5456.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,252},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5483.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5488.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,448},{20,8}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{20,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5489.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,290},{36,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5490.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,416},{26,32}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5491.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,448},{14,10}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{14,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5492.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5493.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5494.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5495.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,448},{48,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5496.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5497.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,302},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5498.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5499.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5500.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,418},{24,28}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5501.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,382},{16,14}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5502.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5503.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5504.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5505.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,444},{22,30}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5506.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5507.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,448},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5508.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,302},{48,22}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5509.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,398},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5510.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,202},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5511.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,398},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5514.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,300},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5515.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,250},{38,32}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5517.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,352},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5518.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,302},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5519.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5520.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,382},{16,20}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{16,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5521.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,362},{14,22}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5522.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5523.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5524.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,352},{44,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5525.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,380},{36,24}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5526.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,382},{14,22}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5527.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,352},{44,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5528.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,352},{42,28}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5531.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,382},{6,16}}</string>
                <key>offset</key>
                <string>{21,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{6,16}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5532.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5533.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,484},{26,32}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5534.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{18,156}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{18,156}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>5535.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,302},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5536.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5537.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5538.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,216},{48,164}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,164}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5539.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,448},{10,4}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{10,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5540.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,328},{28,32}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5541.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,382},{14,32}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5542.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{48,174}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5543.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{48,60}}</string>
                <key>offset</key>
                <string>{0,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5544.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,252},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5547.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{40,148}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{40,148}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>5548.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,342},{36,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5549.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{34,182}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,182}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5550.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,382},{42,14}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5551.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5552.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,352},{44,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5553.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,450},{22,10}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5591.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,362},{22,18}}</string>
                <key>offset</key>
                <string>{13,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,14},{22,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5592.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,160},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5593.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,252},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5594.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,448},{14,10}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{14,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5595.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,302},{48,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5596.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,398},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5597.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,398},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5598.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,400},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5599.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,478},{30,30}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object6_8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6688bcbf05334ee0f0b17e1c9809a3:1/1$</string>
            <key>textureFileName</key>
            <string>object6_8.png</string>
        </dict>
    </dict>
</plist>
