<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>322.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,290},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>323.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,288},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>324.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,256},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>325.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,256},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>326.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,254},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>327.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,222},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>328.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,272},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>329.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>331.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,222},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>332.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>333.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,188},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>334.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,238},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>335.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,204},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>336.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>337.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,188},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>338.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>339.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,154},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>341.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,154},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>342.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>343.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,120},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>344.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,170},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>345.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>346.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,120},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>347.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>348.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>349.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>699.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,428},{24,64}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{24,64}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>700.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>701.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,18},{8,4}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>702.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{48,86}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,86}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>704.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{14,10}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>705.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,86},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>706.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,52},{48,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>707.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,302},{30,24}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>754.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>755.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,86},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>756.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,428},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>759.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{48,208}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,208}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>764.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,240},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>765.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>766.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>767.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>768.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>769.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,208}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,208}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>770.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,478},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>771.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,478},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>772.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,478},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>774.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>775.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,478},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object5_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c01edff7c94d409f0207d5349783bb00:1/1$</string>
            <key>textureFileName</key>
            <string>object5_4.png</string>
        </dict>
    </dict>
</plist>
