<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8583.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,66},{42,20}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8584.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,54},{46,20}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{46,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8587.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,58},{42,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8590.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,140},{26,24}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8591.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,130},{34,22}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8592.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,90},{36,24}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8593.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,76},{36,22}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8596.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{34,12}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8597.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,100},{34,32}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8598.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,134},{34,20}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{34,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8599.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8600.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8601.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,30},{48,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8602.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,152},{28,24}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8603.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{36,30}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8604.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,166},{12,18}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{12,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8607.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{32,22}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8608.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,150},{32,30}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8609.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,54},{30,8}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{30,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8610.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,88},{40,26}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8611.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,36},{44,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8612.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,28},{48,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8613.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,136},{14,14}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8614.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8615.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,76},{36,18}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{36,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8618.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,136},{14,22}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8619.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,76},{36,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8620.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,182},{28,24}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8621.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8622.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8623.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8624.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,106},{34,22}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8625.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,114},{34,30}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{34,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8626.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,82},{18,10}}</string>
                <key>offset</key>
                <string>{15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,21},{18,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8632.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,116},{28,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{28,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8638.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,154},{24,18}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8639.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,160},{22,18}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{22,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8640.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,116},{26,18}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8641.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,116},{24,18}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8644.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{30,26}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8645.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,136},{26,20}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{26,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8646.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,102},{28,24}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8647.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,132},{26,24}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8650.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,58},{22,10}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8651.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{28,16}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{28,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8652.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,164},{26,22}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8653.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,182},{14,12}}</string>
                <key>offset</key>
                <string>{17,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{14,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8656.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8659.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,32},{46,24}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8660.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,52},{46,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{46,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object4_8.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73f53323565a85532e3088750ad4e0de:1/1$</string>
            <key>textureFileName</key>
            <string>object4_8.png</string>
        </dict>
    </dict>
</plist>
