<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3106.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,386},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3107.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,417},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3108.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,370},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3111.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,648},{48,266}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,266}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3112.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,52},{4,218}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,218}}</string>
                <key>sourceSize</key>
                <string>{48,244}</string>
            </dict>
            <key>3113.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,178},{48,279}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,279}}</string>
                <key>sourceSize</key>
                <string>{48,309}</string>
            </dict>
            <key>3114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,283}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,283}}</string>
                <key>sourceSize</key>
                <string>{48,313}</string>
            </dict>
            <key>3115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,282}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,282}}</string>
                <key>sourceSize</key>
                <string>{48,312}</string>
            </dict>
            <key>3116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{48,271}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,271}}</string>
                <key>sourceSize</key>
                <string>{48,279}</string>
            </dict>
            <key>3117.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,158},{12,227}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,227}}</string>
                <key>sourceSize</key>
                <string>{48,245}</string>
            </dict>
            <key>3118.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,615},{24,243}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,243}}</string>
                <key>sourceSize</key>
                <string>{48,243}</string>
            </dict>
            <key>3119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,278}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,278}}</string>
                <key>sourceSize</key>
                <string>{48,308}</string>
            </dict>
            <key>3120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,279}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,279}}</string>
                <key>sourceSize</key>
                <string>{48,309}</string>
            </dict>
            <key>3121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,279}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,279}}</string>
                <key>sourceSize</key>
                <string>{48,309}</string>
            </dict>
            <key>3122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{30,251}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,251}}</string>
                <key>sourceSize</key>
                <string>{48,277}</string>
            </dict>
            <key>3124.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,172},{4,49}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,49}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>3125.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,320},{48,121}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,121}}</string>
                <key>sourceSize</key>
                <string>{48,129}</string>
            </dict>
            <key>3126.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,172},{48,164}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,164}}</string>
                <key>sourceSize</key>
                <string>{48,172}</string>
            </dict>
            <key>3127.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,58},{48,179}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,179}}</string>
                <key>sourceSize</key>
                <string>{48,187}</string>
            </dict>
            <key>3128.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,108},{48,169}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,169}}</string>
                <key>sourceSize</key>
                <string>{48,187}</string>
            </dict>
            <key>3129.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,222},{48,129}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,129}}</string>
                <key>sourceSize</key>
                <string>{48,155}</string>
            </dict>
            <key>3130.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,370},{14,63}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,63}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>3478.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,591},{22,32}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3487.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,591},{22,32}}</string>
                <key>offset</key>
                <string>{-13,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3617.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,216},{6,13}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,13}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>3618.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,272},{46,123}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,123}}</string>
                <key>sourceSize</key>
                <string>{48,141}</string>
            </dict>
            <key>4054.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,293},{34,22}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4055.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,493},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4056.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,108},{12,8}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{12,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4057.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,527},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4058.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,172},{24,6}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4063.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,591},{30,30}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4064.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,561},{46,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4065.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,222},{32,69}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>4067.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,58},{40,66}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>4068.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,198},{16,6}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{16,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4069.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,126},{46,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9279.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,459},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9280.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,698},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9281.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,664},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9282.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,508}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,508}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>9283.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,367},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9284.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,317},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object1_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae76c5f7da79e48d36c7604ff99a99b8:1/1$</string>
            <key>textureFileName</key>
            <string>object1_1.png</string>
        </dict>
    </dict>
</plist>
