<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1065.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,204},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1066.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,170},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1067.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1068.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,102},{38,106}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{38,106}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>1069.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1070.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,108},{26,18}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1072.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1073.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,328},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1074.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1075.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1076.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,278},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1077.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,278},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1078.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,278},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1079.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,278},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1080.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,278},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1081.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{36,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1082.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1083.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1084.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,142},{48,258}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,258}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>1085.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,278},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1086.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,278},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1087.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,244},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1088.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,38},{48,282}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,282}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>1089.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,210},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1090.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,176},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1091.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,142},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,314}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,314}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>1093.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1094.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,372},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1095.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{48,302}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,302}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>1097.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1098.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1099.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,402},{48,254}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{48,254}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,230}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1106.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,322},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{48,140}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,140}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>1108.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{10,74}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{10,74}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>1167.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{34,60}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>6660.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{48,130}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,130}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>6661.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,52},{48,126}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,126}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>6662.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,78},{28,20}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{28,20}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>6664.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6665.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,238}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,238}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>6666.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object2_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a87913619bf5e5843eb6b26d9fa1be48:1/1$</string>
            <key>textureFileName</key>
            <string>object2_1.png</string>
        </dict>
    </dict>
</plist>
