<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,248},{48,238}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,238}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,944},{22,6}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,966},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,902},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,510},{48,242}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,242}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{48,16}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,910},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,868},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,876},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,52},{48,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,222}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,998},{28,24}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,834},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,842},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{48,244}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,244}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,924},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,858},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,486},{48,184}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,184}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,990},{30,20}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,988},{34,32}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,998},{22,18}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4036.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,276},{48,218}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,218}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{48,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,318}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>4038.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,800},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4039.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,808},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4040.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,824},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4041.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,856},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4042.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,512},{48,206}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,206}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4043.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,936},{4,20}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4044.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1000},{22,32}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4045.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,766},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4046.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,774},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4047.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,790},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4048.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,548},{48,262}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,262}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>4049.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1000},{22,28}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4050.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,956},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4051.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,822},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4052.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,920},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4053.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,850},{48,146}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,146}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4056.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,812},{48,142}}</string>
                <key>offset</key>
                <string>{0,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,142}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>4057.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,732},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4058.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,740},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4059.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,260},{48,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,248}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>4060.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,280},{48,266}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,266}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>4061.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,496},{48,190}}</string>
                <key>offset</key>
                <string>{0,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>4087.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,578},{48,270}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>4088.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,296},{48,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>4089.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,292}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,292}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>4090.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,268},{48,260}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,260}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>4091.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,488},{48,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4094.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,276}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>4095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{48,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,284}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>4096.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,264}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,264}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>4097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,328}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,328}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>4098.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,530},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>4101.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,288},{48,222}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,222}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4102.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,480},{48,182}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>4103.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,256}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>4104.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,756},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4105.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,788},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4106.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,886},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4107.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{48,208}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,208}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4108.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,924},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4109.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,932},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4110.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,698},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4111.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,706},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4112.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,268},{48,210}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,210}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4113.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,892},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4114.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,722},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4115.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,754},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4116.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,714},{48,102}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>4119.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,974},{22,22}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4120.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,788},{48,122}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4121.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,754},{48,108}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{48,108}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4122.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,980},{42,30}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4123.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4124.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,898},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4125.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,52},{48,234}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,234}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>4126.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,956},{46,16}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4127.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,946},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4128.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,664},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4129.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,52},{48,214}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,214}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4130.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,988},{34,14}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4131.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,672},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4132.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,688},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4133.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,52},{4,80}}</string>
                <key>offset</key>
                <string>{-22,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{4,80}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>4219.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,162},{8,6}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4227.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,720},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4235.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,818},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4243.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,864},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4251.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,52},{48,216}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4259.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,134},{26,4}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4267.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,912},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4275.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,990},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4283.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,956},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4291.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,270},{48,214}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,214}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>4299.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,980},{4,4}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4307.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object6_6.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec300f34bca6cdc9a5c6ebb9807308af:1/1$</string>
            <key>textureFileName</key>
            <string>object6_6.png</string>
        </dict>
    </dict>
</plist>
