<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5655.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5656.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,402},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5657.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,710},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5658.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{42,16}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5659.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,352},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5660.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,302},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5661.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5662.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,824},{48,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5663.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,940},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5664.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,906},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5665.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5666.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1000},{48,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5667.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,906},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5668.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,956},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5669.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>5670.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,184},{8,4}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5671.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,906},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5672.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,956},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5673.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,384}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>5674.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,108},{1,1}}</string>
                <key>offset</key>
                <string>{-23.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5675.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,336},{32,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5676.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,906},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5677.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,384}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>5678.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,90},{38,16}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5679.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,956},{42,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5680.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,856},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5681.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,858},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5682.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,824},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5683.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,706},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5686.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,152},{16,4}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{16,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5687.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,824},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5688.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,906},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5689.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,606},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5690.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,70},{38,18}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5691.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,856},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5692.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,806},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5693.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,392},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5694.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,1004},{32,14}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5695.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,790},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5696.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,790},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5697.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>5698.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{48,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5699.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,790},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5700.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,756},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5701.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,152},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>5702.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,108},{1,1}}</string>
                <key>offset</key>
                <string>{-23.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5703.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,756},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5704.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,756},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5705.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,756},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5706.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>5707.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,974},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5708.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,608},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5709.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,574},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5710.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{48,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,384}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>5711.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1000},{48,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5712.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,540},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5713.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,506},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5714.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,416}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>5715.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,142},{8,6}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5716.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,36},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5717.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5718.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,302},{32,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5719.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,108},{36,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5720.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,858},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5721.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,472},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5722.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,438},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5723.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,556},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5746.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,170},{12,4}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5747.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,370},{26,32}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5748.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,404},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5749.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,370},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5750.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,336},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5751.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,756},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5753.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1000},{22,32}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5754.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,302},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5755.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,986},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5756.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,388},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5757.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1000},{48,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5758.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,952},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5759.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,918},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5760.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,884},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5761.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,506},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5762.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,102},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5763.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,850},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5764.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,816},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5765.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,714},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5768.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,52},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5769.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,858},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5770.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,782},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5771.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,748},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5772.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,714},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5773.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,756},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5775.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,656},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5776.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,656},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5777.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,342},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5778.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,292},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5779.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5780.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,242},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5781.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,192},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5782.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,142},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:955b46014be5b948437b391641ad8a9e:1/1$</string>
            <key>textureFileName</key>
            <string>object3_7.png</string>
        </dict>
    </dict>
</plist>
