<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8774.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{36,28}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8775.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,366},{34,18}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8778.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,390},{36,30}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8779.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,422},{18,32}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8781.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,102},{6,12}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8782.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{34,62}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{34,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8785.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{40,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8786.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,306},{38,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{38,54}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8789.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,402},{24,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8790.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8793.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,316},{24,52}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{24,52}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8794.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,346},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8795.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,344},{48,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8796.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,256},{28,12}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8797.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,286},{28,8}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{28,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8800.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,184},{14,10}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8801.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,358},{40,30}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8803.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,414},{34,20}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8804.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,306},{36,54}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,54}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8807.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{46,18}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8808.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,366},{38,24}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8809.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,346},{46,20}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8810.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,152},{46,52}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{46,52}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8813.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,188},{20,14}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8814.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,266},{26,60}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{26,60}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8815.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,394},{36,20}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8816.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,324},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8817.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,256},{48,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,114}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8818.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{48,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,140}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>8819.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,294},{28,56}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{28,56}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8822.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{28,56}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{28,56}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8823.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{48,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,140}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>8824.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,392},{36,20}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8825.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{48,146}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,146}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>8826.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,188},{20,14}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8827.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{26,60}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{26,60}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8830.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,396},{34,24}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8831.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,138},{8,6}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8832.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,102},{48,102}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8833.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8834.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{48,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8835.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,152}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{30,152}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>8838.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,370},{24,26}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8839.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{30,128}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,128}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8840.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8841.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,206},{48,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8842.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,128},{8,6}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8843.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,52},{48,102}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8844.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,394},{34,24}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8847.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,116},{10,6}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object4_10.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae07a523b73d10bc1732567075e7a14e:1/1$</string>
            <key>textureFileName</key>
            <string>object4_10.png</string>
        </dict>
    </dict>
</plist>
