<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5319.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,176},{38,26}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5320.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{48,200}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,200}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5322.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,338},{36,24}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5323.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5324.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{48,196}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,196}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5325.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,890},{22,12}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5326.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5327.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,652},{48,200}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,200}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5328.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,872},{22,16}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5329.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5330.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{48,196}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,196}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5331.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,852},{18,12}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5332.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{48,200}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,200}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5562.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,102},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5563.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,956},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5564.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,920},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5565.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5566.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,552},{48,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5567.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,906},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5568.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,880},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5569.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5570.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,638},{22,32}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5571.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,888},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5572.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,872},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5573.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5574.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,254},{26,32}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5575.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,886},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5576.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,854},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5577.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5580.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,854},{46,16}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5581.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5582.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,872},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5583.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5584.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5585.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,872},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5586.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5587.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,386},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5588.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5589.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5590.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,872},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5591.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5592.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,52},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5593.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5594.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5595.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5598.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,582},{38,10}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5599.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5600.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,818},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5602.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,622},{24,8}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5603.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,846},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5604.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,818},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5605.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,582},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5606.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,904},{48,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5607.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,784},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5608.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,822},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5609.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,324},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5610.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{18,18}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5611.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,812},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5612.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,784},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5613.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5616.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,352},{24,32}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5617.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,750},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5618.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,778},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5619.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5620.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,288},{10,4}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5621.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,750},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5622.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,716},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5623.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,324},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5624.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,170},{28,4}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5625.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,772},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5626.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,744},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5627.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5628.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,152},{16,28}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5629.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,906},{42,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5630.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,716},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5631.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5632.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,706},{34,14}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5633.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,682},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5634.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,722},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5635.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5636.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{16,14}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5637.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,906},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5638.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,672},{36,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5639.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>5640.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,602},{34,22}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5641.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,710},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5642.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,682},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5643.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,292},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5644.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,216},{36,26}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5645.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,648},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5646.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,676},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5647.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5650.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,648},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5651.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,614},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5652.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,614},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5653.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5654.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,288},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_6.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376840ddf840ec270f54bc5ecb73684d:1/1$</string>
            <key>textureFileName</key>
            <string>object3_6.png</string>
        </dict>
    </dict>
</plist>
