<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1491.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{48,397}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,397}}</string>
                <key>sourceSize</key>
                <string>{48,401}</string>
            </dict>
            <key>1492.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,202},{48,291}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,291}}</string>
                <key>sourceSize</key>
                <string>{48,301}</string>
            </dict>
            <key>1493.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,405},{48,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,144}}</string>
                <key>sourceSize</key>
                <string>{48,150}</string>
            </dict>
            <key>1494.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,384},{24,72}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{48,88}</string>
            </dict>
            <key>2723.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,202},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>2733.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,321},{82,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{82,138}}</string>
                <key>sourceSize</key>
                <string>{96,138}</string>
            </dict>
            <key>4143.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{30,67}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,67}}</string>
                <key>sourceSize</key>
                <string>{48,73}</string>
            </dict>
            <key>4144.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,221},{26,63}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,63}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>4203.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,286},{40,120}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{48,122}</string>
            </dict>
            <key>4204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{48,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,202}}</string>
                <key>sourceSize</key>
                <string>{48,204}</string>
            </dict>
            <key>4205.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,121},{48,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,250}}</string>
                <key>sourceSize</key>
                <string>{48,252}</string>
            </dict>
            <key>4206.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{48,333}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,333}}</string>
                <key>sourceSize</key>
                <string>{48,345}</string>
            </dict>
            <key>4214.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,221},{48,239}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,239}}</string>
                <key>sourceSize</key>
                <string>{48,267}</string>
            </dict>
            <key>4215.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{48,156}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,156}}</string>
                <key>sourceSize</key>
                <string>{48,184}</string>
            </dict>
            <key>4216.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,152},{32,72}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,72}}</string>
                <key>sourceSize</key>
                <string>{48,98}</string>
            </dict>
            <key>4257.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,365}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,365}}</string>
                <key>sourceSize</key>
                <string>{48,367}</string>
            </dict>
            <key>4258.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,52},{48,333}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,333}}</string>
                <key>sourceSize</key>
                <string>{48,335}</string>
            </dict>
            <key>4259.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,152},{48,300}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,300}}</string>
                <key>sourceSize</key>
                <string>{48,318}</string>
            </dict>
            <key>4260.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{48,325}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,325}}</string>
                <key>sourceSize</key>
                <string>{48,349}</string>
            </dict>
            <key>4261.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,417}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,417}}</string>
                <key>sourceSize</key>
                <string>{48,435}</string>
            </dict>
            <key>4262.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,396}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,396}}</string>
                <key>sourceSize</key>
                <string>{48,476}</string>
            </dict>
            <key>4263.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{48,382}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,382}}</string>
                <key>sourceSize</key>
                <string>{48,422}</string>
            </dict>
            <key>4264.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,408},{48,295}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,295}}</string>
                <key>sourceSize</key>
                <string>{48,325}</string>
            </dict>
            <key>4265.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,102},{48,327}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,327}}</string>
                <key>sourceSize</key>
                <string>{48,357}</string>
            </dict>
            <key>4266.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,52},{18,12}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{18,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4267.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,352},{48,209}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,209}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4268.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,371},{48,223}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,223}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4269.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,252},{48,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,227}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4270.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,705},{48,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,294}}</string>
                <key>sourceSize</key>
                <string>{48,294}</string>
            </dict>
            <key>4271.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,271},{48,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,229}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4274.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,326},{48,224}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,228}</string>
            </dict>
            <key>4275.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,321},{48,223}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,223}}</string>
                <key>sourceSize</key>
                <string>{48,227}</string>
            </dict>
            <key>4276.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,426},{48,212}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,212}}</string>
                <key>sourceSize</key>
                <string>{48,230}</string>
            </dict>
            <key>4277.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,376},{48,223}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,223}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4278.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,302},{48,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,226}}</string>
                <key>sourceSize</key>
                <string>{48,230}</string>
            </dict>
            <key>4324.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,252},{48,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,226}}</string>
                <key>sourceSize</key>
                <string>{48,230}</string>
            </dict>
            <key>4325.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,276},{48,224}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,228}</string>
            </dict>
            <key>4326.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,408},{48,212}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,212}}</string>
                <key>sourceSize</key>
                <string>{48,232}</string>
            </dict>
            <key>5840.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,307},{42,75}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>5841.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,226},{44,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,91}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>7679.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,182},{34,123}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,123}}</string>
                <key>sourceSize</key>
                <string>{48,123}</string>
            </dict>
            <key>7680.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,171},{48,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,249}}</string>
                <key>sourceSize</key>
                <string>{48,249}</string>
            </dict>
            <key>7681.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,71},{48,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,261}}</string>
                <key>sourceSize</key>
                <string>{48,261}</string>
            </dict>
            <key>7682.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,226},{48,216}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,246}</string>
            </dict>
            <key>7683.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,402},{48,190}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,214}</string>
            </dict>
            <key>7684.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,421},{48,142}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,142}}</string>
                <key>sourceSize</key>
                <string>{48,170}</string>
            </dict>
            <key>7685.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,71},{4,2}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{4,2}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7686.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,52},{8,20}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7687.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,102},{36,78}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,78}}</string>
                <key>sourceSize</key>
                <string>{48,86}</string>
            </dict>
            <key>7688.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,421},{48,132}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,132}}</string>
                <key>sourceSize</key>
                <string>{48,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object0_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:013cb5f2952d6e088f88f3187296b38b:1/1$</string>
            <key>textureFileName</key>
            <string>object0_1.png</string>
        </dict>
    </dict>
</plist>
