<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2646.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,816},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2647.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{48,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>2650.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,804},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2651.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,774},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2652.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,736},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2653.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,216}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2664.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,86},{22,28}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2669.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,206}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,206}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2670.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,720},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2671.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,720},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2672.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2673.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{48,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>2674.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,242},{4,4}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2675.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,686},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2676.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,686},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2677.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,686},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2678.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2679.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,410},{48,194}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,194}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2680.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,284},{48,12}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2681.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,652},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2682.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,652},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2683.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2684.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,216}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2685.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,334},{40,12}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2686.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,784},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2687.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,784},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2688.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,784},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2689.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,750},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2690.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,750},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2691.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,592},{48,180}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,180}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>2692.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,196},{4,20}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2693.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,52},{22,32}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2694.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,782},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2695.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,750},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2696.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,716},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2697.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,376},{38,10}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2733.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2734.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,716},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2735.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,770},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2736.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,748},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2737.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,386},{48,204}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,204}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2751.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,716},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2752.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,102},{48,282}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,282}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2754.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,682},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2755.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,682},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2756.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,714},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2757.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,754},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2922.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,410},{10,32}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2923.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,682},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2924.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,648},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2925.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{48,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>2926.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,652},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2927.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,152},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2928.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,202},{38,18}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2929.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,648},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2930.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,680},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2931.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,648},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2932.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{48,434}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,434}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>2933.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{48,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2934.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,614},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2935.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,614},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2936.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,646},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2937.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,52},{48,356}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,356}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>2938.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,242},{24,14}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2939.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,614},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2940.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,580},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2941.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,580},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2942.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,306}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>2944.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,252},{34,32}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2945.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,612},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2946.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,580},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2947.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,546},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2948.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,386},{48,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2949.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,116},{22,10}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2950.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,546},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2951.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,546},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2952.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,512},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2953.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,606},{48,162}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,162}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>2954.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,754},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2955.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,512},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2956.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,512},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2957.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{48,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,156}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>2958.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,162},{20,32}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2959.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,268},{14,14}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2960.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,128},{20,32}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2961.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,376},{10,32}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2962.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,478},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2967.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,438},{38,134}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{38,134}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>2968.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,716},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2969.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,770},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2970.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>2971.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2972.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,478},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2973.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,478},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2974.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,602},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2975.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,434}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,434}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>2976.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2977.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,336},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2978.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2979.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,368}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,368}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object6_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e672ef195f9dce74d0620a480ddec72b:1/1$</string>
            <key>textureFileName</key>
            <string>object6_1.png</string>
        </dict>
    </dict>
</plist>
