<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5144.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,986},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5145.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,454},{48,162}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,162}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5152.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,942},{48,182}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5153.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,278},{48,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5156.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,942},{48,182}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5157.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,202},{48,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5158.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,724},{48,182}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5159.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,52},{48,238}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,238}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5160.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{48,252}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,252}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5161.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,202},{48,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5164.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,744},{48,194}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,194}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5165.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,202},{48,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5168.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,152},{48,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5169.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,540},{48,182}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5172.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,152},{48,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5173.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{48,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,268}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5174.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,52},{48,248}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,248}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5175.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,152},{48,182}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5176.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,102},{48,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5177.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,540},{48,182}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5180.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,102},{48,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5181.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,546},{48,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5210.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,302},{48,184}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{48,184}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5211.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,776},{48,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5212.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,202},{48,210}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{48,210}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5213.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{48,212}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,212}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5214.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{48,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5215.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,352},{48,186}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5218.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,102},{48,104}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,104}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>5219.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,936},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5220.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,902},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5221.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5222.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,802},{48,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,156}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>5223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{48,276}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5224.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,352},{48,226}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,226}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5225.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1006},{14,178}}</string>
                <key>offset</key>
                <string>{17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,27},{14,178}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,52},{12,176}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{12,176}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5229.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,586},{48,228}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{48,228}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5230.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{48,274}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{48,274}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5231.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,816},{48,104}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,104}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>5232.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,902},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5233.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5234.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5235.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,378},{48,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>5238.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,102},{48,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5239.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,252},{48,184}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,184}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5240.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{48,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,220}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5241.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,220}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,220}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5242.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,102},{48,182}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5243.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,102},{48,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,174}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5246.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,52},{4,164}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{4,164}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5247.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,932},{22,18}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5248.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,902},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5249.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,628},{48,172}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,172}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5250.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1006},{26,16}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5251.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5252.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,252},{48,204}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,204}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5253.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1006},{24,16}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5254.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,902},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5255.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,262}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,262}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>5256.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1006},{26,16}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5257.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,852},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5258.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,352}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>5261.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,202},{24,18}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5262.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,578},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5263.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,740},{48,190}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5264.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,208},{24,18}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5265.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,528},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5266.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,52},{48,196}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,196}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5267.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1006},{24,16}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5268.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,478},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5269.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,548},{48,194}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,194}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5270.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{26,16}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5271.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,428},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5272.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,302},{48,196}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,196}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5273.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,230},{26,18}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5274.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,378},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5275.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,352},{48,194}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,194}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5276.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,230},{24,18}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5277.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,328},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5278.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,352},{48,192}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5281.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,932},{30,18}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5282.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,278},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5283.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,908},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5284.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>5285.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,230},{28,18}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5286.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,218},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5287.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,922},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5288.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,352},{48,232}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,232}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>5289.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,230},{28,18}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5290.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5291.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5292.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,452},{48,172}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,172}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5293.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,324},{26,22}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5294.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5295.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,278},{48,172}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,172}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5296.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,152},{6,166}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,11},{6,166}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5316.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,302},{20,14}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5317.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5318.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,580},{48,194}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,194}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87a2f6f8b01e0e362c438f3f3ffb3026:1/1$</string>
            <key>textureFileName</key>
            <string>object3_5.png</string>
        </dict>
    </dict>
</plist>
