<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1171.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,202},{20,14}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{20,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>1172.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,186},{20,22}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>830.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,152},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>831.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>832.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,52},{48,186}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>833.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,254},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>834.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>835.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,50},{12,14}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>837.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>838.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>839.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{48,202}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,202}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>840.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,204},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>841.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>842.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>843.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,502},{14,4}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>844.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>845.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>846.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>847.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,102},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>848.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{22,6}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>849.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>850.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,154},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>851.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>852.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>853.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,52},{48,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,158}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>854.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,202},{22,14}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>855.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>856.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,188},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>857.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,244}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,244}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>858.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,34},{12,14}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>859.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{12,30}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{12,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>860.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,154},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>861.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>862.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,120},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>864.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,502},{6,4}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,28},{6,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>865.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,80},{26,38}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{26,38}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>866.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,52},{26,14}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>867.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>868.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{48,96}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,96}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>869.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,86},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>870.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>871.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{48,130}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,130}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>872.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,102},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>873.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>874.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,106}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,106}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>875.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,204},{16,10}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>876.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,120},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>877.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,186},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>878.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,186},{22,16}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>998.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object5_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9632d4568a9e5dbaa6e11035c5d0a44e:1/1$</string>
            <key>textureFileName</key>
            <string>object5_6.png</string>
        </dict>
    </dict>
</plist>
