<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3273.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,152},{32,22}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3275.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,266},{38,24}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{38,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3276.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,266},{40,22}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{40,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3277.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,266},{38,22}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3278.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,266},{40,16}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3280.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,104},{30,16}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{30,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3281.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,70},{26,24}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3282.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{30,26}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3283.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,130},{28,20}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3285.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,328},{48,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3286.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,308},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3288.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,298},{30,20}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3289.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,274},{34,20}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3293.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,70},{24,14}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{24,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3294.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,348},{32,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3295.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,186},{28,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3296.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,186},{28,32}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3298.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,266},{36,20}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{36,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3299.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,266},{36,16}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3301.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,310},{18,20}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,12},{18,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3302.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,314},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3303.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,266},{38,28}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3305.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,314},{44,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3306.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,52},{10,6}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3308.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,104},{28,24}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3309.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,172},{34,22}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3310.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,330},{30,18}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3311.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,122},{32,22}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3313.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,266},{30,22}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{30,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3314.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,96},{24,26}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3316.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,34},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3318.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,266},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3319.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,314},{40,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3320.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,356},{32,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3321.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,336},{32,32}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3324.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,52},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3325.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,306},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3326.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3327.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,52},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3328.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,274},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3329.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,240},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3330.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,256},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3331.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{48,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3332.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,236},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3333.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,206},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3334.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,206},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3335.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3337.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,308},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3338.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,172},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3339.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,156},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3340.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,216},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3341.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,138},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3342.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3343.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,122},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3344.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{48,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3345.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,70},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3346.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,70},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3347.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,216},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3348.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3350.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,60},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3351.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,86},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3352.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,304},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3353.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,158},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3354.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,216},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3355.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3356.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,86},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3357.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{48,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3358.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,36},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3359.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,36},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3360.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,52},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3361.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,36},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3363.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,158},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3364.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3365.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3366.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3367.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3368.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,458},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3369.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,408},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3370.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{48,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3371.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,36},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3372.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,358},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3373.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,458},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3374.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,408},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3377.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>3387.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>3397.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>3407.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>3509.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>3519.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>3529.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>3567.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3568.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,358},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3569.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,458},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3570.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,178}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,178}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3571.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,408},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3572.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,358},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3573.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,458},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3574.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{48,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3575.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,408},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3576.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,358},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65ec5beb86ba39a1492b124b56dec228:1/1$</string>
            <key>textureFileName</key>
            <string>object3_1.png</string>
        </dict>
    </dict>
</plist>
