<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6539.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,256},{48,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,254}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>6540.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,306},{48,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,236}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>6541.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,468},{48,266}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,266}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6542.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,402},{48,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6543.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,102},{48,302}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,302}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6556.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,52},{48,314}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,314}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6557.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,302},{48,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,284}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6558.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,352},{48,282}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{48,282}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6559.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,486},{48,260}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,260}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6560.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,452},{48,268}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,268}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6561.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,368},{48,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6562.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,202},{48,298}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,298}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6563.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,152},{48,300}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,300}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6696.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1018},{6,4}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6707.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1010},{48,6}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6718.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,998},{20,16}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6880.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,998},{38,20}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6881.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,744},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6882.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,202},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6883.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,844},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6884.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,794},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6885.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,744},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6886.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,518},{48,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>6887.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,618},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6888.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,986},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6889.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,960},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6890.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,952},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6891.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,944},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6892.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,926},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6893.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,52},{48,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>6894.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,998},{8,10}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6895.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,782},{36,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6896.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,894},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6897.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,950},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6898.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,918},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6899.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,892},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6900.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,518},{48,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>6901.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,668},{44,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6902.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,900},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6903.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,884},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6904.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,858},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6905.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,850},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6906.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,748},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>6907.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,744},{36,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6908.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,850},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6909.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,816},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6910.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,844},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6911.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,824},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6912.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,502},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>6914.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,782},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6915.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,794},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6916.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,790},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6917.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,252},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6918.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,754},{44,26}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6919.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,756},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6920.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,748},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6921.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,744},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6922.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,722},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6923.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,518},{48,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>6924.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1018},{16,4}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6925.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,452},{36,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6926.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,820},{32,32}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6927.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,688},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6928.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,654},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6929.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,620},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6930.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,518},{48,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>6964.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{48,334}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,334}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6965.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{48,416}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,416}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6966.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{48,432}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,432}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6967.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,948},{48,384}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,384}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6968.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,502},{48,382}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{48,382}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6969.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{48,428}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,428}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6970.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,460}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,460}}</string>
                <key>sourceSize</key>
                <string>{48,480}</string>
            </dict>
            <key>7040.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,714},{38,28}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7041.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{36,252}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{36,252}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>7042.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,568},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7043.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,418},{48,270}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>7044.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,998},{28,18}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7045.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,102},{30,264}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{30,264}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>7048.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,800},{36,26}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7049.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,418},{36,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7050.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,838},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7051.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,792},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{34,22}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7053.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,518},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7054.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,586},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7055.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,552},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7056.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,518},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7057.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,152},{48,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>7058.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1018},{14,4}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7059.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7060.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7061.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7062.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,102},{48,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>7063.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,998},{48,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7064.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7065.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7066.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7067.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{48,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>7068.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,998},{20,30}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_14.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2b50a3820ff43981ef8e2304faae12d:1/1$</string>
            <key>textureFileName</key>
            <string>object3_14.png</string>
        </dict>
    </dict>
</plist>
