<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8663.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,64},{34,22}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8664.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{34,18}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8665.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,186},{32,18}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8666.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,220},{32,22}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8675.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,160},{20,22}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8676.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,184},{30,28}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8677.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,64},{32,26}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8678.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,64},{30,18}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{30,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8681.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,206},{44,22}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8682.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{44,22}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{44,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8685.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,158},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8691.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,98},{30,20}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8692.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,126},{26,24}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8698.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{42,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8701.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{46,24}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8702.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{44,24}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{44,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8705.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,50},{36,12}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8706.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{36,24}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8707.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,64},{28,20}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8708.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,184},{24,20}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8711.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,160},{44,20}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8712.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{46,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{46,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8715.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,186},{32,22}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8718.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8721.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{44,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8724.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,108},{40,18}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8725.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,236},{34,18}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8732.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,216},{30,26}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8733.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,50},{24,12}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{24,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8734.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,214},{20,26}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8735.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,96},{28,24}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8747.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,138},{28,10}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8748.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,62}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8749.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,114},{42,28}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8750.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,220},{16,32}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8751.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{1,1}}</string>
                <key>offset</key>
                <string>{-23.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8754.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,64},{36,26}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8755.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,150},{32,16}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{32,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8756.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,100},{32,26}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8757.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,102},{34,26}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{34,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8760.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,134},{30,22}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8761.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,36},{30,26}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8762.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,184},{28,24}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8763.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,214},{24,24}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8766.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,150},{34,26}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8767.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,200},{34,28}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8768.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,160},{22,26}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8769.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,40},{32,22}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8772.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,130},{28,28}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8773.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,64},{42,20}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{42,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object4_9.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaba8de94ea6a2b87fdef1f026a14797:1/1$</string>
            <key>textureFileName</key>
            <string>object4_9.png</string>
        </dict>
    </dict>
</plist>
