<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7683.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,352},{48,190}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,214}</string>
            </dict>
            <key>7684.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,452},{48,142}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,142}}</string>
                <key>sourceSize</key>
                <string>{48,170}</string>
            </dict>
            <key>7685.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,970},{4,2}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{4,2}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7686.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{8,20}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7687.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,944},{36,78}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,78}}</string>
                <key>sourceSize</key>
                <string>{48,86}</string>
            </dict>
            <key>7688.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,502},{48,132}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,132}}</string>
                <key>sourceSize</key>
                <string>{48,154}</string>
            </dict>
            <key>7689.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,856},{48,161}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,161}}</string>
                <key>sourceSize</key>
                <string>{48,179}</string>
            </dict>
            <key>7690.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,252},{48,210}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,210}}</string>
                <key>sourceSize</key>
                <string>{48,226}</string>
            </dict>
            <key>7691.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,110},{48,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,214}}</string>
                <key>sourceSize</key>
                <string>{48,214}</string>
            </dict>
            <key>7692.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,402},{48,155}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,155}}</string>
                <key>sourceSize</key>
                <string>{48,181}</string>
            </dict>
            <key>7693.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,919},{30,84}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,84}}</string>
                <key>sourceSize</key>
                <string>{48,102}</string>
            </dict>
            <key>7694.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,869},{40,73}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{48,85}</string>
            </dict>
            <key>7695.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,302},{48,201}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,201}}</string>
                <key>sourceSize</key>
                <string>{48,209}</string>
            </dict>
            <key>7696.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,202},{48,234}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,234}}</string>
                <key>sourceSize</key>
                <string>{48,242}</string>
            </dict>
            <key>7697.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,52},{48,283}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,283}}</string>
                <key>sourceSize</key>
                <string>{48,289}</string>
            </dict>
            <key>7698.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,152},{48,266}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,266}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>8251.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,52},{38,276}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,276}}</string>
                <key>sourceSize</key>
                <string>{48,294}</string>
            </dict>
            <key>8252.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{46,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,120}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>8253.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,946},{40,22}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8254.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,685},{48,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,169}}</string>
                <key>sourceSize</key>
                <string>{48,169}</string>
            </dict>
            <key>8255.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,102},{48,267}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,267}}</string>
                <key>sourceSize</key>
                <string>{48,297}</string>
            </dict>
            <key>8256.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{48,315}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,315}}</string>
                <key>sourceSize</key>
                <string>{48,329}</string>
            </dict>
            <key>8257.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,552},{48,392}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,392}}</string>
                <key>sourceSize</key>
                <string>{48,414}</string>
            </dict>
            <key>8258.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,202},{48,490}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,490}}</string>
                <key>sourceSize</key>
                <string>{48,500}</string>
            </dict>
            <key>8259.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,286},{48,473}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,473}}</string>
                <key>sourceSize</key>
                <string>{48,499}</string>
            </dict>
            <key>8260.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,330},{48,507}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,507}}</string>
                <key>sourceSize</key>
                <string>{48,533}</string>
            </dict>
            <key>8261.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,330},{48,537}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,537}}</string>
                <key>sourceSize</key>
                <string>{48,563}</string>
            </dict>
            <key>8262.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{48,544}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,544}}</string>
                <key>sourceSize</key>
                <string>{48,568}</string>
            </dict>
            <key>8263.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,869},{48,530}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,530}}</string>
                <key>sourceSize</key>
                <string>{48,538}</string>
            </dict>
            <key>8264.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,548}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,548}}</string>
                <key>sourceSize</key>
                <string>{48,568}</string>
            </dict>
            <key>8265.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,570}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,570}}</string>
                <key>sourceSize</key>
                <string>{48,598}</string>
            </dict>
            <key>8266.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{48,553}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,553}}</string>
                <key>sourceSize</key>
                <string>{48,555}</string>
            </dict>
            <key>8267.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,54},{18,12}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8268.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,530},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8269.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{48,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,511}}</string>
                <key>sourceSize</key>
                <string>{48,511}</string>
            </dict>
            <key>8270.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,40},{18,12}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8271.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,102},{48,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,514}}</string>
                <key>sourceSize</key>
                <string>{48,514}</string>
            </dict>
            <key>8272.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{48,399}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,399}}</string>
                <key>sourceSize</key>
                <string>{48,403}</string>
            </dict>
            <key>8273.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,330},{48,353}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,353}}</string>
                <key>sourceSize</key>
                <string>{48,369}</string>
            </dict>
            <key>8274.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,12},{26,18}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8739.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,68},{6,18}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,9},{6,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8740.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,108},{4,4}}</string>
                <key>offset</key>
                <string>{-22,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8741.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,102},{4,6}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{4,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8742.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,202},{48,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8743.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,76},{32,16}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8744.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,480},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8745.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,430},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8746.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,36},{32,26}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8747.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,380},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8748.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,330},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8749.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,202},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8750.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,70},{8,30}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{8,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8751.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,946},{22,8}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{22,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8752.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8753.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8754.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,236},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8755.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,970},{4,2}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,21},{4,2}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8756.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,70},{38,14}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8757.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{26,32}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8758.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,970},{2,4}}</string>
                <key>offset</key>
                <string>{-23,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{2,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object0_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeabbc7f804618d7e1fd6af60813be82:1/1$</string>
            <key>textureFileName</key>
            <string>object0_2.png</string>
        </dict>
    </dict>
</plist>
