<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1088.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,170},{36,51}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>1089.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,128},{40,55}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>1360.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{30,131}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,131}}</string>
                <key>sourceSize</key>
                <string>{48,217}</string>
            </dict>
            <key>1361.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,940},{48,246}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,246}}</string>
                <key>sourceSize</key>
                <string>{48,336}</string>
            </dict>
            <key>1362.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,618},{48,295}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,295}}</string>
                <key>sourceSize</key>
                <string>{48,401}</string>
            </dict>
            <key>1363.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,601},{48,287}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,287}}</string>
                <key>sourceSize</key>
                <string>{48,371}</string>
            </dict>
            <key>1364.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,598},{48,264}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,264}}</string>
                <key>sourceSize</key>
                <string>{48,358}</string>
            </dict>
            <key>1365.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,940},{48,227}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,227}}</string>
                <key>sourceSize</key>
                <string>{48,317}</string>
            </dict>
            <key>1366.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{26,78}}</string>
                <key>offset</key>
                <string>{-11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,78}}</string>
                <key>sourceSize</key>
                <string>{48,180}</string>
            </dict>
            <key>1381.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,52},{48,423}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,423}}</string>
                <key>sourceSize</key>
                <string>{48,537}</string>
            </dict>
            <key>1382.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,102},{48,407}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,407}}</string>
                <key>sourceSize</key>
                <string>{48,507}</string>
            </dict>
            <key>1383.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,224},{48,372}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,372}}</string>
                <key>sourceSize</key>
                <string>{48,472}</string>
            </dict>
            <key>1384.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,152},{42,226}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,226}}</string>
                <key>sourceSize</key>
                <string>{48,328}</string>
            </dict>
            <key>1386.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,224},{40,245}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,245}}</string>
                <key>sourceSize</key>
                <string>{48,345}</string>
            </dict>
            <key>1387.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,630},{48,323}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,323}}</string>
                <key>sourceSize</key>
                <string>{48,407}</string>
            </dict>
            <key>1388.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,224},{48,375}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,375}}</string>
                <key>sourceSize</key>
                <string>{48,457}</string>
            </dict>
            <key>1389.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,166},{48,389}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,389}}</string>
                <key>sourceSize</key>
                <string>{48,491}</string>
            </dict>
            <key>1390.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,890},{48,366}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,456}</string>
            </dict>
            <key>1395.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,118},{16,104}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,104}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>1396.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,202},{48,190}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,262}</string>
            </dict>
            <key>1397.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,216},{48,199}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,199}}</string>
                <key>sourceSize</key>
                <string>{48,265}</string>
            </dict>
            <key>1398.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,152},{48,194}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,194}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>1399.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,78},{20,40}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>1401.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,630},{36,360}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,360}}</string>
                <key>sourceSize</key>
                <string>{48,452}</string>
            </dict>
            <key>1402.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{48,409}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,409}}</string>
                <key>sourceSize</key>
                <string>{48,483}</string>
            </dict>
            <key>1403.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,102},{48,420}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,420}}</string>
                <key>sourceSize</key>
                <string>{48,526}</string>
            </dict>
            <key>1404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{48,484}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,484}}</string>
                <key>sourceSize</key>
                <string>{48,564}</string>
            </dict>
            <key>1405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,502}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,502}}</string>
                <key>sourceSize</key>
                <string>{48,604}</string>
            </dict>
            <key>1406.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{48,475}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,475}}</string>
                <key>sourceSize</key>
                <string>{48,553}</string>
            </dict>
            <key>1407.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,52},{48,436}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,436}}</string>
                <key>sourceSize</key>
                <string>{48,514}</string>
            </dict>
            <key>1410.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,955},{34,187}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,187}}</string>
                <key>sourceSize</key>
                <string>{48,271}</string>
            </dict>
            <key>1489.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,224},{42,392}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,392}}</string>
                <key>sourceSize</key>
                <string>{48,396}</string>
            </dict>
            <key>1490.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,224},{48,404}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,404}}</string>
                <key>sourceSize</key>
                <string>{48,408}</string>
            </dict>
            <key>534.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,52},{32,24}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>535.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,990},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>536.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,78},{48,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>537.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,102},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>538.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,990},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>539.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,266},{48,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,114}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>540.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,120},{46,18}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>541.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,990},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>542.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,252},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>543.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,152},{12,8}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>544.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,990},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>545.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,915},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>546.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,266},{48,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>547.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,86},{30,24}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>548.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,170},{46,50}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>661.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,30},{46,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>662.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,216},{48,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,126}}</string>
                <key>sourceSize</key>
                <string>{48,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ec2184c4db700c3c23e31bee557bedc:1/1$</string>
            <key>textureFileName</key>
            <string>object0.png</string>
        </dict>
    </dict>
</plist>
