<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8774.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,166},{36,28}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8775.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,142},{34,18}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8778.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,174},{36,30}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8779.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,178},{18,32}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8781.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,430},{6,12}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8782.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,446},{34,62}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{34,62}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8785.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,132},{40,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8786.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,472},{38,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{38,54}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8789.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,160},{24,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8790.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8793.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,64},{24,52}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{24,52}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8794.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,106},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8795.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{48,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8796.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,104},{28,12}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8797.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,144},{28,8}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{28,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8800.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,144},{14,10}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8801.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,362},{40,30}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8803.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,220},{34,20}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8804.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,36},{36,54}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{36,54}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8807.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,94},{46,18}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8808.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,126},{38,24}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8809.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,132},{46,20}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8810.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,56},{46,52}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{46,52}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8813.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,228},{20,14}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8814.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,446},{26,60}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{26,60}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8815.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,138},{36,20}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8816.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,108},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8817.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,154},{48,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,114}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8818.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{48,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,140}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>8819.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,34},{28,56}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{28,56}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8822.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,96},{28,56}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{28,56}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8823.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{48,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,140}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>8824.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,206},{36,20}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8825.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{48,146}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,146}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>8826.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,408},{20,14}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8827.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,446},{26,60}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{26,60}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8830.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,156},{34,24}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8831.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,430},{8,6}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8832.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{48,102}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8833.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,104},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8834.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,284},{48,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8835.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,152}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{30,152}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>8838.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,168},{24,26}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8839.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{30,128}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,128}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8840.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,154},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8841.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{48,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8842.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,132},{8,6}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8843.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,408},{48,102}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8844.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,142},{34,24}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8847.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,144},{10,6}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8848.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,404},{30,66}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{30,66}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8849.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,188},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8850.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,270},{48,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,90}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8851.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,168},{18,18}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8852.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{26,92}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{26,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8855.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,126},{26,110}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{26,110}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8856.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,124},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8857.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{48,90}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,90}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8858.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,144},{10,6}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8859.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,414},{30,66}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,30},{30,66}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8862.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{30,58}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{30,58}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>8863.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,126},{6,4}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8864.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{48,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,128}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8865.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,90},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8866.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,156},{48,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,126}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8867.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,204},{28,28}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8868.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,154},{18,40}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{18,40}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8871.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,138},{28,28}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8872.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,362},{18,40}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{18,40}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>8873.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,74},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8874.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,286},{48,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,126}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8875.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,126},{6,4}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{6,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>8876.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,156},{48,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,128}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>8877.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{32,56}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{32,56}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object4_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04c9e5b3e08160a063a76f0ef1d765a5:1/1$</string>
            <key>textureFileName</key>
            <string>object4_5.png</string>
        </dict>
    </dict>
</plist>
