<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3092.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{6,14}}</string>
                <key>offset</key>
                <string>{21,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{6,14}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>3093.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,36},{32,50}}</string>
                <key>offset</key>
                <string>{-8,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,50}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>3094.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,124},{8,22}}</string>
                <key>offset</key>
                <string>{-17,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{8,22}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>3096.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,18},{6,12}}</string>
                <key>offset</key>
                <string>{-21,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{6,12}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>3097.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{32,50}}</string>
                <key>offset</key>
                <string>{8,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{32,50}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>3098.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,100},{8,22}}</string>
                <key>offset</key>
                <string>{16,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{8,22}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>3100.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,52},{24,60}}</string>
                <key>offset</key>
                <string>{-12,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{24,60}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3101.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{48,64}}</string>
                <key>offset</key>
                <string>{0,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3102.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,116},{8,14}}</string>
                <key>offset</key>
                <string>{20,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{8,14}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3104.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,110},{4,10}}</string>
                <key>offset</key>
                <string>{-22,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{4,10}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3105.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,52},{48,68}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{48,68}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3106.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,70},{28,60}}</string>
                <key>offset</key>
                <string>{10,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{28,60}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3156.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{38,88}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{38,88}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>3157.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,304},{32,32}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3158.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,222},{42,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3159.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,46},{32,86}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{32,86}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>3160.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,176},{48,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3161.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,224},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3162.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,92},{36,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3163.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,280},{28,22}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3165.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{42,88}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{42,88}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>3166.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,212},{42,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3167.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,178},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3169.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{12,84}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{12,84}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>3170.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,242},{42,26}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3171.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,204},{42,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3172.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,212},{40,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3173.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,262},{36,28}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3175.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,246},{28,18}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3176.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,270},{40,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3177.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,184},{30,20}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{30,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3178.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,152},{20,30}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3179.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,190},{40,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3180.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,236},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3181.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,168},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3182.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,134},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3183.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,226},{18,26}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{18,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3184.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,212},{36,16}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3185.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,126},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3186.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,170},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3187.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,144},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3188.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,114},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3189.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,322},{32,28}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{32,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3190.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,216},{24,20}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3191.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,246},{28,32}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3192.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,318},{30,32}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3193.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,32},{14,4}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{14,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3212.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,60},{4,2}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{4,2}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3213.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,292},{38,28}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3214.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,288},{38,28}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3215.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,114},{40,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3216.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,132},{14,8}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{14,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3217.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,202},{48,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3218.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,148},{48,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3219.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,188},{48,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3220.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,100},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3221.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,102},{48,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3222.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,204},{48,16}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3223.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,92},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3224.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,80},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3225.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,178},{48,16}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3226.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,238},{40,14}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3227.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3228.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,168},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3229.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,166},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3230.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,60},{8,2}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,30},{8,2}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3231.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,48},{4,10}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3232.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,222},{42,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3233.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,254},{24,32}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3234.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,246},{24,16}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3252.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,246},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3253.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,226},{18,32}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3254.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,78},{30,12}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3255.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,80},{38,32}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3257.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,158},{36,30}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{36,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3258.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,256},{38,30}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3259.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,126},{36,30}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3260.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,286},{32,26}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3262.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,160},{48,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3263.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,148},{48,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3265.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,256},{42,30}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{42,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3266.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,338},{28,32}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3267.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,216},{44,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3268.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,196},{44,24}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3270.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,250},{32,16}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{32,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3271.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,246},{32,14}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{32,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3272.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,276},{32,22}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>499.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>500.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{48,94}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{48,94}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>501.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,134},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>502.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>503.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,116},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{48,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>505.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,188}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,188}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>507.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,100},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>508.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,66},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>509.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{48,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,138}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>510.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,66},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>511.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,42},{48,86}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,86}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:879e4731cfabd343cd036e10c46ae8aa:1/1$</string>
            <key>textureFileName</key>
            <string>object3.png</string>
        </dict>
    </dict>
</plist>
