<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3760.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,668},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3761.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,652},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3762.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,652},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3763.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,652},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3764.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,306},{48,212}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,212}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3765.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,170},{10,20}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3766.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,152},{22,32}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3767.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,620},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3768.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,604},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3769.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,604},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3770.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,152},{28,2}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,2}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3911.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,406},{22,22}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3912.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,352},{36,32}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3913.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,402},{34,32}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3914.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,182},{4,122}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{4,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>3915.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,170},{12,8}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3916.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,604},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3917.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3918.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,656},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3919.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{48,166}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,166}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3920.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,276},{12,12}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3921.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,634},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3922.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,618},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3923.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,618},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3924.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,332},{48,208}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,208}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3925.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,232},{20,16}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3926.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,618},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3927.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,622},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3928.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,600},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3929.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,228}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,228}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3930.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,152},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3931.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,584},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3932.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,584},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3933.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,584},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3934.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,208}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,208}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3935.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,638},{42,30}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3936.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3937.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3938.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,252}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,252}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3939.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,152},{46,16}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3940.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3941.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3942.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3943.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,382},{48,184}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,184}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3944.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,250},{34,14}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3945.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3946.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3947.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,252},{22,14}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3950.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{48,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3951.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,282},{48,214}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{48,214}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3952.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3953.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3954.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,502},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3955.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,502},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3958.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,178},{2,30}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{2,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3959.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3960.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,588},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3961.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,566},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3962.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,262}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,262}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>3963.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,152},{22,28}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3964.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,690},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3965.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,550},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3966.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,550},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3967.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,432},{48,132}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,132}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3968.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,102},{48,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,236}}</string>
                <key>sourceSize</key>
                <string>{48,236}</string>
            </dict>
            <key>3971.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,432},{48,157}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,157}}</string>
                <key>sourceSize</key>
                <string>{48,299}</string>
            </dict>
            <key>3972.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,550},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3973.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,516},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3974.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,248}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3975.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,282}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,282}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>3976.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,204}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,204}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>3977.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,152},{28,4}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,4}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3980.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,232},{48,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,230}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3981.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,516},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3982.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,520},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3983.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,182},{48,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,248}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3984.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,286},{42,6}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3985.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,516},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3986.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,482},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3987.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,262}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,262}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>3988.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,382},{22,22}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3989.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,482},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3990.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,482},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3991.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,554},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3992.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,52},{48,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,236}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3993.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,520},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3994.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,486},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3995.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,470},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3996.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,152},{26,26}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{26,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,670},{32,32}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,638},{32,32}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,52},{6,128}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{6,128}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,152},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,436},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,420},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,168}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,168}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,170},{12,10}}</string>
                <key>offset</key>
                <string>{-18,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,386},{34,32}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,302},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object6_5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d3d91e61e67f88cdc2eca20a771f7c8:1/1$</string>
            <key>textureFileName</key>
            <string>object6_5.png</string>
        </dict>
    </dict>
</plist>
