<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7069.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,540},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7070.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,540},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7072.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,514},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7073.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,52},{48,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>7074.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,514},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7075.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,506},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7076.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,506},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7077.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,506},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7078.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,506},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7079.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{48,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,182}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>7080.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,66},{6,12}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7081.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,102},{8,32}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{8,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7083.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,480},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7084.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,480},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7085.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,608},{28,22}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{28,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7086.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,74},{40,10}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7087.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,358},{46,104}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{46,104}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>7090.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,624},{20,22}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7091.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,600},{24,32}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7092.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,238},{28,230}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{28,230}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>7093.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,606},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7094.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,472},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7095.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,416},{48,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,248}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>7096.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,604},{22,22}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7097.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,472},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7098.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,472},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7099.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,116},{48,214}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,214}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>7100.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,58},{1,1}}</string>
                <key>offset</key>
                <string>{-23.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7101.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,446},{22,32}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7102.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,166},{28,210}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{28,210}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>7118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{32,30}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7119.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,316},{40,106}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{40,106}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>7120.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,514},{46,26}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7121.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,472},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7123.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,446},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7124.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,446},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7125.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,318},{46,18}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{46,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7126.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,572},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7127.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,438},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7128.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,438},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7129.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,438},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7130.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,438},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7131.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,446},{48,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>7132.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,548},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7134.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,678},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7135.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,646},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7136.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,268},{48,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,124}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>7137.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,580},{48,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7138.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,644},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7139.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,612},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7140.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,610},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7141.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,528},{48,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>7142.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,50},{14,6}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7143.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,574},{30,32}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7144.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,196},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7145.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,574},{32,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7146.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,34},{14,14}}</string>
                <key>offset</key>
                <string>{17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{14,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7174.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{16,8}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7175.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{40,274}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{40,274}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>7176.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,480},{32,22}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7177.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,578},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7178.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,288}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>7179.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,548},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7180.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,576},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7181.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,306}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>7182.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,540},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7183.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,542},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7184.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,306}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>7185.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,604},{26,18}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7186.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,366},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7187.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,278}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,278}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>7188.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,610},{20,20}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7189.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{42,276}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{42,276}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>7277.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,408},{36,96}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{36,96}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>7278.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{48,268}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{48,268}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>7279.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,540},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7280.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{48,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,254}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>7281.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,580},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7282.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{48,250}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,250}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>7283.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,12},{20,14}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7284.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,406},{38,102}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,26},{38,102}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>7300.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,366},{40,110}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{40,110}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>7301.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,196},{40,138}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{40,138}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>7308.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,496},{30,60}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>7309.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,58},{6,12}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{6,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7310.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,572},{30,48}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>7313.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,268},{46,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{46,106}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>7314.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,318},{46,110}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{46,110}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>7317.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,606},{32,20}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7318.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,604},{26,20}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{26,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7321.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{36,24}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7322.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,628},{18,18}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{18,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7323.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,604},{26,20}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7324.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,196},{28,26}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{28,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7327.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,196},{36,26}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>7328.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,574},{32,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_15.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae2dfc36aabf7fcbdaa0995873399c8:1/1$</string>
            <key>textureFileName</key>
            <string>object3_15.png</string>
        </dict>
    </dict>
</plist>
