<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3858.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,220}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,220}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3859.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,940},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3860.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,252},{48,240}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,240}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3861.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,974},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3862.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,352},{48,218}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,218}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3866.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,974},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3867.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3868.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3869.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3870.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3871.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3872.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,940},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3873.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,202},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3874.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,974},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3875.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3876.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3877.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3878.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3879.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3880.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,176}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3881.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3882.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3883.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3884.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3885.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,52},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3888.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,940},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3889.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,250}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,250}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3890.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,732},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3891.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3892.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,304}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,304}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>3893.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,794},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3894.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3895.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3896.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3897.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3898.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3899.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,844},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3900.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3901.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3905.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,144},{10,24}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{10,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3906.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,746},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3907.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,152},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3908.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,940},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3909.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,794},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3910.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,218}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,218}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3911.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,844},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3912.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,988},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3913.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,304}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,304}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>3914.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3915.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,890},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3916.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,346}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,346}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>3919.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,794},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3920.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,794},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3921.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,346}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,346}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>3922.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,844},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3923.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,794},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3924.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,304}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,304}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>3925.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,940},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3926.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3927.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,302},{48,218}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,218}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3928.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,746},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3929.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,102},{48,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,186}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3930.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,118},{10,24}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{10,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>3933.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,194},{8,22}}</string>
                <key>offset</key>
                <string>{15,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{8,22}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>3934.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,988},{34,50}}</string>
                <key>offset</key>
                <string>{7,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{34,50}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>3935.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,110},{6,12}}</string>
                <key>offset</key>
                <string>{-21,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{6,12}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>3937.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,102},{6,12}}</string>
                <key>offset</key>
                <string>{21,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,2},{6,12}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>3938.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{34,50}}</string>
                <key>offset</key>
                <string>{-7,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{34,50}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>3939.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,170},{8,22}}</string>
                <key>offset</key>
                <string>{-17,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{8,22}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>3945.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{28,60}}</string>
                <key>offset</key>
                <string>{10,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{28,60}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>3962.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3963.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,792},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3964.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,696},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3965.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,666},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3967.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,666},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3968.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,600},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3969.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3970.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3971.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,648},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3972.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,600},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3973.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,694},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3974.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,598},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3975.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,534},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3977.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3978.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,550},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3979.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,534},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3980.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,596},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3982.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,500},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3983.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,468},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3984.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,694},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3985.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,468},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3986.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3987.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,452},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3988.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3989.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,498},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3990.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,402},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3992.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,402},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3993.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,402},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3994.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,400},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3995.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,302},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c348fb001e411d69bd10ce14e232f5d:1/1$</string>
            <key>textureFileName</key>
            <string>object3_3.png</string>
        </dict>
    </dict>
</plist>
