<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6300.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,856},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6301.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,806},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6302.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,570}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,570}}</string>
                <key>sourceSize</key>
                <string>{48,576}</string>
            </dict>
            <key>6303.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,960},{38,16}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6304.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,772},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6305.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,926},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6306.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,876},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6307.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,590}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,590}}</string>
                <key>sourceSize</key>
                <string>{48,608}</string>
            </dict>
            <key>6310.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,988},{34,18}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6311.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,896},{42,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6312.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,826},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6313.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,654}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,654}}</string>
                <key>sourceSize</key>
                <string>{48,672}</string>
            </dict>
            <key>6314.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,806},{18,18}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6315.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,946},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6316.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,876},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6317.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,826},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6318.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,894},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6319.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,860},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6320.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,826},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6321.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{48,506}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,506}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>6322.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,608},{38,10}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6323.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,676},{46,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>6324.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,792},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6325.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,760},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6326.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,726},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6327.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{48,452}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,452}}</string>
                <key>sourceSize</key>
                <string>{48,480}</string>
            </dict>
            <key>6328.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,490},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6329.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,692},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6330.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,658},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6331.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{48,442}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,442}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6332.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,752},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6333.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,624},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6334.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,590},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6335.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,556},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6336.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,522},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6337.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,718},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6338.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,658},{48,304}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,304}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6339.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,778},{4,2}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6340.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,926},{14,32}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6341.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,682},{10,32}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6342.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,978},{32,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6343.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,930},{30,32}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6344.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,996},{26,32}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6345.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,862},{44,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6346.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,980},{42,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6347.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,800},{46,152}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{46,152}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>6350.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,772},{4,2}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,2}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6351.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,896},{14,32}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6352.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,648},{10,32}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6353.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,906},{32,32}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6354.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,940},{30,32}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6355.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,996},{26,32}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6356.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,828},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6357.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,980},{42,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6358.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,456},{46,152}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{46,152}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>6359.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,998},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6360.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,684},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6361.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,650},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6362.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,594},{48,400}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,400}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6363.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,458},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6364.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,616},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6365.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,582},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6366.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,548},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6367.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,514},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6368.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,574},{48,378}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,378}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6369.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,568},{38,10}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6370.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,610},{46,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>6371.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,480},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6372.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,758},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6373.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,724},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6374.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,690},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6375.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{48,420}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,420}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6376.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,960},{18,18}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6377.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,656},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6378.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,622},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6379.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,634}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,634}}</string>
                <key>sourceSize</key>
                <string>{48,640}</string>
            </dict>
            <key>6380.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,988},{34,18}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6381.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,792},{42,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6382.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,588},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6383.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,654}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,654}}</string>
                <key>sourceSize</key>
                <string>{48,672}</string>
            </dict>
            <key>6386.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,522},{44,10}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6387.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,554},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6388.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,794},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6389.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,520},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6390.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,486},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6391.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,510},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6392.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{48,10}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6393.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6394.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,446},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6395.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,424},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6396.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6397.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{48,6}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6398.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,988},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6399.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6400.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,742},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6401.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,638},{48,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,384}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6402.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,928},{48,16}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6403.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6404.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,964},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6405.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{48,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,448}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_12.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8993ae9e2388d469191a7f8c9cc4a218:1/1$</string>
            <key>textureFileName</key>
            <string>object3_12.png</string>
        </dict>
    </dict>
</plist>
