<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6125.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,648},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6126.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,270},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6127.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,254},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6128.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6129.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6130.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,120},{48,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,416}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6131.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,152},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6132.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6133.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6134.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6135.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,572},{48,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,448}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6136.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,102},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6137.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,238},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6138.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,238},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6139.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,238},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6140.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,122},{48,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,448}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6141.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,40},{48,20}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6142.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,238},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6143.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,238},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6144.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,236},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6145.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,602},{48,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,416}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6146.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,102},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6147.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,220},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6148.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6149.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6150.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,972},{48,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,384}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6151.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{28,16}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6152.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6153.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6154.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6155.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,204},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6156.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,52},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6230.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,102},{38,16}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{38,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6231.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,204},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6232.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,204},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6233.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,204},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6234.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,590}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,590}}</string>
                <key>sourceSize</key>
                <string>{48,608}</string>
            </dict>
            <key>6235.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,644},{38,12}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6236.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,204},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6237.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,202},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6238.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6239.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{48,570}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,570}}</string>
                <key>sourceSize</key>
                <string>{48,576}</string>
            </dict>
            <key>6240.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,30},{22,8}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6241.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,170},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6242.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,170},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6243.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,170},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6244.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{48,556}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,556}}</string>
                <key>sourceSize</key>
                <string>{48,576}</string>
            </dict>
            <key>6245.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,102},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6246.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,170},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6247.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,170},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6248.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6249.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,122},{48,478}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,478}}</string>
                <key>sourceSize</key>
                <string>{48,480}</string>
            </dict>
            <key>6250.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,700},{14,6}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6251.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6252.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6253.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6254.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,604},{48,416}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,416}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6255.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1002},{10,8}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6256.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,90},{20,32}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6257.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6258.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,572},{48,398}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,398}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6259.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1012},{38,10}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6260.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6261.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6262.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,102},{48,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,306}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6263.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,692},{6,8}}</string>
                <key>offset</key>
                <string>{21,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6264.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,272},{32,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6265.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,272},{42,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6266.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,272},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6267.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,410},{30,150}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{30,150}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>6270.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,684},{6,8}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6271.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,272},{32,32}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6272.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,272},{42,32}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6273.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,152},{38,182}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,182}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>6274.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{38,10}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6275.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6276.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6277.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,102},{48,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,306}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6278.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1002},{10,8}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6279.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1002},{20,32}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6280.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6281.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6282.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{48,366}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6283.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,40},{14,6}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6284.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6285.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6286.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6287.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{48,416}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,416}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6288.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,52},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6289.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6290.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6291.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,336},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6292.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,124},{48,478}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,478}}</string>
                <key>sourceSize</key>
                <string>{48,480}</string>
            </dict>
            <key>6293.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,20},{22,8}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6294.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6295.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,102},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6296.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,538},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6297.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,90},{48,556}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,556}}</string>
                <key>sourceSize</key>
                <string>{48,576}</string>
            </dict>
            <key>6298.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,604},{38,12}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6299.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,56},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_11.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c61de1e5165d6423b577eaf5563e1cdd:1/1$</string>
            <key>textureFileName</key>
            <string>object3_11.png</string>
        </dict>
    </dict>
</plist>
