<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3996.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,266},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3997.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,200},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3998.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,134},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>3999.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,68},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>4000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,334},{28,60}}</string>
                <key>offset</key>
                <string>{10,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{28,60}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,452},{48,66}}</string>
                <key>offset</key>
                <string>{0,199}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,446},{48,84}}</string>
                <key>offset</key>
                <string>{0,191}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,480}</string>
            </dict>
            <key>4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{48,66}}</string>
                <key>offset</key>
                <string>{0,175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,318},{10,16}}</string>
                <key>offset</key>
                <string>{19,185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{10,16}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,452},{48,62}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,446},{48,66}}</string>
                <key>offset</key>
                <string>{0,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,61},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,252},{6,12}}</string>
                <key>offset</key>
                <string>{-21,231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{6,12}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,396},{28,18}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,602},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,160}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,188},{26,18}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,598},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,598},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,396},{48,160}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,598},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,588},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,588},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,352},{48,160}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,492},{32,14}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,192}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,52},{30,18}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5035.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,162}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,162}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5038.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,604},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5039.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,568},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5040.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,564},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5041.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,202},{48,162}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,162}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5042.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,266},{6,10}}</string>
                <key>offset</key>
                <string>{21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5043.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,636},{30,32}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5044.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,564},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5045.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,52},{48,192}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5046.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,84},{48,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5047.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,564},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5048.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,554},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5049.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,332},{48,154}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5050.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,278},{8,6}}</string>
                <key>offset</key>
                <string>{16,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{8,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5051.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,604},{32,32}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5052.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,554},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,192}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5054.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,188},{26,18}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5055.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5056.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,160}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5058.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,55},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>5082.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,314},{24,18}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5083.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5085.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,302},{48,160}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5086.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,168},{26,18}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5087.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,530},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5088.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,530},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5089.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,152},{48,164}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,164}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5092.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,102},{22,18}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5093.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,530},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5094.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,520},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,160}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5096.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,226},{26,16}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5097.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,520},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5098.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,502},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5099.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,152},{48,164}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,164}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5112.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,294},{24,18}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5113.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5115.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,252},{48,160}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5116.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,52},{1,1}}</string>
                <key>offset</key>
                <string>{-23.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5117.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,134},{26,32}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5118.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,502},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,196}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,196}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5120.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,244},{48,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5121.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,502},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5123.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,402},{48,158}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,158}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>5124.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,208},{26,16}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5125.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,518},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5126.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,496},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5127.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,102},{48,168}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,168}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5128.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,426},{40,16}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5129.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,496},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5130.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,496},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,162}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,162}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5132.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,122},{28,18}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5133.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,486},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5134.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,486},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,166}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,166}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>5138.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,452},{38,14}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,14}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5139.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5140.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5141.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{48,192}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,192}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>5142.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{48,18}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>5143.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,468},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6141adaaa2260024928af40615410eb:1/1$</string>
            <key>textureFileName</key>
            <string>object3_4.png</string>
        </dict>
    </dict>
</plist>
