<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,376},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>1088.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,971},{36,51}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>1089.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,685},{40,55}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,55}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>1127.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,917},{30,65}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,65}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>1360.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{30,131}}</string>
                <key>offset</key>
                <string>{9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,131}}</string>
                <key>sourceSize</key>
                <string>{48,217}</string>
            </dict>
            <key>1361.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,329},{48,246}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,246}}</string>
                <key>sourceSize</key>
                <string>{48,336}</string>
            </dict>
            <key>1362.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,386},{48,295}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,295}}</string>
                <key>sourceSize</key>
                <string>{48,401}</string>
            </dict>
            <key>1363.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,370},{48,287}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,287}}</string>
                <key>sourceSize</key>
                <string>{48,371}</string>
            </dict>
            <key>1364.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,369},{48,264}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,264}}</string>
                <key>sourceSize</key>
                <string>{48,358}</string>
            </dict>
            <key>1365.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,659},{48,227}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,227}}</string>
                <key>sourceSize</key>
                <string>{48,317}</string>
            </dict>
            <key>1366.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,742},{26,78}}</string>
                <key>offset</key>
                <string>{-11,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,78}}</string>
                <key>sourceSize</key>
                <string>{48,180}</string>
            </dict>
            <key>1381.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,423}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,423}}</string>
                <key>sourceSize</key>
                <string>{48,537}</string>
            </dict>
            <key>1382.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{48,407}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,407}}</string>
                <key>sourceSize</key>
                <string>{48,507}</string>
            </dict>
            <key>1383.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{48,372}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,372}}</string>
                <key>sourceSize</key>
                <string>{48,472}</string>
            </dict>
            <key>1384.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,574},{42,226}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,226}}</string>
                <key>sourceSize</key>
                <string>{48,328}</string>
            </dict>
            <key>1386.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,327},{40,245}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,245}}</string>
                <key>sourceSize</key>
                <string>{48,345}</string>
            </dict>
            <key>1387.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{48,323}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,323}}</string>
                <key>sourceSize</key>
                <string>{48,407}</string>
            </dict>
            <key>1388.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{48,375}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,375}}</string>
                <key>sourceSize</key>
                <string>{48,457}</string>
            </dict>
            <key>1389.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{48,389}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,389}}</string>
                <key>sourceSize</key>
                <string>{48,491}</string>
            </dict>
            <key>1390.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{48,366}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,456}</string>
            </dict>
            <key>1395.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,882},{16,104}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,104}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>1396.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,690},{48,190}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,190}}</string>
                <key>sourceSize</key>
                <string>{48,262}</string>
            </dict>
            <key>1397.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,371},{48,199}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,199}}</string>
                <key>sourceSize</key>
                <string>{48,265}</string>
            </dict>
            <key>1398.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,828},{48,194}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,194}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>1399.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,917},{20,40}}</string>
                <key>offset</key>
                <string>{-14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{48,120}</string>
            </dict>
            <key>1401.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{36,360}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{36,360}}</string>
                <key>sourceSize</key>
                <string>{48,452}</string>
            </dict>
            <key>1402.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,421},{48,409}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,409}}</string>
                <key>sourceSize</key>
                <string>{48,483}</string>
            </dict>
            <key>1403.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,427},{48,420}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,420}}</string>
                <key>sourceSize</key>
                <string>{48,526}</string>
            </dict>
            <key>1404.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{48,484}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,484}}</string>
                <key>sourceSize</key>
                <string>{48,564}</string>
            </dict>
            <key>1405.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,502}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,502}}</string>
                <key>sourceSize</key>
                <string>{48,604}</string>
            </dict>
            <key>1406.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,475}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,475}}</string>
                <key>sourceSize</key>
                <string>{48,553}</string>
            </dict>
            <key>1407.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,479},{48,436}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,436}}</string>
                <key>sourceSize</key>
                <string>{48,514}</string>
            </dict>
            <key>1410.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,371},{34,187}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,187}}</string>
                <key>sourceSize</key>
                <string>{48,271}</string>
            </dict>
            <key>1489.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,393},{42,392}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,392}}</string>
                <key>sourceSize</key>
                <string>{48,396}</string>
            </dict>
            <key>1490.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,411},{48,404}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,404}}</string>
                <key>sourceSize</key>
                <string>{48,408}</string>
            </dict>
            <key>1491.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{48,397}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,397}}</string>
                <key>sourceSize</key>
                <string>{48,401}</string>
            </dict>
            <key>1492.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,376},{48,291}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,291}}</string>
                <key>sourceSize</key>
                <string>{48,301}</string>
            </dict>
            <key>1493.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,771},{48,144}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,144}}</string>
                <key>sourceSize</key>
                <string>{48,150}</string>
            </dict>
            <key>1494.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,917},{24,72}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,72}}</string>
                <key>sourceSize</key>
                <string>{48,88}</string>
            </dict>
            <key>2723.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,915},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>2733.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{82,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{82,138}}</string>
                <key>sourceSize</key>
                <string>{96,138}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,376},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>4143.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,917},{30,67}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{30,67}}</string>
                <key>sourceSize</key>
                <string>{48,73}</string>
            </dict>
            <key>4144.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,822},{26,63}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,63}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>4203.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,649},{40,120}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{48,122}</string>
            </dict>
            <key>4204.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,683},{48,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,202}}</string>
                <key>sourceSize</key>
                <string>{48,204}</string>
            </dict>
            <key>4205.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,337},{48,250}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,250}}</string>
                <key>sourceSize</key>
                <string>{48,252}</string>
            </dict>
            <key>4206.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{48,333}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,333}}</string>
                <key>sourceSize</key>
                <string>{48,345}</string>
            </dict>
            <key>4214.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,327},{48,239}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,239}}</string>
                <key>sourceSize</key>
                <string>{48,267}</string>
            </dict>
            <key>4215.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,863},{48,156}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,156}}</string>
                <key>sourceSize</key>
                <string>{48,184}</string>
            </dict>
            <key>4216.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,142},{32,72}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,72}}</string>
                <key>sourceSize</key>
                <string>{48,98}</string>
            </dict>
            <key>4257.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{48,365}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,365}}</string>
                <key>sourceSize</key>
                <string>{48,367}</string>
            </dict>
            <key>4258.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{48,333}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,333}}</string>
                <key>sourceSize</key>
                <string>{48,335}</string>
            </dict>
            <key>4259.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{48,300}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,300}}</string>
                <key>sourceSize</key>
                <string>{48,318}</string>
            </dict>
            <key>4260.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{48,325}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,325}}</string>
                <key>sourceSize</key>
                <string>{48,349}</string>
            </dict>
            <key>4261.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{48,417}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,417}}</string>
                <key>sourceSize</key>
                <string>{48,435}</string>
            </dict>
            <key>4262.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,401},{48,396}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,396}}</string>
                <key>sourceSize</key>
                <string>{48,476}</string>
            </dict>
            <key>4263.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{48,382}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,382}}</string>
                <key>sourceSize</key>
                <string>{48,422}</string>
            </dict>
            <key>4264.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,393},{48,295}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,295}}</string>
                <key>sourceSize</key>
                <string>{48,325}</string>
            </dict>
            <key>4265.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{48,327}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,327}}</string>
                <key>sourceSize</key>
                <string>{48,357}</string>
            </dict>
            <key>4266.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,742},{18,12}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{18,12}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4267.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,808},{48,209}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,209}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4268.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,572},{48,223}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,223}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4269.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,142},{48,227}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,227}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4270.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,379},{48,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,294}}</string>
                <key>sourceSize</key>
                <string>{48,294}</string>
            </dict>
            <key>4271.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,669},{48,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,229}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4274.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,582},{48,224}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,228}</string>
            </dict>
            <key>4275.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,577},{48,223}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,223}}</string>
                <key>sourceSize</key>
                <string>{48,227}</string>
            </dict>
            <key>4276.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,797},{48,212}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,212}}</string>
                <key>sourceSize</key>
                <string>{48,230}</string>
            </dict>
            <key>4277.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,675},{48,223}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,223}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>4278.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,600},{48,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,226}}</string>
                <key>sourceSize</key>
                <string>{48,230}</string>
            </dict>
            <key>4324.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,635},{48,226}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,226}}</string>
                <key>sourceSize</key>
                <string>{48,230}</string>
            </dict>
            <key>4325.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,589},{48,224}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,224}}</string>
                <key>sourceSize</key>
                <string>{48,228}</string>
            </dict>
            <key>4326.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,802},{48,212}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,212}}</string>
                <key>sourceSize</key>
                <string>{48,232}</string>
            </dict>
            <key>534.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,887},{32,24}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>535.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,883},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>536.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,832},{48,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>537.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,890},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>538.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,849},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>539.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,799},{48,114}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,114}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>540.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,304},{46,18}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>541.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,316},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>542.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,815},{48,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,154}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>543.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,887},{12,8}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>544.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,266},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>545.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,216},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>546.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,817},{48,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,128}</string>
            </dict>
            <key>547.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,986},{30,24}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>548.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,887},{46,50}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{46,50}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>5840.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,787},{42,75}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,75}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>5841.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,917},{44,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,91}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>661.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,572},{46,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>662.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,888},{48,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,126}}</string>
                <key>sourceSize</key>
                <string>{48,130}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,376},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>7679.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,560},{34,123}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,123}}</string>
                <key>sourceSize</key>
                <string>{48,123}</string>
            </dict>
            <key>7680.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,331},{48,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,249}}</string>
                <key>sourceSize</key>
                <string>{48,249}</string>
            </dict>
            <key>7681.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,337},{48,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,261}}</string>
                <key>sourceSize</key>
                <string>{48,261}</string>
            </dict>
            <key>7682.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,802},{48,216}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,246}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,376},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,376},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee7825deb7a303a0977b9cb8235855c2:1/1$</string>
            <key>textureFileName</key>
            <string>object0.png</string>
        </dict>
    </dict>
</plist>
