<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3041.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,334},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>3042.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,832},{48,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,103}}</string>
                <key>sourceSize</key>
                <string>{48,103}</string>
            </dict>
            <key>3043.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,357},{48,85}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,85}}</string>
                <key>sourceSize</key>
                <string>{48,103}</string>
            </dict>
            <key>3044.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{8,33}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,33}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>3046.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,444},{40,67}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>3047.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,834},{48,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,108}}</string>
                <key>sourceSize</key>
                <string>{48,108}</string>
            </dict>
            <key>3048.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,302},{48,123}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,123}}</string>
                <key>sourceSize</key>
                <string>{48,139}</string>
            </dict>
            <key>3050.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,503},{44,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>3051.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,831},{48,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,97}}</string>
                <key>sourceSize</key>
                <string>{48,97}</string>
            </dict>
            <key>3052.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,420},{48,81}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,81}}</string>
                <key>sourceSize</key>
                <string>{48,97}</string>
            </dict>
            <key>3054.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,919},{40,73}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,73}}</string>
                <key>sourceSize</key>
                <string>{48,73}</string>
            </dict>
            <key>3055.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,832},{48,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,102}</string>
            </dict>
            <key>3056.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,334},{48,84}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{48,102}</string>
            </dict>
            <key>3057.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,152},{6,32}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,32}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>3060.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,831},{48,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,86}}</string>
                <key>sourceSize</key>
                <string>{48,86}</string>
            </dict>
            <key>3061.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,831},{48,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{48,100}</string>
            </dict>
            <key>3062.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,120},{38,71}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>3065.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,270},{48,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,85}}</string>
                <key>sourceSize</key>
                <string>{48,85}</string>
            </dict>
            <key>3066.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{48,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,161}}</string>
                <key>sourceSize</key>
                <string>{48,161}</string>
            </dict>
            <key>3067.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,193},{36,64}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>3068.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,500},{48,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,121}}</string>
                <key>sourceSize</key>
                <string>{48,121}</string>
            </dict>
            <key>3069.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,202},{48,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,158}}</string>
                <key>sourceSize</key>
                <string>{48,160}</string>
            </dict>
            <key>3070.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,175}}</string>
                <key>sourceSize</key>
                <string>{48,175}</string>
            </dict>
            <key>3071.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,400},{48,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,122}}</string>
                <key>sourceSize</key>
                <string>{48,124}</string>
            </dict>
            <key>3072.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,410},{30,61}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>3074.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,270},{38,243}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,243}}</string>
                <key>sourceSize</key>
                <string>{48,265}</string>
            </dict>
            <key>3075.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,43},{14,227}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,227}}</string>
                <key>sourceSize</key>
                <string>{48,257}</string>
            </dict>
            <key>3076.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,252},{4,10}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,10}}</string>
                <key>sourceSize</key>
                <string>{48,24}</string>
            </dict>
            <key>3077.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,352},{48,244}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,244}}</string>
                <key>sourceSize</key>
                <string>{48,274}</string>
            </dict>
            <key>3078.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,102},{2,9}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,9}}</string>
                <key>sourceSize</key>
                <string>{48,23}</string>
            </dict>
            <key>3080.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{16,31}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>3081.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,272},{48,225}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,225}}</string>
                <key>sourceSize</key>
                <string>{48,233}</string>
            </dict>
            <key>3082.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,52},{48,216}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,234}</string>
            </dict>
            <key>3083.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,247},{8,21}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>3085.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,102},{48,262}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,262}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3086.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,549},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3087.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,52},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3088.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,52},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3089.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,549},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3090.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,549},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3091.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,549},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3092.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,550},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{48,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,302}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3094.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,550},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3095.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,944},{48,280}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,302}</string>
            </dict>
            <key>3096.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,502},{48,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3097.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,452},{48,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3098.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,402},{48,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3099.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,352},{48,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,270}</string>
            </dict>
            <key>3100.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,152},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>3101.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,252},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3102.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,202},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3103.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,152},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3104.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,102},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3105.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,52},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3106.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3107.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,523},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3108.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,523},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3109.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,523},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3110.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,523},{48,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,276}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3111.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,52},{48,266}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,266}}</string>
                <key>sourceSize</key>
                <string>{48,276}</string>
            </dict>
            <key>3112.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,52},{4,218}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,218}}</string>
                <key>sourceSize</key>
                <string>{48,244}</string>
            </dict>
            <key>3113.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,473},{48,279}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,279}}</string>
                <key>sourceSize</key>
                <string>{48,309}</string>
            </dict>
            <key>3114.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{48,283}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,283}}</string>
                <key>sourceSize</key>
                <string>{48,313}</string>
            </dict>
            <key>3115.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,550},{48,282}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,282}}</string>
                <key>sourceSize</key>
                <string>{48,312}</string>
            </dict>
            <key>3116.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,302},{48,271}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,271}}</string>
                <key>sourceSize</key>
                <string>{48,279}</string>
            </dict>
            <key>3117.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,272},{12,227}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,227}}</string>
                <key>sourceSize</key>
                <string>{48,245}</string>
            </dict>
            <key>3118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{24,243}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,243}}</string>
                <key>sourceSize</key>
                <string>{48,243}</string>
            </dict>
            <key>3119.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,410},{48,278}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,278}}</string>
                <key>sourceSize</key>
                <string>{48,308}</string>
            </dict>
            <key>3120.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,549},{48,279}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,279}}</string>
                <key>sourceSize</key>
                <string>{48,309}</string>
            </dict>
            <key>3121.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,831},{48,279}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,279}}</string>
                <key>sourceSize</key>
                <string>{48,309}</string>
            </dict>
            <key>3122.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,52},{30,251}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,251}}</string>
                <key>sourceSize</key>
                <string>{48,277}</string>
            </dict>
            <key>3124.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,302},{4,49}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{4,49}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>3125.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,450},{48,121}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,121}}</string>
                <key>sourceSize</key>
                <string>{48,129}</string>
            </dict>
            <key>3126.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{48,164}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,164}}</string>
                <key>sourceSize</key>
                <string>{48,172}</string>
            </dict>
            <key>3127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{48,179}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,179}}</string>
                <key>sourceSize</key>
                <string>{48,187}</string>
            </dict>
            <key>3128.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,169}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,169}}</string>
                <key>sourceSize</key>
                <string>{48,187}</string>
            </dict>
            <key>3129.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,252},{48,129}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,129}}</string>
                <key>sourceSize</key>
                <string>{48,155}</string>
            </dict>
            <key>3130.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,499},{14,63}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,63}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>3478.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,994},{22,32}}</string>
                <key>offset</key>
                <string>{3,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3487.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,994},{22,32}}</string>
                <key>offset</key>
                <string>{-13,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,32}}</string>
                <key>sourceSize</key>
                <string>{48,192}</string>
            </dict>
            <key>3617.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,252},{6,13}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,13}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>3618.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,352},{46,123}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,123}}</string>
                <key>sourceSize</key>
                <string>{48,141}</string>
            </dict>
            <key>4054.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,994},{34,22}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{34,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4055.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4056.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,252},{12,8}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{12,8}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4057.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4058.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,186},{24,6}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4063.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{30,30}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4064.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,994},{46,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4065.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,515},{32,69}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{48,91}</string>
            </dict>
            <key>4067.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,52},{40,66}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>4068.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,35},{16,6}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{16,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>4069.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{46,30}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9279.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9280.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9281.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,881},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9282.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,508}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,508}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>9283.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,515},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>9284.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,515},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aec013d19b52a794126c7abdb20aa66:1/1$</string>
            <key>textureFileName</key>
            <string>object1.png</string>
        </dict>
    </dict>
</plist>
