<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6406.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,586},{48,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6407.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6408.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,152},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6409.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,486},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6410.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,102},{48,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,416}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6411.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,436},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6412.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,386},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6413.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,336},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6414.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,102},{48,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,416}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6415.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,660},{22,20}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6416.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6417.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,236},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6418.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6419.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1654},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6420.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,636},{24,22}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6421.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,102},{44,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6422.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6423.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>6424.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,970},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>6428.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{48,344}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,344}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6429.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,752},{48,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,342}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6430.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,702},{48,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,342}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6431.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1552},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6434.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1286},{48,366}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6435.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{48,364}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,364}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6436.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,452},{48,346}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,346}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6437.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,802},{48,334}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,334}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6442.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,652},{48,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,342}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6443.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1402},{48,322}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,322}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6446.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,202},{48,394}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,394}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6447.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{48,378}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,378}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6448.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1654},{48,350}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,350}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6449.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1052},{48,328}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,328}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6452.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,452},{48,346}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,346}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6453.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1286},{48,360}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,360}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6454.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{48,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,384}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6455.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,412}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,412}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6456.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{48,388}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,388}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6457.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1282},{48,366}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6458.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1286},{48,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6459.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1352},{48,322}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,322}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6462.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1286},{48,350}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,350}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6463.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{48,490}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,490}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>6464.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,52},{48,482}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,482}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>6465.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{48,450}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,450}}</string>
                <key>sourceSize</key>
                <string>{48,480}</string>
            </dict>
            <key>6466.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,152},{48,412}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,412}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6467.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{48,392}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,392}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6468.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1286},{48,362}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,362}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6469.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1002},{48,328}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,328}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6472.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1502},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6473.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,602},{48,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,342}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6474.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,552},{48,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,342}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6475.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{48,344}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,344}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6478.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,776},{48,334}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,334}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6479.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1654},{48,346}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,346}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6480.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1654},{48,364}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,364}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6481.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,918},{48,366}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6484.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1302},{48,322}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,322}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6485.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,502},{48,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,342}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6486.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,800},{48,340}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,340}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6487.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,952},{48,328}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,328}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6490.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,902},{48,328}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,328}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6491.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1654},{48,350}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,350}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6492.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,352},{48,378}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,378}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6493.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,202},{48,394}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,394}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6496.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1252},{48,322}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,322}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6497.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1654},{48,352}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,352}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6498.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,914},{48,366}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,366}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6499.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,252},{48,388}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,388}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6500.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,412}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{48,412}}</string>
                <key>sourceSize</key>
                <string>{48,448}</string>
            </dict>
            <key>6501.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,302},{48,384}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,384}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6502.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1654},{48,360}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,360}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6503.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1286},{48,346}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,346}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6506.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,852},{48,328}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,328}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6507.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1654},{48,362}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,362}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6508.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,520},{48,392}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,392}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6509.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,504},{48,412}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,412}}</string>
                <key>sourceSize</key>
                <string>{48,416}</string>
            </dict>
            <key>6510.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,52},{48,450}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,450}}</string>
                <key>sourceSize</key>
                <string>{48,480}</string>
            </dict>
            <key>6511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,482}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,482}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>6512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,490}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,490}}</string>
                <key>sourceSize</key>
                <string>{48,512}</string>
            </dict>
            <key>6513.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1286},{48,350}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,350}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6516.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1452},{48,320}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6517.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{48,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,342}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6518.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1142},{48,326}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,326}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6519.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,402},{48,372}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,372}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6520.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,914},{48,370}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,370}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6521.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1286},{48,330}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,330}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6522.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1438},{48,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6523.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1152},{48,324}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,324}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6526.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1112},{48,324}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,324}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6527.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1202},{48,322}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{48,322}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6528.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,970},{48,330}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,330}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6529.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,598},{48,370}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,370}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6530.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,402},{48,372}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{48,372}}</string>
                <key>sourceSize</key>
                <string>{48,384}</string>
            </dict>
            <key>6531.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1102},{48,326}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,326}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6532.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{48,342}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{48,342}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6533.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1302},{48,320}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{48,320}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>6536.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{48,316}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,316}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6537.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{48,302}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,302}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>6538.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,970},{48,286}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,286}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object3_13.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8e628fbb8958d30b1a78e657f092ea3:1/1$</string>
            <key>textureFileName</key>
            <string>object3_13.png</string>
        </dict>
    </dict>
</plist>
