<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2468.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,920},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2469.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,388},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2470.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,388},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2471.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,354},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2472.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,352},{48,216}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2473.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,132},{42,6}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2474.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,354},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2475.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,354},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2476.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,354},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2477.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{48,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,230}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2479.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,352},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2480.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,320},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2481.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,320},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2482.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,202},{48,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,236}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2520.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,202},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2521.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,972},{48,272}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,272}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2522.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{48,302}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,302}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>2523.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,576},{48,238}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,238}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2524.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,872},{48,282}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,282}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2529.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,152},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2530.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{48,242}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,242}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2531.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,296},{48,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,288}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2532.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{48,324}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,324}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>2533.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,152},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2538.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,102},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2539.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,786},{48,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,236}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2540.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,972},{48,270}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2541.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{48,302}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,302}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>2542.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,102},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2547.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,922},{48,270}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,270}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2548.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,586},{48,284}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,284}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2549.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,52},{48,264}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,264}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2550.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{48,328}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{48,328}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>2551.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,52},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2556.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{48,302}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{48,302}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>2557.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,922},{48,280}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,280}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2558.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{48,292}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{48,292}}</string>
                <key>sourceSize</key>
                <string>{48,320}</string>
            </dict>
            <key>2560.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,52},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2566.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,338}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{48,338}}</string>
                <key>sourceSize</key>
                <string>{48,352}</string>
            </dict>
            <key>2567.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,972},{48,272}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,272}}</string>
                <key>sourceSize</key>
                <string>{48,288}</string>
            </dict>
            <key>2568.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,252},{48,220}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,220}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2569.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,318},{48,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,256}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2578.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,152},{48,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,230}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2579.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,52},{34,32}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2580.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,320},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2581.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,320},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2582.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,302},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2583.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,302},{48,216}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2584.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,176},{22,6}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2585.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2586.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2587.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2588.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,296},{48,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,248}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2589.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,202},{48,16}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2590.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2591.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2592.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2593.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{48,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,230}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2594.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1004},{28,18}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2595.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2596.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2597.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2598.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,546},{48,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,236}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2599.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2600.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2601.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2602.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,52},{12,10}}</string>
                <key>offset</key>
                <string>{-18,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2607.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,402},{48,198}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,198}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2608.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,818},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2609.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,452},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2610.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,252},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2611.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,816},{48,204}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,204}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2612.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,886},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2613.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,954},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2614.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,736},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2615.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,686},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2616.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,252},{48,216}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2617.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,86},{44,6}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,6}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2618.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,636},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2619.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,586},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2620.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,536},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2621.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,52},{48,230}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{48,230}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2622.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,998},{22,22}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2623.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,352},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2624.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,320},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2625.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,320},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2626.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,202},{48,236}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,236}}</string>
                <key>sourceSize</key>
                <string>{48,256}</string>
            </dict>
            <key>2627.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,486},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2628.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,436},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2629.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,386},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2630.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,336},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2631.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{22,28}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2637.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,784},{46,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2638.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,286},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2639.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,236},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2640.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,252},{48,216}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{48,216}}</string>
                <key>sourceSize</key>
                <string>{48,224}</string>
            </dict>
            <key>2642.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,852},{44,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2643.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,186},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2644.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,136},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>2645.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,86},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68aca6c0292112d1c8bd8653c143498f:1/1$</string>
            <key>textureFileName</key>
            <string>object6.png</string>
        </dict>
    </dict>
</plist>
