<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>504000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1299},{148,135}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{148,135}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>504001.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1779},{150,139}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{150,139}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>504002.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1303},{148,139}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{148,139}}</string>
                <key>sourceSize</key>
                <string>{156,145}</string>
            </dict>
            <key>504003.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1779},{146,154}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,154}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>504004.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1843},{142,200}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{142,200}}</string>
                <key>sourceSize</key>
                <string>{156,204}</string>
            </dict>
            <key>504005.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1259},{136,217}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,217}}</string>
                <key>sourceSize</key>
                <string>{156,227}</string>
            </dict>
            <key>504006.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,484},{184,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,96}}</string>
                <key>sourceSize</key>
                <string>{184,96}</string>
            </dict>
            <key>504007.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1055},{246,284}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,284}}</string>
                <key>sourceSize</key>
                <string>{248,284}</string>
            </dict>
            <key>504008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{220,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,396}}</string>
                <key>sourceSize</key>
                <string>{220,396}</string>
            </dict>
            <key>504009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{218,403}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,403}}</string>
                <key>sourceSize</key>
                <string>{220,403}</string>
            </dict>
            <key>504010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,777},{242,407}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,407}}</string>
                <key>sourceSize</key>
                <string>{244,407}</string>
            </dict>
            <key>504011.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,484},{246,410}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,410}}</string>
                <key>sourceSize</key>
                <string>{248,410}</string>
            </dict>
            <key>504012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,481},{294,436}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,436}}</string>
                <key>sourceSize</key>
                <string>{296,436}</string>
            </dict>
            <key>504013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,462},{386,472}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{386,472}}</string>
                <key>sourceSize</key>
                <string>{392,472}</string>
            </dict>
            <key>504014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,482}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,482}}</string>
                <key>sourceSize</key>
                <string>{512,482}</string>
            </dict>
            <key>504015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{510,477}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,477}}</string>
                <key>sourceSize</key>
                <string>{512,477}</string>
            </dict>
            <key>504016.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{510,480}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,480}}</string>
                <key>sourceSize</key>
                <string>{512,480}</string>
            </dict>
            <key>504017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{494,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{494,458}}</string>
                <key>sourceSize</key>
                <string>{504,458}</string>
            </dict>
            <key>504018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{336,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,329}}</string>
                <key>sourceSize</key>
                <string>{336,329}</string>
            </dict>
            <key>505000.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,670},{94,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,147}}</string>
                <key>sourceSize</key>
                <string>{100,147}</string>
            </dict>
            <key>505001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,721},{106,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,161}}</string>
                <key>sourceSize</key>
                <string>{108,161}</string>
            </dict>
            <key>505002.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1304},{122,164}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,164}}</string>
                <key>sourceSize</key>
                <string>{128,166}</string>
            </dict>
            <key>505003.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1303},{120,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,164}}</string>
                <key>sourceSize</key>
                <string>{120,164}</string>
            </dict>
            <key>505004.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1304},{120,172}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,172}}</string>
                <key>sourceSize</key>
                <string>{120,176}</string>
            </dict>
            <key>505005.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1304},{122,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,172}}</string>
                <key>sourceSize</key>
                <string>{124,174}</string>
            </dict>
            <key>505006.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1843},{132,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,183}}</string>
                <key>sourceSize</key>
                <string>{132,183}</string>
            </dict>
            <key>505007.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,869},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>505008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1849},{138,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>505009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1849},{148,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,194}}</string>
                <key>sourceSize</key>
                <string>{148,194}</string>
            </dict>
            <key>505010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,629},{120,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>505011.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,486},{112,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,99}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>505012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1849},{122,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,196}}</string>
                <key>sourceSize</key>
                <string>{124,196}</string>
            </dict>
            <key>505013.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,732},{248,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,379}}</string>
                <key>sourceSize</key>
                <string>{248,379}</string>
            </dict>
            <key>505014.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,982},{336,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,320}}</string>
                <key>sourceSize</key>
                <string>{336,320}</string>
            </dict>
            <key>505015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1449},{282,296}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{282,296}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>505016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1541},{280,306}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{280,306}}</string>
                <key>sourceSize</key>
                <string>{288,314}</string>
            </dict>
            <key>505017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{280,309}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,309}}</string>
                <key>sourceSize</key>
                <string>{284,315}</string>
            </dict>
            <key>505018.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1541},{280,300}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{280,300}}</string>
                <key>sourceSize</key>
                <string>{284,318}</string>
            </dict>
            <key>505019.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1478},{278,299}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{278,299}}</string>
                <key>sourceSize</key>
                <string>{284,321}</string>
            </dict>
            <key>505020.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1469},{276,298}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{276,298}}</string>
                <key>sourceSize</key>
                <string>{280,318}</string>
            </dict>
            <key>505021.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1769},{276,297}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{276,297}}</string>
                <key>sourceSize</key>
                <string>{280,315}</string>
            </dict>
            <key>505022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1021},{276,292}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{276,292}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
            <key>507000.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,819},{48,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,131}}</string>
                <key>sourceSize</key>
                <string>{48,133}</string>
            </dict>
            <key>507001.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,600},{44,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,119}}</string>
                <key>sourceSize</key>
                <string>{48,119}</string>
            </dict>
            <key>507002.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,600},{58,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,108}}</string>
                <key>sourceSize</key>
                <string>{64,112}</string>
            </dict>
            <key>507003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,751},{58,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{58,116}}</string>
                <key>sourceSize</key>
                <string>{72,120}</string>
            </dict>
            <key>507004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,481},{60,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{60,146}}</string>
                <key>sourceSize</key>
                <string>{64,152}</string>
            </dict>
            <key>507005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,884},{50,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,175}}</string>
                <key>sourceSize</key>
                <string>{56,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3ca115458f5677daeb754387921f03:1/1$</string>
            <key>textureFileName</key>
            <string>effect4.png</string>
        </dict>
    </dict>
</plist>
