<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>508000.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,289},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>509000.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,835},{186,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{186,95}}</string>
                <key>sourceSize</key>
                <string>{208,103}</string>
            </dict>
            <key>509001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{184,229}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{184,229}}</string>
                <key>sourceSize</key>
                <string>{204,233}</string>
            </dict>
            <key>509002.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,285},{206,225}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{206,225}}</string>
                <key>sourceSize</key>
                <string>{220,231}</string>
            </dict>
            <key>509003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,289},{136,229}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{136,229}}</string>
                <key>sourceSize</key>
                <string>{168,251}</string>
            </dict>
            <key>509004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,597},{144,236}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{144,236}}</string>
                <key>sourceSize</key>
                <string>{156,250}</string>
            </dict>
            <key>509005.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,132},{102,197}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{102,197}}</string>
                <key>sourceSize</key>
                <string>{116,205}</string>
            </dict>
            <key>509006.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{224,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{224,208}}</string>
                <key>sourceSize</key>
                <string>{256,246}</string>
            </dict>
            <key>509007.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,596},{198,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{198,195}}</string>
                <key>sourceSize</key>
                <string>{244,233}</string>
            </dict>
            <key>509008.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,796},{192,181}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{192,181}}</string>
                <key>sourceSize</key>
                <string>{232,219}</string>
            </dict>
            <key>509009.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,331},{180,173}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{180,173}}</string>
                <key>sourceSize</key>
                <string>{216,205}</string>
            </dict>
            <key>509010.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,843},{174,168}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{174,168}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>509011.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,506},{160,158}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{160,158}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>509012.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,666},{150,152}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{150,152}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>509013.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,881},{144,141}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{144,141}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>509014.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{128,129}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{128,129}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>509015.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,231},{44,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,74}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>510000.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,228},{38,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>510001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,239},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>510002.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,233},{50,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>510003.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,233},{54,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>510004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,233},{54,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>510005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,239},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>511000.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1017},{4,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,35}}</string>
                <key>sourceSize</key>
                <string>{4,35}</string>
            </dict>
            <key>512000.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,520},{136,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,74}}</string>
                <key>sourceSize</key>
                <string>{136,74}</string>
            </dict>
            <key>512001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{116,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,60}}</string>
                <key>sourceSize</key>
                <string>{116,60}</string>
            </dict>
            <key>512002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{96,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,227}}</string>
                <key>sourceSize</key>
                <string>{96,227}</string>
            </dict>
            <key>512003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,597},{108,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,244}}</string>
                <key>sourceSize</key>
                <string>{108,244}</string>
            </dict>
            <key>512004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{136,285}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{136,285}}</string>
                <key>sourceSize</key>
                <string>{144,287}</string>
            </dict>
            <key>512005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,597},{142,282}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,282}}</string>
                <key>sourceSize</key>
                <string>{152,284}</string>
            </dict>
            <key>512006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,289},{154,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{154,248}}</string>
                <key>sourceSize</key>
                <string>{160,254}</string>
            </dict>
            <key>512007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{154,302}}</string>
                <key>sourceSize</key>
                <string>{160,306}</string>
            </dict>
            <key>512008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,306},{140,289}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,289}}</string>
                <key>sourceSize</key>
                <string>{148,291}</string>
            </dict>
            <key>512009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{134,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{134,297}}</string>
                <key>sourceSize</key>
                <string>{140,297}</string>
            </dict>
            <key>512010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{106,298}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,298}}</string>
                <key>sourceSize</key>
                <string>{108,298}</string>
            </dict>
            <key>512011.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{100,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,235}}</string>
                <key>sourceSize</key>
                <string>{100,235}</string>
            </dict>
            <key>512012.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,512},{66,197}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,197}}</string>
                <key>sourceSize</key>
                <string>{68,197}</string>
            </dict>
            <key>512013.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,331},{60,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,186}}</string>
                <key>sourceSize</key>
                <string>{60,186}</string>
            </dict>
            <key>512014.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,539},{56,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,166}}</string>
                <key>sourceSize</key>
                <string>{56,166}</string>
            </dict>
            <key>513000.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,905},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d498ea56d535d6c690d91c2dea9238:1/1$</string>
            <key>textureFileName</key>
            <string>effect8.png</string>
        </dict>
    </dict>
</plist>
