<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>508000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,202},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
            <key>509000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{186,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{186,95}}</string>
                <key>sourceSize</key>
                <string>{208,103}</string>
            </dict>
            <key>509001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{184,229}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{184,229}}</string>
                <key>sourceSize</key>
                <string>{204,233}</string>
            </dict>
            <key>509002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{206,225}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{206,225}}</string>
                <key>sourceSize</key>
                <string>{220,231}</string>
            </dict>
            <key>509003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{136,229}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{136,229}}</string>
                <key>sourceSize</key>
                <string>{168,251}</string>
            </dict>
            <key>509004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,236}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{144,236}}</string>
                <key>sourceSize</key>
                <string>{156,250}</string>
            </dict>
            <key>509005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{102,197}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{102,197}}</string>
                <key>sourceSize</key>
                <string>{116,205}</string>
            </dict>
            <key>509006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,233},{224,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{224,208}}</string>
                <key>sourceSize</key>
                <string>{256,246}</string>
            </dict>
            <key>509007.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{198,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{198,195}}</string>
                <key>sourceSize</key>
                <string>{244,233}</string>
            </dict>
            <key>509008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,698},{192,181}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{192,181}}</string>
                <key>sourceSize</key>
                <string>{232,219}</string>
            </dict>
            <key>509009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,459},{180,173}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{180,173}}</string>
                <key>sourceSize</key>
                <string>{216,205}</string>
            </dict>
            <key>509010.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,697},{174,168}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{174,168}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>509011.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,459},{160,158}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{160,158}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
            <key>509012.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,697},{150,152}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{150,152}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>509013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,873},{144,141}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{144,141}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>509014.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,892},{128,129}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{128,129}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>509015.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,621},{44,74}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,74}}</string>
                <key>sourceSize</key>
                <string>{48,82}</string>
            </dict>
            <key>510000.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,851},{38,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>510001.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,621},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>510002.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,641},{50,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>510003.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,641},{54,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>510004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,641},{54,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>510005.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,621},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>511000.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,233},{4,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,35}}</string>
                <key>sourceSize</key>
                <string>{4,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf69d4babeb6d33402f649ec987fecb8:1/1$</string>
            <key>textureFileName</key>
            <string>effect8.png</string>
        </dict>
    </dict>
</plist>
