<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>504000.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1195},{148,135}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{148,135}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>504001.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1905},{150,139}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{150,139}}</string>
                <key>sourceSize</key>
                <string>{160,145}</string>
            </dict>
            <key>504002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1905},{148,139}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{148,139}}</string>
                <key>sourceSize</key>
                <string>{156,145}</string>
            </dict>
            <key>504003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1345},{146,154}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,154}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>504004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1894},{142,200}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{142,200}}</string>
                <key>sourceSize</key>
                <string>{156,204}</string>
            </dict>
            <key>504005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,976},{136,217}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,217}}</string>
                <key>sourceSize</key>
                <string>{156,227}</string>
            </dict>
            <key>504006.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,484},{184,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,96}}</string>
                <key>sourceSize</key>
                <string>{184,96}</string>
            </dict>
            <key>504007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1597},{246,284}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,284}}</string>
                <key>sourceSize</key>
                <string>{248,284}</string>
            </dict>
            <key>504008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{220,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,396}}</string>
                <key>sourceSize</key>
                <string>{220,396}</string>
            </dict>
            <key>504009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{218,403}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,403}}</string>
                <key>sourceSize</key>
                <string>{220,403}</string>
            </dict>
            <key>504010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,777},{242,407}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,407}}</string>
                <key>sourceSize</key>
                <string>{244,407}</string>
            </dict>
            <key>504011.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,484},{246,410}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,410}}</string>
                <key>sourceSize</key>
                <string>{248,410}</string>
            </dict>
            <key>504012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,481},{294,436}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,436}}</string>
                <key>sourceSize</key>
                <string>{296,436}</string>
            </dict>
            <key>504013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,462},{386,472}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{386,472}}</string>
                <key>sourceSize</key>
                <string>{392,472}</string>
            </dict>
            <key>504014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,482}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,482}}</string>
                <key>sourceSize</key>
                <string>{512,482}</string>
            </dict>
            <key>504015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{510,477}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,477}}</string>
                <key>sourceSize</key>
                <string>{512,477}</string>
            </dict>
            <key>504016.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{510,480}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,480}}</string>
                <key>sourceSize</key>
                <string>{512,480}</string>
            </dict>
            <key>504017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{494,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{494,458}}</string>
                <key>sourceSize</key>
                <string>{504,458}</string>
            </dict>
            <key>504018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1275},{336,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,329}}</string>
                <key>sourceSize</key>
                <string>{336,329}</string>
            </dict>
            <key>504019.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,982},{352,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,339}}</string>
                <key>sourceSize</key>
                <string>{352,339}</string>
            </dict>
            <key>504020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{358,345}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,345}}</string>
                <key>sourceSize</key>
                <string>{360,345}</string>
            </dict>
            <key>505000.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,670},{94,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,147}}</string>
                <key>sourceSize</key>
                <string>{100,147}</string>
            </dict>
            <key>505001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,850},{106,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,161}}</string>
                <key>sourceSize</key>
                <string>{108,161}</string>
            </dict>
            <key>505002.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1008},{122,164}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,164}}</string>
                <key>sourceSize</key>
                <string>{128,166}</string>
            </dict>
            <key>505003.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1132},{120,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,164}}</string>
                <key>sourceSize</key>
                <string>{120,164}</string>
            </dict>
            <key>505004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,850},{120,172}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,172}}</string>
                <key>sourceSize</key>
                <string>{120,176}</string>
            </dict>
            <key>505005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1883},{122,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,172}}</string>
                <key>sourceSize</key>
                <string>{124,174}</string>
            </dict>
            <key>505006.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1913},{132,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,183}}</string>
                <key>sourceSize</key>
                <string>{132,183}</string>
            </dict>
            <key>505007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1918},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>505008.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,819},{138,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>505009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1894},{148,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,194}}</string>
                <key>sourceSize</key>
                <string>{148,194}</string>
            </dict>
            <key>505010.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1944},{120,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{124,60}</string>
            </dict>
            <key>505011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,813},{112,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,99}}</string>
                <key>sourceSize</key>
                <string>{112,99}</string>
            </dict>
            <key>505012.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1918},{122,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,196}}</string>
                <key>sourceSize</key>
                <string>{124,196}</string>
            </dict>
            <key>505013.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,732},{248,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,379}}</string>
                <key>sourceSize</key>
                <string>{248,379}</string>
            </dict>
            <key>505014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{336,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,320}}</string>
                <key>sourceSize</key>
                <string>{336,320}</string>
            </dict>
            <key>505015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1021},{282,296}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{282,296}}</string>
                <key>sourceSize</key>
                <string>{288,310}</string>
            </dict>
            <key>505016.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1605},{280,306}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{280,306}}</string>
                <key>sourceSize</key>
                <string>{288,314}</string>
            </dict>
            <key>505017.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1323},{280,309}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,309}}</string>
                <key>sourceSize</key>
                <string>{284,315}</string>
            </dict>
            <key>505018.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1323},{280,300}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{280,300}}</string>
                <key>sourceSize</key>
                <string>{284,318}</string>
            </dict>
            <key>505019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1021},{278,299}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{278,299}}</string>
                <key>sourceSize</key>
                <string>{284,321}</string>
            </dict>
            <key>505020.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1605},{276,298}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{276,298}}</string>
                <key>sourceSize</key>
                <string>{280,318}</string>
            </dict>
            <key>505021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1322},{276,297}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{276,297}}</string>
                <key>sourceSize</key>
                <string>{280,315}</string>
            </dict>
            <key>505022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1600},{276,292}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{276,292}}</string>
                <key>sourceSize</key>
                <string>{280,310}</string>
            </dict>
            <key>505023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1319},{276,289}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{276,289}}</string>
                <key>sourceSize</key>
                <string>{280,305}</string>
            </dict>
            <key>505024.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1606},{310,278}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{310,278}}</string>
                <key>sourceSize</key>
                <string>{312,294}</string>
            </dict>
            <key>506000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,462},{30,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>506001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,478},{40,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,22}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>506002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1944},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>506003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,749},{62,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>506004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>506005.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,890},{66,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>506006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,666},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>506007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,579},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>506008.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,486},{66,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>506009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,481},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>506010.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,778},{90,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>506011.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,666},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>506012.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,554},{92,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{92,110}</string>
            </dict>
            <key>507000.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2006},{46,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>507001.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2006},{46,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>507002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,928},{46,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>507003.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,732},{46,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:308533e9d42cc711e31e8597bb70450d:1/1$</string>
            <key>textureFileName</key>
            <string>effect3.png</string>
        </dict>
    </dict>
</plist>
