<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1101},{164,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,99}}</string>
                <key>sourceSize</key>
                <string>{164,99}</string>
            </dict>
            <key>500001.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1131},{110,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,159}}</string>
                <key>sourceSize</key>
                <string>{112,159}</string>
            </dict>
            <key>500002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{256,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,117}}</string>
                <key>sourceSize</key>
                <string>{256,117}</string>
            </dict>
            <key>500003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,2},{172,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,220}}</string>
                <key>sourceSize</key>
                <string>{172,220}</string>
            </dict>
            <key>500004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,942},{170,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,141}}</string>
                <key>sourceSize</key>
                <string>{172,141}</string>
            </dict>
            <key>500005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,507},{50,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>500006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{160,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,238}}</string>
                <key>sourceSize</key>
                <string>{160,238}</string>
            </dict>
            <key>500007.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{260,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,94}}</string>
                <key>sourceSize</key>
                <string>{260,94}</string>
            </dict>
            <key>500008.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1054},{142,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,115}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>500009.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1229},{158,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>500010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,153},{254,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,103}}</string>
                <key>sourceSize</key>
                <string>{256,103}</string>
            </dict>
            <key>500011.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,437},{240,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,115}}</string>
                <key>sourceSize</key>
                <string>{244,115}</string>
            </dict>
            <key>500012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{162,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,130}}</string>
                <key>sourceSize</key>
                <string>{164,130}</string>
            </dict>
            <key>500013.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,286},{246,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,149}}</string>
                <key>sourceSize</key>
                <string>{248,149}</string>
            </dict>
            <key>500014.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,989},{164,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{164,116}}</string>
                <key>sourceSize</key>
                <string>{168,116}</string>
            </dict>
            <key>500015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{180,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,89}}</string>
                <key>sourceSize</key>
                <string>{180,89}</string>
            </dict>
            <key>500016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,258},{244,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,147}}</string>
                <key>sourceSize</key>
                <string>{244,147}</string>
            </dict>
            <key>500017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,486},{230,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,157}}</string>
                <key>sourceSize</key>
                <string>{232,157}</string>
            </dict>
            <key>500018.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1107},{140,163}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,163}}</string>
                <key>sourceSize</key>
                <string>{144,163}</string>
            </dict>
            <key>500019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,121},{122,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,254}}</string>
                <key>sourceSize</key>
                <string>{124,254}</string>
            </dict>
            <key>500020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1457},{134,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>500021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1000},{142,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,171}}</string>
                <key>sourceSize</key>
                <string>{144,171}</string>
            </dict>
            <key>500022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,750},{206,203}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,203}}</string>
                <key>sourceSize</key>
                <string>{208,203}</string>
            </dict>
            <key>500023.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,531},{186,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,205}}</string>
                <key>sourceSize</key>
                <string>{188,205}</string>
            </dict>
            <key>500024.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,844},{144,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,175}}</string>
                <key>sourceSize</key>
                <string>{144,175}</string>
            </dict>
            <key>500025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,176},{222,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,176}}</string>
                <key>sourceSize</key>
                <string>{224,176}</string>
            </dict>
            <key>500026.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1375},{138,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,139}}</string>
                <key>sourceSize</key>
                <string>{140,139}</string>
            </dict>
            <key>500027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,814},{104,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,175}}</string>
                <key>sourceSize</key>
                <string>{104,175}</string>
            </dict>
            <key>500028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,2},{100,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,255}}</string>
                <key>sourceSize</key>
                <string>{100,255}</string>
            </dict>
            <key>500029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,245},{120,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,252}}</string>
                <key>sourceSize</key>
                <string>{120,252}</string>
            </dict>
            <key>500030.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,986},{130,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,165}}</string>
                <key>sourceSize</key>
                <string>{132,165}</string>
            </dict>
            <key>500031.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{262,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,97}}</string>
                <key>sourceSize</key>
                <string>{264,97}</string>
            </dict>
            <key>500032.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1249},{154,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,124}}</string>
                <key>sourceSize</key>
                <string>{156,124}</string>
            </dict>
            <key>500033.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,869},{118,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,181}}</string>
                <key>sourceSize</key>
                <string>{120,181}</string>
            </dict>
            <key>500034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,367},{178,237}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,237}}</string>
                <key>sourceSize</key>
                <string>{180,237}</string>
            </dict>
            <key>500035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,568},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>500036.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,990},{174,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,147}}</string>
                <key>sourceSize</key>
                <string>{176,147}</string>
            </dict>
            <key>500037.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,186},{248,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,138}}</string>
                <key>sourceSize</key>
                <string>{248,138}</string>
            </dict>
            <key>500038.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1139},{148,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,131}}</string>
                <key>sourceSize</key>
                <string>{148,131}</string>
            </dict>
            <key>500039.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,852},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>500040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{256,149}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,149}}</string>
                <key>sourceSize</key>
                <string>{260,149}</string>
            </dict>
            <key>500041.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,393},{240,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,136}}</string>
                <key>sourceSize</key>
                <string>{240,136}</string>
            </dict>
            <key>500042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,985},{166,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,130}}</string>
                <key>sourceSize</key>
                <string>{168,130}</string>
            </dict>
            <key>500043.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,98},{100,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,258}}</string>
                <key>sourceSize</key>
                <string>{100,258}</string>
            </dict>
            <key>500044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,957},{100,142}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,144}</string>
            </dict>
            <key>500045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,867},{174,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,116}}</string>
                <key>sourceSize</key>
                <string>{176,116}</string>
            </dict>
            <key>500046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{256,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,149}}</string>
                <key>sourceSize</key>
                <string>{256,149}</string>
            </dict>
            <key>500047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,754},{206,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,186}}</string>
                <key>sourceSize</key>
                <string>{208,186}</string>
            </dict>
            <key>501000.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,803},{72,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>501001.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,660},{138,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,128}}</string>
                <key>sourceSize</key>
                <string>{140,128}</string>
            </dict>
            <key>501002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,407},{230,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,98}}</string>
                <key>sourceSize</key>
                <string>{232,98}</string>
            </dict>
            <key>501003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,554},{198,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,123}}</string>
                <key>sourceSize</key>
                <string>{200,123}</string>
            </dict>
            <key>501004.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,200},{246,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,191}}</string>
                <key>sourceSize</key>
                <string>{248,191}</string>
            </dict>
            <key>501005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1085},{76,119}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>501006.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,719},{74,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>501007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,920},{172,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,78}}</string>
                <key>sourceSize</key>
                <string>{176,78}</string>
            </dict>
            <key>501008.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1118},{160,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,109}}</string>
                <key>sourceSize</key>
                <string>{164,109}</string>
            </dict>
            <key>501009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,645},{210,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,103}}</string>
                <key>sourceSize</key>
                <string>{212,103}</string>
            </dict>
            <key>501010.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{182,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,258}}</string>
                <key>sourceSize</key>
                <string>{184,258}</string>
            </dict>
            <key>501011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1011},{80,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>501012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,675},{62,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>501013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{152,121}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,121}}</string>
                <key>sourceSize</key>
                <string>{156,121}</string>
            </dict>
            <key>501014.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1243},{118,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,146}}</string>
                <key>sourceSize</key>
                <string>{120,146}</string>
            </dict>
            <key>501015.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,534},{204,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,124}}</string>
                <key>sourceSize</key>
                <string>{208,124}</string>
            </dict>
            <key>501016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,185}}</string>
                <key>sourceSize</key>
                <string>{264,185}</string>
            </dict>
            <key>501017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,547},{126,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,62}}</string>
                <key>sourceSize</key>
                <string>{128,62}</string>
            </dict>
            <key>501018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,745},{58,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>501019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,814},{96,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,141}}</string>
                <key>sourceSize</key>
                <string>{100,141}</string>
            </dict>
            <key>501020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{178,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,133}}</string>
                <key>sourceSize</key>
                <string>{180,133}</string>
            </dict>
            <key>501021.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,660},{184,182}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,182}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>501022.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,326},{206,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,240}}</string>
                <key>sourceSize</key>
                <string>{208,240}</string>
            </dict>
            <key>501023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1033},{124,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>501024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,905},{80,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>501025.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1351},{140,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,135}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>501026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,354},{232,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,130}}</string>
                <key>sourceSize</key>
                <string>{236,130}</string>
            </dict>
            <key>501027.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,679},{194,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,188}}</string>
                <key>sourceSize</key>
                <string>{196,188}</string>
            </dict>
            <key>501028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,342},{250,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,224}}</string>
                <key>sourceSize</key>
                <string>{252,224}</string>
            </dict>
            <key>501029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,955},{76,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,137}}</string>
                <key>sourceSize</key>
                <string>{80,137}</string>
            </dict>
            <key>501030.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,531},{72,127}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,127}}</string>
                <key>sourceSize</key>
                <string>{76,127}</string>
            </dict>
            <key>501031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,691},{176,121}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,121}}</string>
                <key>sourceSize</key>
                <string>{180,121}</string>
            </dict>
            <key>501032.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,892},{160,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,138}}</string>
                <key>sourceSize</key>
                <string>{164,138}</string>
            </dict>
            <key>501033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,547},{202,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,211}}</string>
                <key>sourceSize</key>
                <string>{204,211}</string>
            </dict>
            <key>501034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{184,245}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,245}}</string>
                <key>sourceSize</key>
                <string>{188,245}</string>
            </dict>
            <key>501035.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,986},{78,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,143}}</string>
                <key>sourceSize</key>
                <string>{80,143}</string>
            </dict>
            <key>501036.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,915},{70,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,142}}</string>
                <key>sourceSize</key>
                <string>{72,142}</string>
            </dict>
            <key>501037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,955},{136,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,108}}</string>
                <key>sourceSize</key>
                <string>{140,108}</string>
            </dict>
            <key>501038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,751},{114,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,175}}</string>
                <key>sourceSize</key>
                <string>{116,175}</string>
            </dict>
            <key>501039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,507},{182,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,212}}</string>
                <key>sourceSize</key>
                <string>{184,212}</string>
            </dict>
            <key>501040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,104},{236,254}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,254}}</string>
                <key>sourceSize</key>
                <string>{240,254}</string>
            </dict>
            <key>501041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,793},{110,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>501042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,750},{64,127}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,127}}</string>
                <key>sourceSize</key>
                <string>{68,127}</string>
            </dict>
            <key>501043.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,800},{90,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>501044.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,719},{182,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,131}}</string>
                <key>sourceSize</key>
                <string>{184,131}</string>
            </dict>
            <key>501045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{186,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,185}}</string>
                <key>sourceSize</key>
                <string>{188,185}</string>
            </dict>
            <key>501046.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,101},{256,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,183}}</string>
                <key>sourceSize</key>
                <string>{260,183}</string>
            </dict>
            <key>501047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,691},{100,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e567ce2eef2c07431cbccbf56d1330:1/1$</string>
            <key>textureFileName</key>
            <string>effect1.png</string>
        </dict>
    </dict>
</plist>
