<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>504000.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1853},{191,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,216}}</string>
                <key>sourceSize</key>
                <string>{191,216}</string>
            </dict>
            <key>504001.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,821},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>504002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1388},{193,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,170}}</string>
                <key>sourceSize</key>
                <string>{193,170}</string>
            </dict>
            <key>504003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,425},{189,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,120}}</string>
                <key>sourceSize</key>
                <string>{189,120}</string>
            </dict>
            <key>504004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{190,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,129}}</string>
                <key>sourceSize</key>
                <string>{190,129}</string>
            </dict>
            <key>504005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1023},{191,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,213}}</string>
                <key>sourceSize</key>
                <string>{191,213}</string>
            </dict>
            <key>504006.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,601},{194,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,218}}</string>
                <key>sourceSize</key>
                <string>{194,218}</string>
            </dict>
            <key>504007.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{193,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,221}}</string>
                <key>sourceSize</key>
                <string>{193,221}</string>
            </dict>
            <key>504008.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1630},{192,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,221}}</string>
                <key>sourceSize</key>
                <string>{192,221}</string>
            </dict>
            <key>504009.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,343},{192,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,256}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>504010.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,702},{193,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,321}}</string>
                <key>sourceSize</key>
                <string>{193,321}</string>
            </dict>
            <key>504011.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1325},{192,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,210}}</string>
                <key>sourceSize</key>
                <string>{192,210}</string>
            </dict>
            <key>504012.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1561},{72,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,331}}</string>
                <key>sourceSize</key>
                <string>{72,331}</string>
            </dict>
            <key>504013.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1539},{89,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,246}}</string>
                <key>sourceSize</key>
                <string>{89,246}</string>
            </dict>
            <key>504014.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1388},{149,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,173}}</string>
                <key>sourceSize</key>
                <string>{149,173}</string>
            </dict>
            <key>504015.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1055},{248,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,331}}</string>
                <key>sourceSize</key>
                <string>{248,331}</string>
            </dict>
            <key>504016.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,702},{259,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,246}}</string>
                <key>sourceSize</key>
                <string>{259,246}</string>
            </dict>
            <key>504017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1637},{258,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,388}}</string>
                <key>sourceSize</key>
                <string>{258,388}</string>
            </dict>
            <key>504018.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1025},{277,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,298}}</string>
                <key>sourceSize</key>
                <string>{277,298}</string>
            </dict>
            <key>504019.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1104},{317,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,455}}</string>
                <key>sourceSize</key>
                <string>{317,455}</string>
            </dict>
            <key>504020.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1636},{350,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,364}}</string>
                <key>sourceSize</key>
                <string>{350,364}</string>
            </dict>
            <key>504021.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,705},{348,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,307}}</string>
                <key>sourceSize</key>
                <string>{348,307}</string>
            </dict>
            <key>504022.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{339,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,332}}</string>
                <key>sourceSize</key>
                <string>{339,332}</string>
            </dict>
            <key>504023.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,354},{346,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,331}}</string>
                <key>sourceSize</key>
                <string>{346,331}</string>
            </dict>
            <key>504024.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{350,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,336}}</string>
                <key>sourceSize</key>
                <string>{350,336}</string>
            </dict>
            <key>504025.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,354},{349,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,304}}</string>
                <key>sourceSize</key>
                <string>{349,304}</string>
            </dict>
            <key>504026.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1635},{352,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,316}}</string>
                <key>sourceSize</key>
                <string>{352,316}</string>
            </dict>
            <key>505000.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1561},{73,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,227}}</string>
                <key>sourceSize</key>
                <string>{73,227}</string>
            </dict>
            <key>505001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{155,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,531}}</string>
                <key>sourceSize</key>
                <string>{155,531}</string>
            </dict>
            <key>505002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,553}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,553}}</string>
                <key>sourceSize</key>
                <string>{233,553}</string>
            </dict>
            <key>505003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{231,545}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,545}}</string>
                <key>sourceSize</key>
                <string>{231,545}</string>
            </dict>
            <key>505004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,225},{198,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,139}}</string>
                <key>sourceSize</key>
                <string>{198,139}</string>
            </dict>
            <key>507000.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1989},{48,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,131}}</string>
                <key>sourceSize</key>
                <string>{48,133}</string>
            </dict>
            <key>507001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2002},{44,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,119}}</string>
                <key>sourceSize</key>
                <string>{48,119}</string>
            </dict>
            <key>507002.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,963},{58,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,108}}</string>
                <key>sourceSize</key>
                <string>{64,112}</string>
            </dict>
            <key>507003.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,963},{58,116}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{58,116}}</string>
                <key>sourceSize</key>
                <string>{72,120}</string>
            </dict>
            <key>507004.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1325},{60,146}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{60,146}}</string>
                <key>sourceSize</key>
                <string>{64,152}</string>
            </dict>
            <key>507005.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1989},{50,175}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,175}}</string>
                <key>sourceSize</key>
                <string>{56,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15dd1006c8131566194a2c9505dbcfce:1/1$</string>
            <key>textureFileName</key>
            <string>effect4.png</string>
        </dict>
    </dict>
</plist>
