<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>512000.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1060},{136,74}}</string>
                <key>offset</key>
                <string>{-1,-132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,270},{136,74}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{174,224}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,120},{174,224}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512002.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,846},{214,206}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,138},{214,206}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{256,248}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,101},{256,248}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,806},{282,296}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,54},{282,296}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,330}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{290,330}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512006.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{290,326}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{290,326}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,266},{276,324}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{276,324}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512008.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,544},{260,320}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{260,320}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{258,322}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{258,322}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{262,328}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{262,328}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512011.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,294},{276,320}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{276,320}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512012.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,572},{272,316}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{272,316}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
            <key>512013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{254,320}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{254,320}}</string>
                <key>sourceSize</key>
                <string>{292,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect12.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e4d4810bb1e3310539dea2b63b5d1bd:1/1$</string>
            <key>textureFileName</key>
            <string>effect12.png</string>
        </dict>
    </dict>
</plist>
