<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000100.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,148},{86,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>000101.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,122},{86,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>000102.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,354},{74,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>000103.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,599},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>000104.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,284},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>000105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{58,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{60,96}</string>
            </dict>
            <key>000106.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{62,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{64,88}</string>
            </dict>
            <key>000107.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,223},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>000108.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,659},{70,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>000109.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,760},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>000110.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,256},{58,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>000111.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>000112.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{54,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>sourceSize</key>
                <string>{56,91}</string>
            </dict>
            <key>000113.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,283},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>000114.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,735},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>000115.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,801},{54,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{56,65}</string>
            </dict>
            <key>000116.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,634},{66,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>000117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>000118.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,222},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>000119.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,157},{64,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,85}}</string>
                <key>sourceSize</key>
                <string>{64,85}</string>
            </dict>
            <key>000120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>000121.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,483},{46,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{48,68}</string>
            </dict>
            <key>000122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{70,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>000123.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,82},{86,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>000124.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{90,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>000125.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,58},{62,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>000126.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,789},{58,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>000127.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,543},{54,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>000128.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,702},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>000129.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,704},{54,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>000130.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,282},{58,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>000131.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,202},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>000132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>000133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>000134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>000135.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,677},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>000136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{58,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>000137.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,342},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>000138.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,307},{78,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>000139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{70,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>000140.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,618},{58,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>000141.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,570},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>000142.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,502},{66,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>000143.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,458},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>000144.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,476},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>000145.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,546},{70,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>000146.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,599},{58,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>000147.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,746},{62,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>000148.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,678},{66,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>000149.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,607},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>000150.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,669},{66,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>000151.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,475},{66,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>000152.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>000153.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,516},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>000154.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,423},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>000155.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,202},{62,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>000156.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,438},{62,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>000157.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,408},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>000158.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,316},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>000159.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,382},{54,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>000160.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,353},{54,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>000161.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,66},{54,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,87}}</string>
                <key>sourceSize</key>
                <string>{56,87}</string>
            </dict>
            <key>000162.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,196},{58,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,85}}</string>
                <key>sourceSize</key>
                <string>{60,85}</string>
            </dict>
            <key>000163.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,386},{70,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>000164.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>000165.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,483},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>000166.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,578},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>000167.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{62,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>000168.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,88},{58,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{60,89}</string>
            </dict>
            <key>000169.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,409},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>000170.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,725},{62,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>000171.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,739},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>000172.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,543},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>000173.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>000174.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,122},{78,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>000175.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,640},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum0_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24409f74afece4a8bb994fb796d39fd9:1/1$</string>
            <key>textureFileName</key>
            <string>hum0_1.png</string>
        </dict>
    </dict>
</plist>
