<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>018000.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,421},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>018001.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,420},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>018002.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,341},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>018003.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,332},{86,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,102}}</string>
                <key>sourceSize</key>
                <string>{88,102}</string>
            </dict>
            <key>018004.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,511},{82,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>018005.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,437},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>018006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>018007.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,863},{86,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>018008.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,175},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>018009.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,352},{104,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>018010.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,164},{108,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>018011.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{110,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,82}}</string>
                <key>sourceSize</key>
                <string>{112,82}</string>
            </dict>
            <key>018012.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,767},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>018013.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,612},{94,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>018014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,361},{98,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>018015.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,438},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>018016.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,437},{78,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>018017.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,602},{78,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>018018.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,947},{74,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>018019.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,683},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>018020.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,861},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>018021.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,523},{68,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,91}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>018022.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,957},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,90}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>018023.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,954},{68,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,91}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>018024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>018025.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,618},{82,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>018026.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,761},{86,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>018027.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,862},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>018028.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,694},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>018029.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,587},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>018030.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,505},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>018031.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{90,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>018032.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,335},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>018033.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,264},{86,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{88,105}</string>
            </dict>
            <key>018034.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,448},{86,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>018035.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,253},{86,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,103}}</string>
                <key>sourceSize</key>
                <string>{88,103}</string>
            </dict>
            <key>018036.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,94},{86,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>018037.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,246},{84,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,106}}</string>
                <key>sourceSize</key>
                <string>{84,106}</string>
            </dict>
            <key>018038.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,510},{90,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>018039.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,423},{86,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>018040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,96}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>018041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{86,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>018042.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,520},{90,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>018043.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,339},{82,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,99}}</string>
                <key>sourceSize</key>
                <string>{84,99}</string>
            </dict>
            <key>018044.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,83},{112,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,79}}</string>
                <key>sourceSize</key>
                <string>{112,79}</string>
            </dict>
            <key>018045.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,84},{110,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>018046.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,260},{104,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,77}}</string>
                <key>sourceSize</key>
                <string>{104,77}</string>
            </dict>
            <key>018047.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,182},{106,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>018048.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>018049.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{114,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{116,79}</string>
            </dict>
            <key>018050.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,511},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>018051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{100,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>018052.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,249},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>018053.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,427},{98,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>018054.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,450},{96,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>018055.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,254},{106,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,79}}</string>
                <key>sourceSize</key>
                <string>{108,79}</string>
            </dict>
            <key>018056.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,685},{74,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>018057.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,685},{74,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>018058.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,784},{72,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>018059.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,175},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>018060.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,522},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>018061.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,784},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>018062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,90}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>018063.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,955},{66,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>018064.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,679},{70,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>018065.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,622},{66,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,89}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>018066.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,956},{66,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,91}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>018067.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,702},{58,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{60,89}</string>
            </dict>
            <key>018068.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,593},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>018069.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,762},{86,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>018070.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,595},{82,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>018071.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,854},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>018072.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,677},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>018073.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,861},{90,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>018074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>018075.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,595},{88,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,93}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>018076.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,536},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>018077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{86,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>018078.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,528},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>018079.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,607},{86,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>018080.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,256},{100,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>018081.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,82},{88,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,113}}</string>
                <key>sourceSize</key>
                <string>{88,113}</string>
            </dict>
            <key>018082.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{78,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,134}}</string>
                <key>sourceSize</key>
                <string>{80,134}</string>
            </dict>
            <key>018083.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,82},{84,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,129}}</string>
                <key>sourceSize</key>
                <string>{84,129}</string>
            </dict>
            <key>018084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{76,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,122}}</string>
                <key>sourceSize</key>
                <string>{76,122}</string>
            </dict>
            <key>018085.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,358},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>018086.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,166},{106,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{108,88}</string>
            </dict>
            <key>018087.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,351},{98,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>018088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{102,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,123}}</string>
                <key>sourceSize</key>
                <string>{104,123}</string>
            </dict>
            <key>018089.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,168},{122,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>018090.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,79},{130,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,94}}</string>
                <key>sourceSize</key>
                <string>{132,94}</string>
            </dict>
            <key>018091.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,163},{106,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,89}}</string>
                <key>sourceSize</key>
                <string>{108,89}</string>
            </dict>
            <key>018092.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,172},{108,79}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,79}}</string>
                <key>sourceSize</key>
                <string>{112,79}</string>
            </dict>
            <key>018093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{122,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,78}}</string>
                <key>sourceSize</key>
                <string>{124,78}</string>
            </dict>
            <key>018094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,85}}</string>
                <key>sourceSize</key>
                <string>{156,85}</string>
            </dict>
            <key>018095.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{144,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,78}}</string>
                <key>sourceSize</key>
                <string>{144,78}</string>
            </dict>
            <key>018096.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{142,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,75}}</string>
                <key>sourceSize</key>
                <string>{144,75}</string>
            </dict>
            <key>018097.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,86},{108,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{108,75}</string>
            </dict>
            <key>018098.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,679},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>018099.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,276},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum18.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28c148fcf5c3ae30d8454c15db83ec2c:1/1$</string>
            <key>textureFileName</key>
            <string>hum18.png</string>
        </dict>
    </dict>
</plist>
