<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>017100.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,226},{116,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,79}}</string>
                <key>sourceSize</key>
                <string>{116,79}</string>
            </dict>
            <key>017101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{82,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>017102.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{70,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>017103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{74,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>017104.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,74},{102,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,72}}</string>
                <key>sourceSize</key>
                <string>{104,72}</string>
            </dict>
            <key>017105.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,309},{86,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>017106.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,312},{88,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,117}}</string>
                <key>sourceSize</key>
                <string>{88,117}</string>
            </dict>
            <key>017107.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,307},{84,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,102}}</string>
                <key>sourceSize</key>
                <string>{84,102}</string>
            </dict>
            <key>017108.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,307},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>017109.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,140},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>017110.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,145},{76,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,101}}</string>
                <key>sourceSize</key>
                <string>{76,101}</string>
            </dict>
            <key>017111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,112}}</string>
                <key>sourceSize</key>
                <string>{64,112}</string>
            </dict>
            <key>017112.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,148},{76,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,125}}</string>
                <key>sourceSize</key>
                <string>{76,125}</string>
            </dict>
            <key>017113.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,397},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>017114.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,223},{90,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>017115.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,72},{84,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,71}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>017116.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{68,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,104}}</string>
                <key>sourceSize</key>
                <string>{68,104}</string>
            </dict>
            <key>017117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{120,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,94}}</string>
                <key>sourceSize</key>
                <string>{120,94}</string>
            </dict>
            <key>017118.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,402},{126,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>017119.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,393},{106,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{108,95}</string>
            </dict>
            <key>017120.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,228},{92,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
            <key>017121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>017122.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,228},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>017123.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{138,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,64}}</string>
                <key>sourceSize</key>
                <string>{140,64}</string>
            </dict>
            <key>017124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{150,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>017125.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,150},{112,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,76}}</string>
                <key>sourceSize</key>
                <string>{112,76}</string>
            </dict>
            <key>017126.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,74},{78,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>017127.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,68},{70,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum17_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6603f5945c690e4cc02bc28604dd4196:1/1$</string>
            <key>textureFileName</key>
            <string>hum17_1.png</string>
        </dict>
    </dict>
</plist>
