<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>016100.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,467},{88,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>016101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,107}}</string>
                <key>sourceSize</key>
                <string>{152,107}</string>
            </dict>
            <key>016102.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,292},{110,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,89}}</string>
                <key>sourceSize</key>
                <string>{112,89}</string>
            </dict>
            <key>016103.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,457},{94,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>016104.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,467},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>016105.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,542},{90,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>016106.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,383},{98,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>016107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{108,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,118}}</string>
                <key>sourceSize</key>
                <string>{112,118}</string>
            </dict>
            <key>016108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{90,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>016109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>016110.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,385},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>016111.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,370},{104,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{108,88}</string>
            </dict>
            <key>016112.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,291},{110,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{112,92}</string>
            </dict>
            <key>016113.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,100},{136,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,108}}</string>
                <key>sourceSize</key>
                <string>{140,108}</string>
            </dict>
            <key>016114.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,125},{112,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,88}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>016115.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,460},{98,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>016116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{104,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,69}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>016117.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,211},{102,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,78}}</string>
                <key>sourceSize</key>
                <string>{104,78}</string>
            </dict>
            <key>016118.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,125},{102,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{104,84}</string>
            </dict>
            <key>016119.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{148,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,96}}</string>
                <key>sourceSize</key>
                <string>{148,96}</string>
            </dict>
            <key>016120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{126,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,77}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>016121.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,298},{108,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,70}}</string>
                <key>sourceSize</key>
                <string>{108,70}</string>
            </dict>
            <key>016122.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,385},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>016123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{106,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,71}}</string>
                <key>sourceSize</key>
                <string>{108,71}</string>
            </dict>
            <key>016124.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,215},{112,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,75}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>016125.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{138,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,121}}</string>
                <key>sourceSize</key>
                <string>{140,121}</string>
            </dict>
            <key>016126.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,210},{112,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>016127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{98,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum16_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8898e57bb15eaa760f6688e7bed468:1/1$</string>
            <key>textureFileName</key>
            <string>hum16_1.png</string>
        </dict>
    </dict>
</plist>
