<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>105000.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,747},{172,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,143}}</string>
                <key>sourceSize</key>
                <string>{172,143}</string>
            </dict>
            <key>105001.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,175},{169,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,145}}</string>
                <key>sourceSize</key>
                <string>{169,145}</string>
            </dict>
            <key>105002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1122},{175,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,148}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
            <key>105003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1877},{169,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,149}}</string>
                <key>sourceSize</key>
                <string>{169,149}</string>
            </dict>
            <key>105004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1701},{133,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,180}}</string>
                <key>sourceSize</key>
                <string>{133,180}</string>
            </dict>
            <key>105005.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1323},{130,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,179}}</string>
                <key>sourceSize</key>
                <string>{130,179}</string>
            </dict>
            <key>105006.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1696},{135,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,179}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>105007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1492},{131,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,175}}</string>
                <key>sourceSize</key>
                <string>{131,175}</string>
            </dict>
            <key>105008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{90,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,188}}</string>
                <key>sourceSize</key>
                <string>{90,188}</string>
            </dict>
            <key>105009.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,377},{92,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,185}}</string>
                <key>sourceSize</key>
                <string>{92,185}</string>
            </dict>
            <key>105010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,574},{96,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,186}}</string>
                <key>sourceSize</key>
                <string>{96,186}</string>
            </dict>
            <key>105011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1145},{100,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,184}}</string>
                <key>sourceSize</key>
                <string>{100,184}</string>
            </dict>
            <key>105012.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{134,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,159}}</string>
                <key>sourceSize</key>
                <string>{134,159}</string>
            </dict>
            <key>105013.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,851},{131,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,156}}</string>
                <key>sourceSize</key>
                <string>{131,156}</string>
            </dict>
            <key>105014.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1228},{135,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,156}}</string>
                <key>sourceSize</key>
                <string>{135,156}</string>
            </dict>
            <key>105015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,322},{131,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,154}}</string>
                <key>sourceSize</key>
                <string>{131,154}</string>
            </dict>
            <key>105016.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{171,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,148}}</string>
                <key>sourceSize</key>
                <string>{171,148}</string>
            </dict>
            <key>105017.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,544},{170,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,147}}</string>
                <key>sourceSize</key>
                <string>{170,147}</string>
            </dict>
            <key>105018.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1681},{175,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,147}}</string>
                <key>sourceSize</key>
                <string>{175,147}</string>
            </dict>
            <key>105019.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,357},{169,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,147}}</string>
                <key>sourceSize</key>
                <string>{169,147}</string>
            </dict>
            <key>105020.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,346},{133,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,160}}</string>
                <key>sourceSize</key>
                <string>{133,160}</string>
            </dict>
            <key>105021.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1258},{130,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,157}}</string>
                <key>sourceSize</key>
                <string>{130,157}</string>
            </dict>
            <key>105022.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,163},{135,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,157}}</string>
                <key>sourceSize</key>
                <string>{135,157}</string>
            </dict>
            <key>105023.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,492},{131,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,154}}</string>
                <key>sourceSize</key>
                <string>{131,154}</string>
            </dict>
            <key>105024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{90,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,188}}</string>
                <key>sourceSize</key>
                <string>{90,188}</string>
            </dict>
            <key>105025.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,186}}</string>
                <key>sourceSize</key>
                <string>{92,186}</string>
            </dict>
            <key>105026.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,576},{96,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,187}}</string>
                <key>sourceSize</key>
                <string>{96,187}</string>
            </dict>
            <key>105027.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{100,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,184}}</string>
                <key>sourceSize</key>
                <string>{100,184}</string>
            </dict>
            <key>105028.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1331},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>105029.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,375},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>105030.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,953},{136,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,181}}</string>
                <key>sourceSize</key>
                <string>{136,181}</string>
            </dict>
            <key>105031.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,765},{131,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,186}}</string>
                <key>sourceSize</key>
                <string>{131,186}</string>
            </dict>
            <key>105032.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,732},{171,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,144}}</string>
                <key>sourceSize</key>
                <string>{171,144}</string>
            </dict>
            <key>105033.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,921},{171,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,145}}</string>
                <key>sourceSize</key>
                <string>{171,145}</string>
            </dict>
            <key>105034.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1315},{175,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,149}}</string>
                <key>sourceSize</key>
                <string>{175,149}</string>
            </dict>
            <key>105035.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,905},{162,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,151}}</string>
                <key>sourceSize</key>
                <string>{162,151}</string>
            </dict>
            <key>105036.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1575},{140,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,149}}</string>
                <key>sourceSize</key>
                <string>{140,149}</string>
            </dict>
            <key>105037.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1883},{163,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,146}}</string>
                <key>sourceSize</key>
                <string>{163,146}</string>
            </dict>
            <key>105038.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,564},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>105039.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,762},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>105040.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1515},{135,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,179}}</string>
                <key>sourceSize</key>
                <string>{135,179}</string>
            </dict>
            <key>105041.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1669},{134,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,173}}</string>
                <key>sourceSize</key>
                <string>{134,173}</string>
            </dict>
            <key>105042.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,558},{124,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{124,172}</string>
            </dict>
            <key>105043.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1649},{129,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,164}}</string>
                <key>sourceSize</key>
                <string>{129,164}</string>
            </dict>
            <key>105044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{92,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,189}}</string>
                <key>sourceSize</key>
                <string>{92,189}</string>
            </dict>
            <key>105045.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,190},{91,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,186}}</string>
                <key>sourceSize</key>
                <string>{91,186}</string>
            </dict>
            <key>105046.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,953},{96,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,184}}</string>
                <key>sourceSize</key>
                <string>{96,184}</string>
            </dict>
            <key>105047.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,189},{107,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,184}}</string>
                <key>sourceSize</key>
                <string>{107,184}</string>
            </dict>
            <key>105048.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,188},{105,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,181}}</string>
                <key>sourceSize</key>
                <string>{105,181}</string>
            </dict>
            <key>105049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{93,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,184}}</string>
                <key>sourceSize</key>
                <string>{93,184}</string>
            </dict>
            <key>105050.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,716},{135,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,162}}</string>
                <key>sourceSize</key>
                <string>{135,162}</string>
            </dict>
            <key>105051.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,690},{132,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,159}}</string>
                <key>sourceSize</key>
                <string>{132,159}</string>
            </dict>
            <key>105052.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1417},{135,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,156}}</string>
                <key>sourceSize</key>
                <string>{135,156}</string>
            </dict>
            <key>105053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,2},{130,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,157}}</string>
                <key>sourceSize</key>
                <string>{130,157}</string>
            </dict>
            <key>105054.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,851},{123,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,157}}</string>
                <key>sourceSize</key>
                <string>{123,157}</string>
            </dict>
            <key>105055.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,668},{128,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,156}}</string>
                <key>sourceSize</key>
                <string>{128,156}</string>
            </dict>
            <key>105056.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,371},{171,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,152}}</string>
                <key>sourceSize</key>
                <string>{171,152}</string>
            </dict>
            <key>105057.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,184},{171,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,150}}</string>
                <key>sourceSize</key>
                <string>{171,150}</string>
            </dict>
            <key>105058.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1504},{175,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,149}}</string>
                <key>sourceSize</key>
                <string>{175,149}</string>
            </dict>
            <key>105059.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1094},{162,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,151}}</string>
                <key>sourceSize</key>
                <string>{162,151}</string>
            </dict>
            <key>105060.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1815},{140,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,149}}</string>
                <key>sourceSize</key>
                <string>{140,149}</string>
            </dict>
            <key>105061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1883},{163,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,148}}</string>
                <key>sourceSize</key>
                <string>{163,148}</string>
            </dict>
            <key>105062.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1844},{131,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,164}}</string>
                <key>sourceSize</key>
                <string>{131,164}</string>
            </dict>
            <key>105063.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,170},{132,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,160}}</string>
                <key>sourceSize</key>
                <string>{132,160}</string>
            </dict>
            <key>105064.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,508},{135,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,158}}</string>
                <key>sourceSize</key>
                <string>{135,158}</string>
            </dict>
            <key>105065.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1010},{134,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,156}}</string>
                <key>sourceSize</key>
                <string>{134,156}</string>
            </dict>
            <key>105066.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,332},{124,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,158}}</string>
                <key>sourceSize</key>
                <string>{124,158}</string>
            </dict>
            <key>105067.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1069},{129,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,157}}</string>
                <key>sourceSize</key>
                <string>{129,157}</string>
            </dict>
            <key>105068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,191}}</string>
                <key>sourceSize</key>
                <string>{92,191}</string>
            </dict>
            <key>105069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{91,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,188}}</string>
                <key>sourceSize</key>
                <string>{91,188}</string>
            </dict>
            <key>105070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{97,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,187}}</string>
                <key>sourceSize</key>
                <string>{97,187}</string>
            </dict>
            <key>105071.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{106,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,185}}</string>
                <key>sourceSize</key>
                <string>{106,185}</string>
            </dict>
            <key>105072.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1701},{106,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,180}}</string>
                <key>sourceSize</key>
                <string>{106,180}</string>
            </dict>
            <key>105073.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{93,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,185}}</string>
                <key>sourceSize</key>
                <string>{93,185}</string>
            </dict>
            <key>105074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1517},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>105075.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1139},{131,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,182}}</string>
                <key>sourceSize</key>
                <string>{131,182}</string>
            </dict>
            <key>105076.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{135,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,180}}</string>
                <key>sourceSize</key>
                <string>{135,180}</string>
            </dict>
            <key>105077.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1858},{130,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,175}}</string>
                <key>sourceSize</key>
                <string>{130,175}</string>
            </dict>
            <key>105078.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1474},{123,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,173}}</string>
                <key>sourceSize</key>
                <string>{123,173}</string>
            </dict>
            <key>105079.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1299},{129,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,173}}</string>
                <key>sourceSize</key>
                <string>{129,173}</string>
            </dict>
            <key>105080.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1136},{177,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,152}}</string>
                <key>sourceSize</key>
                <string>{177,152}</string>
            </dict>
            <key>105081.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,945},{175,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,152}}</string>
                <key>sourceSize</key>
                <string>{175,152}</string>
            </dict>
            <key>105082.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,528},{160,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,149}}</string>
                <key>sourceSize</key>
                <string>{160,149}</string>
            </dict>
            <key>105083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,2},{147,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,150}}</string>
                <key>sourceSize</key>
                <string>{147,150}</string>
            </dict>
            <key>105084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,161},{146,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,151}}</string>
                <key>sourceSize</key>
                <string>{146,151}</string>
            </dict>
            <key>105085.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{166,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,145}}</string>
                <key>sourceSize</key>
                <string>{166,145}</string>
            </dict>
            <key>105086.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,386},{132,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,186}}</string>
                <key>sourceSize</key>
                <string>{132,186}</string>
            </dict>
            <key>105087.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,190},{130,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,185}}</string>
                <key>sourceSize</key>
                <string>{130,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum105.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05da56722ace80c32803322f7582e0b1:1/1$</string>
            <key>textureFileName</key>
            <string>hum105.png</string>
        </dict>
    </dict>
</plist>
