<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>011100.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,244},{86,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>011101.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,183},{82,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>011102.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,392},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>011103.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,166},{68,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>011104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>011105.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,162},{86,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>011106.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,94},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>011107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>011108.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,336},{86,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>011109.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,310},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>011110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{94,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>011111.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>011112.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,78},{82,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,97}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>011113.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,267},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>011114.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,167},{90,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>011115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>011116.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{102,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,74}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>011117.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{102,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{104,71}</string>
            </dict>
            <key>011118.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,250},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>011119.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{90,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>011120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>011121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{78,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>011122.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,236},{90,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>011123.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,346},{82,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>011124.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,75},{98,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>011125.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,89},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>011126.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,440},{60,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,81}}</string>
                <key>sourceSize</key>
                <string>{60,81}</string>
            </dict>
            <key>011127.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,414},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum11_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0589e9a293580d4f7b5ab8437e74474:1/1$</string>
            <key>textureFileName</key>
            <string>hum11_1.png</string>
        </dict>
    </dict>
</plist>
