<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>011000.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,797},{86,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>011001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,801},{86,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>011002.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,748},{86,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>011003.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,878},{86,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>011004.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,639},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>011005.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,751},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>011006.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,687},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>011007.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,615},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>011008.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,359},{70,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,89}}</string>
                <key>sourceSize</key>
                <string>{72,89}</string>
            </dict>
            <key>011009.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,801},{70,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>011010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{72,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>011011.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,676},{70,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>011012.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,432},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>011013.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,426},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>011014.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,353},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>011015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,375},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>011016.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,544},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>011017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{86,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>011018.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,431},{86,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>011019.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,548},{86,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>011020.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,267},{94,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>011021.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,262},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>011022.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,285},{94,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>011023.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,258},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>011024.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,716},{86,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>011025.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,714},{86,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>011026.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,431},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>011027.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,709},{86,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>011028.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,176},{98,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>011029.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,180},{98,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>011030.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,175},{98,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>011031.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,98},{98,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>011032.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,519},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>011033.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,445},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>011034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>011035.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,457},{90,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>011036.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,586},{88,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>011037.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,590},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>011038.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,607},{78,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>011039.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,881},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>011040.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,881},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>011041.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,878},{82,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>011042.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,607},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>011043.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,639},{78,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>011044.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,453},{90,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>011045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{78,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>011046.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,196},{82,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>011047.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,441},{90,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>011048.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,510},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>011049.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,636},{78,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>011050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>011051.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,363},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>011052.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,99},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>011053.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,189},{78,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>011054.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>011055.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,181},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>011056.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,189},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>011057.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,533},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>011058.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,367},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>011059.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>011060.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,381},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>011061.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,283},{90,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>011062.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{102,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>011063.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,271},{98,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>011064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>011065.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,88},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>011066.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,90},{104,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,92}}</string>
                <key>sourceSize</key>
                <string>{104,92}</string>
            </dict>
            <key>011067.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>011068.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,91},{98,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>011069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{94,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>011070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{98,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>011071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{98,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>011072.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,340},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>011073.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{98,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>011074.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,184},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>011075.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>011076.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{104,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>011077.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,87},{102,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>011078.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,92},{98,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>011079.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,86}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
            <key>011080.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,557},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>011081.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,381},{58,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>011082.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,521},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>011083.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,93},{100,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>011084.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,346},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>011085.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,186},{100,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,79}}</string>
                <key>sourceSize</key>
                <string>{100,79}</string>
            </dict>
            <key>011086.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,634},{78,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>011087.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,471},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>011088.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,504},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>011089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{104,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>011090.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,99},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>011091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{86,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>011092.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,258},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>011093.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,355},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>011094.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,263},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>011095.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{104,84}</string>
            </dict>
            <key>011096.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,269},{94,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>011097.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,673},{76,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>011098.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,623},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>011099.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,533},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum11.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a0b2dfe5f9bbecef318ca380938688b:1/1$</string>
            <key>textureFileName</key>
            <string>hum11.png</string>
        </dict>
    </dict>
</plist>
