<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>015148.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,240},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>015149.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>015150.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,92},{64,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,85}}</string>
                <key>sourceSize</key>
                <string>{64,85}</string>
            </dict>
            <key>015151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>015152.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>015153.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,79},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>015154.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,240},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>015155.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,429},{70,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>015156.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{76,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>015157.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,162},{70,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>015158.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{58,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>015159.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,83},{58,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>015160.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,83},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>015161.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,265},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>015162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>015163.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,348},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>015164.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,235},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>015165.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,315},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>015166.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,393},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>015167.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,365},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>015168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{74,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>015169.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{62,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>015170.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,317},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>015171.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,160},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>015172.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,448},{62,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>015173.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,179},{66,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>015174.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>015175.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{64,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,88}}</string>
                <key>sourceSize</key>
                <string>{64,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum15_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb8036651fc85552a8df6b4db259b0a:1/1$</string>
            <key>textureFileName</key>
            <string>hum15_1.png</string>
        </dict>
    </dict>
</plist>
