<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>104088.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,446},{123,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,212}}</string>
                <key>sourceSize</key>
                <string>{123,212}</string>
            </dict>
            <key>104089.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,460},{126,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,218}}</string>
                <key>sourceSize</key>
                <string>{126,218}</string>
            </dict>
            <key>104090.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1558},{130,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,210}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>104091.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1786},{139,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,211}}</string>
                <key>sourceSize</key>
                <string>{139,211}</string>
            </dict>
            <key>104092.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{97,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,216}}</string>
                <key>sourceSize</key>
                <string>{97,216}</string>
            </dict>
            <key>104093.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1571},{103,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,213}}</string>
                <key>sourceSize</key>
                <string>{103,213}</string>
            </dict>
            <key>104094.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,913},{104,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,215}}</string>
                <key>sourceSize</key>
                <string>{104,215}</string>
            </dict>
            <key>104095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{102,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,229}}</string>
                <key>sourceSize</key>
                <string>{102,229}</string>
            </dict>
            <key>104096.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,234},{99,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,224}}</string>
                <key>sourceSize</key>
                <string>{99,224}</string>
            </dict>
            <key>104097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{87,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,221}}</string>
                <key>sourceSize</key>
                <string>{87,221}</string>
            </dict>
            <key>104098.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,405},{138,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,189}}</string>
                <key>sourceSize</key>
                <string>{138,189}</string>
            </dict>
            <key>104099.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,389},{138,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>104100.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{131,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,188}}</string>
                <key>sourceSize</key>
                <string>{131,188}</string>
            </dict>
            <key>104101.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,206},{123,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,197}}</string>
                <key>sourceSize</key>
                <string>{123,197}</string>
            </dict>
            <key>104102.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{128,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,208}}</string>
                <key>sourceSize</key>
                <string>{128,208}</string>
            </dict>
            <key>104103.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,872},{137,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,205}}</string>
                <key>sourceSize</key>
                <string>{137,205}</string>
            </dict>
            <key>104104.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1384},{169,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,170}}</string>
                <key>sourceSize</key>
                <string>{169,170}</string>
            </dict>
            <key>104105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{171,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,166}}</string>
                <key>sourceSize</key>
                <string>{171,166}</string>
            </dict>
            <key>104106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,184},{162,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,172}}</string>
                <key>sourceSize</key>
                <string>{162,172}</string>
            </dict>
            <key>104107.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,994},{146,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,176}}</string>
                <key>sourceSize</key>
                <string>{146,176}</string>
            </dict>
            <key>104108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,2},{141,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,180}}</string>
                <key>sourceSize</key>
                <string>{141,180}</string>
            </dict>
            <key>104109.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1434},{164,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,177}}</string>
                <key>sourceSize</key>
                <string>{164,177}</string>
            </dict>
            <key>104110.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,616},{128,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,190}}</string>
                <key>sourceSize</key>
                <string>{128,190}</string>
            </dict>
            <key>104111.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1475},{126,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,187}}</string>
                <key>sourceSize</key>
                <string>{126,187}</string>
            </dict>
            <key>104112.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,198},{122,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,189}}</string>
                <key>sourceSize</key>
                <string>{122,189}</string>
            </dict>
            <key>104113.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1281},{125,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,192}}</string>
                <key>sourceSize</key>
                <string>{125,192}</string>
            </dict>
            <key>104114.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1551},{129,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,201}}</string>
                <key>sourceSize</key>
                <string>{129,201}</string>
            </dict>
            <key>104115.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,628},{138,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,198}}</string>
                <key>sourceSize</key>
                <string>{138,198}</string>
            </dict>
            <key>104116.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1128},{97,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,211}}</string>
                <key>sourceSize</key>
                <string>{97,211}</string>
            </dict>
            <key>104117.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,216},{103,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,209}}</string>
                <key>sourceSize</key>
                <string>{103,209}</string>
            </dict>
            <key>104118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{104,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,214}}</string>
                <key>sourceSize</key>
                <string>{104,214}</string>
            </dict>
            <key>104119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{102,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,220}}</string>
                <key>sourceSize</key>
                <string>{102,220}</string>
            </dict>
            <key>104120.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1130},{99,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,213}}</string>
                <key>sourceSize</key>
                <string>{99,213}</string>
            </dict>
            <key>104121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1571},{87,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,215}}</string>
                <key>sourceSize</key>
                <string>{87,215}</string>
            </dict>
            <key>104122.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{140,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,208}}</string>
                <key>sourceSize</key>
                <string>{140,208}</string>
            </dict>
            <key>104123.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,212},{137,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,203}}</string>
                <key>sourceSize</key>
                <string>{137,203}</string>
            </dict>
            <key>104124.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,212},{131,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,208}}</string>
                <key>sourceSize</key>
                <string>{131,208}</string>
            </dict>
            <key>104125.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1341},{123,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,208}}</string>
                <key>sourceSize</key>
                <string>{123,208}</string>
            </dict>
            <key>104126.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,680},{129,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,212}}</string>
                <key>sourceSize</key>
                <string>{129,212}</string>
            </dict>
            <key>104127.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,852},{139,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,199}}</string>
                <key>sourceSize</key>
                <string>{139,199}</string>
            </dict>
            <key>104128.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1206},{173,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,176}}</string>
                <key>sourceSize</key>
                <string>{173,176}</string>
            </dict>
            <key>104129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1172},{158,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,170}}</string>
                <key>sourceSize</key>
                <string>{158,170}</string>
            </dict>
            <key>104130.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1664},{163,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,179}}</string>
                <key>sourceSize</key>
                <string>{163,179}</string>
            </dict>
            <key>104131.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1845},{151,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,179}}</string>
                <key>sourceSize</key>
                <string>{151,179}</string>
            </dict>
            <key>104132.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1901},{143,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,182}}</string>
                <key>sourceSize</key>
                <string>{143,182}</string>
            </dict>
            <key>104133.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,782},{159,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,175}}</string>
                <key>sourceSize</key>
                <string>{159,175}</string>
            </dict>
            <key>104134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{137,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,215}}</string>
                <key>sourceSize</key>
                <string>{137,215}</string>
            </dict>
            <key>104135.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1315},{125,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,201}}</string>
                <key>sourceSize</key>
                <string>{125,201}</string>
            </dict>
            <key>104136.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,894},{128,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,210}}</string>
                <key>sourceSize</key>
                <string>{128,210}</string>
            </dict>
            <key>104137.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{129,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,194}}</string>
                <key>sourceSize</key>
                <string>{129,194}</string>
            </dict>
            <key>104138.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{127,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,222}}</string>
                <key>sourceSize</key>
                <string>{127,222}</string>
            </dict>
            <key>104139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{135,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,225}}</string>
                <key>sourceSize</key>
                <string>{135,225}</string>
            </dict>
            <key>104140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{91,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,215}}</string>
                <key>sourceSize</key>
                <string>{91,215}</string>
            </dict>
            <key>104141.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,913},{97,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,213}}</string>
                <key>sourceSize</key>
                <string>{97,213}</string>
            </dict>
            <key>104142.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,660},{98,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,210}}</string>
                <key>sourceSize</key>
                <string>{98,210}</string>
            </dict>
            <key>104143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,230}}</string>
                <key>sourceSize</key>
                <string>{104,230}</string>
            </dict>
            <key>104144.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1354},{99,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,213}}</string>
                <key>sourceSize</key>
                <string>{99,213}</string>
            </dict>
            <key>104145.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,226},{83,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,218}}</string>
                <key>sourceSize</key>
                <string>{83,218}</string>
            </dict>
            <key>104146.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1754},{134,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,193}}</string>
                <key>sourceSize</key>
                <string>{134,193}</string>
            </dict>
            <key>104147.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1245},{125,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,187}}</string>
                <key>sourceSize</key>
                <string>{125,187}</string>
            </dict>
            <key>104148.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,808},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>104149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,358},{129,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,165}}</string>
                <key>sourceSize</key>
                <string>{129,165}</string>
            </dict>
            <key>104150.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,828},{128,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,190}}</string>
                <key>sourceSize</key>
                <string>{128,190}</string>
            </dict>
            <key>104151.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,417},{134,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,197}}</string>
                <key>sourceSize</key>
                <string>{134,197}</string>
            </dict>
            <key>104152.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,573},{173,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,169}}</string>
                <key>sourceSize</key>
                <string>{173,169}</string>
            </dict>
            <key>104153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,551},{158,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,166}}</string>
                <key>sourceSize</key>
                <string>{158,166}</string>
            </dict>
            <key>104154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,959},{163,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,168}}</string>
                <key>sourceSize</key>
                <string>{163,168}</string>
            </dict>
            <key>104155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,748},{152,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,168}}</string>
                <key>sourceSize</key>
                <string>{152,168}</string>
            </dict>
            <key>104156.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1613},{141,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,171}}</string>
                <key>sourceSize</key>
                <string>{141,171}</string>
            </dict>
            <key>104157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,376},{160,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,173}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>104158.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1053},{134,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,190}}</string>
                <key>sourceSize</key>
                <string>{134,190}</string>
            </dict>
            <key>104159.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,596},{126,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,184}}</string>
                <key>sourceSize</key>
                <string>{126,184}</string>
            </dict>
            <key>104160.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1020},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>104161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,192},{128,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,182}}</string>
                <key>sourceSize</key>
                <string>{128,182}</string>
            </dict>
            <key>104162.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1712},{129,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,187}}</string>
                <key>sourceSize</key>
                <string>{129,187}</string>
            </dict>
            <key>104163.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1518},{135,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,192}}</string>
                <key>sourceSize</key>
                <string>{135,192}</string>
            </dict>
            <key>104164.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{91,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,212}}</string>
                <key>sourceSize</key>
                <string>{91,212}</string>
            </dict>
            <key>104165.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1106},{97,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,208}}</string>
                <key>sourceSize</key>
                <string>{97,208}</string>
            </dict>
            <key>104166.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1106},{97,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,207}}</string>
                <key>sourceSize</key>
                <string>{97,207}</string>
            </dict>
            <key>104167.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{104,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,202}}</string>
                <key>sourceSize</key>
                <string>{104,202}</string>
            </dict>
            <key>104168.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,220},{99,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,212}}</string>
                <key>sourceSize</key>
                <string>{99,212}</string>
            </dict>
            <key>104169.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1786},{83,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,212}}</string>
                <key>sourceSize</key>
                <string>{83,212}</string>
            </dict>
            <key>104170.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,422},{137,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,204}}</string>
                <key>sourceSize</key>
                <string>{137,204}</string>
            </dict>
            <key>104171.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1079},{124,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,200}}</string>
                <key>sourceSize</key>
                <string>{124,200}</string>
            </dict>
            <key>104172.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,434},{128,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,209}}</string>
                <key>sourceSize</key>
                <string>{128,209}</string>
            </dict>
            <key>104173.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1345},{130,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,211}}</string>
                <key>sourceSize</key>
                <string>{130,211}</string>
            </dict>
            <key>104174.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,692},{127,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,219}}</string>
                <key>sourceSize</key>
                <string>{127,219}</string>
            </dict>
            <key>104175.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,645},{134,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,205}}</string>
                <key>sourceSize</key>
                <string>{134,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum104_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c58b79e0c26e7e155ea4e9bbff192a39:1/1$</string>
            <key>textureFileName</key>
            <string>hum104_1.png</string>
        </dict>
    </dict>
</plist>
