<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>108000.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{196,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,187}}</string>
                <key>sourceSize</key>
                <string>{196,187}</string>
            </dict>
            <key>108001.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1552},{199,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,180}}</string>
                <key>sourceSize</key>
                <string>{199,180}</string>
            </dict>
            <key>108002.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,627},{195,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,183}}</string>
                <key>sourceSize</key>
                <string>{195,183}</string>
            </dict>
            <key>108003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,396},{191,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,184}}</string>
                <key>sourceSize</key>
                <string>{191,184}</string>
            </dict>
            <key>108004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1578},{152,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,215}}</string>
                <key>sourceSize</key>
                <string>{152,215}</string>
            </dict>
            <key>108005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1795},{152,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,212}}</string>
                <key>sourceSize</key>
                <string>{152,212}</string>
            </dict>
            <key>108006.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,216},{149,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,210}}</string>
                <key>sourceSize</key>
                <string>{149,210}</string>
            </dict>
            <key>108007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1109},{146,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,211}}</string>
                <key>sourceSize</key>
                <string>{146,211}</string>
            </dict>
            <key>108008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{101,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,224}}</string>
                <key>sourceSize</key>
                <string>{101,224}</string>
            </dict>
            <key>108009.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,458},{99,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,222}}</string>
                <key>sourceSize</key>
                <string>{99,222}</string>
            </dict>
            <key>108010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,903},{98,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,217}}</string>
                <key>sourceSize</key>
                <string>{98,217}</string>
            </dict>
            <key>108011.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1122},{103,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,215}}</string>
                <key>sourceSize</key>
                <string>{103,215}</string>
            </dict>
            <key>108012.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,824},{151,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,192}}</string>
                <key>sourceSize</key>
                <string>{151,192}</string>
            </dict>
            <key>108013.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1264},{152,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,192}}</string>
                <key>sourceSize</key>
                <string>{152,192}</string>
            </dict>
            <key>108014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1616},{149,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,187}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>108015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{146,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,185}}</string>
                <key>sourceSize</key>
                <string>{146,185}</string>
            </dict>
            <key>108016.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1523},{196,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,156}}</string>
                <key>sourceSize</key>
                <string>{196,156}</string>
            </dict>
            <key>108017.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1322},{199,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,166}}</string>
                <key>sourceSize</key>
                <string>{199,166}</string>
            </dict>
            <key>108018.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,428},{197,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,155}}</string>
                <key>sourceSize</key>
                <string>{197,155}</string>
            </dict>
            <key>108019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,198},{191,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,153}}</string>
                <key>sourceSize</key>
                <string>{191,153}</string>
            </dict>
            <key>108020.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1489},{152,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,192}}</string>
                <key>sourceSize</key>
                <string>{152,192}</string>
            </dict>
            <key>108021.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1043},{151,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,192}}</string>
                <key>sourceSize</key>
                <string>{151,192}</string>
            </dict>
            <key>108022.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1458},{148,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,189}}</string>
                <key>sourceSize</key>
                <string>{148,189}</string>
            </dict>
            <key>108023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,391},{144,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,186}</string>
            </dict>
            <key>108024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{101,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,225}}</string>
                <key>sourceSize</key>
                <string>{101,225}</string>
            </dict>
            <key>108025.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1135},{99,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,222}}</string>
                <key>sourceSize</key>
                <string>{99,222}</string>
            </dict>
            <key>108026.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1805},{98,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,216}}</string>
                <key>sourceSize</key>
                <string>{98,216}</string>
            </dict>
            <key>108027.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1135},{103,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,217}}</string>
                <key>sourceSize</key>
                <string>{103,217}</string>
            </dict>
            <key>108028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1586},{152,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,217}}</string>
                <key>sourceSize</key>
                <string>{152,217}</string>
            </dict>
            <key>108029.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{152,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,212}}</string>
                <key>sourceSize</key>
                <string>{152,212}</string>
            </dict>
            <key>108030.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1571},{149,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,211}}</string>
                <key>sourceSize</key>
                <string>{149,211}</string>
            </dict>
            <key>108031.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1339},{146,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,211}}</string>
                <key>sourceSize</key>
                <string>{146,211}</string>
            </dict>
            <key>108032.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,204},{196,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,188}}</string>
                <key>sourceSize</key>
                <string>{196,188}</string>
            </dict>
            <key>108033.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{200,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,181}}</string>
                <key>sourceSize</key>
                <string>{200,181}</string>
            </dict>
            <key>108034.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1753},{196,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,184}}</string>
                <key>sourceSize</key>
                <string>{196,184}</string>
            </dict>
            <key>108035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1839},{182,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,187}}</string>
                <key>sourceSize</key>
                <string>{182,187}</string>
            </dict>
            <key>108036.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1090},{156,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,199}}</string>
                <key>sourceSize</key>
                <string>{156,199}</string>
            </dict>
            <key>108037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,792},{185,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,186}}</string>
                <key>sourceSize</key>
                <string>{185,186}</string>
            </dict>
            <key>108038.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,443},{151,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,216}}</string>
                <key>sourceSize</key>
                <string>{151,216}</string>
            </dict>
            <key>108039.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,440},{152,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,213}}</string>
                <key>sourceSize</key>
                <string>{152,213}</string>
            </dict>
            <key>108040.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,435},{149,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,210}}</string>
                <key>sourceSize</key>
                <string>{149,210}</string>
            </dict>
            <key>108041.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,877},{145,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,211}}</string>
                <key>sourceSize</key>
                <string>{145,211}</string>
            </dict>
            <key>108042.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{142,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,219}}</string>
                <key>sourceSize</key>
                <string>{142,219}</string>
            </dict>
            <key>108043.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,222},{146,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,216}}</string>
                <key>sourceSize</key>
                <string>{146,216}</string>
            </dict>
            <key>108044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{102,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,225}}</string>
                <key>sourceSize</key>
                <string>{102,225}</string>
            </dict>
            <key>108045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{99,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,223}}</string>
                <key>sourceSize</key>
                <string>{99,223}</string>
            </dict>
            <key>108046.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,661},{98,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,214}}</string>
                <key>sourceSize</key>
                <string>{98,214}</string>
            </dict>
            <key>108047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1805},{110,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,216}}</string>
                <key>sourceSize</key>
                <string>{110,216}</string>
            </dict>
            <key>108048.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{121,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,216}}</string>
                <key>sourceSize</key>
                <string>{121,216}</string>
            </dict>
            <key>108049.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,231},{105,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,221}}</string>
                <key>sourceSize</key>
                <string>{105,221}</string>
            </dict>
            <key>108050.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,200},{153,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,194}}</string>
                <key>sourceSize</key>
                <string>{153,194}</string>
            </dict>
            <key>108051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{152,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,194}}</string>
                <key>sourceSize</key>
                <string>{152,194}</string>
            </dict>
            <key>108052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1427},{149,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,187}}</string>
                <key>sourceSize</key>
                <string>{149,187}</string>
            </dict>
            <key>108053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,194},{141,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,186}}</string>
                <key>sourceSize</key>
                <string>{141,186}</string>
            </dict>
            <key>108054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,980},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>108055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1649},{145,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,188}}</string>
                <key>sourceSize</key>
                <string>{145,188}</string>
            </dict>
            <key>108056.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,867},{197,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,160}}</string>
                <key>sourceSize</key>
                <string>{197,160}</string>
            </dict>
            <key>108057.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1784},{200,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,169}}</string>
                <key>sourceSize</key>
                <string>{200,169}</string>
            </dict>
            <key>108058.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,647},{197,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,156}}</string>
                <key>sourceSize</key>
                <string>{197,156}</string>
            </dict>
            <key>108059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1805},{182,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,157}}</string>
                <key>sourceSize</key>
                <string>{182,157}</string>
            </dict>
            <key>108060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,579},{155,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,157}}</string>
                <key>sourceSize</key>
                <string>{155,157}</string>
            </dict>
            <key>108061.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1874},{186,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,157}}</string>
                <key>sourceSize</key>
                <string>{186,157}</string>
            </dict>
            <key>108062.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1291},{151,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,196}}</string>
                <key>sourceSize</key>
                <string>{151,196}</string>
            </dict>
            <key>108063.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,402},{152,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,195}}</string>
                <key>sourceSize</key>
                <string>{152,195}</string>
            </dict>
            <key>108064.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1683},{148,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,189}}</string>
                <key>sourceSize</key>
                <string>{148,189}</string>
            </dict>
            <key>108065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,589},{145,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,186}}</string>
                <key>sourceSize</key>
                <string>{145,186}</string>
            </dict>
            <key>108066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,777},{141,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,179}}</string>
                <key>sourceSize</key>
                <string>{141,179}</string>
            </dict>
            <key>108067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1018},{146,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,188}}</string>
                <key>sourceSize</key>
                <string>{146,188}</string>
            </dict>
            <key>108068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,227}}</string>
                <key>sourceSize</key>
                <string>{103,227}</string>
            </dict>
            <key>108069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{99,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,224}}</string>
                <key>sourceSize</key>
                <string>{99,224}</string>
            </dict>
            <key>108070.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,454},{98,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,219}}</string>
                <key>sourceSize</key>
                <string>{98,219}</string>
            </dict>
            <key>108071.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1359},{111,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,217}}</string>
                <key>sourceSize</key>
                <string>{111,217}</string>
            </dict>
            <key>108072.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1354},{120,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,215}}</string>
                <key>sourceSize</key>
                <string>{120,215}</string>
            </dict>
            <key>108073.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,911},{105,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,222}}</string>
                <key>sourceSize</key>
                <string>{105,222}</string>
            </dict>
            <key>108074.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,675},{153,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,216}}</string>
                <key>sourceSize</key>
                <string>{153,216}</string>
            </dict>
            <key>108075.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,893},{153,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,214}}</string>
                <key>sourceSize</key>
                <string>{153,214}</string>
            </dict>
            <key>108076.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,655},{149,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,210}}</string>
                <key>sourceSize</key>
                <string>{149,210}</string>
            </dict>
            <key>108077.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,220},{142,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,213}}</string>
                <key>sourceSize</key>
                <string>{142,213}</string>
            </dict>
            <key>108078.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,682},{139,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,219}}</string>
                <key>sourceSize</key>
                <string>{139,219}</string>
            </dict>
            <key>108079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{146,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,222}}</string>
                <key>sourceSize</key>
                <string>{146,222}</string>
            </dict>
            <key>108080.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1721},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,193}}</string>
                <key>sourceSize</key>
                <string>{193,193}</string>
            </dict>
            <key>108081.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,846},{195,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,192}}</string>
                <key>sourceSize</key>
                <string>{195,192}</string>
            </dict>
            <key>108082.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,599},{191,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,187}}</string>
                <key>sourceSize</key>
                <string>{191,187}</string>
            </dict>
            <key>108083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{168,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,190}}</string>
                <key>sourceSize</key>
                <string>{168,190}</string>
            </dict>
            <key>108084.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1066},{149,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,196}}</string>
                <key>sourceSize</key>
                <string>{149,196}</string>
            </dict>
            <key>108085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1237},{177,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,188}}</string>
                <key>sourceSize</key>
                <string>{177,188}</string>
            </dict>
            <key>108086.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,223},{144,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,218}}</string>
                <key>sourceSize</key>
                <string>{144,218}</string>
            </dict>
            <key>108087.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{140,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,218}}</string>
                <key>sourceSize</key>
                <string>{140,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum108.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b648d08aa43e0ba5c217f35a095c64c:1/1$</string>
            <key>textureFileName</key>
            <string>hum108.png</string>
        </dict>
    </dict>
</plist>
