<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,608},{196,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,142}}</string>
                <key>sourceSize</key>
                <string>{196,142}</string>
            </dict>
            <key>100001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{199,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,141}}</string>
                <key>sourceSize</key>
                <string>{199,141}</string>
            </dict>
            <key>100002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,794},{185,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,144}}</string>
                <key>sourceSize</key>
                <string>{185,144}</string>
            </dict>
            <key>100003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,999},{185,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,145}}</string>
                <key>sourceSize</key>
                <string>{185,145}</string>
            </dict>
            <key>100004.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,376},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{151,180}</string>
            </dict>
            <key>100005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,179},{151,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,172}}</string>
                <key>sourceSize</key>
                <string>{151,172}</string>
            </dict>
            <key>100006.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1081},{142,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,167}}</string>
                <key>sourceSize</key>
                <string>{142,167}</string>
            </dict>
            <key>100007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,524},{140,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,166}}</string>
                <key>sourceSize</key>
                <string>{140,166}</string>
            </dict>
            <key>100008.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,204},{101,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,199}}</string>
                <key>sourceSize</key>
                <string>{101,199}</string>
            </dict>
            <key>100009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1601},{98,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{98,194}</string>
            </dict>
            <key>100010.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{97,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,185}}</string>
                <key>sourceSize</key>
                <string>{97,185}</string>
            </dict>
            <key>100011.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,189},{101,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,185}}</string>
                <key>sourceSize</key>
                <string>{101,185}</string>
            </dict>
            <key>100012.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{152,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,178}}</string>
                <key>sourceSize</key>
                <string>{152,178}</string>
            </dict>
            <key>100013.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,548},{151,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,173}}</string>
                <key>sourceSize</key>
                <string>{151,173}</string>
            </dict>
            <key>100014.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1299},{141,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,169}}</string>
                <key>sourceSize</key>
                <string>{141,169}</string>
            </dict>
            <key>100015.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1281},{140,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,168}}</string>
                <key>sourceSize</key>
                <string>{140,168}</string>
            </dict>
            <key>100016.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,200},{196,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,140}}</string>
                <key>sourceSize</key>
                <string>{196,140}</string>
            </dict>
            <key>100017.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,407},{199,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,140}}</string>
                <key>sourceSize</key>
                <string>{199,140}</string>
            </dict>
            <key>100018.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,388},{185,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,142}}</string>
                <key>sourceSize</key>
                <string>{185,142}</string>
            </dict>
            <key>100019.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1186},{183,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,144}}</string>
                <key>sourceSize</key>
                <string>{183,144}</string>
            </dict>
            <key>100020.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,575},{151,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,181}}</string>
                <key>sourceSize</key>
                <string>{151,181}</string>
            </dict>
            <key>100021.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,735},{151,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,173}}</string>
                <key>sourceSize</key>
                <string>{151,173}</string>
            </dict>
            <key>100022.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1525},{145,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,170}}</string>
                <key>sourceSize</key>
                <string>{145,170}</string>
            </dict>
            <key>100023.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,723},{140,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,169}}</string>
                <key>sourceSize</key>
                <string>{140,169}</string>
            </dict>
            <key>100024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{101,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,200}}</string>
                <key>sourceSize</key>
                <string>{101,200}</string>
            </dict>
            <key>100025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{98,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{98,194}</string>
            </dict>
            <key>100026.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,189},{97,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,185}}</string>
                <key>sourceSize</key>
                <string>{97,185}</string>
            </dict>
            <key>100027.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,388},{101,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,186}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>100028.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,763},{152,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,181}}</string>
                <key>sourceSize</key>
                <string>{152,181}</string>
            </dict>
            <key>100029.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,935},{151,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,173}}</string>
                <key>sourceSize</key>
                <string>{151,173}</string>
            </dict>
            <key>100030.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1470},{141,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,168}}</string>
                <key>sourceSize</key>
                <string>{141,168}</string>
            </dict>
            <key>100031.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,910},{140,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,169}}</string>
                <key>sourceSize</key>
                <string>{140,169}</string>
            </dict>
            <key>100032.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{196,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,143}}</string>
                <key>sourceSize</key>
                <string>{196,143}</string>
            </dict>
            <key>100033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{200,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,141}}</string>
                <key>sourceSize</key>
                <string>{200,141}</string>
            </dict>
            <key>100034.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1394},{184,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,145}}</string>
                <key>sourceSize</key>
                <string>{184,145}</string>
            </dict>
            <key>100035.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,182},{175,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,147}}</string>
                <key>sourceSize</key>
                <string>{175,147}</string>
            </dict>
            <key>100036.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1640},{155,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,148}}</string>
                <key>sourceSize</key>
                <string>{155,148}</string>
            </dict>
            <key>100037.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,200},{186,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,141}}</string>
                <key>sourceSize</key>
                <string>{186,141}</string>
            </dict>
            <key>100038.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,371},{150,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,175}}</string>
                <key>sourceSize</key>
                <string>{150,175}</string>
            </dict>
            <key>100039.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1124},{152,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,173}}</string>
                <key>sourceSize</key>
                <string>{152,173}</string>
            </dict>
            <key>100040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,705},{141,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,167}}</string>
                <key>sourceSize</key>
                <string>{141,167}</string>
            </dict>
            <key>100041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,172},{141,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,163}}</string>
                <key>sourceSize</key>
                <string>{141,163}</string>
            </dict>
            <key>100042.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,894},{141,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,167}}</string>
                <key>sourceSize</key>
                <string>{141,167}</string>
            </dict>
            <key>100043.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1451},{145,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,154}}</string>
                <key>sourceSize</key>
                <string>{145,154}</string>
            </dict>
            <key>100044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{101,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,200}}</string>
                <key>sourceSize</key>
                <string>{101,200}</string>
            </dict>
            <key>100045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1209},{98,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{98,194}</string>
            </dict>
            <key>100046.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1581},{96,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,185}}</string>
                <key>sourceSize</key>
                <string>{96,185}</string>
            </dict>
            <key>100047.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1166},{109,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,182}}</string>
                <key>sourceSize</key>
                <string>{109,182}</string>
            </dict>
            <key>100048.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{119,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,185}}</string>
                <key>sourceSize</key>
                <string>{119,185}</string>
            </dict>
            <key>100049.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1012},{104,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,193}}</string>
                <key>sourceSize</key>
                <string>{104,193}</string>
            </dict>
            <key>100050.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1768},{153,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,184}}</string>
                <key>sourceSize</key>
                <string>{153,184}</string>
            </dict>
            <key>100051.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,558},{152,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,175}}</string>
                <key>sourceSize</key>
                <string>{152,175}</string>
            </dict>
            <key>100052.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1868},{141,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,169}}</string>
                <key>sourceSize</key>
                <string>{141,169}</string>
            </dict>
            <key>100053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,176},{137,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,169}}</string>
                <key>sourceSize</key>
                <string>{137,169}</string>
            </dict>
            <key>100054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,353},{139,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,169}}</string>
                <key>sourceSize</key>
                <string>{139,169}</string>
            </dict>
            <key>100055.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,189},{144,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,180}}</string>
                <key>sourceSize</key>
                <string>{144,180}</string>
            </dict>
            <key>100056.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,405},{196,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,141}}</string>
                <key>sourceSize</key>
                <string>{196,141}</string>
            </dict>
            <key>100057.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{200,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,139}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>100058.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,576},{185,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,142}}</string>
                <key>sourceSize</key>
                <string>{185,142}</string>
            </dict>
            <key>100059.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{175,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,145}}</string>
                <key>sourceSize</key>
                <string>{175,145}</string>
            </dict>
            <key>100060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{156,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,147}}</string>
                <key>sourceSize</key>
                <string>{156,147}</string>
            </dict>
            <key>100061.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{186,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,139}}</string>
                <key>sourceSize</key>
                <string>{186,139}</string>
            </dict>
            <key>100062.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1207},{150,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,185}}</string>
                <key>sourceSize</key>
                <string>{150,185}</string>
            </dict>
            <key>100063.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,946},{152,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,176}}</string>
                <key>sourceSize</key>
                <string>{152,176}</string>
            </dict>
            <key>100064.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1732},{141,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,171}}</string>
                <key>sourceSize</key>
                <string>{141,171}</string>
            </dict>
            <key>100065.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1905},{141,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,169}}</string>
                <key>sourceSize</key>
                <string>{141,169}</string>
            </dict>
            <key>100066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,2},{141,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,168}}</string>
                <key>sourceSize</key>
                <string>{141,168}</string>
            </dict>
            <key>100067.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,359},{145,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,173}}</string>
                <key>sourceSize</key>
                <string>{145,173}</string>
            </dict>
            <key>100068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,201}}</string>
                <key>sourceSize</key>
                <string>{102,201}</string>
            </dict>
            <key>100069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{98,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,195}}</string>
                <key>sourceSize</key>
                <string>{98,195}</string>
            </dict>
            <key>100070.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1394},{96,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,185}}</string>
                <key>sourceSize</key>
                <string>{96,185}</string>
            </dict>
            <key>100071.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1371},{109,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,183}}</string>
                <key>sourceSize</key>
                <string>{109,183}</string>
            </dict>
            <key>100072.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,981},{119,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,183}}</string>
                <key>sourceSize</key>
                <string>{119,183}</string>
            </dict>
            <key>100073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1797},{104,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,193}}</string>
                <key>sourceSize</key>
                <string>{104,193}</string>
            </dict>
            <key>100074.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,758},{153,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,175}}</string>
                <key>sourceSize</key>
                <string>{153,175}</string>
            </dict>
            <key>100075.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1350},{152,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,173}}</string>
                <key>sourceSize</key>
                <string>{152,173}</string>
            </dict>
            <key>100076.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1110},{140,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,169}}</string>
                <key>sourceSize</key>
                <string>{140,169}</string>
            </dict>
            <key>100077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,347},{137,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,165}}</string>
                <key>sourceSize</key>
                <string>{137,165}</string>
            </dict>
            <key>100078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,534},{139,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,169}}</string>
                <key>sourceSize</key>
                <string>{139,169}</string>
            </dict>
            <key>100079.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1250},{145,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,153}}</string>
                <key>sourceSize</key>
                <string>{145,153}</string>
            </dict>
            <key>100080.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1580},{183,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,146}}</string>
                <key>sourceSize</key>
                <string>{183,146}</string>
            </dict>
            <key>100081.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,603},{189,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,148}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>100082.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,806},{191,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,149}}</string>
                <key>sourceSize</key>
                <string>{191,149}</string>
            </dict>
            <key>100083.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1697},{169,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,144}}</string>
                <key>sourceSize</key>
                <string>{169,144}</string>
            </dict>
            <key>100084.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1063},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>100085.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1556},{174,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,142}}</string>
                <key>sourceSize</key>
                <string>{174,142}</string>
            </dict>
            <key>100086.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{137,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,172}}</string>
                <key>sourceSize</key>
                <string>{137,172}</string>
            </dict>
            <key>100087.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1765},{139,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,175}}</string>
                <key>sourceSize</key>
                <string>{139,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum100.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1872e508c5dd9f93a0b01852824108f9:1/1$</string>
            <key>textureFileName</key>
            <string>hum100.png</string>
        </dict>
    </dict>
</plist>
