<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>108088.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1144},{141,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,217}}</string>
                <key>sourceSize</key>
                <string>{141,217}</string>
            </dict>
            <key>108089.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1111},{145,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,211}}</string>
                <key>sourceSize</key>
                <string>{145,211}</string>
            </dict>
            <key>108090.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1136},{140,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,216}}</string>
                <key>sourceSize</key>
                <string>{140,216}</string>
            </dict>
            <key>108091.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1816},{148,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,217}}</string>
                <key>sourceSize</key>
                <string>{148,217}</string>
            </dict>
            <key>108092.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,230},{106,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,225}}</string>
                <key>sourceSize</key>
                <string>{106,225}</string>
            </dict>
            <key>108093.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,232},{109,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,226}}</string>
                <key>sourceSize</key>
                <string>{109,226}</string>
            </dict>
            <key>108094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{111,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,224}}</string>
                <key>sourceSize</key>
                <string>{111,224}</string>
            </dict>
            <key>108095.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,466},{116,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,226}}</string>
                <key>sourceSize</key>
                <string>{116,226}</string>
            </dict>
            <key>108096.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{113,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,224}}</string>
                <key>sourceSize</key>
                <string>{113,224}</string>
            </dict>
            <key>108097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,231}}</string>
                <key>sourceSize</key>
                <string>{99,231}</string>
            </dict>
            <key>108098.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1523},{153,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,192}}</string>
                <key>sourceSize</key>
                <string>{153,192}</string>
            </dict>
            <key>108099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{150,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,188}}</string>
                <key>sourceSize</key>
                <string>{150,188}</string>
            </dict>
            <key>108100.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,621},{151,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,193}}</string>
                <key>sourceSize</key>
                <string>{151,193}</string>
            </dict>
            <key>108101.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1799},{140,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,199}}</string>
                <key>sourceSize</key>
                <string>{140,199}</string>
            </dict>
            <key>108102.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{138,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,204}}</string>
                <key>sourceSize</key>
                <string>{138,204}</string>
            </dict>
            <key>108103.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,215},{148,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,206}}</string>
                <key>sourceSize</key>
                <string>{148,206}</string>
            </dict>
            <key>108104.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1771},{192,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,160}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>108105.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{195,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,156}}</string>
                <key>sourceSize</key>
                <string>{195,156}</string>
            </dict>
            <key>108106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{192,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,162}}</string>
                <key>sourceSize</key>
                <string>{192,162}</string>
            </dict>
            <key>108107.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1870},{168,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,176}}</string>
                <key>sourceSize</key>
                <string>{168,176}</string>
            </dict>
            <key>108108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,1415},{149,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,166}}</string>
                <key>sourceSize</key>
                <string>{149,166}</string>
            </dict>
            <key>108109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{176,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,162}}</string>
                <key>sourceSize</key>
                <string>{176,162}</string>
            </dict>
            <key>108110.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1717},{144,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,192}}</string>
                <key>sourceSize</key>
                <string>{144,192}</string>
            </dict>
            <key>108111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,199},{140,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,193}}</string>
                <key>sourceSize</key>
                <string>{140,193}</string>
            </dict>
            <key>108112.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,208},{141,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,196}}</string>
                <key>sourceSize</key>
                <string>{141,196}</string>
            </dict>
            <key>108113.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1487},{143,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,192}}</string>
                <key>sourceSize</key>
                <string>{143,192}</string>
            </dict>
            <key>108114.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,423},{141,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,196}}</string>
                <key>sourceSize</key>
                <string>{141,196}</string>
            </dict>
            <key>108115.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1571},{148,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,198}}</string>
                <key>sourceSize</key>
                <string>{148,198}</string>
            </dict>
            <key>108116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1151},{106,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,224}}</string>
                <key>sourceSize</key>
                <string>{106,224}</string>
            </dict>
            <key>108117.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{108,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,228}}</string>
                <key>sourceSize</key>
                <string>{108,228}</string>
            </dict>
            <key>108118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1377},{110,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,223}}</string>
                <key>sourceSize</key>
                <string>{110,223}</string>
            </dict>
            <key>108119.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,920},{116,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,222}}</string>
                <key>sourceSize</key>
                <string>{116,222}</string>
            </dict>
            <key>108120.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1354},{113,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,215}}</string>
                <key>sourceSize</key>
                <string>{113,215}</string>
            </dict>
            <key>108121.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,694},{99,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,222}}</string>
                <key>sourceSize</key>
                <string>{99,222}</string>
            </dict>
            <key>108122.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,432},{154,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,207}}</string>
                <key>sourceSize</key>
                <string>{154,207}</string>
            </dict>
            <key>108123.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,655},{150,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,209}}</string>
                <key>sourceSize</key>
                <string>{150,209}</string>
            </dict>
            <key>108124.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{151,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,211}}</string>
                <key>sourceSize</key>
                <string>{151,211}</string>
            </dict>
            <key>108125.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,882},{141,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,211}}</string>
                <key>sourceSize</key>
                <string>{141,211}</string>
            </dict>
            <key>108126.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,440},{137,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,213}}</string>
                <key>sourceSize</key>
                <string>{137,213}</string>
            </dict>
            <key>108127.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,896},{148,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,213}}</string>
                <key>sourceSize</key>
                <string>{148,213}</string>
            </dict>
            <key>108128.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1095},{196,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,189}}</string>
                <key>sourceSize</key>
                <string>{196,189}</string>
            </dict>
            <key>108129.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1422},{186,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,185}}</string>
                <key>sourceSize</key>
                <string>{186,185}</string>
            </dict>
            <key>108130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,394},{189,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,188}}</string>
                <key>sourceSize</key>
                <string>{189,188}</string>
            </dict>
            <key>108131.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,839},{170,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,194}}</string>
                <key>sourceSize</key>
                <string>{170,194}</string>
            </dict>
            <key>108132.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,641},{151,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,196}}</string>
                <key>sourceSize</key>
                <string>{151,196}</string>
            </dict>
            <key>108133.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1228},{177,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,185}}</string>
                <key>sourceSize</key>
                <string>{177,185}</string>
            </dict>
            <key>108134.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1376},{152,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,218}}</string>
                <key>sourceSize</key>
                <string>{152,218}</string>
            </dict>
            <key>108135.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,224},{144,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,214}}</string>
                <key>sourceSize</key>
                <string>{144,214}</string>
            </dict>
            <key>108136.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,667},{145,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,213}}</string>
                <key>sourceSize</key>
                <string>{145,213}</string>
            </dict>
            <key>108137.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{143,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,214}}</string>
                <key>sourceSize</key>
                <string>{143,214}</string>
            </dict>
            <key>108138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{141,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,219}}</string>
                <key>sourceSize</key>
                <string>{141,219}</string>
            </dict>
            <key>108139.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,457},{153,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,221}}</string>
                <key>sourceSize</key>
                <string>{153,221}</string>
            </dict>
            <key>108140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{101,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,229}}</string>
                <key>sourceSize</key>
                <string>{101,229}</string>
            </dict>
            <key>108141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{107,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,227}}</string>
                <key>sourceSize</key>
                <string>{107,227}</string>
            </dict>
            <key>108142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{103,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,220}}</string>
                <key>sourceSize</key>
                <string>{103,220}</string>
            </dict>
            <key>108143.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{115,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,220}}</string>
                <key>sourceSize</key>
                <string>{115,220}</string>
            </dict>
            <key>108144.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,228},{114,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,221}}</string>
                <key>sourceSize</key>
                <string>{114,221}</string>
            </dict>
            <key>108145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{98,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,228}}</string>
                <key>sourceSize</key>
                <string>{98,228}</string>
            </dict>
            <key>108146.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,866},{152,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,196}}</string>
                <key>sourceSize</key>
                <string>{152,196}</string>
            </dict>
            <key>108147.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1035},{144,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,192}}</string>
                <key>sourceSize</key>
                <string>{144,192}</string>
            </dict>
            <key>108148.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1035},{144,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,191}}</string>
                <key>sourceSize</key>
                <string>{144,191}</string>
            </dict>
            <key>108149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1008},{145,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,185}}</string>
                <key>sourceSize</key>
                <string>{145,185}</string>
            </dict>
            <key>108150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,793},{140,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,185}}</string>
                <key>sourceSize</key>
                <string>{140,185}</string>
            </dict>
            <key>108151.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,406},{147,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,193}}</string>
                <key>sourceSize</key>
                <string>{147,193}</string>
            </dict>
            <key>108152.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1324},{197,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,158}}</string>
                <key>sourceSize</key>
                <string>{197,158}</string>
            </dict>
            <key>108153.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1681},{187,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,158}}</string>
                <key>sourceSize</key>
                <string>{187,158}</string>
            </dict>
            <key>108154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,816},{190,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,157}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>108155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1610},{170,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,156}}</string>
                <key>sourceSize</key>
                <string>{170,156}</string>
            </dict>
            <key>108156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1195},{150,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,161}}</string>
                <key>sourceSize</key>
                <string>{150,161}</string>
            </dict>
            <key>108157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,192},{176,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,164}}</string>
                <key>sourceSize</key>
                <string>{176,164}</string>
            </dict>
            <key>108158.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1293},{152,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,192}}</string>
                <key>sourceSize</key>
                <string>{152,192}</string>
            </dict>
            <key>108159.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,601},{144,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,190}}</string>
                <key>sourceSize</key>
                <string>{144,190}</string>
            </dict>
            <key>108160.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,196},{144,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,189}}</string>
                <key>sourceSize</key>
                <string>{144,189}</string>
            </dict>
            <key>108161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,585},{143,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,184}}</string>
                <key>sourceSize</key>
                <string>{143,184}</string>
            </dict>
            <key>108162.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,387},{141,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,182}}</string>
                <key>sourceSize</key>
                <string>{141,182}</string>
            </dict>
            <key>108163.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1229},{154,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,191}}</string>
                <key>sourceSize</key>
                <string>{154,191}</string>
            </dict>
            <key>108164.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{101,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,226}}</string>
                <key>sourceSize</key>
                <string>{101,226}</string>
            </dict>
            <key>108165.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,694},{106,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,224}}</string>
                <key>sourceSize</key>
                <string>{106,224}</string>
            </dict>
            <key>108166.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1596},{103,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,218}}</string>
                <key>sourceSize</key>
                <string>{103,218}</string>
            </dict>
            <key>108167.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1602},{115,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,219}}</string>
                <key>sourceSize</key>
                <string>{115,219}</string>
            </dict>
            <key>108168.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1823},{114,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,219}}</string>
                <key>sourceSize</key>
                <string>{114,219}</string>
            </dict>
            <key>108169.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1151},{98,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,223}}</string>
                <key>sourceSize</key>
                <string>{98,223}</string>
            </dict>
            <key>108170.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,680},{152,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,214}}</string>
                <key>sourceSize</key>
                <string>{152,214}</string>
            </dict>
            <key>108171.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,218},{144,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,212}}</string>
                <key>sourceSize</key>
                <string>{144,212}</string>
            </dict>
            <key>108172.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,451},{146,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,214}}</string>
                <key>sourceSize</key>
                <string>{146,214}</string>
            </dict>
            <key>108173.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1363},{142,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,216}}</string>
                <key>sourceSize</key>
                <string>{142,216}</string>
            </dict>
            <key>108174.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1581},{139,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,216}}</string>
                <key>sourceSize</key>
                <string>{139,216}</string>
            </dict>
            <key>108175.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,918},{147,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,216}}</string>
                <key>sourceSize</key>
                <string>{147,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum108_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:122415af80bd0a9c22d7d32fa1e06020:1/1$</string>
            <key>textureFileName</key>
            <string>hum108_1.png</string>
        </dict>
    </dict>
</plist>
