<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>102000.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,405},{192,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,171}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>102001.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,804},{187,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,175}}</string>
                <key>sourceSize</key>
                <string>{187,175}</string>
            </dict>
            <key>102002.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1566},{184,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,177}}</string>
                <key>sourceSize</key>
                <string>{184,177}</string>
            </dict>
            <key>102003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,373},{182,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,177}}</string>
                <key>sourceSize</key>
                <string>{182,177}</string>
            </dict>
            <key>102004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,214},{148,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,202}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>102005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,622},{143,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,200}}</string>
                <key>sourceSize</key>
                <string>{143,200}</string>
            </dict>
            <key>102006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{140,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,208}}</string>
                <key>sourceSize</key>
                <string>{140,208}</string>
            </dict>
            <key>102007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1416},{138,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,188}}</string>
                <key>sourceSize</key>
                <string>{138,188}</string>
            </dict>
            <key>102008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1678},{93,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,201}}</string>
                <key>sourceSize</key>
                <string>{93,201}</string>
            </dict>
            <key>102009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1680},{89,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,202}}</string>
                <key>sourceSize</key>
                <string>{89,202}</string>
            </dict>
            <key>102010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,824},{90,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,197}}</string>
                <key>sourceSize</key>
                <string>{90,197}</string>
            </dict>
            <key>102011.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1023},{94,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,195}}</string>
                <key>sourceSize</key>
                <string>{94,195}</string>
            </dict>
            <key>102012.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1182},{148,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,185}}</string>
                <key>sourceSize</key>
                <string>{148,185}</string>
            </dict>
            <key>102013.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1595},{142,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,187}}</string>
                <key>sourceSize</key>
                <string>{142,187}</string>
            </dict>
            <key>102014.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,193},{140,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,184}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>102015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,557},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>102016.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,203},{192,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,169}}</string>
                <key>sourceSize</key>
                <string>{192,169}</string>
            </dict>
            <key>102017.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,993},{187,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,170}}</string>
                <key>sourceSize</key>
                <string>{187,170}</string>
            </dict>
            <key>102018.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{183,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,168}}</string>
                <key>sourceSize</key>
                <string>{183,168}</string>
            </dict>
            <key>102019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,186},{181,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,166}}</string>
                <key>sourceSize</key>
                <string>{181,166}</string>
            </dict>
            <key>102020.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1379},{148,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,185}}</string>
                <key>sourceSize</key>
                <string>{148,185}</string>
            </dict>
            <key>102021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,187},{142,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,182}}</string>
                <key>sourceSize</key>
                <string>{142,182}</string>
            </dict>
            <key>102022.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1369},{145,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,184}}</string>
                <key>sourceSize</key>
                <string>{145,184}</string>
            </dict>
            <key>102023.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,769},{139,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,183}}</string>
                <key>sourceSize</key>
                <string>{139,183}</string>
            </dict>
            <key>102024.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,408},{93,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,200}}</string>
                <key>sourceSize</key>
                <string>{93,200}</string>
            </dict>
            <key>102025.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,826},{89,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,201}}</string>
                <key>sourceSize</key>
                <string>{89,201}</string>
            </dict>
            <key>102026.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1426},{90,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,195}}</string>
                <key>sourceSize</key>
                <string>{90,195}</string>
            </dict>
            <key>102027.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1021},{94,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,194}}</string>
                <key>sourceSize</key>
                <string>{94,194}</string>
            </dict>
            <key>102028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1067},{148,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,203}}</string>
                <key>sourceSize</key>
                <string>{148,203}</string>
            </dict>
            <key>102029.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1679},{142,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,201}}</string>
                <key>sourceSize</key>
                <string>{142,201}</string>
            </dict>
            <key>102030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{140,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,210}}</string>
                <key>sourceSize</key>
                <string>{140,210}</string>
            </dict>
            <key>102031.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1029},{138,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,197}}</string>
                <key>sourceSize</key>
                <string>{138,197}</string>
            </dict>
            <key>102032.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,807},{192,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,173}}</string>
                <key>sourceSize</key>
                <string>{192,173}</string>
            </dict>
            <key>102033.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1406},{187,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,174}}</string>
                <key>sourceSize</key>
                <string>{187,174}</string>
            </dict>
            <key>102034.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,379},{183,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,178}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>102035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,2},{174,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,180}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>102036.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1882},{151,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,173}}</string>
                <key>sourceSize</key>
                <string>{151,173}</string>
            </dict>
            <key>102037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,369},{176,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,175}}</string>
                <key>sourceSize</key>
                <string>{176,175}</string>
            </dict>
            <key>102038.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{147,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,202}}</string>
                <key>sourceSize</key>
                <string>{147,202}</string>
            </dict>
            <key>102039.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1272},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>102040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{140,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,209}}</string>
                <key>sourceSize</key>
                <string>{140,209}</string>
            </dict>
            <key>102041.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,583},{137,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,184}}</string>
                <key>sourceSize</key>
                <string>{137,184}</string>
            </dict>
            <key>102042.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,206},{137,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,200}}</string>
                <key>sourceSize</key>
                <string>{137,200}</string>
            </dict>
            <key>102043.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,622},{140,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,202}}</string>
                <key>sourceSize</key>
                <string>{140,202}</string>
            </dict>
            <key>102044.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{94,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,200}}</string>
                <key>sourceSize</key>
                <string>{94,200}</string>
            </dict>
            <key>102045.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,859},{90,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,203}}</string>
                <key>sourceSize</key>
                <string>{90,203}</string>
            </dict>
            <key>102046.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,610},{91,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,195}}</string>
                <key>sourceSize</key>
                <string>{91,195}</string>
            </dict>
            <key>102047.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{102,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,210}}</string>
                <key>sourceSize</key>
                <string>{102,210}</string>
            </dict>
            <key>102048.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{112,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,199}}</string>
                <key>sourceSize</key>
                <string>{112,199}</string>
            </dict>
            <key>102049.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1475},{93,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,201}}</string>
                <key>sourceSize</key>
                <string>{93,201}</string>
            </dict>
            <key>102050.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1814},{150,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,187}}</string>
                <key>sourceSize</key>
                <string>{150,187}</string>
            </dict>
            <key>102051.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1752},{143,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,184}}</string>
                <key>sourceSize</key>
                <string>{143,184}</string>
            </dict>
            <key>102052.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,397},{140,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,184}}</string>
                <key>sourceSize</key>
                <string>{140,184}</string>
            </dict>
            <key>102053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,2},{132,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,181}}</string>
                <key>sourceSize</key>
                <string>{132,181}</string>
            </dict>
            <key>102054.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,564},{135,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,183}}</string>
                <key>sourceSize</key>
                <string>{135,183}</string>
            </dict>
            <key>102055.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,583},{138,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>102056.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,610},{192,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,172}}</string>
                <key>sourceSize</key>
                <string>{192,172}</string>
            </dict>
            <key>102057.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1190},{187,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,172}}</string>
                <key>sourceSize</key>
                <string>{187,172}</string>
            </dict>
            <key>102058.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,188},{183,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,169}}</string>
                <key>sourceSize</key>
                <string>{183,169}</string>
            </dict>
            <key>102059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1135},{174,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,169}}</string>
                <key>sourceSize</key>
                <string>{174,169}</string>
            </dict>
            <key>102060.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1881},{151,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,169}}</string>
                <key>sourceSize</key>
                <string>{151,169}</string>
            </dict>
            <key>102061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,2},{176,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,171}}</string>
                <key>sourceSize</key>
                <string>{176,171}</string>
            </dict>
            <key>102062.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>102063.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1782},{142,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,185}}</string>
                <key>sourceSize</key>
                <string>{142,185}</string>
            </dict>
            <key>102064.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,954},{140,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,179}}</string>
                <key>sourceSize</key>
                <string>{140,179}</string>
            </dict>
            <key>102065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,749},{137,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,179}}</string>
                <key>sourceSize</key>
                <string>{137,179}</string>
            </dict>
            <key>102066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{137,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,182}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>102067.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{139,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,184}}</string>
                <key>sourceSize</key>
                <string>{139,184}</string>
            </dict>
            <key>102068.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1064},{94,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,201}}</string>
                <key>sourceSize</key>
                <string>{94,201}</string>
            </dict>
            <key>102069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{89,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,202}}</string>
                <key>sourceSize</key>
                <string>{89,202}</string>
            </dict>
            <key>102070.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,824},{91,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,195}}</string>
                <key>sourceSize</key>
                <string>{91,195}</string>
            </dict>
            <key>102071.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1228},{102,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,196}}</string>
                <key>sourceSize</key>
                <string>{102,196}</string>
            </dict>
            <key>102072.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,204},{112,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,199}}</string>
                <key>sourceSize</key>
                <string>{112,199}</string>
            </dict>
            <key>102073.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1679},{93,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,201}}</string>
                <key>sourceSize</key>
                <string>{93,201}</string>
            </dict>
            <key>102074.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1476},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>102075.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,418},{144,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{144,202}</string>
            </dict>
            <key>102076.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1220},{140,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,194}}</string>
                <key>sourceSize</key>
                <string>{140,194}</string>
            </dict>
            <key>102077.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1784},{133,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,186}}</string>
                <key>sourceSize</key>
                <string>{133,186}</string>
            </dict>
            <key>102078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,222}}</string>
                <key>sourceSize</key>
                <string>{135,222}</string>
            </dict>
            <key>102079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{139,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,202}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>102080.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1217},{183,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,187}}</string>
                <key>sourceSize</key>
                <string>{183,187}</string>
            </dict>
            <key>102081.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1001},{187,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,177}}</string>
                <key>sourceSize</key>
                <string>{187,177}</string>
            </dict>
            <key>102082.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1595},{185,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{185,172}</string>
            </dict>
            <key>102083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1884},{159,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,176}}</string>
                <key>sourceSize</key>
                <string>{159,176}</string>
            </dict>
            <key>102084.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1623},{146,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,189}}</string>
                <key>sourceSize</key>
                <string>{146,189}</string>
            </dict>
            <key>102085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,184},{172,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,176}}</string>
                <key>sourceSize</key>
                <string>{172,176}</string>
            </dict>
            <key>102086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{137,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,206}}</string>
                <key>sourceSize</key>
                <string>{137,206}</string>
            </dict>
            <key>102087.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,418},{138,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,200}}</string>
                <key>sourceSize</key>
                <string>{138,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum102.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3543eea7112d351f7b0421bc557d357a:1/1$</string>
            <key>textureFileName</key>
            <string>hum102.png</string>
        </dict>
    </dict>
</plist>
