<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>015000.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,515},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>015001.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{62,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>015002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,90},{62,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>015003.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,629},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>015004.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,728},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>015005.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>015006.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,81},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>015007.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,169},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>015008.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,513},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>015009.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,593},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>015010.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,784},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>015011.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,707},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>015012.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,964},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>015013.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>015014.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,398},{60,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,69}}</string>
                <key>sourceSize</key>
                <string>{60,69}</string>
            </dict>
            <key>015015.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,80},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>015016.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,325},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>015017.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,959},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>015018.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,886},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>015019.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,813},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>015020.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,666},{54,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>015021.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,746},{54,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>015022.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,937},{54,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>015023.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,884},{54,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>015024.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,806},{50,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>015025.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,159},{50,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>015026.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,247},{50,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>015027.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,336},{50,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>015028.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,357},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>015029.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,277},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>015030.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,471},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>015031.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,569},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>015032.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,104},{66,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>015033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,101}}</string>
                <key>sourceSize</key>
                <string>{76,101}</string>
            </dict>
            <key>015034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{70,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,99}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
            <key>015035.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,306},{64,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>015036.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,104},{62,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>015037.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,207},{64,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>015038.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,699},{90,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>015039.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{94,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>015040.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,405},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>015041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>015042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{90,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>015043.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{86,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>015044.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>015045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{98,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>015046.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,203},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>015047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>015048.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{94,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>015049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{94,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>015050.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,597},{90,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>015051.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,397},{90,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>015052.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,503},{90,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>015053.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,98},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>015054.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,595},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>015055.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,775},{82,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>015056.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,258},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>015057.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,398},{62,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>015058.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,937},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>015059.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,940},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>015060.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,469},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>015061.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,845},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>015062.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,941},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>015063.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,437},{76,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>015064.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,670},{74,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>015065.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,551},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>015066.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,391},{78,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>015067.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,590},{74,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>015068.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,792},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>015069.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,301},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>015070.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{86,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>015071.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,878},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>015072.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,859},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>015073.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,689},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>015074.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,301},{70,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>015075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{78,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>015076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>015077.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,99},{76,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{76,94}</string>
            </dict>
            <key>015078.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,503},{66,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>015079.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,605},{66,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>015128.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,435},{54,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>015129.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,277},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>015130.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,681},{54,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,81}}</string>
                <key>sourceSize</key>
                <string>{56,81}</string>
            </dict>
            <key>015131.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,188},{78,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>015132.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,91},{86,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>015133.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,888},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>015134.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,159},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>015135.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,964},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>015136.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,357},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>015137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>015138.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,179},{74,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>015139.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,195},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>015140.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,740},{66,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>015141.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,820},{66,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>015142.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,489},{78,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>015143.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,764},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>015144.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,649},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>015145.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,861},{74,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>015146.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,237},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>015147.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,893},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum15.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00fc24007e161909a7daf5a6a2af55d7:1/1$</string>
            <key>textureFileName</key>
            <string>hum15.png</string>
        </dict>
    </dict>
</plist>
