<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>107000.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1658},{196,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,164}}</string>
                <key>sourceSize</key>
                <string>{196,164}</string>
            </dict>
            <key>107001.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,206},{201,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,169}}</string>
                <key>sourceSize</key>
                <string>{201,169}</string>
            </dict>
            <key>107002.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,837},{197,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,168}}</string>
                <key>sourceSize</key>
                <string>{197,168}</string>
            </dict>
            <key>107003.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1186},{189,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,169}}</string>
                <key>sourceSize</key>
                <string>{189,169}</string>
            </dict>
            <key>107004.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1426},{151,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,193}}</string>
                <key>sourceSize</key>
                <string>{151,193}</string>
            </dict>
            <key>107005.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1621},{154,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,192}}</string>
                <key>sourceSize</key>
                <string>{154,192}</string>
            </dict>
            <key>107006.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,404},{150,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,191}}</string>
                <key>sourceSize</key>
                <string>{150,191}</string>
            </dict>
            <key>107007.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1568},{144,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,188}}</string>
                <key>sourceSize</key>
                <string>{144,188}</string>
            </dict>
            <key>107008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{100,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,207}}</string>
                <key>sourceSize</key>
                <string>{100,207}</string>
            </dict>
            <key>107009.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,419},{99,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,204}}</string>
                <key>sourceSize</key>
                <string>{99,204}</string>
            </dict>
            <key>107010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1658},{98,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,197}}</string>
                <key>sourceSize</key>
                <string>{98,197}</string>
            </dict>
            <key>107011.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,608},{102,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,192}}</string>
                <key>sourceSize</key>
                <string>{102,192}</string>
            </dict>
            <key>107012.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,186},{150,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,182}}</string>
                <key>sourceSize</key>
                <string>{150,182}</string>
            </dict>
            <key>107013.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,570},{153,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,180}}</string>
                <key>sourceSize</key>
                <string>{153,180}</string>
            </dict>
            <key>107014.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,932},{150,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,177}}</string>
                <key>sourceSize</key>
                <string>{150,177}</string>
            </dict>
            <key>107015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{145,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,171}}</string>
                <key>sourceSize</key>
                <string>{145,171}</string>
            </dict>
            <key>107016.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1654},{196,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,146}}</string>
                <key>sourceSize</key>
                <string>{196,146}</string>
            </dict>
            <key>107017.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,209},{202,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,151}}</string>
                <key>sourceSize</key>
                <string>{202,151}</string>
            </dict>
            <key>107018.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,205},{197,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,154}}</string>
                <key>sourceSize</key>
                <string>{197,154}</string>
            </dict>
            <key>107019.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1377},{189,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,151}}</string>
                <key>sourceSize</key>
                <string>{189,151}</string>
            </dict>
            <key>107020.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,386},{151,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,182}}</string>
                <key>sourceSize</key>
                <string>{151,182}</string>
            </dict>
            <key>107021.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{153,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,180}}</string>
                <key>sourceSize</key>
                <string>{153,180}</string>
            </dict>
            <key>107022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,183},{149,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,174}}</string>
                <key>sourceSize</key>
                <string>{149,174}</string>
            </dict>
            <key>107023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,359},{144,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,172}}</string>
                <key>sourceSize</key>
                <string>{144,172}</string>
            </dict>
            <key>107024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{100,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,207}}</string>
                <key>sourceSize</key>
                <string>{100,207}</string>
            </dict>
            <key>107025.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{99,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,205}}</string>
                <key>sourceSize</key>
                <string>{99,205}</string>
            </dict>
            <key>107026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{98,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,200}}</string>
                <key>sourceSize</key>
                <string>{98,200}</string>
            </dict>
            <key>107027.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1832},{102,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,193}}</string>
                <key>sourceSize</key>
                <string>{102,193}</string>
            </dict>
            <key>107028.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{150,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,201}}</string>
                <key>sourceSize</key>
                <string>{150,201}</string>
            </dict>
            <key>107029.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1637},{154,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,193}}</string>
                <key>sourceSize</key>
                <string>{154,193}</string>
            </dict>
            <key>107030.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1426},{150,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,192}}</string>
                <key>sourceSize</key>
                <string>{150,192}</string>
            </dict>
            <key>107031.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1856},{144,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,190}}</string>
                <key>sourceSize</key>
                <string>{144,190}</string>
            </dict>
            <key>107032.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1245},{195,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,166}}</string>
                <key>sourceSize</key>
                <string>{195,166}</string>
            </dict>
            <key>107033.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,413},{201,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,169}}</string>
                <key>sourceSize</key>
                <string>{201,169}</string>
            </dict>
            <key>107034.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,616},{197,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,167}}</string>
                <key>sourceSize</key>
                <string>{197,167}</string>
            </dict>
            <key>107035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{179,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,171}}</string>
                <key>sourceSize</key>
                <string>{179,171}</string>
            </dict>
            <key>107036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,178},{155,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,171}}</string>
                <key>sourceSize</key>
                <string>{155,171}</string>
            </dict>
            <key>107037.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1362},{187,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,169}}</string>
                <key>sourceSize</key>
                <string>{187,169}</string>
            </dict>
            <key>107038.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,815},{149,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,192}}</string>
                <key>sourceSize</key>
                <string>{149,192}</string>
            </dict>
            <key>107039.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1231},{154,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,193}}</string>
                <key>sourceSize</key>
                <string>{154,193}</string>
            </dict>
            <key>107040.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1815},{149,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,191}}</string>
                <key>sourceSize</key>
                <string>{149,191}</string>
            </dict>
            <key>107041.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1758},{142,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,187}}</string>
                <key>sourceSize</key>
                <string>{142,187}</string>
            </dict>
            <key>107042.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,994},{139,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,190}}</string>
                <key>sourceSize</key>
                <string>{139,190}</string>
            </dict>
            <key>107043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,543},{146,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,172}}</string>
                <key>sourceSize</key>
                <string>{146,172}</string>
            </dict>
            <key>107044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{101,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,207}}</string>
                <key>sourceSize</key>
                <string>{101,207}</string>
            </dict>
            <key>107045.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,211},{99,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,206}}</string>
                <key>sourceSize</key>
                <string>{99,206}</string>
            </dict>
            <key>107046.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1045},{97,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,198}}</string>
                <key>sourceSize</key>
                <string>{97,198}</string>
            </dict>
            <key>107047.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,801},{110,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,191}}</string>
                <key>sourceSize</key>
                <string>{110,191}</string>
            </dict>
            <key>107048.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1231},{119,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,193}}</string>
                <key>sourceSize</key>
                <string>{119,193}</string>
            </dict>
            <key>107049.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,629},{106,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,206}}</string>
                <key>sourceSize</key>
                <string>{106,206}</string>
            </dict>
            <key>107050.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,981},{152,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,189}}</string>
                <key>sourceSize</key>
                <string>{152,189}</string>
            </dict>
            <key>107051.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{154,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,182}}</string>
                <key>sourceSize</key>
                <string>{154,182}</string>
            </dict>
            <key>107052.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,752},{150,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,178}}</string>
                <key>sourceSize</key>
                <string>{150,178}</string>
            </dict>
            <key>107053.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,752},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>107054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{138,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,174}}</string>
                <key>sourceSize</key>
                <string>{138,174}</string>
            </dict>
            <key>107055.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,201},{146,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,183}}</string>
                <key>sourceSize</key>
                <string>{146,183}</string>
            </dict>
            <key>107056.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1456},{196,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,148}}</string>
                <key>sourceSize</key>
                <string>{196,148}</string>
            </dict>
            <key>107057.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{202,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,149}}</string>
                <key>sourceSize</key>
                <string>{202,149}</string>
            </dict>
            <key>107058.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,409},{197,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,155}}</string>
                <key>sourceSize</key>
                <string>{197,155}</string>
            </dict>
            <key>107059.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,370},{180,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,153}}</string>
                <key>sourceSize</key>
                <string>{180,153}</string>
            </dict>
            <key>107060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,717},{156,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,153}}</string>
                <key>sourceSize</key>
                <string>{156,153}</string>
            </dict>
            <key>107061.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1172},{188,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,149}}</string>
                <key>sourceSize</key>
                <string>{188,149}</string>
            </dict>
            <key>107062.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1551},{150,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,186}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>107063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1739},{154,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,184}}</string>
                <key>sourceSize</key>
                <string>{154,184}</string>
            </dict>
            <key>107064.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,366},{149,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,175}}</string>
                <key>sourceSize</key>
                <string>{149,175}</string>
            </dict>
            <key>107065.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,931},{142,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,173}}</string>
                <key>sourceSize</key>
                <string>{142,173}</string>
            </dict>
            <key>107066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,730},{139,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,173}}</string>
                <key>sourceSize</key>
                <string>{139,173}</string>
            </dict>
            <key>107067.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,184},{146,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,180}}</string>
                <key>sourceSize</key>
                <string>{146,180}</string>
            </dict>
            <key>107068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{101,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,207}}</string>
                <key>sourceSize</key>
                <string>{101,207}</string>
            </dict>
            <key>107069.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,837},{99,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,206}}</string>
                <key>sourceSize</key>
                <string>{99,206}</string>
            </dict>
            <key>107070.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1255},{97,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,199}}</string>
                <key>sourceSize</key>
                <string>{97,199}</string>
            </dict>
            <key>107071.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1813},{110,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,191}}</string>
                <key>sourceSize</key>
                <string>{110,191}</string>
            </dict>
            <key>107072.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1620},{120,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,191}}</string>
                <key>sourceSize</key>
                <string>{120,191}</string>
            </dict>
            <key>107073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{106,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,206}}</string>
                <key>sourceSize</key>
                <string>{106,206}</string>
            </dict>
            <key>107074.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1036},{151,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,195}}</string>
                <key>sourceSize</key>
                <string>{151,195}</string>
            </dict>
            <key>107075.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1442},{154,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,193}}</string>
                <key>sourceSize</key>
                <string>{154,193}</string>
            </dict>
            <key>107076.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,608},{150,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,191}}</string>
                <key>sourceSize</key>
                <string>{150,191}</string>
            </dict>
            <key>107077.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,597},{139,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,190}}</string>
                <key>sourceSize</key>
                <string>{139,190}</string>
            </dict>
            <key>107078.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,789},{138,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,190}}</string>
                <key>sourceSize</key>
                <string>{138,190}</string>
            </dict>
            <key>107079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,207}}</string>
                <key>sourceSize</key>
                <string>{146,207}</string>
            </dict>
            <key>107080.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1036},{193,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,171}}</string>
                <key>sourceSize</key>
                <string>{193,171}</string>
            </dict>
            <key>107081.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1852},{193,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,173}}</string>
                <key>sourceSize</key>
                <string>{193,173}</string>
            </dict>
            <key>107082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1857},{189,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,171}}</string>
                <key>sourceSize</key>
                <string>{189,171}</string>
            </dict>
            <key>107083.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1111},{170,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,173}}</string>
                <key>sourceSize</key>
                <string>{170,173}</string>
            </dict>
            <key>107084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,905},{149,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,170}}</string>
                <key>sourceSize</key>
                <string>{149,170}</string>
            </dict>
            <key>107085.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,552},{176,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,167}}</string>
                <key>sourceSize</key>
                <string>{176,167}</string>
            </dict>
            <key>107086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1457},{143,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,199}}</string>
                <key>sourceSize</key>
                <string>{143,199}</string>
            </dict>
            <key>107087.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{140,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,197}}</string>
                <key>sourceSize</key>
                <string>{140,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum107.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26bc1e7bebd9144c8ebd66df9262f238:1/1$</string>
            <key>textureFileName</key>
            <string>hum107.png</string>
        </dict>
    </dict>
</plist>
