<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101088.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1601},{131,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,157}}</string>
                <key>sourceSize</key>
                <string>{131,157}</string>
            </dict>
            <key>101089.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,90},{138,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,191}}</string>
                <key>sourceSize</key>
                <string>{138,191}</string>
            </dict>
            <key>101090.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,912},{128,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,164}}</string>
                <key>sourceSize</key>
                <string>{128,164}</string>
            </dict>
            <key>101091.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,143},{138,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,166}}</string>
                <key>sourceSize</key>
                <string>{138,166}</string>
            </dict>
            <key>101092.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,239},{92,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,184}}</string>
                <key>sourceSize</key>
                <string>{92,184}</string>
            </dict>
            <key>101093.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,371},{98,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,180}}</string>
                <key>sourceSize</key>
                <string>{98,180}</string>
            </dict>
            <key>101094.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,810},{100,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,172}}</string>
                <key>sourceSize</key>
                <string>{100,172}</string>
            </dict>
            <key>101095.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{106,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,218}}</string>
                <key>sourceSize</key>
                <string>{106,218}</string>
            </dict>
            <key>101096.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,527},{96,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,177}}</string>
                <key>sourceSize</key>
                <string>{96,177}</string>
            </dict>
            <key>101097.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{86,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,204}}</string>
                <key>sourceSize</key>
                <string>{86,204}</string>
            </dict>
            <key>101098.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{138,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>101099.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1674},{139,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,151}}</string>
                <key>sourceSize</key>
                <string>{139,151}</string>
            </dict>
            <key>101100.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1445},{141,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,157}}</string>
                <key>sourceSize</key>
                <string>{141,157}</string>
            </dict>
            <key>101101.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,961},{132,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,164}}</string>
                <key>sourceSize</key>
                <string>{132,164}</string>
            </dict>
            <key>101102.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,679},{125,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,169}}</string>
                <key>sourceSize</key>
                <string>{125,169}</string>
            </dict>
            <key>101103.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,893},{138,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,168}}</string>
                <key>sourceSize</key>
                <string>{138,168}</string>
            </dict>
            <key>101104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{170,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,142}}</string>
                <key>sourceSize</key>
                <string>{170,142}</string>
            </dict>
            <key>101105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,647},{175,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,142}}</string>
                <key>sourceSize</key>
                <string>{175,142}</string>
            </dict>
            <key>101106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{177,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{177,145}</string>
            </dict>
            <key>101107.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1042},{161,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,146}}</string>
                <key>sourceSize</key>
                <string>{161,146}</string>
            </dict>
            <key>101108.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1815},{141,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,146}}</string>
                <key>sourceSize</key>
                <string>{141,146}</string>
            </dict>
            <key>101109.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{167,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,139}}</string>
                <key>sourceSize</key>
                <string>{167,139}</string>
            </dict>
            <key>101110.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,283},{128,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,183}}</string>
                <key>sourceSize</key>
                <string>{128,183}</string>
            </dict>
            <key>101111.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1410},{129,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,155}}</string>
                <key>sourceSize</key>
                <string>{129,155}</string>
            </dict>
            <key>101112.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1588},{131,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,157}}</string>
                <key>sourceSize</key>
                <string>{131,157}</string>
            </dict>
            <key>101113.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1308},{135,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,159}}</string>
                <key>sourceSize</key>
                <string>{135,159}</string>
            </dict>
            <key>101114.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1033},{129,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,162}}</string>
                <key>sourceSize</key>
                <string>{129,162}</string>
            </dict>
            <key>101115.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,984},{138,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,161}}</string>
                <key>sourceSize</key>
                <string>{138,161}</string>
            </dict>
            <key>101116.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,413},{93,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,180}}</string>
                <key>sourceSize</key>
                <string>{93,180}</string>
            </dict>
            <key>101117.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,427},{98,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,178}}</string>
                <key>sourceSize</key>
                <string>{98,178}</string>
            </dict>
            <key>101118.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,625},{100,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,174}}</string>
                <key>sourceSize</key>
                <string>{100,174}</string>
            </dict>
            <key>101119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{105,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,209}}</string>
                <key>sourceSize</key>
                <string>{105,209}</string>
            </dict>
            <key>101120.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,886},{96,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,170}}</string>
                <key>sourceSize</key>
                <string>{96,170}</string>
            </dict>
            <key>101121.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,491},{87,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,178}}</string>
                <key>sourceSize</key>
                <string>{87,178}</string>
            </dict>
            <key>101122.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1461},{138,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,157}}</string>
                <key>sourceSize</key>
                <string>{138,157}</string>
            </dict>
            <key>101123.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1852},{140,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,155}}</string>
                <key>sourceSize</key>
                <string>{140,155}</string>
            </dict>
            <key>101124.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1531},{140,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,154}}</string>
                <key>sourceSize</key>
                <string>{140,154}</string>
            </dict>
            <key>101125.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1523},{132,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,157}}</string>
                <key>sourceSize</key>
                <string>{132,157}</string>
            </dict>
            <key>101126.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1269},{125,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,158}}</string>
                <key>sourceSize</key>
                <string>{125,158}</string>
            </dict>
            <key>101127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{138,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,161}}</string>
                <key>sourceSize</key>
                <string>{138,161}</string>
            </dict>
            <key>101128.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,350},{184,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,139}}</string>
                <key>sourceSize</key>
                <string>{184,139}</string>
            </dict>
            <key>101129.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,563},{176,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,128}}</string>
                <key>sourceSize</key>
                <string>{176,128}</string>
            </dict>
            <key>101130.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1015},{161,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,129}}</string>
                <key>sourceSize</key>
                <string>{161,129}</string>
            </dict>
            <key>101131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{156,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,132}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>101132.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1815},{147,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,130}}</string>
                <key>sourceSize</key>
                <string>{147,130}</string>
            </dict>
            <key>101133.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,832},{170,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,127}}</string>
                <key>sourceSize</key>
                <string>{170,127}</string>
            </dict>
            <key>101134.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1095},{143,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,160}}</string>
                <key>sourceSize</key>
                <string>{143,160}</string>
            </dict>
            <key>101135.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1657},{137,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,154}}</string>
                <key>sourceSize</key>
                <string>{137,154}</string>
            </dict>
            <key>101136.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1333},{126,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,159}}</string>
                <key>sourceSize</key>
                <string>{126,159}</string>
            </dict>
            <key>101137.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1541},{131,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,153}}</string>
                <key>sourceSize</key>
                <string>{131,153}</string>
            </dict>
            <key>101138.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1240},{135,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,159}}</string>
                <key>sourceSize</key>
                <string>{135,159}</string>
            </dict>
            <key>101139.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{143,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,201}}</string>
                <key>sourceSize</key>
                <string>{143,201}</string>
            </dict>
            <key>101140.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,256},{92,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,185}}</string>
                <key>sourceSize</key>
                <string>{92,185}</string>
            </dict>
            <key>101141.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,580},{97,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,176}}</string>
                <key>sourceSize</key>
                <string>{97,176}</string>
            </dict>
            <key>101142.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,652},{92,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,173}}</string>
                <key>sourceSize</key>
                <string>{92,173}</string>
            </dict>
            <key>101143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,222}}</string>
                <key>sourceSize</key>
                <string>{104,222}</string>
            </dict>
            <key>101144.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,788},{103,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,172}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>101145.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,147},{90,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,188}}</string>
                <key>sourceSize</key>
                <string>{90,188}</string>
            </dict>
            <key>101146.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,110},{144,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,187}}</string>
                <key>sourceSize</key>
                <string>{144,187}</string>
            </dict>
            <key>101147.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1273},{135,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,157}}</string>
                <key>sourceSize</key>
                <string>{135,157}</string>
            </dict>
            <key>101148.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1725},{125,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,157}}</string>
                <key>sourceSize</key>
                <string>{125,157}</string>
            </dict>
            <key>101149.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{132,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,160}}</string>
                <key>sourceSize</key>
                <string>{132,160}</string>
            </dict>
            <key>101150.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{133,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,158}}</string>
                <key>sourceSize</key>
                <string>{133,158}</string>
            </dict>
            <key>101151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1035},{141,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,163}}</string>
                <key>sourceSize</key>
                <string>{141,163}</string>
            </dict>
            <key>101152.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,230},{185,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,139}}</string>
                <key>sourceSize</key>
                <string>{185,139}</string>
            </dict>
            <key>101153.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,508},{177,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,142}}</string>
                <key>sourceSize</key>
                <string>{177,142}</string>
            </dict>
            <key>101154.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,850},{163,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,144}}</string>
                <key>sourceSize</key>
                <string>{163,144}</string>
            </dict>
            <key>101155.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1377},{157,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,144}}</string>
                <key>sourceSize</key>
                <string>{157,144}</string>
            </dict>
            <key>101156.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1815},{147,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,141}}</string>
                <key>sourceSize</key>
                <string>{147,141}</string>
            </dict>
            <key>101157.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,746},{170,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,138}}</string>
                <key>sourceSize</key>
                <string>{170,138}</string>
            </dict>
            <key>101158.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{143,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,185}}</string>
                <key>sourceSize</key>
                <string>{143,185}</string>
            </dict>
            <key>101159.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1859},{136,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,153}}</string>
                <key>sourceSize</key>
                <string>{136,153}</string>
            </dict>
            <key>101160.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1673},{126,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>101161.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1859},{131,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,154}}</string>
                <key>sourceSize</key>
                <string>{131,154}</string>
            </dict>
            <key>101162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1587},{136,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,157}}</string>
                <key>sourceSize</key>
                <string>{136,157}</string>
            </dict>
            <key>101163.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1164},{142,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,160}}</string>
                <key>sourceSize</key>
                <string>{142,160}</string>
            </dict>
            <key>101164.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,333},{92,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,182}}</string>
                <key>sourceSize</key>
                <string>{92,182}</string>
            </dict>
            <key>101165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{98,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,175}}</string>
                <key>sourceSize</key>
                <string>{98,175}</string>
            </dict>
            <key>101166.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,693},{93,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,173}}</string>
                <key>sourceSize</key>
                <string>{93,173}</string>
            </dict>
            <key>101167.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,727},{103,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,172}}</string>
                <key>sourceSize</key>
                <string>{103,172}</string>
            </dict>
            <key>101168.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,508},{104,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,169}}</string>
                <key>sourceSize</key>
                <string>{104,169}</string>
            </dict>
            <key>101169.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,471},{90,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,178}}</string>
                <key>sourceSize</key>
                <string>{90,178}</string>
            </dict>
            <key>101170.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1124},{143,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,159}}</string>
                <key>sourceSize</key>
                <string>{143,159}</string>
            </dict>
            <key>101171.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1721},{136,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,154}}</string>
                <key>sourceSize</key>
                <string>{136,154}</string>
            </dict>
            <key>101172.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1146},{125,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,158}}</string>
                <key>sourceSize</key>
                <string>{125,158}</string>
            </dict>
            <key>101173.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,679},{129,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,175}}</string>
                <key>sourceSize</key>
                <string>{129,175}</string>
            </dict>
            <key>101174.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1396},{133,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,157}}</string>
                <key>sourceSize</key>
                <string>{133,157}</string>
            </dict>
            <key>101175.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1190},{141,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,160}}</string>
                <key>sourceSize</key>
                <string>{141,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum101_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73506b00d1700436fc8512827b5cbdef:1/1$</string>
            <key>textureFileName</key>
            <string>hum101_1.png</string>
        </dict>
    </dict>
</plist>
