<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>019000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{102,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>019001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{102,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{104,115}</string>
            </dict>
            <key>019002.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,313},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>019003.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,324},{102,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>019004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,710},{102,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>019005.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,517},{108,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,104}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>019006.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,636},{106,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{108,102}</string>
            </dict>
            <key>019007.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,812},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>019008.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,214},{118,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,97}}</string>
                <key>sourceSize</key>
                <string>{120,97}</string>
            </dict>
            <key>019009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,228},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>019010.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,219},{122,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,99}}</string>
                <key>sourceSize</key>
                <string>{124,99}</string>
            </dict>
            <key>019011.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,200},{118,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>019012.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,424},{114,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,90}}</string>
                <key>sourceSize</key>
                <string>{116,90}</string>
            </dict>
            <key>019013.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,513},{110,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,90}}</string>
                <key>sourceSize</key>
                <string>{112,90}</string>
            </dict>
            <key>019014.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,410},{110,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,93}}</string>
                <key>sourceSize</key>
                <string>{112,93}</string>
            </dict>
            <key>019015.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,509},{112,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,91}}</string>
                <key>sourceSize</key>
                <string>{112,91}</string>
            </dict>
            <key>019016.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1198},{100,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,79}}</string>
                <key>sourceSize</key>
                <string>{100,79}</string>
            </dict>
            <key>019017.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1120},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>019018.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1005},{102,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>019019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>019020.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1194},{84,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>019021.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1085},{84,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>019022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{88,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,103}}</string>
                <key>sourceSize</key>
                <string>{88,103}</string>
            </dict>
            <key>019023.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1023},{84,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>019024.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,911},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>019025.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,894},{92,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,103}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>019026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{94,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>019027.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,927},{90,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>019028.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1020},{98,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>019029.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,709},{98,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,106}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>019030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,106}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>019031.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,814},{98,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>019032.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,794},{98,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{100,104}</string>
            </dict>
            <key>019033.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,690},{102,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>019034.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,599},{104,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>019035.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,638},{102,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>019036.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,532},{102,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>019037.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,435},{102,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>019038.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,605},{108,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>019039.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,806},{106,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,92}}</string>
                <key>sourceSize</key>
                <string>{108,92}</string>
            </dict>
            <key>019040.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1019},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>019041.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,742},{84,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>019042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{90,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>019043.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,828},{102,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{104,101}</string>
            </dict>
            <key>019044.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,505},{110,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{112,92}</string>
            </dict>
            <key>019045.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,410},{112,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>019046.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,236},{116,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,99}}</string>
                <key>sourceSize</key>
                <string>{116,99}</string>
            </dict>
            <key>019047.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,419},{112,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{112,96}</string>
            </dict>
            <key>019048.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,337},{114,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,96}}</string>
                <key>sourceSize</key>
                <string>{116,96}</string>
            </dict>
            <key>019049.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,320},{116,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,97}}</string>
                <key>sourceSize</key>
                <string>{116,97}</string>
            </dict>
            <key>019050.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1109},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>019051.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1006},{102,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>019052.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,705},{106,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>019053.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,539},{108,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,97}}</string>
                <key>sourceSize</key>
                <string>{108,97}</string>
            </dict>
            <key>019054.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,328},{116,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,94}}</string>
                <key>sourceSize</key>
                <string>{116,94}</string>
            </dict>
            <key>019055.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,419},{114,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{116,92}</string>
            </dict>
            <key>019056.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1012},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>019057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>019058.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,998},{102,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>019059.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1280},{98,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>019060.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1171},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>019061.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1102},{100,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>019062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{92,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,107}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>019063.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,705},{90,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>019064.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,828},{92,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,103}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>019065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{92,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,97}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
            <key>019066.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,740},{86,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,105}}</string>
                <key>sourceSize</key>
                <string>{88,105}</string>
            </dict>
            <key>019067.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,626},{82,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{84,108}</string>
            </dict>
            <key>019068.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,922},{102,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,99}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>019069.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,833},{92,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>019070.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,914},{90,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,103}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>019071.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1258},{90,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>019072.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,918},{92,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,103}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>019073.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,809},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>019074.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,602},{106,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>019075.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,729},{102,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>019076.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,900},{96,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,103}}</string>
                <key>sourceSize</key>
                <string>{96,103}</string>
            </dict>
            <key>019077.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,931},{102,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>019078.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,988},{102,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>019079.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,623},{106,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,104}}</string>
                <key>sourceSize</key>
                <string>{108,104}</string>
            </dict>
            <key>019080.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,428},{102,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>019081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,149}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>019082.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,90},{122,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,127}}</string>
                <key>sourceSize</key>
                <string>{124,127}</string>
            </dict>
            <key>019083.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,92},{134,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{136,138}</string>
            </dict>
            <key>019084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{80,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,109}</string>
            </dict>
            <key>019085.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{86,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,129}}</string>
                <key>sourceSize</key>
                <string>{88,129}</string>
            </dict>
            <key>019086.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,516},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>019087.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{112,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>019088.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,217},{116,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,105}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>019089.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,87},{130,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,139}}</string>
                <key>sourceSize</key>
                <string>{132,139}</string>
            </dict>
            <key>019090.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,105},{120,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,93}}</string>
                <key>sourceSize</key>
                <string>{120,93}</string>
            </dict>
            <key>019091.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,300},{114,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>019092.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{128,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,101}}</string>
                <key>sourceSize</key>
                <string>{128,101}</string>
            </dict>
            <key>019093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{132,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>019094.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,116},{122,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,118}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>019095.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,101},{114,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,127}}</string>
                <key>sourceSize</key>
                <string>{116,127}</string>
            </dict>
            <key>019096.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{142,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,83}}</string>
                <key>sourceSize</key>
                <string>{144,83}</string>
            </dict>
            <key>019097.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{144,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,88}}</string>
                <key>sourceSize</key>
                <string>{144,88}</string>
            </dict>
            <key>019098.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{130,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,97}}</string>
                <key>sourceSize</key>
                <string>{132,97}</string>
            </dict>
            <key>019099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{136,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,114}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum19.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec78aab27a69010af7c42931ce3e1d83:1/1$</string>
            <key>textureFileName</key>
            <string>hum19.png</string>
        </dict>
    </dict>
</plist>
