<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101000.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,285},{184,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,138}}</string>
                <key>sourceSize</key>
                <string>{184,138}</string>
            </dict>
            <key>101001.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{187,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,132}}</string>
                <key>sourceSize</key>
                <string>{187,132}</string>
            </dict>
            <key>101002.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,910},{167,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,130}}</string>
                <key>sourceSize</key>
                <string>{167,130}</string>
            </dict>
            <key>101003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{169,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,128}}</string>
                <key>sourceSize</key>
                <string>{169,128}</string>
            </dict>
            <key>101004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{143,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,163}}</string>
                <key>sourceSize</key>
                <string>{143,163}</string>
            </dict>
            <key>101005.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1191},{143,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,159}}</string>
                <key>sourceSize</key>
                <string>{143,159}</string>
            </dict>
            <key>101006.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1403},{129,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,159}}</string>
                <key>sourceSize</key>
                <string>{129,159}</string>
            </dict>
            <key>101007.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1517},{131,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,155}}</string>
                <key>sourceSize</key>
                <string>{131,155}</string>
            </dict>
            <key>101008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,278},{92,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,181}}</string>
                <key>sourceSize</key>
                <string>{92,181}</string>
            </dict>
            <key>101009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{92,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,177}}</string>
                <key>sourceSize</key>
                <string>{92,177}</string>
            </dict>
            <key>101010.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,653},{89,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,172}}</string>
                <key>sourceSize</key>
                <string>{89,172}</string>
            </dict>
            <key>101011.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,814},{94,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,169}}</string>
                <key>sourceSize</key>
                <string>{94,169}</string>
            </dict>
            <key>101012.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1650},{143,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,153}}</string>
                <key>sourceSize</key>
                <string>{143,153}</string>
            </dict>
            <key>101013.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1899},{142,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>101014.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1826},{129,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,152}}</string>
                <key>sourceSize</key>
                <string>{129,152}</string>
            </dict>
            <key>101015.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1717},{130,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,150}}</string>
                <key>sourceSize</key>
                <string>{130,150}</string>
            </dict>
            <key>101016.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,138},{185,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,138}}</string>
                <key>sourceSize</key>
                <string>{185,138}</string>
            </dict>
            <key>101017.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,140}}</string>
                <key>sourceSize</key>
                <string>{188,140}</string>
            </dict>
            <key>101018.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,884},{167,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,144}}</string>
                <key>sourceSize</key>
                <string>{167,144}</string>
            </dict>
            <key>101019.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,806},{169,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,143}}</string>
                <key>sourceSize</key>
                <string>{169,143}</string>
            </dict>
            <key>101020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{143,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,181}}</string>
                <key>sourceSize</key>
                <string>{143,181}</string>
            </dict>
            <key>101021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1475},{143,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,159}}</string>
                <key>sourceSize</key>
                <string>{143,159}</string>
            </dict>
            <key>101022.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1605},{138,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{138,151}</string>
            </dict>
            <key>101023.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1849},{131,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,149}}</string>
                <key>sourceSize</key>
                <string>{131,149}</string>
            </dict>
            <key>101024.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,239},{92,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,181}}</string>
                <key>sourceSize</key>
                <string>{92,181}</string>
            </dict>
            <key>101025.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,422},{92,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,178}}</string>
                <key>sourceSize</key>
                <string>{92,178}</string>
            </dict>
            <key>101026.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,714},{90,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{90,174}</string>
            </dict>
            <key>101027.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,615},{94,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,172}}</string>
                <key>sourceSize</key>
                <string>{94,172}</string>
            </dict>
            <key>101028.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1227},{143,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,160}}</string>
                <key>sourceSize</key>
                <string>{143,160}</string>
            </dict>
            <key>101029.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1372},{143,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,159}}</string>
                <key>sourceSize</key>
                <string>{143,159}</string>
            </dict>
            <key>101030.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1189},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>101031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{130,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,173}}</string>
                <key>sourceSize</key>
                <string>{130,173}</string>
            </dict>
            <key>101032.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,146},{185,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,137}}</string>
                <key>sourceSize</key>
                <string>{185,137}</string>
            </dict>
            <key>101033.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{188,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,134}}</string>
                <key>sourceSize</key>
                <string>{188,134}</string>
            </dict>
            <key>101034.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,992},{167,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,129}}</string>
                <key>sourceSize</key>
                <string>{167,129}</string>
            </dict>
            <key>101035.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1057},{162,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,132}}</string>
                <key>sourceSize</key>
                <string>{162,132}</string>
            </dict>
            <key>101036.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1849},{148,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,134}}</string>
                <key>sourceSize</key>
                <string>{148,134}</string>
            </dict>
            <key>101037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{178,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,129}}</string>
                <key>sourceSize</key>
                <string>{178,129}</string>
            </dict>
            <key>101038.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,951},{142,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,167}}</string>
                <key>sourceSize</key>
                <string>{142,167}</string>
            </dict>
            <key>101039.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1272},{144,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,159}}</string>
                <key>sourceSize</key>
                <string>{144,159}</string>
            </dict>
            <key>101040.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1320},{130,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,159}}</string>
                <key>sourceSize</key>
                <string>{130,159}</string>
            </dict>
            <key>101041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1766},{131,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,153}}</string>
                <key>sourceSize</key>
                <string>{131,153}</string>
            </dict>
            <key>101042.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1470},{133,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,152}}</string>
                <key>sourceSize</key>
                <string>{133,152}</string>
            </dict>
            <key>101043.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,763},{139,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,146}}</string>
                <key>sourceSize</key>
                <string>{139,146}</string>
            </dict>
            <key>101044.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,144},{93,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,182}}</string>
                <key>sourceSize</key>
                <string>{93,182}</string>
            </dict>
            <key>101045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{92,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,178}}</string>
                <key>sourceSize</key>
                <string>{92,178}</string>
            </dict>
            <key>101046.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,523},{90,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,173}}</string>
                <key>sourceSize</key>
                <string>{90,173}</string>
            </dict>
            <key>101047.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,744},{101,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,169}}</string>
                <key>sourceSize</key>
                <string>{101,169}</string>
            </dict>
            <key>101048.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,425},{110,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,168}}</string>
                <key>sourceSize</key>
                <string>{110,168}</string>
            </dict>
            <key>101049.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,425},{96,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,176}}</string>
                <key>sourceSize</key>
                <string>{96,176}</string>
            </dict>
            <key>101050.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,276},{144,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,184}}</string>
                <key>sourceSize</key>
                <string>{144,184}</string>
            </dict>
            <key>101051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{144,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,154}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
            <key>101052.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1826},{128,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,152}}</string>
                <key>sourceSize</key>
                <string>{128,152}</string>
            </dict>
            <key>101053.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1565},{127,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,154}}</string>
                <key>sourceSize</key>
                <string>{127,154}</string>
            </dict>
            <key>101054.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1452},{130,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,154}}</string>
                <key>sourceSize</key>
                <string>{130,154}</string>
            </dict>
            <key>101055.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,333},{139,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,180}}</string>
                <key>sourceSize</key>
                <string>{139,180}</string>
            </dict>
            <key>101056.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,136},{185,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,138}}</string>
                <key>sourceSize</key>
                <string>{185,138}</string>
            </dict>
            <key>101057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,140}}</string>
                <key>sourceSize</key>
                <string>{188,140}</string>
            </dict>
            <key>101058.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,847},{168,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,143}}</string>
                <key>sourceSize</key>
                <string>{168,143}</string>
            </dict>
            <key>101059.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1042},{162,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,145}}</string>
                <key>sourceSize</key>
                <string>{162,145}</string>
            </dict>
            <key>101060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1899},{148,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,144}}</string>
                <key>sourceSize</key>
                <string>{148,144}</string>
            </dict>
            <key>101061.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,474},{178,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,140}}</string>
                <key>sourceSize</key>
                <string>{178,140}</string>
            </dict>
            <key>101062.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{142,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,185}}</string>
                <key>sourceSize</key>
                <string>{142,185}</string>
            </dict>
            <key>101063.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,911},{144,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,155}}</string>
                <key>sourceSize</key>
                <string>{144,155}</string>
            </dict>
            <key>101064.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1694},{130,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,152}}</string>
                <key>sourceSize</key>
                <string>{130,152}</string>
            </dict>
            <key>101065.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1663},{130,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,152}}</string>
                <key>sourceSize</key>
                <string>{130,152}</string>
            </dict>
            <key>101066.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1336},{132,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,154}}</string>
                <key>sourceSize</key>
                <string>{132,154}</string>
            </dict>
            <key>101067.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,372},{139,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,179}}</string>
                <key>sourceSize</key>
                <string>{139,179}</string>
            </dict>
            <key>101068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{93,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,184}}</string>
                <key>sourceSize</key>
                <string>{93,184}</string>
            </dict>
            <key>101069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{91,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,180}}</string>
                <key>sourceSize</key>
                <string>{91,180}</string>
            </dict>
            <key>101070.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,646},{90,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{90,174}</string>
            </dict>
            <key>101071.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,711},{101,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,169}}</string>
                <key>sourceSize</key>
                <string>{101,169}</string>
            </dict>
            <key>101072.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1030},{109,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,166}}</string>
                <key>sourceSize</key>
                <string>{109,166}</string>
            </dict>
            <key>101073.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,616},{96,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,177}}</string>
                <key>sourceSize</key>
                <string>{96,177}</string>
            </dict>
            <key>101074.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1418},{145,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,158}}</string>
                <key>sourceSize</key>
                <string>{145,158}</string>
            </dict>
            <key>101075.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1257},{144,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,159}}</string>
                <key>sourceSize</key>
                <string>{144,159}</string>
            </dict>
            <key>101076.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1141},{129,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,161}}</string>
                <key>sourceSize</key>
                <string>{129,161}</string>
            </dict>
            <key>101077.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1534},{127,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,154}}</string>
                <key>sourceSize</key>
                <string>{127,154}</string>
            </dict>
            <key>101078.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1584},{131,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,152}}</string>
                <key>sourceSize</key>
                <string>{131,152}</string>
            </dict>
            <key>101079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1335},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>101080.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,738},{169,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,144}}</string>
                <key>sourceSize</key>
                <string>{169,144}</string>
            </dict>
            <key>101081.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,516},{175,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,135}}</string>
                <key>sourceSize</key>
                <string>{175,135}</string>
            </dict>
            <key>101082.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,513},{177,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,131}}</string>
                <key>sourceSize</key>
                <string>{177,131}</string>
            </dict>
            <key>101083.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1123},{161,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,132}}</string>
                <key>sourceSize</key>
                <string>{161,132}</string>
            </dict>
            <key>101084.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1745},{142,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,133}}</string>
                <key>sourceSize</key>
                <string>{142,133}</string>
            </dict>
            <key>101085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{167,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,130}}</string>
                <key>sourceSize</key>
                <string>{167,130}</string>
            </dict>
            <key>101086.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,595},{127,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,166}}</string>
                <key>sourceSize</key>
                <string>{127,166}</string>
            </dict>
            <key>101087.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1095},{130,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,164}}</string>
                <key>sourceSize</key>
                <string>{130,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum101.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e8d31d821e93f7c35003138ef87b35:1/1$</string>
            <key>textureFileName</key>
            <string>hum101.png</string>
        </dict>
    </dict>
</plist>
