<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>102088.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,616},{136,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,195}}</string>
                <key>sourceSize</key>
                <string>{136,195}</string>
            </dict>
            <key>102089.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,233},{137,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,220}}</string>
                <key>sourceSize</key>
                <string>{137,220}</string>
            </dict>
            <key>102090.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,880},{135,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,203}}</string>
                <key>sourceSize</key>
                <string>{135,203}</string>
            </dict>
            <key>102091.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1115},{145,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,203}}</string>
                <key>sourceSize</key>
                <string>{145,203}</string>
            </dict>
            <key>102092.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{97,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,205}}</string>
                <key>sourceSize</key>
                <string>{97,205}</string>
            </dict>
            <key>102093.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1745},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>102094.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,417},{101,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,202}}</string>
                <key>sourceSize</key>
                <string>{101,202}</string>
            </dict>
            <key>102095.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{104,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,229}}</string>
                <key>sourceSize</key>
                <string>{104,229}</string>
            </dict>
            <key>102096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{103,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,216}}</string>
                <key>sourceSize</key>
                <string>{103,216}</string>
            </dict>
            <key>102097.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,455},{91,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,214}}</string>
                <key>sourceSize</key>
                <string>{91,214}</string>
            </dict>
            <key>102098.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,798},{146,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,186}}</string>
                <key>sourceSize</key>
                <string>{146,186}</string>
            </dict>
            <key>102099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{148,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,180}}</string>
                <key>sourceSize</key>
                <string>{148,180}</string>
            </dict>
            <key>102100.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1406},{145,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,184}}</string>
                <key>sourceSize</key>
                <string>{145,184}</string>
            </dict>
            <key>102101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1547},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>102102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{132,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,208}}</string>
                <key>sourceSize</key>
                <string>{132,208}</string>
            </dict>
            <key>102103.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,210},{144,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,205}}</string>
                <key>sourceSize</key>
                <string>{144,205}</string>
            </dict>
            <key>102104.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1874},{183,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,172}}</string>
                <key>sourceSize</key>
                <string>{183,172}</string>
            </dict>
            <key>102105.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1683},{187,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,168}}</string>
                <key>sourceSize</key>
                <string>{187,168}</string>
            </dict>
            <key>102106.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1218},{186,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,176}}</string>
                <key>sourceSize</key>
                <string>{186,176}</string>
            </dict>
            <key>102107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,194},{159,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,181}}</string>
                <key>sourceSize</key>
                <string>{159,181}</string>
            </dict>
            <key>102108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1171},{146,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,177}}</string>
                <key>sourceSize</key>
                <string>{146,177}</string>
            </dict>
            <key>102109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,574},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>102110.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,593},{137,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,186}}</string>
                <key>sourceSize</key>
                <string>{137,186}</string>
            </dict>
            <key>102111.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1195},{138,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>102112.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1406},{136,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{136,186}</string>
            </dict>
            <key>102113.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1745},{134,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,199}}</string>
                <key>sourceSize</key>
                <string>{134,199}</string>
            </dict>
            <key>102114.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,205},{135,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,201}}</string>
                <key>sourceSize</key>
                <string>{135,201}</string>
            </dict>
            <key>102115.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1072},{144,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,198}}</string>
                <key>sourceSize</key>
                <string>{144,198}</string>
            </dict>
            <key>102116.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1335},{97,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,204}}</string>
                <key>sourceSize</key>
                <string>{97,204}</string>
            </dict>
            <key>102117.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,906},{100,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,207}}</string>
                <key>sourceSize</key>
                <string>{100,207}</string>
            </dict>
            <key>102118.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1524},{101,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,199}}</string>
                <key>sourceSize</key>
                <string>{101,199}</string>
            </dict>
            <key>102119.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{104,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,220}}</string>
                <key>sourceSize</key>
                <string>{104,220}</string>
            </dict>
            <key>102120.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1125},{103,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,208}}</string>
                <key>sourceSize</key>
                <string>{103,208}</string>
            </dict>
            <key>102121.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{91,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,206}}</string>
                <key>sourceSize</key>
                <string>{91,206}</string>
            </dict>
            <key>102122.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1289},{146,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,198}}</string>
                <key>sourceSize</key>
                <string>{146,198}</string>
            </dict>
            <key>102123.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1024},{148,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,192}}</string>
                <key>sourceSize</key>
                <string>{148,192}</string>
            </dict>
            <key>102124.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,401},{145,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,190}}</string>
                <key>sourceSize</key>
                <string>{145,190}</string>
            </dict>
            <key>102125.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{132,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,190}}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>102126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{134,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,215}}</string>
                <key>sourceSize</key>
                <string>{134,215}</string>
            </dict>
            <key>102127.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,408},{145,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,194}}</string>
                <key>sourceSize</key>
                <string>{145,194}</string>
            </dict>
            <key>102128.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1489},{192,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,173}}</string>
                <key>sourceSize</key>
                <string>{192,173}</string>
            </dict>
            <key>102129.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,966},{175,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,175}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>102130.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1592},{177,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,178}}</string>
                <key>sourceSize</key>
                <string>{177,178}</string>
            </dict>
            <key>102131.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1772},{165,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{165,171}</string>
            </dict>
            <key>102132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,2},{146,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,172}}</string>
                <key>sourceSize</key>
                <string>{146,172}</string>
            </dict>
            <key>102133.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1872},{170,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,174}}</string>
                <key>sourceSize</key>
                <string>{170,174}</string>
            </dict>
            <key>102134.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1541},{148,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,202}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>102135.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,622},{136,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,202}}</string>
                <key>sourceSize</key>
                <string>{136,202}</string>
            </dict>
            <key>102136.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,205},{137,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,194}}</string>
                <key>sourceSize</key>
                <string>{137,194}</string>
            </dict>
            <key>102137.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,604},{137,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,192}}</string>
                <key>sourceSize</key>
                <string>{137,192}</string>
            </dict>
            <key>102138.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1320},{140,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,202}}</string>
                <key>sourceSize</key>
                <string>{140,202}</string>
            </dict>
            <key>102139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{145,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,220}}</string>
                <key>sourceSize</key>
                <string>{145,220}</string>
            </dict>
            <key>102140.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,671},{93,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,207}}</string>
                <key>sourceSize</key>
                <string>{93,207}</string>
            </dict>
            <key>102141.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,224},{96,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,206}}</string>
                <key>sourceSize</key>
                <string>{96,206}</string>
            </dict>
            <key>102142.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{95,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,201}}</string>
                <key>sourceSize</key>
                <string>{95,201}</string>
            </dict>
            <key>102143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{106,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,229}}</string>
                <key>sourceSize</key>
                <string>{106,229}</string>
            </dict>
            <key>102144.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,455},{107,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,206}}</string>
                <key>sourceSize</key>
                <string>{107,206}</string>
            </dict>
            <key>102145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1125},{89,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,210}}</string>
                <key>sourceSize</key>
                <string>{89,210}</string>
            </dict>
            <key>102146.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1683},{149,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,189}}</string>
                <key>sourceSize</key>
                <string>{149,189}</string>
            </dict>
            <key>102147.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1594},{135,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,185}}</string>
                <key>sourceSize</key>
                <string>{135,185}</string>
            </dict>
            <key>102148.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,781},{136,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,183}}</string>
                <key>sourceSize</key>
                <string>{136,183}</string>
            </dict>
            <key>102149.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,986},{138,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,183}}</string>
                <key>sourceSize</key>
                <string>{138,183}</string>
            </dict>
            <key>102150.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,198},{138,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,190}}</string>
                <key>sourceSize</key>
                <string>{138,190}</string>
            </dict>
            <key>102151.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,826},{140,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,196}}</string>
                <key>sourceSize</key>
                <string>{140,196}</string>
            </dict>
            <key>102152.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1272},{192,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,171}}</string>
                <key>sourceSize</key>
                <string>{192,171}</string>
            </dict>
            <key>102153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,777},{175,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,172}}</string>
                <key>sourceSize</key>
                <string>{175,172}</string>
            </dict>
            <key>102154.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1381},{178,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,170}}</string>
                <key>sourceSize</key>
                <string>{178,170}</string>
            </dict>
            <key>102155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1561},{165,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,170}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>102156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,184},{148,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,173}}</string>
                <key>sourceSize</key>
                <string>{148,173}</string>
            </dict>
            <key>102157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,377},{169,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,173}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>102158.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1007},{148,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,186}}</string>
                <key>sourceSize</key>
                <string>{148,186}</string>
            </dict>
            <key>102159.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,390},{135,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,182}}</string>
                <key>sourceSize</key>
                <string>{135,182}</string>
            </dict>
            <key>102160.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1781},{137,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,179}}</string>
                <key>sourceSize</key>
                <string>{137,179}</string>
            </dict>
            <key>102161.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,593},{137,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,182}}</string>
                <key>sourceSize</key>
                <string>{137,182}</string>
            </dict>
            <key>102162.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1466},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>102163.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,813},{142,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,192}}</string>
                <key>sourceSize</key>
                <string>{142,192}</string>
            </dict>
            <key>102164.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,209},{93,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,202}}</string>
                <key>sourceSize</key>
                <string>{93,202}</string>
            </dict>
            <key>102165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,233}}</string>
                <key>sourceSize</key>
                <string>{96,233}</string>
            </dict>
            <key>102166.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1947},{95,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,199}}</string>
                <key>sourceSize</key>
                <string>{95,199}</string>
            </dict>
            <key>102167.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,690},{106,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,214}}</string>
                <key>sourceSize</key>
                <string>{106,214}</string>
            </dict>
            <key>102168.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,663},{107,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,203}}</string>
                <key>sourceSize</key>
                <string>{107,203}</string>
            </dict>
            <key>102169.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,417},{88,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,203}}</string>
                <key>sourceSize</key>
                <string>{88,203}</string>
            </dict>
            <key>102170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1753},{148,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,202}}</string>
                <key>sourceSize</key>
                <string>{148,202}</string>
            </dict>
            <key>102171.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,868},{136,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,202}}</string>
                <key>sourceSize</key>
                <string>{136,202}</string>
            </dict>
            <key>102172.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{136,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,194}}</string>
                <key>sourceSize</key>
                <string>{136,194}</string>
            </dict>
            <key>102173.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1085},{136,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,202}}</string>
                <key>sourceSize</key>
                <string>{136,202}</string>
            </dict>
            <key>102174.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,413},{139,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,201}}</string>
                <key>sourceSize</key>
                <string>{139,201}</string>
            </dict>
            <key>102175.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{144,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,201}}</string>
                <key>sourceSize</key>
                <string>{144,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum102_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e76284444dc5f1377b72566f92714091:1/1$</string>
            <key>textureFileName</key>
            <string>hum102_1.png</string>
        </dict>
    </dict>
</plist>
