<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>107088.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1820},{140,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,190}}</string>
                <key>sourceSize</key>
                <string>{140,190}</string>
            </dict>
            <key>107089.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{144,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,199}}</string>
                <key>sourceSize</key>
                <string>{144,199}</string>
            </dict>
            <key>107090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1465},{139,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,198}}</string>
                <key>sourceSize</key>
                <string>{139,198}</string>
            </dict>
            <key>107091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{147,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,202}}</string>
                <key>sourceSize</key>
                <string>{147,202}</string>
            </dict>
            <key>107092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{106,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,207}}</string>
                <key>sourceSize</key>
                <string>{106,207}</string>
            </dict>
            <key>107093.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{106,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,201}}</string>
                <key>sourceSize</key>
                <string>{106,201}</string>
            </dict>
            <key>107094.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1663},{108,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,197}}</string>
                <key>sourceSize</key>
                <string>{108,197}</string>
            </dict>
            <key>107095.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,205},{116,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,200}}</string>
                <key>sourceSize</key>
                <string>{116,200}</string>
            </dict>
            <key>107096.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,640},{113,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,206}}</string>
                <key>sourceSize</key>
                <string>{113,206}</string>
            </dict>
            <key>107097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,212}}</string>
                <key>sourceSize</key>
                <string>{98,212}</string>
            </dict>
            <key>107098.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,190},{154,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,181}}</string>
                <key>sourceSize</key>
                <string>{154,181}</string>
            </dict>
            <key>107099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,2},{150,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,176}}</string>
                <key>sourceSize</key>
                <string>{150,176}</string>
            </dict>
            <key>107100.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,765},{150,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,179}}</string>
                <key>sourceSize</key>
                <string>{150,179}</string>
            </dict>
            <key>107101.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,968},{141,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,180}}</string>
                <key>sourceSize</key>
                <string>{141,180}</string>
            </dict>
            <key>107102.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,780},{138,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,186}}</string>
                <key>sourceSize</key>
                <string>{138,186}</string>
            </dict>
            <key>107103.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,589},{147,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,189}}</string>
                <key>sourceSize</key>
                <string>{147,189}</string>
            </dict>
            <key>107104.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1625},{193,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,154}}</string>
                <key>sourceSize</key>
                <string>{193,154}</string>
            </dict>
            <key>107105.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1228},{193,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,154}}</string>
                <key>sourceSize</key>
                <string>{193,154}</string>
            </dict>
            <key>107106.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1617},{189,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,152}}</string>
                <key>sourceSize</key>
                <string>{189,152}</string>
            </dict>
            <key>107107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,552},{171,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,155}}</string>
                <key>sourceSize</key>
                <string>{171,155}</string>
            </dict>
            <key>107108.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1739},{150,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,152}}</string>
                <key>sourceSize</key>
                <string>{150,152}</string>
            </dict>
            <key>107109.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1808},{176,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,147}}</string>
                <key>sourceSize</key>
                <string>{176,147}</string>
            </dict>
            <key>107110.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,194},{144,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,188}}</string>
                <key>sourceSize</key>
                <string>{144,188}</string>
            </dict>
            <key>107111.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1378},{139,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,181}}</string>
                <key>sourceSize</key>
                <string>{139,181}</string>
            </dict>
            <key>107112.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1862},{140,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,183}}</string>
                <key>sourceSize</key>
                <string>{140,183}</string>
            </dict>
            <key>107113.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1561},{143,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,176}}</string>
                <key>sourceSize</key>
                <string>{143,176}</string>
            </dict>
            <key>107114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,749},{140,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,174}}</string>
                <key>sourceSize</key>
                <string>{140,174}</string>
            </dict>
            <key>107115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{147,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,181}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>107116.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{107,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,204}}</string>
                <key>sourceSize</key>
                <string>{107,204}</string>
            </dict>
            <key>107117.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1052},{106,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,198}}</string>
                <key>sourceSize</key>
                <string>{106,198}</string>
            </dict>
            <key>107118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{109,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,199}}</string>
                <key>sourceSize</key>
                <string>{109,199}</string>
            </dict>
            <key>107119.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1036},{115,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,195}}</string>
                <key>sourceSize</key>
                <string>{115,195}</string>
            </dict>
            <key>107120.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,422},{113,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,201}}</string>
                <key>sourceSize</key>
                <string>{113,201}</string>
            </dict>
            <key>107121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{97,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,209}}</string>
                <key>sourceSize</key>
                <string>{97,209}</string>
            </dict>
            <key>107122.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,203},{154,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,191}}</string>
                <key>sourceSize</key>
                <string>{154,191}</string>
            </dict>
            <key>107123.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,793},{150,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,189}}</string>
                <key>sourceSize</key>
                <string>{150,189}</string>
            </dict>
            <key>107124.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1190},{150,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,186}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>107125.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,195},{140,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,191}}</string>
                <key>sourceSize</key>
                <string>{140,191}</string>
            </dict>
            <key>107126.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1429},{138,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,194}}</string>
                <key>sourceSize</key>
                <string>{138,194}</string>
            </dict>
            <key>107127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1665},{147,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,197}}</string>
                <key>sourceSize</key>
                <string>{147,197}</string>
            </dict>
            <key>107128.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1847},{195,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,166}}</string>
                <key>sourceSize</key>
                <string>{195,166}</string>
            </dict>
            <key>107129.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,388},{188,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,170}}</string>
                <key>sourceSize</key>
                <string>{188,170}</string>
            </dict>
            <key>107130.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,613},{191,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,168}}</string>
                <key>sourceSize</key>
                <string>{191,168}</string>
            </dict>
            <key>107131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,363},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>107132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{151,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,167}}</string>
                <key>sourceSize</key>
                <string>{151,167}</string>
            </dict>
            <key>107133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,185},{176,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,167}}</string>
                <key>sourceSize</key>
                <string>{176,167}</string>
            </dict>
            <key>107134.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,836},{151,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,194}}</string>
                <key>sourceSize</key>
                <string>{151,194}</string>
            </dict>
            <key>107135.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,396},{145,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,191}}</string>
                <key>sourceSize</key>
                <string>{145,191}</string>
            </dict>
            <key>107136.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,600},{145,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,191}}</string>
                <key>sourceSize</key>
                <string>{145,191}</string>
            </dict>
            <key>107137.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1032},{140,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,194}}</string>
                <key>sourceSize</key>
                <string>{140,194}</string>
            </dict>
            <key>107138.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1233},{140,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,194}}</string>
                <key>sourceSize</key>
                <string>{140,194}</string>
            </dict>
            <key>107139.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,633},{149,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,201}}</string>
                <key>sourceSize</key>
                <string>{149,201}</string>
            </dict>
            <key>107140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{101,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,209}}</string>
                <key>sourceSize</key>
                <string>{101,209}</string>
            </dict>
            <key>107141.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,848},{107,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,202}}</string>
                <key>sourceSize</key>
                <string>{107,202}</string>
            </dict>
            <key>107142.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,836},{103,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,198}}</string>
                <key>sourceSize</key>
                <string>{103,198}</string>
            </dict>
            <key>107143.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1264},{114,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,198}}</string>
                <key>sourceSize</key>
                <string>{114,198}</string>
            </dict>
            <key>107144.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,425},{112,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,206}}</string>
                <key>sourceSize</key>
                <string>{112,206}</string>
            </dict>
            <key>107145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{99,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,211}}</string>
                <key>sourceSize</key>
                <string>{99,211}</string>
            </dict>
            <key>107146.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{150,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,186}}</string>
                <key>sourceSize</key>
                <string>{150,186}</string>
            </dict>
            <key>107147.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,384},{145,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,182}}</string>
                <key>sourceSize</key>
                <string>{145,182}</string>
            </dict>
            <key>107148.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,984},{146,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,186}}</string>
                <key>sourceSize</key>
                <string>{146,186}</string>
            </dict>
            <key>107149.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1354},{141,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,176}}</string>
                <key>sourceSize</key>
                <string>{141,176}</string>
            </dict>
            <key>107150.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1862},{138,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,184}}</string>
                <key>sourceSize</key>
                <string>{138,184}</string>
            </dict>
            <key>107151.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{148,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,191}}</string>
                <key>sourceSize</key>
                <string>{148,191}</string>
            </dict>
            <key>107152.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1649},{196,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,147}}</string>
                <key>sourceSize</key>
                <string>{196,147}</string>
            </dict>
            <key>107153.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,999},{189,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,151}}</string>
                <key>sourceSize</key>
                <string>{189,151}</string>
            </dict>
            <key>107154.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,407},{191,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,155}}</string>
                <key>sourceSize</key>
                <string>{191,155}</string>
            </dict>
            <key>107155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,180},{169,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,152}}</string>
                <key>sourceSize</key>
                <string>{169,152}</string>
            </dict>
            <key>107156.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1893},{151,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,149}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>107157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,373},{177,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,144}}</string>
                <key>sourceSize</key>
                <string>{177,144}</string>
            </dict>
            <key>107158.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1864},{151,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,182}}</string>
                <key>sourceSize</key>
                <string>{151,182}</string>
            </dict>
            <key>107159.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1172},{145,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,180}}</string>
                <key>sourceSize</key>
                <string>{145,180}</string>
            </dict>
            <key>107160.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,946},{145,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,174}}</string>
                <key>sourceSize</key>
                <string>{145,174}</string>
            </dict>
            <key>107161.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1150},{140,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,175}}</string>
                <key>sourceSize</key>
                <string>{140,175}</string>
            </dict>
            <key>107162.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,568},{140,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,179}}</string>
                <key>sourceSize</key>
                <string>{140,179}</string>
            </dict>
            <key>107163.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,578},{149,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,185}}</string>
                <key>sourceSize</key>
                <string>{149,185}</string>
            </dict>
            <key>107164.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,214},{101,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,206}}</string>
                <key>sourceSize</key>
                <string>{101,206}</string>
            </dict>
            <key>107165.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,208},{107,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,201}}</string>
                <key>sourceSize</key>
                <string>{107,201}</string>
            </dict>
            <key>107166.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1252},{104,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,197}}</string>
                <key>sourceSize</key>
                <string>{104,197}</string>
            </dict>
            <key>107167.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1663},{114,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,197}}</string>
                <key>sourceSize</key>
                <string>{114,197}</string>
            </dict>
            <key>107168.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{112,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,210}}</string>
                <key>sourceSize</key>
                <string>{112,210}</string>
            </dict>
            <key>107169.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,214},{99,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,209}}</string>
                <key>sourceSize</key>
                <string>{99,209}</string>
            </dict>
            <key>107170.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,411},{150,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>107171.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{145,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,190}}</string>
                <key>sourceSize</key>
                <string>{145,190}</string>
            </dict>
            <key>107172.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,806},{146,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,191}}</string>
                <key>sourceSize</key>
                <string>{146,191}</string>
            </dict>
            <key>107173.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1464},{140,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,197}}</string>
                <key>sourceSize</key>
                <string>{140,197}</string>
            </dict>
            <key>107174.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1423},{138,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,192}}</string>
                <key>sourceSize</key>
                <string>{138,192}</string>
            </dict>
            <key>107175.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1451},{148,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,196}}</string>
                <key>sourceSize</key>
                <string>{148,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum107_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb393c4a21268810d0be4022489463d:1/1$</string>
            <key>textureFileName</key>
            <string>hum107_1.png</string>
        </dict>
    </dict>
</plist>
