<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>012148.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,283},{82,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>012149.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,386},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>012150.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,199},{82,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>012151.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,259},{78,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>012152.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>012153.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,74},{70,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>012154.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>012155.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,297},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>012156.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,167},{70,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>012157.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,79},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>012158.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,85},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>012159.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,367},{58,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>012160.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{58,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>012161.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{62,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{64,88}</string>
            </dict>
            <key>012162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{62,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>012163.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,83},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>012164.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,92},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>012165.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,176},{58,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,81}}</string>
                <key>sourceSize</key>
                <string>{60,81}</string>
            </dict>
            <key>012166.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,448},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>012167.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,104},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>012168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>012169.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,367},{74,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>012170.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{70,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>012171.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,146},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>012172.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>012173.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{82,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,93}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>012174.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>012175.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum12_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f98ecb51fce2ce14869e3faa662b8df9:1/1$</string>
            <key>textureFileName</key>
            <string>hum12_1.png</string>
        </dict>
    </dict>
</plist>
