<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>010100.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,342},{90,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>010101.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,266},{90,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{92,85}</string>
            </dict>
            <key>010102.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,182},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>010103.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,278},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>010104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>010105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>010106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{86,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>010107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{86,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>010108.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,353},{86,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>010109.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>010110.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,372},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>010111.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>010112.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,269},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>010113.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,181},{96,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>010114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{94,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>010115.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,92},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>010116.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,89},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>010117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,73}}</string>
                <key>sourceSize</key>
                <string>{112,73}</string>
            </dict>
            <key>010118.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,169},{98,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>010119.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,91},{98,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>010120.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>010121.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,432},{76,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>010122.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,422},{86,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>010123.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,351},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>010124.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,184},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>010125.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{92,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,104}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>010126.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,96},{98,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>010127.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,258},{94,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum10_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be07cdca97abc0db9f12fd977ce35d23:1/1$</string>
            <key>textureFileName</key>
            <string>hum10_1.png</string>
        </dict>
    </dict>
</plist>
