<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>110088.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,933},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,137}}</string>
                <key>sourceSize</key>
                <string>{123,137}</string>
            </dict>
            <key>110089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{130,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,157}}</string>
                <key>sourceSize</key>
                <string>{130,157}</string>
            </dict>
            <key>110090.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1425},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>110091.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1031},{131,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,137}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>110092.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,346},{96,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,149}}</string>
                <key>sourceSize</key>
                <string>{96,149}</string>
            </dict>
            <key>110093.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,589},{101,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,144}}</string>
                <key>sourceSize</key>
                <string>{101,144}</string>
            </dict>
            <key>110094.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,925},{104,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,139}}</string>
                <key>sourceSize</key>
                <string>{104,139}</string>
            </dict>
            <key>110095.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,584},{106,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,146}}</string>
                <key>sourceSize</key>
                <string>{106,146}</string>
            </dict>
            <key>110096.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,557},{99,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,150}}</string>
                <key>sourceSize</key>
                <string>{99,150}</string>
            </dict>
            <key>110097.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,216},{84,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,167}}</string>
                <key>sourceSize</key>
                <string>{84,167}</string>
            </dict>
            <key>110098.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,330},{136,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,154}}</string>
                <key>sourceSize</key>
                <string>{136,154}</string>
            </dict>
            <key>110099.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1234},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>110100.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1498},{131,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,129}}</string>
                <key>sourceSize</key>
                <string>{131,129}</string>
            </dict>
            <key>110101.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,795},{128,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>110102.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,463},{124,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,151}}</string>
                <key>sourceSize</key>
                <string>{124,151}</string>
            </dict>
            <key>110103.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,571},{130,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,146}}</string>
                <key>sourceSize</key>
                <string>{130,146}</string>
            </dict>
            <key>110104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{169,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,111}}</string>
                <key>sourceSize</key>
                <string>{169,111}</string>
            </dict>
            <key>110105.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,115},{164,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,112}}</string>
                <key>sourceSize</key>
                <string>{164,112}</string>
            </dict>
            <key>110106.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,123},{163,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,115}}</string>
                <key>sourceSize</key>
                <string>{163,115}</string>
            </dict>
            <key>110107.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,348},{153,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,113}}</string>
                <key>sourceSize</key>
                <string>{153,113}</string>
            </dict>
            <key>110108.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,841},{139,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,114}}</string>
                <key>sourceSize</key>
                <string>{139,114}</string>
            </dict>
            <key>110109.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,234},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>110110.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,302},{126,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{126,158}</string>
            </dict>
            <key>110111.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1021},{122,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,137}}</string>
                <key>sourceSize</key>
                <string>{122,137}</string>
            </dict>
            <key>110112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{123,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,137}}</string>
                <key>sourceSize</key>
                <string>{123,137}</string>
            </dict>
            <key>110113.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1193},{130,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,134}}</string>
                <key>sourceSize</key>
                <string>{130,134}</string>
            </dict>
            <key>110114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1303},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>110115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{131,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,138}}</string>
                <key>sourceSize</key>
                <string>{131,138}</string>
            </dict>
            <key>110116.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,104},{96,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,145}}</string>
                <key>sourceSize</key>
                <string>{96,145}</string>
            </dict>
            <key>110117.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,692},{101,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,141}}</string>
                <key>sourceSize</key>
                <string>{101,141}</string>
            </dict>
            <key>110118.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,864},{104,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,140}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>110119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>110120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{99,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,143}}</string>
                <key>sourceSize</key>
                <string>{99,143}</string>
            </dict>
            <key>110121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{84,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,179}}</string>
                <key>sourceSize</key>
                <string>{84,179}</string>
            </dict>
            <key>110122.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1106},{137,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,126}}</string>
                <key>sourceSize</key>
                <string>{137,126}</string>
            </dict>
            <key>110123.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1194},{132,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,130}}</string>
                <key>sourceSize</key>
                <string>{132,130}</string>
            </dict>
            <key>110124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1559},{131,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,128}}</string>
                <key>sourceSize</key>
                <string>{131,128}</string>
            </dict>
            <key>110125.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1072},{128,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,137}}</string>
                <key>sourceSize</key>
                <string>{128,137}</string>
            </dict>
            <key>110126.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1554},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>110127.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1462},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>110128.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{173,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,117}}</string>
                <key>sourceSize</key>
                <string>{173,117}</string>
            </dict>
            <key>110129.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{167,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,119}}</string>
                <key>sourceSize</key>
                <string>{167,119}</string>
            </dict>
            <key>110130.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,229},{162,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,115}}</string>
                <key>sourceSize</key>
                <string>{162,115}</string>
            </dict>
            <key>110131.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,468},{148,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,114}}</string>
                <key>sourceSize</key>
                <string>{148,114}</string>
            </dict>
            <key>110132.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,692},{142,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,113}}</string>
                <key>sourceSize</key>
                <string>{142,113}</string>
            </dict>
            <key>110133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{166,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,112}}</string>
                <key>sourceSize</key>
                <string>{166,112}</string>
            </dict>
            <key>110134.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1058},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>110135.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1329},{131,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{131,133}</string>
            </dict>
            <key>110136.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1411},{127,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,128}}</string>
                <key>sourceSize</key>
                <string>{127,128}</string>
            </dict>
            <key>110137.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,807},{125,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,140}}</string>
                <key>sourceSize</key>
                <string>{125,140}</string>
            </dict>
            <key>110138.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1325},{127,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,132}}</string>
                <key>sourceSize</key>
                <string>{127,132}</string>
            </dict>
            <key>110139.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,934},{136,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{136,138}</string>
            </dict>
            <key>110140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{91,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,152}}</string>
                <key>sourceSize</key>
                <string>{91,152}</string>
            </dict>
            <key>110141.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{100,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,145}}</string>
                <key>sourceSize</key>
                <string>{100,145}</string>
            </dict>
            <key>110142.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,793},{97,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>110143.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,760},{102,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,142}</string>
            </dict>
            <key>110144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{99,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,149}}</string>
                <key>sourceSize</key>
                <string>{99,149}</string>
            </dict>
            <key>110145.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,240},{88,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,157}}</string>
                <key>sourceSize</key>
                <string>{88,157}</string>
            </dict>
            <key>110146.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,657},{134,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{134,142}</string>
            </dict>
            <key>110147.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,801},{130,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,138}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>110148.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1297},{126,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,134}}</string>
                <key>sourceSize</key>
                <string>{126,134}</string>
            </dict>
            <key>110149.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1202},{125,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,136}}</string>
                <key>sourceSize</key>
                <string>{125,136}</string>
            </dict>
            <key>110150.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,444},{125,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,148}}</string>
                <key>sourceSize</key>
                <string>{125,148}</string>
            </dict>
            <key>110151.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,202},{135,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,147}}</string>
                <key>sourceSize</key>
                <string>{135,147}</string>
            </dict>
            <key>110152.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,104},{173,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,110}}</string>
                <key>sourceSize</key>
                <string>{173,110}</string>
            </dict>
            <key>110153.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,121},{167,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,111}}</string>
                <key>sourceSize</key>
                <string>{167,111}</string>
            </dict>
            <key>110154.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,339},{162,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,111}}</string>
                <key>sourceSize</key>
                <string>{162,111}</string>
            </dict>
            <key>110155.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,452},{148,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,110}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>110156.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,657},{142,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,111}}</string>
                <key>sourceSize</key>
                <string>{142,111}</string>
            </dict>
            <key>110157.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{166,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,111}}</string>
                <key>sourceSize</key>
                <string>{166,111}</string>
            </dict>
            <key>110158.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,970},{134,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,138}}</string>
                <key>sourceSize</key>
                <string>{134,138}</string>
            </dict>
            <key>110159.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1164},{131,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,136}}</string>
                <key>sourceSize</key>
                <string>{131,136}</string>
            </dict>
            <key>110160.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1369},{127,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,133}}</string>
                <key>sourceSize</key>
                <string>{127,133}</string>
            </dict>
            <key>110161.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{125,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,133}}</string>
                <key>sourceSize</key>
                <string>{125,133}</string>
            </dict>
            <key>110162.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,892},{127,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,138}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>110163.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,703},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>110164.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,564},{91,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,148}}</string>
                <key>sourceSize</key>
                <string>{91,148}</string>
            </dict>
            <key>110165.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,658},{100,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,144}}</string>
                <key>sourceSize</key>
                <string>{100,144}</string>
            </dict>
            <key>110166.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,957},{97,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,138}}</string>
                <key>sourceSize</key>
                <string>{97,138}</string>
            </dict>
            <key>110167.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{102,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,140}}</string>
                <key>sourceSize</key>
                <string>{102,140}</string>
            </dict>
            <key>110168.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>110169.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,180}}</string>
                <key>sourceSize</key>
                <string>{88,180}</string>
            </dict>
            <key>110170.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1145},{134,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,132}}</string>
                <key>sourceSize</key>
                <string>{134,132}</string>
            </dict>
            <key>110171.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1279},{130,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{130,132}</string>
            </dict>
            <key>110172.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1454},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>110173.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,430},{125,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,152}}</string>
                <key>sourceSize</key>
                <string>{125,152}</string>
            </dict>
            <key>110174.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1326},{125,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,131}}</string>
                <key>sourceSize</key>
                <string>{125,131}</string>
            </dict>
            <key>110175.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1056},{135,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,136}}</string>
                <key>sourceSize</key>
                <string>{135,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum110_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:345f00c7ae6551b2a3f0995c1c484d24:1/1$</string>
            <key>textureFileName</key>
            <string>hum110_1.png</string>
        </dict>
    </dict>
</plist>
