<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>016000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,544},{90,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>016001.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,590},{90,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>016002.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,648},{90,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>016003.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,540},{90,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>016004.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{104,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>016005.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,152},{102,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>016006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,81},{106,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,83}}</string>
                <key>sourceSize</key>
                <string>{108,83}</string>
            </dict>
            <key>016007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,91},{102,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>016008.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,308},{96,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>016009.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,377},{98,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>016010.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,249},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>016011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{98,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>016012.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,281},{102,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>016013.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{104,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>016014.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{104,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>016015.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,86},{102,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>016016.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,583},{90,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>016017.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,478},{90,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>016018.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,568},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>016019.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,608},{90,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>016020.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,166},{102,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,81}}</string>
                <key>sourceSize</key>
                <string>{104,81}</string>
            </dict>
            <key>016021.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{104,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,80}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>016022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{104,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>016023.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,197},{104,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>016024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{94,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>016025.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,327},{98,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>016026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{102,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>016027.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,300},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>016028.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,248},{100,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>016029.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,86},{102,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>016030.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,85},{102,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>016031.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,245},{100,83}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>016032.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,658},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>016033.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,686},{84,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,73}}</string>
                <key>sourceSize</key>
                <string>{84,73}</string>
            </dict>
            <key>016034.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,775},{82,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>016035.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,709},{82,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>016036.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,621},{88,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>016037.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,529},{90,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>016038.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,332},{96,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{96,73}</string>
            </dict>
            <key>016039.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,307},{96,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>016040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{84,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>016041.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,555},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>016042.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,505},{94,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>016043.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,450},{94,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>016044.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,170},{102,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{104,69}</string>
            </dict>
            <key>016045.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,170},{102,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,67}}</string>
                <key>sourceSize</key>
                <string>{104,67}</string>
            </dict>
            <key>016046.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,239},{102,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>016047.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,237},{102,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>016048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{98,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>016049.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,433},{98,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>016050.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,405},{92,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>016051.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,175},{102,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{104,71}</string>
            </dict>
            <key>016052.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,170},{102,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,73}}</string>
                <key>sourceSize</key>
                <string>{104,73}</string>
            </dict>
            <key>016053.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,385},{94,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,71}}</string>
                <key>sourceSize</key>
                <string>{96,71}</string>
            </dict>
            <key>016054.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,407},{92,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,69}}</string>
                <key>sourceSize</key>
                <string>{92,69}</string>
            </dict>
            <key>016055.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,709},{86,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>016056.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,726},{90,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>016057.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,619},{86,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>016058.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,712},{82,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>016059.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,746},{82,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>016060.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,700},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>016061.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,568},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>016062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{90,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{92,67}</string>
            </dict>
            <key>016063.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,404},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>016064.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,557},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>016065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>016066.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,635},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>016067.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,761},{82,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{84,68}</string>
            </dict>
            <key>016068.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,364},{100,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,67}}</string>
                <key>sourceSize</key>
                <string>{104,67}</string>
            </dict>
            <key>016069.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,84},{104,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{104,66}</string>
            </dict>
            <key>016070.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,241},{102,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,65}}</string>
                <key>sourceSize</key>
                <string>{104,65}</string>
            </dict>
            <key>016071.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,499},{94,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,67}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>016072.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,522},{94,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,66}}</string>
                <key>sourceSize</key>
                <string>{96,66}</string>
            </dict>
            <key>016073.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,305},{96,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,66}}</string>
                <key>sourceSize</key>
                <string>{96,66}</string>
            </dict>
            <key>016074.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,632},{86,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{88,75}</string>
            </dict>
            <key>016075.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,373},{96,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>016076.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,305},{98,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>016077.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,385},{94,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>016078.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,477},{90,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>016079.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,809},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>016080.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,698},{84,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,71}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>016081.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,643},{86,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,67}}</string>
                <key>sourceSize</key>
                <string>{88,67}</string>
            </dict>
            <key>016082.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,330},{96,73}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>016083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{108,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,134}}</string>
                <key>sourceSize</key>
                <string>{108,134}</string>
            </dict>
            <key>016084.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,454},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>016085.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,774},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>016086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>016087.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,736},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>016088.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,669},{90,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>016089.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{152,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,121}}</string>
                <key>sourceSize</key>
                <string>{152,121}</string>
            </dict>
            <key>016090.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{110,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>016091.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,403},{94,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>016092.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,458},{94,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,69}}</string>
                <key>sourceSize</key>
                <string>{96,69}</string>
            </dict>
            <key>016093.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,221},{86,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>016094.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,125},{94,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>016095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,95}}</string>
                <key>sourceSize</key>
                <string>{176,95}</string>
            </dict>
            <key>016096.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{126,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,77}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>016097.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,125},{106,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{108,70}</string>
            </dict>
            <key>016098.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,459},{90,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>016099.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,478},{88,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum16.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c1cebbd30ffe3a8adac6cf74816a0f1:1/1$</string>
            <key>textureFileName</key>
            <string>hum16.png</string>
        </dict>
    </dict>
</plist>
