<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100088.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,912},{140,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,171}}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>100089.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1010},{143,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,179}}</string>
                <key>sourceSize</key>
                <string>{143,179}</string>
            </dict>
            <key>100090.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1542},{135,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,170}}</string>
                <key>sourceSize</key>
                <string>{135,170}</string>
            </dict>
            <key>100091.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,574},{145,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,178}}</string>
                <key>sourceSize</key>
                <string>{145,178}</string>
            </dict>
            <key>100092.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,627},{100,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,195}}</string>
                <key>sourceSize</key>
                <string>{100,195}</string>
            </dict>
            <key>100093.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,627},{107,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,194}}</string>
                <key>sourceSize</key>
                <string>{107,194}</string>
            </dict>
            <key>100094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1425},{107,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,189}}</string>
                <key>sourceSize</key>
                <string>{107,189}</string>
            </dict>
            <key>100095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{114,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,209}}</string>
                <key>sourceSize</key>
                <string>{114,209}</string>
            </dict>
            <key>100096.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1806},{106,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,187}}</string>
                <key>sourceSize</key>
                <string>{106,187}</string>
            </dict>
            <key>100097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{95,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,199}}</string>
                <key>sourceSize</key>
                <string>{95,199}</string>
            </dict>
            <key>100098.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1010},{147,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,184}}</string>
                <key>sourceSize</key>
                <string>{147,184}</string>
            </dict>
            <key>100099.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,358},{149,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,172}}</string>
                <key>sourceSize</key>
                <string>{149,172}</string>
            </dict>
            <key>100100.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1369},{150,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,171}}</string>
                <key>sourceSize</key>
                <string>{150,171}</string>
            </dict>
            <key>100101.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,716},{139,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,171}}</string>
                <key>sourceSize</key>
                <string>{139,171}</string>
            </dict>
            <key>100102.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,736},{133,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,174}}</string>
                <key>sourceSize</key>
                <string>{133,174}</string>
            </dict>
            <key>100103.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,195},{145,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,182}}</string>
                <key>sourceSize</key>
                <string>{145,182}</string>
            </dict>
            <key>100104.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,592},{183,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,143}}</string>
                <key>sourceSize</key>
                <string>{183,143}</string>
            </dict>
            <key>100105.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1030},{189,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,142}}</string>
                <key>sourceSize</key>
                <string>{189,142}</string>
            </dict>
            <key>100106.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,399},{191,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,145}}</string>
                <key>sourceSize</key>
                <string>{191,145}</string>
            </dict>
            <key>100107.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1714},{169,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,146}}</string>
                <key>sourceSize</key>
                <string>{169,146}</string>
            </dict>
            <key>100108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,343},{147,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{147,148}</string>
            </dict>
            <key>100109.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{174,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,144}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>100110.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,389},{137,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,183}}</string>
                <key>sourceSize</key>
                <string>{137,183}</string>
            </dict>
            <key>100111.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1565},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>100112.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1196},{141,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,180}}</string>
                <key>sourceSize</key>
                <string>{141,180}</string>
            </dict>
            <key>100113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{141,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,166}}</string>
                <key>sourceSize</key>
                <string>{141,166}</string>
            </dict>
            <key>100114.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1060},{135,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,166}}</string>
                <key>sourceSize</key>
                <string>{135,166}</string>
            </dict>
            <key>100115.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,559},{145,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,175}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>100116.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{100,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,192}}</string>
                <key>sourceSize</key>
                <string>{100,192}</string>
            </dict>
            <key>100117.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,2},{107,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,191}}</string>
                <key>sourceSize</key>
                <string>{107,191}</string>
            </dict>
            <key>100118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1233},{108,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,190}}</string>
                <key>sourceSize</key>
                <string>{108,190}</string>
            </dict>
            <key>100119.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{114,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,200}}</string>
                <key>sourceSize</key>
                <string>{114,200}</string>
            </dict>
            <key>100120.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,777},{106,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,179}}</string>
                <key>sourceSize</key>
                <string>{106,179}</string>
            </dict>
            <key>100121.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,204},{95,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,193}}</string>
                <key>sourceSize</key>
                <string>{95,193}</string>
            </dict>
            <key>100122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,694},{147,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,164}}</string>
                <key>sourceSize</key>
                <string>{147,164}</string>
            </dict>
            <key>100123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,525},{149,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,167}}</string>
                <key>sourceSize</key>
                <string>{149,167}</string>
            </dict>
            <key>100124.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,705},{150,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,168}}</string>
                <key>sourceSize</key>
                <string>{150,168}</string>
            </dict>
            <key>100125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,517},{139,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,164}}</string>
                <key>sourceSize</key>
                <string>{139,164}</string>
            </dict>
            <key>100126.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,875},{132,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,165}}</string>
                <key>sourceSize</key>
                <string>{132,165}</string>
            </dict>
            <key>100127.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{145,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,172}}</string>
                <key>sourceSize</key>
                <string>{145,172}</string>
            </dict>
            <key>100128.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,832},{196,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,144}}</string>
                <key>sourceSize</key>
                <string>{196,144}</string>
            </dict>
            <key>100129.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1221},{187,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,143}}</string>
                <key>sourceSize</key>
                <string>{187,143}</string>
            </dict>
            <key>100130.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{177,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{177,145}</string>
            </dict>
            <key>100131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,174},{167,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,145}}</string>
                <key>sourceSize</key>
                <string>{167,145}</string>
            </dict>
            <key>100132.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1903},{150,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,143}}</string>
                <key>sourceSize</key>
                <string>{150,143}</string>
            </dict>
            <key>100133.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1378},{177,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,138}}</string>
                <key>sourceSize</key>
                <string>{177,138}</string>
            </dict>
            <key>100134.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,185},{152,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,177}}</string>
                <key>sourceSize</key>
                <string>{152,177}</string>
            </dict>
            <key>100135.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1281},{144,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,169}}</string>
                <key>sourceSize</key>
                <string>{144,169}</string>
            </dict>
            <key>100136.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1256},{137,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,166}}</string>
                <key>sourceSize</key>
                <string>{137,166}</string>
            </dict>
            <key>100137.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1085},{139,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,169}}</string>
                <key>sourceSize</key>
                <string>{139,169}</string>
            </dict>
            <key>100138.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1108},{142,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,171}}</string>
                <key>sourceSize</key>
                <string>{142,171}</string>
            </dict>
            <key>100139.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,754},{148,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,176}}</string>
                <key>sourceSize</key>
                <string>{148,176}</string>
            </dict>
            <key>100140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>100141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{105,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,189}}</string>
                <key>sourceSize</key>
                <string>{105,189}</string>
            </dict>
            <key>100142.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1802},{100,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,186}}</string>
                <key>sourceSize</key>
                <string>{100,186}</string>
            </dict>
            <key>100143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,214}}</string>
                <key>sourceSize</key>
                <string>{113,214}</string>
            </dict>
            <key>100144.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,196},{114,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,191}}</string>
                <key>sourceSize</key>
                <string>{114,191}</string>
            </dict>
            <key>100145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1033},{97,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,198}}</string>
                <key>sourceSize</key>
                <string>{97,198}</string>
            </dict>
            <key>100146.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1425},{151,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,187}}</string>
                <key>sourceSize</key>
                <string>{151,187}</string>
            </dict>
            <key>100147.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,932},{143,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,174}}</string>
                <key>sourceSize</key>
                <string>{143,174}</string>
            </dict>
            <key>100148.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1557},{138,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,172}}</string>
                <key>sourceSize</key>
                <string>{138,172}</string>
            </dict>
            <key>100149.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,889},{138,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,169}}</string>
                <key>sourceSize</key>
                <string>{138,169}</string>
            </dict>
            <key>100150.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,364},{141,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,175}}</string>
                <key>sourceSize</key>
                <string>{141,175}</string>
            </dict>
            <key>100151.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1382},{147,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,181}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>100152.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,429},{196,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,141}}</string>
                <key>sourceSize</key>
                <string>{196,141}</string>
            </dict>
            <key>100153.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1614},{186,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,141}}</string>
                <key>sourceSize</key>
                <string>{186,141}</string>
            </dict>
            <key>100154.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,379},{178,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,142}}</string>
                <key>sourceSize</key>
                <string>{178,142}</string>
            </dict>
            <key>100155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,348},{167,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,145}}</string>
                <key>sourceSize</key>
                <string>{167,145}</string>
            </dict>
            <key>100156.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1885},{152,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>100157.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,181},{175,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,141}}</string>
                <key>sourceSize</key>
                <string>{175,141}</string>
            </dict>
            <key>100158.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,823},{151,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,185}}</string>
                <key>sourceSize</key>
                <string>{151,185}</string>
            </dict>
            <key>100159.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,541},{144,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,173}}</string>
                <key>sourceSize</key>
                <string>{144,173}</string>
            </dict>
            <key>100160.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,352},{137,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,171}}</string>
                <key>sourceSize</key>
                <string>{137,171}</string>
            </dict>
            <key>100161.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1731},{138,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,170}}</string>
                <key>sourceSize</key>
                <string>{138,170}</string>
            </dict>
            <key>100162.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1744},{142,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,172}}</string>
                <key>sourceSize</key>
                <string>{142,172}</string>
            </dict>
            <key>100163.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1191},{148,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,176}}</string>
                <key>sourceSize</key>
                <string>{148,176}</string>
            </dict>
            <key>100164.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{100,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,199}}</string>
                <key>sourceSize</key>
                <string>{100,199}</string>
            </dict>
            <key>100165.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1616},{106,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,188}}</string>
                <key>sourceSize</key>
                <string>{106,188}</string>
            </dict>
            <key>100166.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1196},{100,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,184}}</string>
                <key>sourceSize</key>
                <string>{100,184}</string>
            </dict>
            <key>100167.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1802},{113,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,186}}</string>
                <key>sourceSize</key>
                <string>{113,186}</string>
            </dict>
            <key>100168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1807},{114,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,188}}</string>
                <key>sourceSize</key>
                <string>{114,188}</string>
            </dict>
            <key>100169.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,204},{97,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,193}}</string>
                <key>sourceSize</key>
                <string>{97,193}</string>
            </dict>
            <key>100170.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{152,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,181}}</string>
                <key>sourceSize</key>
                <string>{152,181}</string>
            </dict>
            <key>100171.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,176},{143,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,170}}</string>
                <key>sourceSize</key>
                <string>{143,170}</string>
            </dict>
            <key>100172.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1452},{137,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,166}}</string>
                <key>sourceSize</key>
                <string>{137,166}</string>
            </dict>
            <key>100173.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,532},{138,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,171}}</string>
                <key>sourceSize</key>
                <string>{138,171}</string>
            </dict>
            <key>100174.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{141,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,170}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>100175.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,178},{147,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,172}}</string>
                <key>sourceSize</key>
                <string>{147,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum100_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f6042b09065f013358b2d040b46cec:1/1$</string>
            <key>textureFileName</key>
            <string>hum100_1.png</string>
        </dict>
    </dict>
</plist>
