<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>012000.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,370},{74,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>012001.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,319},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>012002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,530},{78,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>012003.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,390},{78,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>012004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>012005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,462},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>012006.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,356},{66,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>012007.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,320},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>012008.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,379},{62,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>012009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>012010.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,396},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>012011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,393},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>012012.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,570},{66,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>012013.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,656},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>012014.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,660},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>012015.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,680},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>012016.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,582},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>012017.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,536},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>012018.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,536},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>012019.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,446},{76,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>012020.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,524},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>012021.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,520},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>012022.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,474},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>012023.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,540},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>012024.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,300},{54,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{56,83}</string>
            </dict>
            <key>012025.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,251},{52,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
            <key>012026.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,246},{52,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
            <key>012027.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,150},{52,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,85}}</string>
                <key>sourceSize</key>
                <string>{52,85}</string>
            </dict>
            <key>012028.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,305},{66,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>012029.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,302},{66,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>012030.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,389},{66,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>012031.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,328},{66,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>012032.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,172},{68,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>012033.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,160},{70,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{72,91}</string>
            </dict>
            <key>012034.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,171},{72,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>012035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{70,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>012036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{70,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,94}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>012037.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{70,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{72,95}</string>
            </dict>
            <key>012038.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,160},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>012039.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,66},{82,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>012040.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{94,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>012041.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,79},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>012042.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{90,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,93}}</string>
                <key>sourceSize</key>
                <string>{92,93}</string>
            </dict>
            <key>012043.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{86,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>012044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{96,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,79}}</string>
                <key>sourceSize</key>
                <string>{96,79}</string>
            </dict>
            <key>012045.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,249},{84,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>012046.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,80},{92,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>012047.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>012048.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,224},{90,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>012049.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,94},{94,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>012050.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,82},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>012051.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,248},{86,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>012052.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,457},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>012053.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,306},{82,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>012054.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,232},{86,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>012055.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,95},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>012056.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,496},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>012057.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,822},{70,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>012058.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,610},{70,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>012059.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,505},{66,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>012060.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,822},{70,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>012061.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,610},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>012062.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,750},{70,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>012063.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,726},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>012064.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,573},{74,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>012065.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,373},{78,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>012066.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,459},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>012067.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,682},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>012068.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,397},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>012069.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,470},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>012070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>012071.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,171},{86,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{88,75}</string>
            </dict>
            <key>012072.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,319},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>012073.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,316},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>012074.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,90},{74,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{76,91}</string>
            </dict>
            <key>012075.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,150},{72,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,91}}</string>
                <key>sourceSize</key>
                <string>{72,91}</string>
            </dict>
            <key>012076.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{62,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>012077.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,162},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>012078.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>012079.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{78,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>012128.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,586},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>012129.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,450},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>012130.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,171},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>012131.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,74},{86,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>012132.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{90,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>012133.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,245},{72,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,89}}</string>
                <key>sourceSize</key>
                <string>{72,89}</string>
            </dict>
            <key>012134.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,475},{66,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>012135.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,237},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>012136.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,242},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>012137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>012138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>012139.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,166},{90,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>012140.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,443},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>012141.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,424},{70,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>012142.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,312},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>012143.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,396},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>012144.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,94},{92,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>012145.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,236},{90,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>012146.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,754},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>012147.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,638},{74,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum12.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b8ad98028ec53a192c5ccf1f47623fe:1/1$</string>
            <key>textureFileName</key>
            <string>hum12.png</string>
        </dict>
    </dict>
</plist>
