<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>109000.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{178,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,130}}</string>
                <key>sourceSize</key>
                <string>{178,130}</string>
            </dict>
            <key>109001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{175,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,127}}</string>
                <key>sourceSize</key>
                <string>{175,127}</string>
            </dict>
            <key>109002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,271},{175,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,134}}</string>
                <key>sourceSize</key>
                <string>{175,134}</string>
            </dict>
            <key>109003.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,276},{170,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,131}}</string>
                <key>sourceSize</key>
                <string>{170,131}</string>
            </dict>
            <key>109004.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1022},{137,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,148}}</string>
                <key>sourceSize</key>
                <string>{137,148}</string>
            </dict>
            <key>109005.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1554},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>109006.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1376},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>109007.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,987},{133,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,147}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
            <key>109008.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,540},{93,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,166}}</string>
                <key>sourceSize</key>
                <string>{93,166}</string>
            </dict>
            <key>109009.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,825},{94,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,160}}</string>
                <key>sourceSize</key>
                <string>{94,160}</string>
            </dict>
            <key>109010.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,756},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>109011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{99,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,154}}</string>
                <key>sourceSize</key>
                <string>{99,154}</string>
            </dict>
            <key>109012.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1144},{138,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,146}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>109013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{135,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,143}}</string>
                <key>sourceSize</key>
                <string>{135,143}</string>
            </dict>
            <key>109014.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,540},{135,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,162}}</string>
                <key>sourceSize</key>
                <string>{135,162}</string>
            </dict>
            <key>109015.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1768},{131,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,140}}</string>
                <key>sourceSize</key>
                <string>{131,140}</string>
            </dict>
            <key>109016.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{177,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,130}}</string>
                <key>sourceSize</key>
                <string>{177,130}</string>
            </dict>
            <key>109017.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,270},{175,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,134}}</string>
                <key>sourceSize</key>
                <string>{175,134}</string>
            </dict>
            <key>109018.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,134},{176,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,135}}</string>
                <key>sourceSize</key>
                <string>{176,135}</string>
            </dict>
            <key>109019.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,273},{171,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>109020.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1161},{137,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,146}}</string>
                <key>sourceSize</key>
                <string>{137,146}</string>
            </dict>
            <key>109021.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1530},{134,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{134,142}</string>
            </dict>
            <key>109022.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1258},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>109023.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,868},{133,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,156}}</string>
                <key>sourceSize</key>
                <string>{133,156}</string>
            </dict>
            <key>109024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{92,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,166}}</string>
                <key>sourceSize</key>
                <string>{92,166}</string>
            </dict>
            <key>109025.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,772},{94,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,160}}</string>
                <key>sourceSize</key>
                <string>{94,160}</string>
            </dict>
            <key>109026.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,727},{96,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,161}}</string>
                <key>sourceSize</key>
                <string>{96,161}</string>
            </dict>
            <key>109027.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,921},{99,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,155}}</string>
                <key>sourceSize</key>
                <string>{99,155}</string>
            </dict>
            <key>109028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{138,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,145}}</string>
                <key>sourceSize</key>
                <string>{138,145}</string>
            </dict>
            <key>109029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{134,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{134,144}</string>
            </dict>
            <key>109030.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1512},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>109031.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,854},{131,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,157}}</string>
                <key>sourceSize</key>
                <string>{131,157}</string>
            </dict>
            <key>109032.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{178,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,130}}</string>
                <key>sourceSize</key>
                <string>{178,130}</string>
            </dict>
            <key>109033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{176,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,127}}</string>
                <key>sourceSize</key>
                <string>{176,127}</string>
            </dict>
            <key>109034.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,140},{175,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,134}}</string>
                <key>sourceSize</key>
                <string>{175,134}</string>
            </dict>
            <key>109035.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,622},{162,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,132}}</string>
                <key>sourceSize</key>
                <string>{162,132}</string>
            </dict>
            <key>109036.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1639},{143,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,127}}</string>
                <key>sourceSize</key>
                <string>{143,127}</string>
            </dict>
            <key>109037.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,406},{168,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,126}}</string>
                <key>sourceSize</key>
                <string>{168,126}</string>
            </dict>
            <key>109038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{136,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,148}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>109039.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1122},{134,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,145}}</string>
                <key>sourceSize</key>
                <string>{134,145}</string>
            </dict>
            <key>109040.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1365},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>109041.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1539},{135,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,141}}</string>
                <key>sourceSize</key>
                <string>{135,141}</string>
            </dict>
            <key>109042.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1700},{129,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,141}}</string>
                <key>sourceSize</key>
                <string>{129,141}</string>
            </dict>
            <key>109043.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1690},{131,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,142}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>109044.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,534},{94,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,166}}</string>
                <key>sourceSize</key>
                <string>{94,166}</string>
            </dict>
            <key>109045.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,678},{92,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,162}}</string>
                <key>sourceSize</key>
                <string>{92,162}</string>
            </dict>
            <key>109046.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,771},{95,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,160}}</string>
                <key>sourceSize</key>
                <string>{95,160}</string>
            </dict>
            <key>109047.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,868},{106,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,153}}</string>
                <key>sourceSize</key>
                <string>{106,153}</string>
            </dict>
            <key>109048.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,161},{110,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,157}}</string>
                <key>sourceSize</key>
                <string>{110,157}</string>
            </dict>
            <key>109049.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,635},{95,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,164}}</string>
                <key>sourceSize</key>
                <string>{95,164}</string>
            </dict>
            <key>109050.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,538},{138,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,164}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>109051.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1300},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>109052.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,320},{135,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,163}}</string>
                <key>sourceSize</key>
                <string>{135,163}</string>
            </dict>
            <key>109053.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1437},{131,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,144}}</string>
                <key>sourceSize</key>
                <string>{131,144}</string>
            </dict>
            <key>109054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1749},{127,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,143}}</string>
                <key>sourceSize</key>
                <string>{127,143}</string>
            </dict>
            <key>109055.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,829},{131,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,159}}</string>
                <key>sourceSize</key>
                <string>{131,159}</string>
            </dict>
            <key>109056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,131}}</string>
                <key>sourceSize</key>
                <string>{178,131}</string>
            </dict>
            <key>109057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{176,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,133}}</string>
                <key>sourceSize</key>
                <string>{176,133}</string>
            </dict>
            <key>109058.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,134},{175,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,134}}</string>
                <key>sourceSize</key>
                <string>{175,134}</string>
            </dict>
            <key>109059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{162,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,135}}</string>
                <key>sourceSize</key>
                <string>{162,135}</string>
            </dict>
            <key>109060.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1394},{143,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,134}}</string>
                <key>sourceSize</key>
                <string>{143,134}</string>
            </dict>
            <key>109061.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,407},{167,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,131}}</string>
                <key>sourceSize</key>
                <string>{167,131}</string>
            </dict>
            <key>109062.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1094},{136,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,148}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>109063.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1502},{135,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,143}}</string>
                <key>sourceSize</key>
                <string>{135,143}</string>
            </dict>
            <key>109064.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1284},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>109065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{135,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,133}}</string>
                <key>sourceSize</key>
                <string>{135,133}</string>
            </dict>
            <key>109066.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1394},{129,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,143}}</string>
                <key>sourceSize</key>
                <string>{129,143}</string>
            </dict>
            <key>109067.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1106},{131,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,147}}</string>
                <key>sourceSize</key>
                <string>{131,147}</string>
            </dict>
            <key>109068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{94,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,167}}</string>
                <key>sourceSize</key>
                <string>{94,167}</string>
            </dict>
            <key>109069.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,677},{92,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,162}}</string>
                <key>sourceSize</key>
                <string>{92,162}</string>
            </dict>
            <key>109070.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,732},{95,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,161}}</string>
                <key>sourceSize</key>
                <string>{95,161}</string>
            </dict>
            <key>109071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{106,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,153}}</string>
                <key>sourceSize</key>
                <string>{106,153}</string>
            </dict>
            <key>109072.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{110,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,157}}</string>
                <key>sourceSize</key>
                <string>{110,157}</string>
            </dict>
            <key>109073.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,630},{95,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,164}}</string>
                <key>sourceSize</key>
                <string>{95,164}</string>
            </dict>
            <key>109074.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1003},{139,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,149}}</string>
                <key>sourceSize</key>
                <string>{139,149}</string>
            </dict>
            <key>109075.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,485},{135,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,142}}</string>
                <key>sourceSize</key>
                <string>{135,142}</string>
            </dict>
            <key>109076.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1239},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>109077.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1421},{131,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,144}}</string>
                <key>sourceSize</key>
                <string>{131,144}</string>
            </dict>
            <key>109078.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1570},{128,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,143}}</string>
                <key>sourceSize</key>
                <string>{128,143}</string>
            </dict>
            <key>109079.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1232},{131,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,146}}</string>
                <key>sourceSize</key>
                <string>{131,146}</string>
            </dict>
            <key>109080.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,134},{176,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,137}}</string>
                <key>sourceSize</key>
                <string>{176,137}</string>
            </dict>
            <key>109081.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{177,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,136}}</string>
                <key>sourceSize</key>
                <string>{177,136}</string>
            </dict>
            <key>109082.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,408},{169,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,130}}</string>
                <key>sourceSize</key>
                <string>{169,130}</string>
            </dict>
            <key>109083.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,976},{152,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,128}}</string>
                <key>sourceSize</key>
                <string>{152,128}</string>
            </dict>
            <key>109084.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1648},{142,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>109085.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,409},{166,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,127}}</string>
                <key>sourceSize</key>
                <string>{166,127}</string>
            </dict>
            <key>109086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{132,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,157}}</string>
                <key>sourceSize</key>
                <string>{132,157}</string>
            </dict>
            <key>109087.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,962},{130,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,154}}</string>
                <key>sourceSize</key>
                <string>{130,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum109.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f57f56fe067bfd2b34558d1b939050:1/1$</string>
            <key>textureFileName</key>
            <string>hum109.png</string>
        </dict>
    </dict>
</plist>
