<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>018100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,76}}</string>
                <key>sourceSize</key>
                <string>{140,76}</string>
            </dict>
            <key>018101.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,174},{106,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,99}}</string>
                <key>sourceSize</key>
                <string>{108,99}</string>
            </dict>
            <key>018102.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,275},{104,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>018103.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,387},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>018104.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,459},{80,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,91}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>018105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>018106.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,188},{78,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>018107.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,106},{66,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>018108.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,110},{62,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,107}}</string>
                <key>sourceSize</key>
                <string>{64,107}</string>
            </dict>
            <key>018109.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,288},{76,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,97}}</string>
                <key>sourceSize</key>
                <string>{76,97}</string>
            </dict>
            <key>018110.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,188},{80,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,105}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>018111.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,266},{74,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,105}}</string>
                <key>sourceSize</key>
                <string>{76,105}</string>
            </dict>
            <key>018112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>018113.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,270},{104,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>018114.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,446},{98,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>018115.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,365},{86,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>018116.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,174},{90,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{92,105}</string>
            </dict>
            <key>018117.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,453},{96,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>018118.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{118,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,89}}</string>
                <key>sourceSize</key>
                <string>{120,89}</string>
            </dict>
            <key>018119.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{118,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,102}}</string>
                <key>sourceSize</key>
                <string>{120,102}</string>
            </dict>
            <key>018120.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,93},{114,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,93}}</string>
                <key>sourceSize</key>
                <string>{116,93}</string>
            </dict>
            <key>018121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>018122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{98,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>018123.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,361},{96,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,99}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>018124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{106,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{108,100}</string>
            </dict>
            <key>018125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{88,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,119}</string>
            </dict>
            <key>018126.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{106,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,122}}</string>
                <key>sourceSize</key>
                <string>{108,122}</string>
            </dict>
            <key>018127.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,342},{102,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum18_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa6a98b8d3586b6dffbf5916b57dae4a:1/1$</string>
            <key>textureFileName</key>
            <string>hum18_1.png</string>
        </dict>
    </dict>
</plist>
