<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>023000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{158,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,120}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>023001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,385},{154,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>023002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,397},{154,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,116}}</string>
                <key>sourceSize</key>
                <string>{156,116}</string>
            </dict>
            <key>023003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,370},{154,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,118}}</string>
                <key>sourceSize</key>
                <string>{156,118}</string>
            </dict>
            <key>023004.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,772},{130,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,130}</string>
            </dict>
            <key>023005.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,997},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>023006.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1093},{126,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>023007.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,891},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>023008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,505},{108,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,152}}</string>
                <key>sourceSize</key>
                <string>{108,152}</string>
            </dict>
            <key>023009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,615},{108,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,151}}</string>
                <key>sourceSize</key>
                <string>{108,151}</string>
            </dict>
            <key>023010.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,625},{106,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,151}}</string>
                <key>sourceSize</key>
                <string>{108,151}</string>
            </dict>
            <key>023011.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,515},{108,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,151}}</string>
                <key>sourceSize</key>
                <string>{108,151}</string>
            </dict>
            <key>023012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{140,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,146}}</string>
                <key>sourceSize</key>
                <string>{140,146}</string>
            </dict>
            <key>023013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,725},{136,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,147}}</string>
                <key>sourceSize</key>
                <string>{136,147}</string>
            </dict>
            <key>023014.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,733},{134,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,147}}</string>
                <key>sourceSize</key>
                <string>{136,147}</string>
            </dict>
            <key>023015.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,617},{136,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,147}}</string>
                <key>sourceSize</key>
                <string>{136,147}</string>
            </dict>
            <key>023016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,119}}</string>
                <key>sourceSize</key>
                <string>{172,119}</string>
            </dict>
            <key>023017.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>023018.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{166,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>023019.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,118}}</string>
                <key>sourceSize</key>
                <string>{168,118}</string>
            </dict>
            <key>023020.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,364},{152,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,141}}</string>
                <key>sourceSize</key>
                <string>{152,141}</string>
            </dict>
            <key>023021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>023022.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,254},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>023023.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,242},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>023024.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,869},{110,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,143}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>023025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1043},{110,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,141}}</string>
                <key>sourceSize</key>
                <string>{112,141}</string>
            </dict>
            <key>023026.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,766},{110,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>023027.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,981},{110,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,141}}</string>
                <key>sourceSize</key>
                <string>{112,141}</string>
            </dict>
            <key>023028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{150,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,127}}</string>
                <key>sourceSize</key>
                <string>{152,127}</string>
            </dict>
            <key>023029.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,523},{150,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{152,125}</string>
            </dict>
            <key>023030.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,490},{152,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,125}}</string>
                <key>sourceSize</key>
                <string>{152,125}</string>
            </dict>
            <key>023031.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,507},{150,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>sourceSize</key>
                <string>{152,125}</string>
            </dict>
            <key>023032.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{164,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,130}}</string>
                <key>sourceSize</key>
                <string>{164,130}</string>
            </dict>
            <key>023033.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{164,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,118}}</string>
                <key>sourceSize</key>
                <string>{164,118}</string>
            </dict>
            <key>023034.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,122},{160,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,130}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
            <key>023035.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,392},{152,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,129}}</string>
                <key>sourceSize</key>
                <string>{152,129}</string>
            </dict>
            <key>023036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{160,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,118}}</string>
                <key>sourceSize</key>
                <string>{160,118}</string>
            </dict>
            <key>023037.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,121},{164,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,127}}</string>
                <key>sourceSize</key>
                <string>{164,127}</string>
            </dict>
            <key>023038.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,256},{154,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>023039.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,863},{144,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,132}}</string>
                <key>sourceSize</key>
                <string>{144,132}</string>
            </dict>
            <key>023040.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,755},{134,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,144}}</string>
                <key>sourceSize</key>
                <string>{136,144}</string>
            </dict>
            <key>023041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{126,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{128,153}</string>
            </dict>
            <key>023042.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,634},{130,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,145}}</string>
                <key>sourceSize</key>
                <string>{132,145}</string>
            </dict>
            <key>023043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{142,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,134}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>023044.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,650},{120,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,145}}</string>
                <key>sourceSize</key>
                <string>{120,145}</string>
            </dict>
            <key>023045.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,250},{118,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,155}}</string>
                <key>sourceSize</key>
                <string>{120,155}</string>
            </dict>
            <key>023046.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,242},{120,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,163}}</string>
                <key>sourceSize</key>
                <string>{120,163}</string>
            </dict>
            <key>023047.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,134},{120,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,163}}</string>
                <key>sourceSize</key>
                <string>{120,163}</string>
            </dict>
            <key>023048.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,122},{118,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,164}}</string>
                <key>sourceSize</key>
                <string>{120,164}</string>
            </dict>
            <key>023049.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,122},{118,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,157}}</string>
                <key>sourceSize</key>
                <string>{120,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum22.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb17294dbb9d9234d7a63f83ea46ceb1:1/1$</string>
            <key>textureFileName</key>
            <string>hum22.png</string>
        </dict>
    </dict>
</plist>
