<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>224032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,685},{224,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,258}}</string>
                <key>sourceSize</key>
                <string>{224,258}</string>
            </dict>
            <key>224033.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,945},{226,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,246}}</string>
                <key>sourceSize</key>
                <string>{228,246}</string>
            </dict>
            <key>224034.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,917},{218,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,248}}</string>
                <key>sourceSize</key>
                <string>{220,248}</string>
            </dict>
            <key>224035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,911},{216,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,251}}</string>
                <key>sourceSize</key>
                <string>{216,251}</string>
            </dict>
            <key>224036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,691},{218,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,254}}</string>
                <key>sourceSize</key>
                <string>{220,254}</string>
            </dict>
            <key>224037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{228,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,268}}</string>
                <key>sourceSize</key>
                <string>{228,268}</string>
            </dict>
            <key>224038.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,225},{294,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,242}}</string>
                <key>sourceSize</key>
                <string>{296,242}</string>
            </dict>
            <key>224039.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,683},{278,232}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,232}}</string>
                <key>sourceSize</key>
                <string>{280,232}</string>
            </dict>
            <key>224040.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,785},{270,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,222}}</string>
                <key>sourceSize</key>
                <string>{272,222}</string>
            </dict>
            <key>224041.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,544},{280,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,239}}</string>
                <key>sourceSize</key>
                <string>{280,239}</string>
            </dict>
            <key>224042.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,469},{282,244}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,244}}</string>
                <key>sourceSize</key>
                <string>{284,244}</string>
            </dict>
            <key>224043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,435},{284,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,254}}</string>
                <key>sourceSize</key>
                <string>{284,254}</string>
            </dict>
            <key>224044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,218}}</string>
                <key>sourceSize</key>
                <string>{336,218}</string>
            </dict>
            <key>224045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{288,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,215}}</string>
                <key>sourceSize</key>
                <string>{288,215}</string>
            </dict>
            <key>224046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{300,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,218}}</string>
                <key>sourceSize</key>
                <string>{300,218}</string>
            </dict>
            <key>224047.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{302,215}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,215}}</string>
                <key>sourceSize</key>
                <string>{304,215}</string>
            </dict>
            <key>224048.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,219},{300,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,217}}</string>
                <key>sourceSize</key>
                <string>{300,217}</string>
            </dict>
            <key>224049.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{304,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,221}}</string>
                <key>sourceSize</key>
                <string>{304,221}</string>
            </dict>
            <key>224050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{324,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,267}}</string>
                <key>sourceSize</key>
                <string>{324,267}</string>
            </dict>
            <key>224051.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,438},{284,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,243}}</string>
                <key>sourceSize</key>
                <string>{284,243}</string>
            </dict>
            <key>224052.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,715},{274,228}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,228}}</string>
                <key>sourceSize</key>
                <string>{276,228}</string>
            </dict>
            <key>224053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,222},{286,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,211}}</string>
                <key>sourceSize</key>
                <string>{288,211}</string>
            </dict>
            <key>224054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{290,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,224}}</string>
                <key>sourceSize</key>
                <string>{292,224}</string>
            </dict>
            <key>224055.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,289},{292,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,253}}</string>
                <key>sourceSize</key>
                <string>{292,253}</string>
            </dict>
            <key>224056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,219},{234,286}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,286}}</string>
                <key>sourceSize</key>
                <string>{236,286}</string>
            </dict>
            <key>224057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,455},{220,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,260}}</string>
                <key>sourceSize</key>
                <string>{220,260}</string>
            </dict>
            <key>224058.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1009},{212,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,236}}</string>
                <key>sourceSize</key>
                <string>{212,236}</string>
            </dict>
            <key>224059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,455},{228,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,222}}</string>
                <key>sourceSize</key>
                <string>{228,222}</string>
            </dict>
            <key>224060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1219},{228,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,221}}</string>
                <key>sourceSize</key>
                <string>{228,221}</string>
            </dict>
            <key>224061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,677},{232,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,258}}</string>
                <key>sourceSize</key>
                <string>{232,258}</string>
            </dict>
            <key>224062.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{326,285}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,285}}</string>
                <key>sourceSize</key>
                <string>{328,285}</string>
            </dict>
            <key>224063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{278,270}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,270}}</string>
                <key>sourceSize</key>
                <string>{280,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum224_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e924bb3923b0e6c58504b5f697dc61:1/1$</string>
            <key>textureFileName</key>
            <string>hum224_1.png</string>
        </dict>
    </dict>
</plist>
