<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>026100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{174,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,179}}</string>
                <key>sourceSize</key>
                <string>{176,179}</string>
            </dict>
            <key>026101.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,350},{180,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,166}}</string>
                <key>sourceSize</key>
                <string>{184,166}</string>
            </dict>
            <key>026102.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,159},{194,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{196,142}</string>
            </dict>
            <key>026103.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,585},{166,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,153}}</string>
                <key>sourceSize</key>
                <string>{168,153}</string>
            </dict>
            <key>026104.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,807},{144,160}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,160}}</string>
                <key>sourceSize</key>
                <string>{148,160}</string>
            </dict>
            <key>026105.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,291},{126,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,180}}</string>
                <key>sourceSize</key>
                <string>{128,180}</string>
            </dict>
            <key>026106.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,174},{152,191}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,191}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>026107.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,177},{158,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,171}}</string>
                <key>sourceSize</key>
                <string>{160,171}</string>
            </dict>
            <key>026108.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,763},{156,136}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,136}}</string>
                <key>sourceSize</key>
                <string>{160,136}</string>
            </dict>
            <key>026109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{162,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,131}}</string>
                <key>sourceSize</key>
                <string>{164,131}</string>
            </dict>
            <key>026110.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,471},{142,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,172}}</string>
                <key>sourceSize</key>
                <string>{144,172}</string>
            </dict>
            <key>026111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{164,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
            <key>026112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{194,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,175}}</string>
                <key>sourceSize</key>
                <string>{196,175}</string>
            </dict>
            <key>026113.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,303},{166,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,184}}</string>
                <key>sourceSize</key>
                <string>{168,184}</string>
            </dict>
            <key>026114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{164,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,124}}</string>
                <key>sourceSize</key>
                <string>{168,124}</string>
            </dict>
            <key>026115.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,740},{160,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,137}}</string>
                <key>sourceSize</key>
                <string>{164,137}</string>
            </dict>
            <key>026116.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{158,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,173}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>026117.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{206,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,170}}</string>
                <key>sourceSize</key>
                <string>{208,170}</string>
            </dict>
            <key>026118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,158}}</string>
                <key>sourceSize</key>
                <string>{236,158}</string>
            </dict>
            <key>026119.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,419},{176,164}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,164}}</string>
                <key>sourceSize</key>
                <string>{180,164}</string>
            </dict>
            <key>026120.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,763},{152,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,144}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>026121.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,518},{132,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,158}}</string>
                <key>sourceSize</key>
                <string>{136,158}</string>
            </dict>
            <key>026122.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,328},{178,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,173}}</string>
                <key>sourceSize</key>
                <string>{180,173}</string>
            </dict>
            <key>026123.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,142},{198,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,147}}</string>
                <key>sourceSize</key>
                <string>{200,147}</string>
            </dict>
            <key>026124.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{220,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,138}}</string>
                <key>sourceSize</key>
                <string>{224,138}</string>
            </dict>
            <key>026125.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{194,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,155}}</string>
                <key>sourceSize</key>
                <string>{196,155}</string>
            </dict>
            <key>026126.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,615},{146,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,157}}</string>
                <key>sourceSize</key>
                <string>{148,157}</string>
            </dict>
            <key>026127.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,503},{118,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,170}}</string>
                <key>sourceSize</key>
                <string>{120,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum25_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b250830a93d170749ca6167e9c3e0fc:1/1$</string>
            <key>textureFileName</key>
            <string>hum25_2.png</string>
        </dict>
    </dict>
</plist>
