<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>026000.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1132},{160,157}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,157}}</string>
                <key>sourceSize</key>
                <string>{164,157}</string>
            </dict>
            <key>026001.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,492},{170,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,140}}</string>
                <key>sourceSize</key>
                <string>{172,140}</string>
            </dict>
            <key>026002.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,175},{174,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,159}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>026003.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,806},{166,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,143}}</string>
                <key>sourceSize</key>
                <string>{168,143}</string>
            </dict>
            <key>026004.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,509},{152,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>026005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1425},{146,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,144}}</string>
                <key>sourceSize</key>
                <string>{148,144}</string>
            </dict>
            <key>026006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{162,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,144}}</string>
                <key>sourceSize</key>
                <string>{164,144}</string>
            </dict>
            <key>026007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{142,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,143}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>026008.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,174},{174,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,163}}</string>
                <key>sourceSize</key>
                <string>{176,163}</string>
            </dict>
            <key>026009.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,336},{154,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,173}}</string>
                <key>sourceSize</key>
                <string>{156,173}</string>
            </dict>
            <key>026010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{168,175}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,175}}</string>
                <key>sourceSize</key>
                <string>{172,175}</string>
            </dict>
            <key>026011.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,654},{150,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,168}}</string>
                <key>sourceSize</key>
                <string>{152,168}</string>
            </dict>
            <key>026012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{158,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>026013.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,476},{146,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,173}}</string>
                <key>sourceSize</key>
                <string>{148,173}</string>
            </dict>
            <key>026014.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,166},{148,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,176}}</string>
                <key>sourceSize</key>
                <string>{152,176}</string>
            </dict>
            <key>026015.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,339},{144,172}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,172}}</string>
                <key>sourceSize</key>
                <string>{148,172}</string>
            </dict>
            <key>026016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{166,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,154}}</string>
                <key>sourceSize</key>
                <string>{168,154}</string>
            </dict>
            <key>026017.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,316},{174,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,158}}</string>
                <key>sourceSize</key>
                <string>{176,158}</string>
            </dict>
            <key>026018.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{178,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,162}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>026019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{172,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,158}}</string>
                <key>sourceSize</key>
                <string>{176,158}</string>
            </dict>
            <key>026020.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,609},{172,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>026021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{176,172}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,172}}</string>
                <key>sourceSize</key>
                <string>{180,172}</string>
            </dict>
            <key>026022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>026023.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{174,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,170}}</string>
                <key>sourceSize</key>
                <string>{176,170}</string>
            </dict>
            <key>026024.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,941},{168,162}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,162}}</string>
                <key>sourceSize</key>
                <string>{172,162}</string>
            </dict>
            <key>026025.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,485},{170,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,167}}</string>
                <key>sourceSize</key>
                <string>{172,167}</string>
            </dict>
            <key>026026.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{176,171}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,171}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>026027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{154,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,168}}</string>
                <key>sourceSize</key>
                <string>{156,168}</string>
            </dict>
            <key>026028.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,339},{168,139}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,139}}</string>
                <key>sourceSize</key>
                <string>{172,139}</string>
            </dict>
            <key>026029.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,152},{178,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,143}}</string>
                <key>sourceSize</key>
                <string>{180,143}</string>
            </dict>
            <key>026030.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,148}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,148}}</string>
                <key>sourceSize</key>
                <string>{184,148}</string>
            </dict>
            <key>026031.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,297},{176,142}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,142}}</string>
                <key>sourceSize</key>
                <string>{180,142}</string>
            </dict>
            <key>026032.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1284},{154,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{156,154}</string>
            </dict>
            <key>026033.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,970},{162,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,160}}</string>
                <key>sourceSize</key>
                <string>{164,160}</string>
            </dict>
            <key>026034.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,802},{166,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,167}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>026035.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1269},{162,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,154}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>026036.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,792},{164,168}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>026037.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,634},{168,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{172,166}</string>
            </dict>
            <key>026038.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,951},{164,162}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,162}}</string>
                <key>sourceSize</key>
                <string>{168,162}</string>
            </dict>
            <key>026039.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,832},{164,163}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,163}}</string>
                <key>sourceSize</key>
                <string>{168,163}</string>
            </dict>
            <key>026040.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,663},{160,167}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,167}}</string>
                <key>sourceSize</key>
                <string>{164,167}</string>
            </dict>
            <key>026041.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1115},{158,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>026042.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,997},{156,163}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,163}}</string>
                <key>sourceSize</key>
                <string>{160,163}</string>
            </dict>
            <key>026043.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,958},{166,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,164}}</string>
                <key>sourceSize</key>
                <string>{168,164}</string>
            </dict>
            <key>026044.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1105},{162,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,166}}</string>
                <key>sourceSize</key>
                <string>{164,166}</string>
            </dict>
            <key>026045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{154,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,173}}</string>
                <key>sourceSize</key>
                <string>{156,173}</string>
            </dict>
            <key>026046.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,624},{166,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,169}}</string>
                <key>sourceSize</key>
                <string>{168,169}</string>
            </dict>
            <key>026047.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1124},{162,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,158}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>026048.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,777},{162,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,169}}</string>
                <key>sourceSize</key>
                <string>{164,169}</string>
            </dict>
            <key>026049.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,441},{166,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,173}}</string>
                <key>sourceSize</key>
                <string>{168,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum25.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4b7a23f91858c3dce6fad0d48f04809:1/1$</string>
            <key>textureFileName</key>
            <string>hum25.png</string>
        </dict>
    </dict>
</plist>
