<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>223032.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,525},{312,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,238}}</string>
                <key>sourceSize</key>
                <string>{312,238}</string>
            </dict>
            <key>223033.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1228},{288,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,225}}</string>
                <key>sourceSize</key>
                <string>{288,225}</string>
            </dict>
            <key>223034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2},{286,227}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,227}}</string>
                <key>sourceSize</key>
                <string>{288,227}</string>
            </dict>
            <key>223035.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1625},{278,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,224}}</string>
                <key>sourceSize</key>
                <string>{280,224}</string>
            </dict>
            <key>223036.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1016},{296,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,210}}</string>
                <key>sourceSize</key>
                <string>{296,210}</string>
            </dict>
            <key>223037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,499},{314,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,211}}</string>
                <key>sourceSize</key>
                <string>{316,211}</string>
            </dict>
            <key>223038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{322,237}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,237}}</string>
                <key>sourceSize</key>
                <string>{324,237}</string>
            </dict>
            <key>223039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{330,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,217}}</string>
                <key>sourceSize</key>
                <string>{332,217}</string>
            </dict>
            <key>223040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,868},{306,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,222}}</string>
                <key>sourceSize</key>
                <string>{308,222}</string>
            </dict>
            <key>223041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{300,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,224}}</string>
                <key>sourceSize</key>
                <string>{300,224}</string>
            </dict>
            <key>223042.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,790},{296,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,224}}</string>
                <key>sourceSize</key>
                <string>{296,224}</string>
            </dict>
            <key>223043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,794},{308,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,225}}</string>
                <key>sourceSize</key>
                <string>{308,225}</string>
            </dict>
            <key>223044.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{336,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,236}}</string>
                <key>sourceSize</key>
                <string>{336,236}</string>
            </dict>
            <key>223045.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,293},{312,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,251}}</string>
                <key>sourceSize</key>
                <string>{312,251}</string>
            </dict>
            <key>223046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,529},{312,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,263}}</string>
                <key>sourceSize</key>
                <string>{312,263}</string>
            </dict>
            <key>223047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,712},{310,255}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,255}}</string>
                <key>sourceSize</key>
                <string>{312,255}</string>
            </dict>
            <key>223048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,290},{302,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,252}}</string>
                <key>sourceSize</key>
                <string>{304,252}</string>
            </dict>
            <key>223049.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,546},{300,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,242}}</string>
                <key>sourceSize</key>
                <string>{300,242}</string>
            </dict>
            <key>223050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{276,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,293}}</string>
                <key>sourceSize</key>
                <string>{276,293}</string>
            </dict>
            <key>223051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{260,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,301}}</string>
                <key>sourceSize</key>
                <string>{260,301}</string>
            </dict>
            <key>223052.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,240},{314,283}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,283}}</string>
                <key>sourceSize</key>
                <string>{316,283}</string>
            </dict>
            <key>223053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,221},{320,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,276}}</string>
                <key>sourceSize</key>
                <string>{320,276}</string>
            </dict>
            <key>223054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,241},{316,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,286}}</string>
                <key>sourceSize</key>
                <string>{316,286}</string>
            </dict>
            <key>223055.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,765},{272,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,296}}</string>
                <key>sourceSize</key>
                <string>{272,296}</string>
            </dict>
            <key>223056.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1039},{268,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,289}}</string>
                <key>sourceSize</key>
                <string>{268,289}</string>
            </dict>
            <key>223057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1625},{282,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,278}}</string>
                <key>sourceSize</key>
                <string>{284,278}</string>
            </dict>
            <key>223058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{294,298}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,298}}</string>
                <key>sourceSize</key>
                <string>{296,298}</string>
            </dict>
            <key>223059.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,969},{282,292}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,292}}</string>
                <key>sourceSize</key>
                <string>{284,292}</string>
            </dict>
            <key>223060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,594},{272,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,283}}</string>
                <key>sourceSize</key>
                <string>{272,283}</string>
            </dict>
            <key>223061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1361},{262,285}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,285}}</string>
                <key>sourceSize</key>
                <string>{264,285}</string>
            </dict>
            <key>223062.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{402,289}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,289}}</string>
                <key>sourceSize</key>
                <string>{404,289}</string>
            </dict>
            <key>223063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,295}}</string>
                <key>sourceSize</key>
                <string>{408,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum223_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c4593b7ee6b2ef6e12d20c1c8392652:1/1$</string>
            <key>textureFileName</key>
            <string>hum223_1.png</string>
        </dict>
    </dict>
</plist>
