<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>226043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{281,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,474}}</string>
                <key>sourceSize</key>
                <string>{281,474}</string>
            </dict>
            <key>226044.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,740},{456,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,406}}</string>
                <key>sourceSize</key>
                <string>{456,406}</string>
            </dict>
            <key>226045.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1634},{438,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,394}}</string>
                <key>sourceSize</key>
                <string>{438,394}</string>
            </dict>
            <key>226046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1193},{435,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,362}}</string>
                <key>sourceSize</key>
                <string>{435,362}</string>
            </dict>
            <key>226047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,387},{445,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,388}}</string>
                <key>sourceSize</key>
                <string>{445,388}</string>
            </dict>
            <key>226048.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1193},{439,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,392}}</string>
                <key>sourceSize</key>
                <string>{439,392}</string>
            </dict>
            <key>226049.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1651},{435,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,395}}</string>
                <key>sourceSize</key>
                <string>{435,395}</string>
            </dict>
            <key>226050.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{479,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,383}}</string>
                <key>sourceSize</key>
                <string>{479,383}</string>
            </dict>
            <key>226051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{457,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,350}}</string>
                <key>sourceSize</key>
                <string>{457,350}</string>
            </dict>
            <key>226052.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,740},{451,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,359}}</string>
                <key>sourceSize</key>
                <string>{451,359}</string>
            </dict>
            <key>226053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,383},{475,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,355}}</string>
                <key>sourceSize</key>
                <string>{475,355}</string>
            </dict>
            <key>226054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,2},{479,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,379}}</string>
                <key>sourceSize</key>
                <string>{479,379}</string>
            </dict>
            <key>226055.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{479,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,383}}</string>
                <key>sourceSize</key>
                <string>{479,383}</string>
            </dict>
            <key>226056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1106},{375,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,373}}</string>
                <key>sourceSize</key>
                <string>{375,373}</string>
            </dict>
            <key>226057.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,387},{377,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,346}}</string>
                <key>sourceSize</key>
                <string>{377,346}</string>
            </dict>
            <key>226058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1675},{368,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,380}}</string>
                <key>sourceSize</key>
                <string>{368,380}</string>
            </dict>
            <key>226059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1630},{378,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,367}}</string>
                <key>sourceSize</key>
                <string>{378,367}</string>
            </dict>
            <key>226060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,740},{364,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,377}}</string>
                <key>sourceSize</key>
                <string>{364,377}</string>
            </dict>
            <key>226061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,834},{357,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,387}}</string>
                <key>sourceSize</key>
                <string>{357,387}</string>
            </dict>
            <key>226062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{479,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,383}}</string>
                <key>sourceSize</key>
                <string>{479,383}</string>
            </dict>
            <key>226063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{457,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,350}}</string>
                <key>sourceSize</key>
                <string>{457,350}</string>
            </dict>
            <key>226064.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1198},{451,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,359}}</string>
                <key>sourceSize</key>
                <string>{451,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum226_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d064992af3107aba8ec6acf83950623c:1/1$</string>
            <key>textureFileName</key>
            <string>hum226_2.png</string>
        </dict>
    </dict>
</plist>
