<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>226021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1433},{461,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,401}}</string>
                <key>sourceSize</key>
                <string>{461,401}</string>
            </dict>
            <key>226022.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{462,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,398}}</string>
                <key>sourceSize</key>
                <string>{462,398}</string>
            </dict>
            <key>226023.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,476},{463,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,395}}</string>
                <key>sourceSize</key>
                <string>{463,395}</string>
            </dict>
            <key>226024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{291,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,424}}</string>
                <key>sourceSize</key>
                <string>{291,424}</string>
            </dict>
            <key>226025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,295},{290,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,422}}</string>
                <key>sourceSize</key>
                <string>{290,422}</string>
            </dict>
            <key>226026.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1230},{290,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,419}}</string>
                <key>sourceSize</key>
                <string>{290,419}</string>
            </dict>
            <key>226027.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1522},{289,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,418}}</string>
                <key>sourceSize</key>
                <string>{289,418}</string>
            </dict>
            <key>226028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,435},{396,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,340}}</string>
                <key>sourceSize</key>
                <string>{396,340}</string>
            </dict>
            <key>226029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,833},{395,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,338}}</string>
                <key>sourceSize</key>
                <string>{395,338}</string>
            </dict>
            <key>226030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,1345},{394,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,336}}</string>
                <key>sourceSize</key>
                <string>{394,336}</string>
            </dict>
            <key>226031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1522},{395,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,335}}</string>
                <key>sourceSize</key>
                <string>{395,335}</string>
            </dict>
            <key>226032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,587},{375,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,421}}</string>
                <key>sourceSize</key>
                <string>{375,421}</string>
            </dict>
            <key>226033.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,466},{377,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,432}}</string>
                <key>sourceSize</key>
                <string>{377,432}</string>
            </dict>
            <key>226034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,2},{369,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,431}}</string>
                <key>sourceSize</key>
                <string>{369,431}</string>
            </dict>
            <key>226035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,964},{379,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,419}}</string>
                <key>sourceSize</key>
                <string>{379,419}</string>
            </dict>
            <key>226036.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{364,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,472}}</string>
                <key>sourceSize</key>
                <string>{364,472}</string>
            </dict>
            <key>226037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{357,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,470}}</string>
                <key>sourceSize</key>
                <string>{357,470}</string>
            </dict>
            <key>226038.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,941},{252,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,451}}</string>
                <key>sourceSize</key>
                <string>{252,451}</string>
            </dict>
            <key>226039.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,941},{286,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,459}}</string>
                <key>sourceSize</key>
                <string>{286,459}</string>
            </dict>
            <key>226040.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1402},{310,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,456}}</string>
                <key>sourceSize</key>
                <string>{310,456}</string>
            </dict>
            <key>226041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{274,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,473}}</string>
                <key>sourceSize</key>
                <string>{274,473}</string>
            </dict>
            <key>226042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,482}}</string>
                <key>sourceSize</key>
                <string>{259,482}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum226_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24c69e4961079ee65f0e28990e09f1d5:1/1$</string>
            <key>textureFileName</key>
            <string>hum226_1.png</string>
        </dict>
    </dict>
</plist>
