<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>223064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,776},{386,306}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,306}}</string>
                <key>sourceSize</key>
                <string>{388,306}</string>
            </dict>
            <key>223065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{378,306}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,306}}</string>
                <key>sourceSize</key>
                <string>{380,306}</string>
            </dict>
            <key>223066.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,965},{376,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,311}}</string>
                <key>sourceSize</key>
                <string>{376,311}</string>
            </dict>
            <key>223067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,702},{388,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,307}}</string>
                <key>sourceSize</key>
                <string>{388,307}</string>
            </dict>
            <key>223068.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{424,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,272}}</string>
                <key>sourceSize</key>
                <string>{424,272}</string>
            </dict>
            <key>223069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{406,263}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,263}}</string>
                <key>sourceSize</key>
                <string>{408,263}</string>
            </dict>
            <key>223070.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{420,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,243}}</string>
                <key>sourceSize</key>
                <string>{420,243}</string>
            </dict>
            <key>223071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{420,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,247}}</string>
                <key>sourceSize</key>
                <string>{420,247}</string>
            </dict>
            <key>223072.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,455},{402,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,260}}</string>
                <key>sourceSize</key>
                <string>{404,260}</string>
            </dict>
            <key>223073.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,516},{400,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,281}}</string>
                <key>sourceSize</key>
                <string>{400,281}</string>
            </dict>
            <key>223074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,538},{390,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,236}}</string>
                <key>sourceSize</key>
                <string>{392,236}</string>
            </dict>
            <key>223075.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,717},{382,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,246}}</string>
                <key>sourceSize</key>
                <string>{384,246}</string>
            </dict>
            <key>223076.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,276},{410,238}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,238}}</string>
                <key>sourceSize</key>
                <string>{412,238}</string>
            </dict>
            <key>223077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{414,237}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,237}}</string>
                <key>sourceSize</key>
                <string>{416,237}</string>
            </dict>
            <key>223078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,241},{414,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,233}}</string>
                <key>sourceSize</key>
                <string>{416,233}</string>
            </dict>
            <key>223079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,476},{394,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,224}}</string>
                <key>sourceSize</key>
                <string>{396,224}</string>
            </dict>
            <key>223080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,208},{328,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,330}}</string>
                <key>sourceSize</key>
                <string>{328,330}</string>
            </dict>
            <key>223081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1347},{268,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,315}}</string>
                <key>sourceSize</key>
                <string>{268,315}</string>
            </dict>
            <key>223082.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1520},{286,232}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,232}}</string>
                <key>sourceSize</key>
                <string>{288,232}</string>
            </dict>
            <key>223083.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1274},{244,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,319}}</string>
                <key>sourceSize</key>
                <string>{244,319}</string>
            </dict>
            <key>223084.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1808},{258,232}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,232}}</string>
                <key>sourceSize</key>
                <string>{260,232}</string>
            </dict>
            <key>223085.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1519},{242,249}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,249}}</string>
                <key>sourceSize</key>
                <string>{244,249}</string>
            </dict>
            <key>223086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{394,288}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,288}}</string>
                <key>sourceSize</key>
                <string>{396,288}</string>
            </dict>
            <key>223087.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1617},{308,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,278}}</string>
                <key>sourceSize</key>
                <string>{308,278}</string>
            </dict>
            <key>223088.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1278},{254,239}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,239}}</string>
                <key>sourceSize</key>
                <string>{256,239}</string>
            </dict>
            <key>223089.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,799},{382,243}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,243}}</string>
                <key>sourceSize</key>
                <string>{384,243}</string>
            </dict>
            <key>223090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1617},{310,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,233}}</string>
                <key>sourceSize</key>
                <string>{312,233}</string>
            </dict>
            <key>223091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1011},{302,242}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,242}}</string>
                <key>sourceSize</key>
                <string>{304,242}</string>
            </dict>
            <key>223092.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1044},{372,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,228}}</string>
                <key>sourceSize</key>
                <string>{372,228}</string>
            </dict>
            <key>223093.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,247},{414,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,206}}</string>
                <key>sourceSize</key>
                <string>{416,206}</string>
            </dict>
            <key>223094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,2},{338,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,204}}</string>
                <key>sourceSize</key>
                <string>{340,204}</string>
            </dict>
            <key>223095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,231}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,231}}</string>
                <key>sourceSize</key>
                <string>{432,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum223_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:432dcbb19992d9173d11b902cff6e4c1:1/1$</string>
            <key>textureFileName</key>
            <string>hum223_2.png</string>
        </dict>
    </dict>
</plist>
