<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>025100.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,564},{168,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,152}}</string>
                <key>sourceSize</key>
                <string>{168,152}</string>
            </dict>
            <key>025101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{154,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,127}}</string>
                <key>sourceSize</key>
                <string>{156,127}</string>
            </dict>
            <key>025102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{162,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,132}}</string>
                <key>sourceSize</key>
                <string>{164,132}</string>
            </dict>
            <key>025103.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,475},{158,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>025104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,495},{158,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,142}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>025105.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,163},{148,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,192}}</string>
                <key>sourceSize</key>
                <string>{148,192}</string>
            </dict>
            <key>025106.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,148},{152,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,193}}</string>
                <key>sourceSize</key>
                <string>{152,193}</string>
            </dict>
            <key>025107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{132,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,147}}</string>
                <key>sourceSize</key>
                <string>{132,147}</string>
            </dict>
            <key>025108.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,865},{136,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,151}}</string>
                <key>sourceSize</key>
                <string>{136,151}</string>
            </dict>
            <key>025109.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,865},{126,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,152}}</string>
                <key>sourceSize</key>
                <string>{128,152}</string>
            </dict>
            <key>025110.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,302},{174,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,136}}</string>
                <key>sourceSize</key>
                <string>{176,136}</string>
            </dict>
            <key>025111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{182,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,205}}</string>
                <key>sourceSize</key>
                <string>{184,205}</string>
            </dict>
            <key>025112.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{144,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,204}}</string>
                <key>sourceSize</key>
                <string>{144,204}</string>
            </dict>
            <key>025113.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,571},{134,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,157}}</string>
                <key>sourceSize</key>
                <string>{136,157}</string>
            </dict>
            <key>025114.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,707},{142,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,151}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
            <key>025115.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,571},{156,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,132}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>025116.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,718},{154,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,145}}</string>
                <key>sourceSize</key>
                <string>{156,145}</string>
            </dict>
            <key>025117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,173}}</string>
                <key>sourceSize</key>
                <string>{240,173}</string>
            </dict>
            <key>025118.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,160},{216,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,194}}</string>
                <key>sourceSize</key>
                <string>{216,194}</string>
            </dict>
            <key>025119.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,356},{168,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,117}}</string>
                <key>sourceSize</key>
                <string>{168,117}</string>
            </dict>
            <key>025120.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,440},{184,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,122}}</string>
                <key>sourceSize</key>
                <string>{184,122}</string>
            </dict>
            <key>025121.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,302},{184,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,135}}</string>
                <key>sourceSize</key>
                <string>{184,135}</string>
            </dict>
            <key>025122.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,445},{126,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,159}}</string>
                <key>sourceSize</key>
                <string>{128,159}</string>
            </dict>
            <key>025123.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>025124.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{224,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,159}}</string>
                <key>sourceSize</key>
                <string>{224,159}</string>
            </dict>
            <key>025125.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,439},{184,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,130}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
            <key>025126.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,313},{184,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,130}}</string>
                <key>sourceSize</key>
                <string>{184,130}</string>
            </dict>
            <key>025127.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,707},{148,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,125}}</string>
                <key>sourceSize</key>
                <string>{148,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum24_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10608289c433f094467e4e7fcdcab699:1/1$</string>
            <key>textureFileName</key>
            <string>hum24_2.png</string>
        </dict>
    </dict>
</plist>
