<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>023100.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,217}}</string>
                <key>sourceSize</key>
                <string>{104,217}</string>
            </dict>
            <key>023101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{100,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,195}}</string>
                <key>sourceSize</key>
                <string>{100,195}</string>
            </dict>
            <key>023102.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,273},{118,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>023103.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,535},{102,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,139}}</string>
                <key>sourceSize</key>
                <string>{104,139}</string>
            </dict>
            <key>023104.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,399},{124,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,116}}</string>
                <key>sourceSize</key>
                <string>{124,116}</string>
            </dict>
            <key>023105.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,382},{138,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,151}}</string>
                <key>sourceSize</key>
                <string>{140,151}</string>
            </dict>
            <key>023106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,222}}</string>
                <key>sourceSize</key>
                <string>{104,222}</string>
            </dict>
            <key>023107.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,640},{108,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,187}}</string>
                <key>sourceSize</key>
                <string>{108,187}</string>
            </dict>
            <key>023108.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,789},{96,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,137}}</string>
                <key>sourceSize</key>
                <string>{96,137}</string>
            </dict>
            <key>023109.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,638},{104,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,134}}</string>
                <key>sourceSize</key>
                <string>{104,134}</string>
            </dict>
            <key>023110.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{112,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,139}}</string>
                <key>sourceSize</key>
                <string>{112,139}</string>
            </dict>
            <key>023111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{166,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,150}}</string>
                <key>sourceSize</key>
                <string>{168,150}</string>
            </dict>
            <key>023112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{152,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,217}}</string>
                <key>sourceSize</key>
                <string>{152,217}</string>
            </dict>
            <key>023113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{112,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,195}}</string>
                <key>sourceSize</key>
                <string>{112,195}</string>
            </dict>
            <key>023114.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>023115.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,379},{108,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,137}}</string>
                <key>sourceSize</key>
                <string>{108,137}</string>
            </dict>
            <key>023116.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,303},{74,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,141}}</string>
                <key>sourceSize</key>
                <string>{76,141}</string>
            </dict>
            <key>023117.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,156},{144,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,145}}</string>
                <key>sourceSize</key>
                <string>{144,145}</string>
            </dict>
            <key>023118.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,839},{162,189}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,189}}</string>
                <key>sourceSize</key>
                <string>{164,189}</string>
            </dict>
            <key>023119.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,642},{88,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,195}}</string>
                <key>sourceSize</key>
                <string>{88,195}</string>
            </dict>
            <key>023120.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,639},{148,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,110}}</string>
                <key>sourceSize</key>
                <string>{148,110}</string>
            </dict>
            <key>023121.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,143},{108,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,128}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>023122.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,517},{112,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,124}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>023123.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,221},{158,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,159}}</string>
                <key>sourceSize</key>
                <string>{160,159}</string>
            </dict>
            <key>023124.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{152,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,149}}</string>
                <key>sourceSize</key>
                <string>{152,149}</string>
            </dict>
            <key>023125.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,445},{100,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,193}}</string>
                <key>sourceSize</key>
                <string>{100,193}</string>
            </dict>
            <key>023126.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,518},{124,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>023127.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,128},{110,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{112,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum22_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e33553327dfd9795900762b246b7e918:1/1$</string>
            <key>textureFileName</key>
            <string>hum22_2.png</string>
        </dict>
    </dict>
</plist>
