<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>025000.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,939},{126,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>025001.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,947},{126,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>025002.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,834},{126,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,144}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>025003.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,811},{126,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,145}}</string>
                <key>sourceSize</key>
                <string>{128,145}</string>
            </dict>
            <key>025004.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,408},{164,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,131}}</string>
                <key>sourceSize</key>
                <string>{164,131}</string>
            </dict>
            <key>025005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,545},{162,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,130}}</string>
                <key>sourceSize</key>
                <string>{164,130}</string>
            </dict>
            <key>025006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,536},{164,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,130}}</string>
                <key>sourceSize</key>
                <string>{164,130}</string>
            </dict>
            <key>025007.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,277},{166,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,132}}</string>
                <key>sourceSize</key>
                <string>{168,132}</string>
            </dict>
            <key>025008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,408},{170,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,135}}</string>
                <key>sourceSize</key>
                <string>{172,135}</string>
            </dict>
            <key>025009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,398},{170,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,136}}</string>
                <key>sourceSize</key>
                <string>{172,136}</string>
            </dict>
            <key>025010.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,270},{170,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,136}}</string>
                <key>sourceSize</key>
                <string>{172,136}</string>
            </dict>
            <key>025011.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,140},{172,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,135}}</string>
                <key>sourceSize</key>
                <string>{172,135}</string>
            </dict>
            <key>025012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{136,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,147}}</string>
                <key>sourceSize</key>
                <string>{136,147}</string>
            </dict>
            <key>025013.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,945},{136,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,148}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>025014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{136,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,148}}</string>
                <key>sourceSize</key>
                <string>{136,148}</string>
            </dict>
            <key>025015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,970},{138,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{140,147}</string>
            </dict>
            <key>025016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{142,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{144,152}</string>
            </dict>
            <key>025017.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,539},{142,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,153}}</string>
                <key>sourceSize</key>
                <string>{144,153}</string>
            </dict>
            <key>025018.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,677},{142,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{144,152}</string>
            </dict>
            <key>025019.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,690},{142,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,151}}</string>
                <key>sourceSize</key>
                <string>{144,151}</string>
            </dict>
            <key>025020.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,140},{182,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,132}}</string>
                <key>sourceSize</key>
                <string>{184,132}</string>
            </dict>
            <key>025021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{180,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,132}}</string>
                <key>sourceSize</key>
                <string>{180,132}</string>
            </dict>
            <key>025022.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,135},{182,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,132}}</string>
                <key>sourceSize</key>
                <string>{184,132}</string>
            </dict>
            <key>025023.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,274},{180,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,132}}</string>
                <key>sourceSize</key>
                <string>{180,132}</string>
            </dict>
            <key>025024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{192,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,136}}</string>
                <key>sourceSize</key>
                <string>{192,136}</string>
            </dict>
            <key>025025.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,132},{190,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,136}}</string>
                <key>sourceSize</key>
                <string>{192,136}</string>
            </dict>
            <key>025026.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{192,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,136}}</string>
                <key>sourceSize</key>
                <string>{192,136}</string>
            </dict>
            <key>025027.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{190,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,136}}</string>
                <key>sourceSize</key>
                <string>{192,136}</string>
            </dict>
            <key>025028.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1067},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>025029.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1083},{128,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,135}}</string>
                <key>sourceSize</key>
                <string>{128,135}</string>
            </dict>
            <key>025030.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1110},{128,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{128,134}</string>
            </dict>
            <key>025031.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1075},{128,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,135}}</string>
                <key>sourceSize</key>
                <string>{128,135}</string>
            </dict>
            <key>025032.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,669},{128,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,152}}</string>
                <key>sourceSize</key>
                <string>{128,152}</string>
            </dict>
            <key>025033.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,411},{126,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,154}}</string>
                <key>sourceSize</key>
                <string>{128,154}</string>
            </dict>
            <key>025034.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,683},{126,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,152}}</string>
                <key>sourceSize</key>
                <string>{128,152}</string>
            </dict>
            <key>025035.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,562},{126,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{128,153}</string>
            </dict>
            <key>025036.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,819},{124,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{124,150}</string>
            </dict>
            <key>025037.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,541},{126,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{128,153}</string>
            </dict>
            <key>025038.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,411},{154,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,149}}</string>
                <key>sourceSize</key>
                <string>{156,149}</string>
            </dict>
            <key>025039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{158,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,150}}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>025040.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,668},{152,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,149}}</string>
                <key>sourceSize</key>
                <string>{152,149}</string>
            </dict>
            <key>025041.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,821},{148,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,147}}</string>
                <key>sourceSize</key>
                <string>{148,147}</string>
            </dict>
            <key>025042.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,962},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>025043.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,799},{150,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,146}}</string>
                <key>sourceSize</key>
                <string>{152,146}</string>
            </dict>
            <key>025044.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{192,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,131}}</string>
                <key>sourceSize</key>
                <string>{192,131}</string>
            </dict>
            <key>025045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,129}}</string>
                <key>sourceSize</key>
                <string>{196,129}</string>
            </dict>
            <key>025046.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>025047.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,269},{182,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,127}}</string>
                <key>sourceSize</key>
                <string>{184,127}</string>
            </dict>
            <key>025048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{168,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,131}}</string>
                <key>sourceSize</key>
                <string>{168,131}</string>
            </dict>
            <key>025049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{182,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,128}}</string>
                <key>sourceSize</key>
                <string>{184,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum24.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3f07f899181862879abd64d6b2b3e12:1/1$</string>
            <key>textureFileName</key>
            <string>hum24.png</string>
        </dict>
    </dict>
</plist>
