<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>226000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{488,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,349}}</string>
                <key>sourceSize</key>
                <string>{488,349}</string>
            </dict>
            <key>226001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1287},{488,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,348}}</string>
                <key>sourceSize</key>
                <string>{488,348}</string>
            </dict>
            <key>226002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1287},{488,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,348}}</string>
                <key>sourceSize</key>
                <string>{488,348}</string>
            </dict>
            <key>226003.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,797},{487,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,349}}</string>
                <key>sourceSize</key>
                <string>{487,349}</string>
            </dict>
            <key>226004.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1751},{291,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,424}}</string>
                <key>sourceSize</key>
                <string>{291,424}</string>
            </dict>
            <key>226005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1727},{290,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,422}}</string>
                <key>sourceSize</key>
                <string>{290,422}</string>
            </dict>
            <key>226006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1724},{290,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,419}}</string>
                <key>sourceSize</key>
                <string>{290,419}</string>
            </dict>
            <key>226007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,797},{289,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,418}}</string>
                <key>sourceSize</key>
                <string>{289,418}</string>
            </dict>
            <key>226008.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,797},{463,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,402}}</string>
                <key>sourceSize</key>
                <string>{463,402}</string>
            </dict>
            <key>226009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1261},{461,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,401}}</string>
                <key>sourceSize</key>
                <string>{461,401}</string>
            </dict>
            <key>226010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,797},{462,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,398}}</string>
                <key>sourceSize</key>
                <string>{462,398}</string>
            </dict>
            <key>226011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1262},{463,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,395}}</string>
                <key>sourceSize</key>
                <string>{463,395}</string>
            </dict>
            <key>226012.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{489,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,396}}</string>
                <key>sourceSize</key>
                <string>{489,396}</string>
            </dict>
            <key>226013.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,400},{488,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,395}}</string>
                <key>sourceSize</key>
                <string>{488,395}</string>
            </dict>
            <key>226014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,2},{489,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,395}}</string>
                <key>sourceSize</key>
                <string>{489,395}</string>
            </dict>
            <key>226015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,399},{488,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,396}}</string>
                <key>sourceSize</key>
                <string>{488,396}</string>
            </dict>
            <key>226016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,396}}</string>
                <key>sourceSize</key>
                <string>{489,396}</string>
            </dict>
            <key>226017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{488,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,395}}</string>
                <key>sourceSize</key>
                <string>{488,395}</string>
            </dict>
            <key>226018.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{489,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,395}}</string>
                <key>sourceSize</key>
                <string>{489,395}</string>
            </dict>
            <key>226019.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,399},{488,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,396}}</string>
                <key>sourceSize</key>
                <string>{488,396}</string>
            </dict>
            <key>226020.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1286},{463,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,402}}</string>
                <key>sourceSize</key>
                <string>{463,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum226.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40098a2b64f1dbd90da3aaee63c989eb:1/1$</string>
            <key>textureFileName</key>
            <string>hum226.png</string>
        </dict>
    </dict>
</plist>
