<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>224064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1313},{268,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,252}}</string>
                <key>sourceSize</key>
                <string>{268,252}</string>
            </dict>
            <key>224065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,1348},{266,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,212}}</string>
                <key>sourceSize</key>
                <string>{268,212}</string>
            </dict>
            <key>224066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,1076},{270,221}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,221}}</string>
                <key>sourceSize</key>
                <string>{272,221}</string>
            </dict>
            <key>224067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,779},{308,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,250}}</string>
                <key>sourceSize</key>
                <string>{308,250}</string>
            </dict>
            <key>224068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{354,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,211}}</string>
                <key>sourceSize</key>
                <string>{356,211}</string>
            </dict>
            <key>224069.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,897},{308,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,212}}</string>
                <key>sourceSize</key>
                <string>{308,212}</string>
            </dict>
            <key>224070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1303},{278,218}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,218}}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>224071.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1111},{286,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,211}}</string>
                <key>sourceSize</key>
                <string>{288,211}</string>
            </dict>
            <key>224072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1031},{286,215}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,215}}</string>
                <key>sourceSize</key>
                <string>{288,215}</string>
            </dict>
            <key>224073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,550},{314,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,224}}</string>
                <key>sourceSize</key>
                <string>{316,224}</string>
            </dict>
            <key>224074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{354,241}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,241}}</string>
                <key>sourceSize</key>
                <string>{356,241}</string>
            </dict>
            <key>224075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{320,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,228}}</string>
                <key>sourceSize</key>
                <string>{320,228}</string>
            </dict>
            <key>224076.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1184},{284,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,227}}</string>
                <key>sourceSize</key>
                <string>{284,227}</string>
            </dict>
            <key>224077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1076},{276,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,235}}</string>
                <key>sourceSize</key>
                <string>{276,235}</string>
            </dict>
            <key>224078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1248},{274,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,240}}</string>
                <key>sourceSize</key>
                <string>{276,240}</string>
            </dict>
            <key>224079.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1031},{298,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,250}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>224080.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,916},{304,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,266}}</string>
                <key>sourceSize</key>
                <string>{304,266}</string>
            </dict>
            <key>224081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{302,317}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,317}}</string>
                <key>sourceSize</key>
                <string>{304,317}</string>
            </dict>
            <key>224082.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,254},{332,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,322}}</string>
                <key>sourceSize</key>
                <string>{332,322}</string>
            </dict>
            <key>224083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,776},{298,313}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,313}}</string>
                <key>sourceSize</key>
                <string>{300,313}</string>
            </dict>
            <key>224084.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,578},{318,317}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,317}}</string>
                <key>sourceSize</key>
                <string>{320,317}</string>
            </dict>
            <key>224085.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,622},{292,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,318}}</string>
                <key>sourceSize</key>
                <string>{292,318}</string>
            </dict>
            <key>224086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{300,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,244}}</string>
                <key>sourceSize</key>
                <string>{300,244}</string>
            </dict>
            <key>224087.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{394,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,250}}</string>
                <key>sourceSize</key>
                <string>{396,250}</string>
            </dict>
            <key>224088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,264}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,264}}</string>
                <key>sourceSize</key>
                <string>{460,264}</string>
            </dict>
            <key>224089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,509},{268,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,324}}</string>
                <key>sourceSize</key>
                <string>{268,324}</string>
            </dict>
            <key>224090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,245},{262,333}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,333}}</string>
                <key>sourceSize</key>
                <string>{264,333}</string>
            </dict>
            <key>224091.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,350},{270,321}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,321}}</string>
                <key>sourceSize</key>
                <string>{272,321}</string>
            </dict>
            <key>224092.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1283},{266,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,258}}</string>
                <key>sourceSize</key>
                <string>{268,258}</string>
            </dict>
            <key>224093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,215},{350,333}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,333}}</string>
                <key>sourceSize</key>
                <string>{352,333}</string>
            </dict>
            <key>224094.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{418,346}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,346}}</string>
                <key>sourceSize</key>
                <string>{420,346}</string>
            </dict>
            <key>224095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{418,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,253}}</string>
                <key>sourceSize</key>
                <string>{420,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum224_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4378092ffacd17357518d559adb178f1:1/1$</string>
            <key>textureFileName</key>
            <string>hum224_2.png</string>
        </dict>
    </dict>
</plist>
