<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>223096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1140},{308,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,239}}</string>
                <key>sourceSize</key>
                <string>{308,239}</string>
            </dict>
            <key>223097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{336,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,230}}</string>
                <key>sourceSize</key>
                <string>{336,230}</string>
            </dict>
            <key>223098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,747},{334,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,233}}</string>
                <key>sourceSize</key>
                <string>{336,233}</string>
            </dict>
            <key>223099.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,491},{368,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,237}}</string>
                <key>sourceSize</key>
                <string>{368,237}</string>
            </dict>
            <key>223100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{320,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,233}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>223101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1079},{312,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,294}}</string>
                <key>sourceSize</key>
                <string>{312,294}</string>
            </dict>
            <key>223102.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1530},{254,294}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,294}}</string>
                <key>sourceSize</key>
                <string>{256,294}</string>
            </dict>
            <key>223103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{300,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,251}}</string>
                <key>sourceSize</key>
                <string>{300,251}</string>
            </dict>
            <key>223104.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1020},{310,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,217}}</string>
                <key>sourceSize</key>
                <string>{312,217}</string>
            </dict>
            <key>223105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,833},{244,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,318}}</string>
                <key>sourceSize</key>
                <string>{244,318}</string>
            </dict>
            <key>223106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,833},{210,305}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,305}}</string>
                <key>sourceSize</key>
                <string>{212,305}</string>
            </dict>
            <key>223107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,237},{240,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,346}}</string>
                <key>sourceSize</key>
                <string>{240,346}</string>
            </dict>
            <key>223108.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1239},{282,306}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,306}}</string>
                <key>sourceSize</key>
                <string>{284,306}</string>
            </dict>
            <key>223109.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1523},{256,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,288}}</string>
                <key>sourceSize</key>
                <string>{256,288}</string>
            </dict>
            <key>223110.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,248},{396,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,241}}</string>
                <key>sourceSize</key>
                <string>{396,241}</string>
            </dict>
            <key>223111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{284,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,305}}</string>
                <key>sourceSize</key>
                <string>{284,305}</string>
            </dict>
            <key>223112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,982},{312,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,299}}</string>
                <key>sourceSize</key>
                <string>{312,299}</string>
            </dict>
            <key>223113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{368,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,285}}</string>
                <key>sourceSize</key>
                <string>{368,285}</string>
            </dict>
            <key>223114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,2},{412,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,231}}</string>
                <key>sourceSize</key>
                <string>{412,231}</string>
            </dict>
            <key>223115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{378,265}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,265}}</string>
                <key>sourceSize</key>
                <string>{380,265}</string>
            </dict>
            <key>223116.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,443},{388,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,291}}</string>
                <key>sourceSize</key>
                <string>{388,291}</string>
            </dict>
            <key>223117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,480},{394,265}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,265}}</string>
                <key>sourceSize</key>
                <string>{396,265}</string>
            </dict>
            <key>223118.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{420,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,244}}</string>
                <key>sourceSize</key>
                <string>{420,244}</string>
            </dict>
            <key>223119.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{434,215}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,215}}</string>
                <key>sourceSize</key>
                <string>{436,215}</string>
            </dict>
            <key>223120.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,219},{420,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,222}}</string>
                <key>sourceSize</key>
                <string>{420,222}</string>
            </dict>
            <key>223121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,219}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,219}}</string>
                <key>sourceSize</key>
                <string>{440,219}</string>
            </dict>
            <key>223122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,479},{352,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,342}}</string>
                <key>sourceSize</key>
                <string>{352,342}</string>
            </dict>
            <key>223123.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,730},{362,261}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,261}}</string>
                <key>sourceSize</key>
                <string>{364,261}</string>
            </dict>
            <key>223124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{418,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,233}}</string>
                <key>sourceSize</key>
                <string>{420,233}</string>
            </dict>
            <key>223125.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,736},{338,282}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,282}}</string>
                <key>sourceSize</key>
                <string>{340,282}</string>
            </dict>
            <key>223126.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,993},{312,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,246}}</string>
                <key>sourceSize</key>
                <string>{312,246}</string>
            </dict>
            <key>223127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,235},{396,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,243}}</string>
                <key>sourceSize</key>
                <string>{396,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum223_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c45fd9184c5e1b9eeae81384bf85f06:1/1$</string>
            <key>textureFileName</key>
            <string>hum223_3.png</string>
        </dict>
    </dict>
</plist>
