<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>025050.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,711},{154,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,142}}</string>
                <key>sourceSize</key>
                <string>{156,142}</string>
            </dict>
            <key>025051.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,571},{160,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,138}}</string>
                <key>sourceSize</key>
                <string>{160,138}</string>
            </dict>
            <key>025052.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,701},{152,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,141}}</string>
                <key>sourceSize</key>
                <string>{152,141}</string>
            </dict>
            <key>025053.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,558},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>025054.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,698},{154,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,148}}</string>
                <key>sourceSize</key>
                <string>{156,148}</string>
            </dict>
            <key>025055.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,536},{156,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,142}}</string>
                <key>sourceSize</key>
                <string>{156,142}</string>
            </dict>
            <key>025056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{130,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,145}}</string>
                <key>sourceSize</key>
                <string>{132,145}</string>
            </dict>
            <key>025057.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,410},{122,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,146}}</string>
                <key>sourceSize</key>
                <string>{124,146}</string>
            </dict>
            <key>025058.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,999},{126,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,146}}</string>
                <key>sourceSize</key>
                <string>{128,146}</string>
            </dict>
            <key>025059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{130,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,153}}</string>
                <key>sourceSize</key>
                <string>{132,153}</string>
            </dict>
            <key>025060.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,408},{132,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,164}}</string>
                <key>sourceSize</key>
                <string>{132,164}</string>
            </dict>
            <key>025061.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,811},{132,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,152}}</string>
                <key>sourceSize</key>
                <string>{132,152}</string>
            </dict>
            <key>025062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{158,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,132}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>025063.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,561},{156,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,135}}</string>
                <key>sourceSize</key>
                <string>{156,135}</string>
            </dict>
            <key>025064.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,680},{156,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,129}}</string>
                <key>sourceSize</key>
                <string>{156,129}</string>
            </dict>
            <key>025065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{160,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,124}}</string>
                <key>sourceSize</key>
                <string>{160,124}</string>
            </dict>
            <key>025066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{168,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,137}}</string>
                <key>sourceSize</key>
                <string>{168,137}</string>
            </dict>
            <key>025067.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,435},{162,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,124}}</string>
                <key>sourceSize</key>
                <string>{164,124}</string>
            </dict>
            <key>025068.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,146},{186,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,141}}</string>
                <key>sourceSize</key>
                <string>{188,141}</string>
            </dict>
            <key>025069.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,267},{176,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,139}}</string>
                <key>sourceSize</key>
                <string>{176,139}</string>
            </dict>
            <key>025070.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,135},{190,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,136}}</string>
                <key>sourceSize</key>
                <string>{192,136}</string>
            </dict>
            <key>025071.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{196,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,131}}</string>
                <key>sourceSize</key>
                <string>{196,131}</string>
            </dict>
            <key>025072.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,132},{196,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,133}}</string>
                <key>sourceSize</key>
                <string>{196,133}</string>
            </dict>
            <key>025073.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{198,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{200,142}</string>
            </dict>
            <key>025074.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1114},{140,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{140,138}</string>
            </dict>
            <key>025075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{146,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{148,141}</string>
            </dict>
            <key>025076.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,844},{144,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,140}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>025077.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,975},{146,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,137}}</string>
                <key>sourceSize</key>
                <string>{148,137}</string>
            </dict>
            <key>025078.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,296},{164,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,137}}</string>
                <key>sourceSize</key>
                <string>{164,137}</string>
            </dict>
            <key>025079.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,855},{146,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,142}}</string>
                <key>sourceSize</key>
                <string>{148,142}</string>
            </dict>
            <key>025080.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,542},{160,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>025081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{178,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,174}}</string>
                <key>sourceSize</key>
                <string>{180,174}</string>
            </dict>
            <key>025082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{198,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,129}}</string>
                <key>sourceSize</key>
                <string>{200,129}</string>
            </dict>
            <key>025083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{130,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,137}}</string>
                <key>sourceSize</key>
                <string>{132,137}</string>
            </dict>
            <key>025084.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1077},{128,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,133}}</string>
                <key>sourceSize</key>
                <string>{128,133}</string>
            </dict>
            <key>025085.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,984},{130,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{132,142}</string>
            </dict>
            <key>025086.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,273},{190,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,135}}</string>
                <key>sourceSize</key>
                <string>{192,135}</string>
            </dict>
            <key>025087.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,289},{174,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,151}}</string>
                <key>sourceSize</key>
                <string>{176,151}</string>
            </dict>
            <key>025088.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1127},{138,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,133}}</string>
                <key>sourceSize</key>
                <string>{140,133}</string>
            </dict>
            <key>025089.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,986},{124,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,137}}</string>
                <key>sourceSize</key>
                <string>{124,137}</string>
            </dict>
            <key>025090.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,945},{130,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{132,143}</string>
            </dict>
            <key>025091.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,704},{154,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,144}}</string>
                <key>sourceSize</key>
                <string>{156,144}</string>
            </dict>
            <key>025092.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,159},{190,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,135}}</string>
                <key>sourceSize</key>
                <string>{192,135}</string>
            </dict>
            <key>025093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,125}}</string>
                <key>sourceSize</key>
                <string>{224,125}</string>
            </dict>
            <key>025094.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,410},{164,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,124}}</string>
                <key>sourceSize</key>
                <string>{164,124}</string>
            </dict>
            <key>025095.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,850},{150,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,123}}</string>
                <key>sourceSize</key>
                <string>{152,123}</string>
            </dict>
            <key>025096.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,442},{164,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,127}}</string>
                <key>sourceSize</key>
                <string>{164,127}</string>
            </dict>
            <key>025097.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{198,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,128}}</string>
                <key>sourceSize</key>
                <string>{200,128}</string>
            </dict>
            <key>025098.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,848},{134,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,151}}</string>
                <key>sourceSize</key>
                <string>{136,151}</string>
            </dict>
            <key>025099.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{196,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,155}}</string>
                <key>sourceSize</key>
                <string>{196,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum24_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0347d66380bc15aaedce3c25e46ecdd2:1/1$</string>
            <key>textureFileName</key>
            <string>hum24_1.png</string>
        </dict>
    </dict>
</plist>
