<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>024000.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,511},{102,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,119}}</string>
                <key>sourceSize</key>
                <string>{104,119}</string>
            </dict>
            <key>024001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,494},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>024002.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,532},{98,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{100,119}</string>
            </dict>
            <key>024003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,411},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>024004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,187},{132,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{132,114}</string>
            </dict>
            <key>024005.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,94},{134,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,116}}</string>
                <key>sourceSize</key>
                <string>{136,116}</string>
            </dict>
            <key>024006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,395},{130,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,114}}</string>
                <key>sourceSize</key>
                <string>{132,114}</string>
            </dict>
            <key>024007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,377},{130,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,115}}</string>
                <key>sourceSize</key>
                <string>{132,115}</string>
            </dict>
            <key>024008.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,94},{142,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,90}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>024009.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{142,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,90}}</string>
                <key>sourceSize</key>
                <string>{144,90}</string>
            </dict>
            <key>024010.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,96},{140,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,89}}</string>
                <key>sourceSize</key>
                <string>{140,89}</string>
            </dict>
            <key>024011.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,95},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>024012.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,303},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>024013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>024014.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,285},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>024015.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,337},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>024016.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,632},{100,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,80}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>024017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{100,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,79}}</string>
                <key>sourceSize</key>
                <string>{100,79}</string>
            </dict>
            <key>024018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>024019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{100,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,79}}</string>
                <key>sourceSize</key>
                <string>{100,79}</string>
            </dict>
            <key>024020.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,94},{102,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,91}}</string>
                <key>sourceSize</key>
                <string>{104,91}</string>
            </dict>
            <key>024021.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,615},{102,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{104,90}</string>
            </dict>
            <key>024022.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,892},{98,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>024023.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,596},{102,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{104,90}</string>
            </dict>
            <key>024024.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,790},{96,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>024025.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,198},{96,91}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>024026.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,714},{94,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>024027.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,888},{94,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>024028.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,430},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>024029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>024030.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,513},{102,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>024031.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,435},{102,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{104,115}</string>
            </dict>
            <key>024032.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,187},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>024033.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,337},{96,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,129}}</string>
                <key>sourceSize</key>
                <string>{96,129}</string>
            </dict>
            <key>024034.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,428},{102,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,130}}</string>
                <key>sourceSize</key>
                <string>{104,130}</string>
            </dict>
            <key>024035.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,186},{100,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,133}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>024036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>024037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,132}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>024038.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,224},{132,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,111}}</string>
                <key>sourceSize</key>
                <string>{132,111}</string>
            </dict>
            <key>024039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{134,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,118}}</string>
                <key>sourceSize</key>
                <string>{136,118}</string>
            </dict>
            <key>024040.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,212},{132,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,123}}</string>
                <key>sourceSize</key>
                <string>{132,123}</string>
            </dict>
            <key>024041.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,288},{130,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,121}}</string>
                <key>sourceSize</key>
                <string>{132,121}</string>
            </dict>
            <key>024042.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,296},{132,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,121}}</string>
                <key>sourceSize</key>
                <string>{132,121}</string>
            </dict>
            <key>024043.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,103},{138,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,119}}</string>
                <key>sourceSize</key>
                <string>{140,119}</string>
            </dict>
            <key>024044.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{160,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,92}}</string>
                <key>sourceSize</key>
                <string>{160,92}</string>
            </dict>
            <key>024045.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{158,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,91}}</string>
                <key>sourceSize</key>
                <string>{160,91}</string>
            </dict>
            <key>024046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{160,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,92}}</string>
                <key>sourceSize</key>
                <string>{160,92}</string>
            </dict>
            <key>024047.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{160,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,99}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>024048.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{156,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,90}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>024049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,90}}</string>
                <key>sourceSize</key>
                <string>{164,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum23.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376e2a2a8165c5dca5aa9704de9839be:1/1$</string>
            <key>textureFileName</key>
            <string>hum23.png</string>
        </dict>
    </dict>
</plist>
