<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>002100.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{90,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>002101.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,126},{86,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{88,75}</string>
            </dict>
            <key>002102.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,387},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>002103.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,750},{70,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,61}}</string>
                <key>sourceSize</key>
                <string>{72,61}</string>
            </dict>
            <key>002104.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,358},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>002105.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{60,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,97}}</string>
                <key>sourceSize</key>
                <string>{60,97}</string>
            </dict>
            <key>002106.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,89},{64,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,88}}</string>
                <key>sourceSize</key>
                <string>{64,88}</string>
            </dict>
            <key>002107.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,294},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>002108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{74,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>002109.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,799},{66,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>002110.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,345},{58,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>002111.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>002112.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,64},{54,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{56,93}</string>
            </dict>
            <key>002113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{82,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>002114.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,702},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>002115.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,771},{58,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>002116.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,693},{66,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>002117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,63}}</string>
                <key>sourceSize</key>
                <string>{108,63}</string>
            </dict>
            <key>002118.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,178},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>002119.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,162},{68,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>002120.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,772},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>002121.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,632},{50,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>002122.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,624},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>002123.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,155},{86,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>002124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{92,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>002125.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{62,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,89}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>002126.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,825},{58,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>002127.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,673},{54,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>002128.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,690},{58,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>002129.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,647},{54,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>002130.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,269},{58,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>002131.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,264},{82,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>002132.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,77},{88,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,83}}</string>
                <key>sourceSize</key>
                <string>{88,83}</string>
            </dict>
            <key>002133.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,459},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>002134.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,655},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>002135.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,632},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>002136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{62,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>002137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>002138.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,283},{78,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>002139.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,314},{78,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>002140.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,587},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>002141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{62,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>002142.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,457},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>002143.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,428},{58,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>002144.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,488},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>002145.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,529},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>002146.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>002147.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,781},{62,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>002148.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,703},{66,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>002149.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,603},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>002150.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,729},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>002151.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,556},{66,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>002152.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,506},{62,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>002153.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{62,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>002154.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,463},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>002155.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,203},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>002156.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,391},{66,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>002157.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,436},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>002158.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,203},{66,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>002159.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,329},{56,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,77}}</string>
                <key>sourceSize</key>
                <string>{56,77}</string>
            </dict>
            <key>002160.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,405},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>002161.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,120},{56,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,88}}</string>
                <key>sourceSize</key>
                <string>{56,88}</string>
            </dict>
            <key>002162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{60,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,87}}</string>
                <key>sourceSize</key>
                <string>{60,87}</string>
            </dict>
            <key>002163.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,362},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>002164.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,527},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>002165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>002166.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,570},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>002167.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,230},{62,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,85}}</string>
                <key>sourceSize</key>
                <string>{64,85}</string>
            </dict>
            <key>002168.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,66},{58,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{60,89}</string>
            </dict>
            <key>002169.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,525},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>002170.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,761},{62,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>002171.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{62,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>002172.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,591},{62,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>002173.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,232},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>002174.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{78,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>002175.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,717},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum2_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fde5c502e56e5b8471c336a4a7d2dd3a:1/1$</string>
            <key>textureFileName</key>
            <string>hum2_1.png</string>
        </dict>
    </dict>
</plist>
