<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>225000.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,370},{306,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,359}}</string>
                <key>sourceSize</key>
                <string>{306,359}</string>
            </dict>
            <key>225001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1472},{295,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,358}}</string>
                <key>sourceSize</key>
                <string>{295,358}</string>
            </dict>
            <key>225002.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1101},{285,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,358}}</string>
                <key>sourceSize</key>
                <string>{285,358}</string>
            </dict>
            <key>225003.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,731},{280,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,357}}</string>
                <key>sourceSize</key>
                <string>{280,357}</string>
            </dict>
            <key>225004.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{232,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,359}}</string>
                <key>sourceSize</key>
                <string>{232,359}</string>
            </dict>
            <key>225005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,737},{230,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,362}}</string>
                <key>sourceSize</key>
                <string>{230,362}</string>
            </dict>
            <key>225006.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1475},{231,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,365}}</string>
                <key>sourceSize</key>
                <string>{231,365}</string>
            </dict>
            <key>225007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{233,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,365}}</string>
                <key>sourceSize</key>
                <string>{233,365}</string>
            </dict>
            <key>225008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,703},{242,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,331}}</string>
                <key>sourceSize</key>
                <string>{242,331}</string>
            </dict>
            <key>225009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1075},{243,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,334}}</string>
                <key>sourceSize</key>
                <string>{243,334}</string>
            </dict>
            <key>225010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{244,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,338}}</string>
                <key>sourceSize</key>
                <string>{244,338}</string>
            </dict>
            <key>225011.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,731},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{242,342}</string>
            </dict>
            <key>225012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,2},{277,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,313}}</string>
                <key>sourceSize</key>
                <string>{277,313}</string>
            </dict>
            <key>225013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,667},{277,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,317}}</string>
                <key>sourceSize</key>
                <string>{277,317}</string>
            </dict>
            <key>225014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,1036},{276,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,321}}</string>
                <key>sourceSize</key>
                <string>{276,321}</string>
            </dict>
            <key>225015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{275,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,323}}</string>
                <key>sourceSize</key>
                <string>{275,323}</string>
            </dict>
            <key>225016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{306,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,365}}</string>
                <key>sourceSize</key>
                <string>{306,365}</string>
            </dict>
            <key>225017.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{297,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,366}}</string>
                <key>sourceSize</key>
                <string>{297,366}</string>
            </dict>
            <key>225018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{288,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,367}}</string>
                <key>sourceSize</key>
                <string>{288,367}</string>
            </dict>
            <key>225019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,368}}</string>
                <key>sourceSize</key>
                <string>{285,368}</string>
            </dict>
            <key>225020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,327},{277,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,313}}</string>
                <key>sourceSize</key>
                <string>{277,313}</string>
            </dict>
            <key>225021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1744},{277,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,317}}</string>
                <key>sourceSize</key>
                <string>{277,317}</string>
            </dict>
            <key>225022.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1770},{276,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,321}}</string>
                <key>sourceSize</key>
                <string>{276,321}</string>
            </dict>
            <key>225023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,342},{275,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,323}}</string>
                <key>sourceSize</key>
                <string>{275,323}</string>
            </dict>
            <key>225024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1411},{242,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,331}}</string>
                <key>sourceSize</key>
                <string>{242,331}</string>
            </dict>
            <key>225025.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1434},{243,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,334}}</string>
                <key>sourceSize</key>
                <string>{243,334}</string>
            </dict>
            <key>225026.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,363},{244,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,338}}</string>
                <key>sourceSize</key>
                <string>{244,338}</string>
            </dict>
            <key>225027.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1090},{242,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,342}}</string>
                <key>sourceSize</key>
                <string>{242,342}</string>
            </dict>
            <key>225028.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{232,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,359}}</string>
                <key>sourceSize</key>
                <string>{232,359}</string>
            </dict>
            <key>225029.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1108},{230,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,362}}</string>
                <key>sourceSize</key>
                <string>{230,362}</string>
            </dict>
            <key>225030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1475},{231,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,365}}</string>
                <key>sourceSize</key>
                <string>{231,365}</string>
            </dict>
            <key>225031.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,370},{233,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,365}}</string>
                <key>sourceSize</key>
                <string>{233,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum225.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6588a87064dd5b507bbba80da1ec5653:1/1$</string>
            <key>textureFileName</key>
            <string>hum225.png</string>
        </dict>
    </dict>
</plist>
