<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>027050.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,299},{130,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,153}}</string>
                <key>sourceSize</key>
                <string>{132,153}</string>
            </dict>
            <key>027051.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,695},{142,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,154}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
            <key>027052.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,431},{156,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,152}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>027053.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,299},{160,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,146}}</string>
                <key>sourceSize</key>
                <string>{160,146}</string>
            </dict>
            <key>027054.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,545},{156,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,148}}</string>
                <key>sourceSize</key>
                <string>{156,148}</string>
            </dict>
            <key>027055.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,556},{144,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,155}}</string>
                <key>sourceSize</key>
                <string>{144,155}</string>
            </dict>
            <key>027056.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,396},{164,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,133}}</string>
                <key>sourceSize</key>
                <string>{164,133}</string>
            </dict>
            <key>027057.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{176,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,127}}</string>
                <key>sourceSize</key>
                <string>{176,127}</string>
            </dict>
            <key>027058.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{180,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,136}}</string>
                <key>sourceSize</key>
                <string>{180,136}</string>
            </dict>
            <key>027059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{178,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,132}}</string>
                <key>sourceSize</key>
                <string>{180,132}</string>
            </dict>
            <key>027060.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,114},{180,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,131}}</string>
                <key>sourceSize</key>
                <string>{180,131}</string>
            </dict>
            <key>027061.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,116},{178,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,137}}</string>
                <key>sourceSize</key>
                <string>{180,137}</string>
            </dict>
            <key>027062.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,140},{168,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,140}}</string>
                <key>sourceSize</key>
                <string>{168,140}</string>
            </dict>
            <key>027063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{164,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,145}}</string>
                <key>sourceSize</key>
                <string>{164,145}</string>
            </dict>
            <key>027064.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,531},{156,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,151}}</string>
                <key>sourceSize</key>
                <string>{156,151}</string>
            </dict>
            <key>027065.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,839},{142,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,148}}</string>
                <key>sourceSize</key>
                <string>{144,148}</string>
            </dict>
            <key>027066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{152,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,151}}</string>
                <key>sourceSize</key>
                <string>{152,151}</string>
            </dict>
            <key>027067.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,247},{166,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,147}}</string>
                <key>sourceSize</key>
                <string>{168,147}</string>
            </dict>
            <key>027068.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,684},{136,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,155}}</string>
                <key>sourceSize</key>
                <string>{136,155}</string>
            </dict>
            <key>027069.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,589},{124,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,152}}</string>
                <key>sourceSize</key>
                <string>{124,152}</string>
            </dict>
            <key>027070.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,731},{130,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,143}}</string>
                <key>sourceSize</key>
                <string>{132,143}</string>
            </dict>
            <key>027071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1055},{134,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,135}}</string>
                <key>sourceSize</key>
                <string>{136,135}</string>
            </dict>
            <key>027072.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,840},{130,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{132,142}</string>
            </dict>
            <key>027073.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,599},{130,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,151}}</string>
                <key>sourceSize</key>
                <string>{132,151}</string>
            </dict>
            <key>027074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{138,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,146}}</string>
                <key>sourceSize</key>
                <string>{140,146}</string>
            </dict>
            <key>027075.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,702},{150,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,136}}</string>
                <key>sourceSize</key>
                <string>{152,136}</string>
            </dict>
            <key>027076.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,282},{164,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,134}}</string>
                <key>sourceSize</key>
                <string>{164,134}</string>
            </dict>
            <key>027077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{162,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,133}}</string>
                <key>sourceSize</key>
                <string>{164,133}</string>
            </dict>
            <key>027078.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,418},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>027079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>027080.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,929},{124,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,119}}</string>
                <key>sourceSize</key>
                <string>{124,119}</string>
            </dict>
            <key>027081.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,418},{136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,160}}</string>
                <key>sourceSize</key>
                <string>{136,160}</string>
            </dict>
            <key>027082.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,819},{108,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,131}}</string>
                <key>sourceSize</key>
                <string>{108,131}</string>
            </dict>
            <key>027083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{106,189}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,189}}</string>
                <key>sourceSize</key>
                <string>{108,189}</string>
            </dict>
            <key>027084.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1050},{94,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>027085.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,950},{100,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,121}</string>
            </dict>
            <key>027086.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,819},{102,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,129}}</string>
                <key>sourceSize</key>
                <string>{104,129}</string>
            </dict>
            <key>027087.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,131},{166,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{168,170}</string>
            </dict>
            <key>027088.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,822},{102,149}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,149}}</string>
                <key>sourceSize</key>
                <string>{104,149}</string>
            </dict>
            <key>027089.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{112,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,190}}</string>
                <key>sourceSize</key>
                <string>{112,190}</string>
            </dict>
            <key>027090.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,965},{118,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>027091.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,863},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>027092.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{68,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,149}}</string>
                <key>sourceSize</key>
                <string>{68,149}</string>
            </dict>
            <key>027093.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,447},{150,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,155}}</string>
                <key>sourceSize</key>
                <string>{152,155}</string>
            </dict>
            <key>027094.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{110,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,188}}</string>
                <key>sourceSize</key>
                <string>{112,188}</string>
            </dict>
            <key>027095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{100,194}</string>
            </dict>
            <key>027096.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,926},{142,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,115}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>027097.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,983},{102,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,137}}</string>
                <key>sourceSize</key>
                <string>{104,137}</string>
            </dict>
            <key>027098.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,715},{102,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,144}}</string>
                <key>sourceSize</key>
                <string>{104,144}</string>
            </dict>
            <key>027099.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,255},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum26_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8677aef607b49f7cc94e0df6043d35bf:1/1$</string>
            <key>textureFileName</key>
            <string>hum26_1.png</string>
        </dict>
    </dict>
</plist>
