<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>225096.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{467,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,319}}</string>
                <key>sourceSize</key>
                <string>{467,319}</string>
            </dict>
            <key>225097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,2},{421,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,325}}</string>
                <key>sourceSize</key>
                <string>{421,325}</string>
            </dict>
            <key>225098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1270},{277,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,313}}</string>
                <key>sourceSize</key>
                <string>{277,313}</string>
            </dict>
            <key>225099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1324},{308,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,297}}</string>
                <key>sourceSize</key>
                <string>{308,297}</string>
            </dict>
            <key>225100.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1585},{327,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,300}}</string>
                <key>sourceSize</key>
                <string>{327,300}</string>
            </dict>
            <key>225101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,329},{377,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,311}}</string>
                <key>sourceSize</key>
                <string>{377,311}</string>
            </dict>
            <key>225102.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,920},{366,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,312}}</string>
                <key>sourceSize</key>
                <string>{366,312}</string>
            </dict>
            <key>225103.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,655},{371,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,276}}</string>
                <key>sourceSize</key>
                <string>{371,276}</string>
            </dict>
            <key>225104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{306,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,365}}</string>
                <key>sourceSize</key>
                <string>{306,365}</string>
            </dict>
            <key>225105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{358,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,318}}</string>
                <key>sourceSize</key>
                <string>{358,318}</string>
            </dict>
            <key>225106.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1555},{289,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,329}}</string>
                <key>sourceSize</key>
                <string>{289,329}</string>
            </dict>
            <key>225107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,686},{240,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,337}}</string>
                <key>sourceSize</key>
                <string>{240,337}</string>
            </dict>
            <key>225108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1585},{288,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,324}}</string>
                <key>sourceSize</key>
                <string>{288,324}</string>
            </dict>
            <key>225109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{328,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,305}}</string>
                <key>sourceSize</key>
                <string>{328,305}</string>
            </dict>
            <key>225110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1270},{277,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,313}}</string>
                <key>sourceSize</key>
                <string>{277,313}</string>
            </dict>
            <key>225111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1025},{308,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,297}}</string>
                <key>sourceSize</key>
                <string>{308,297}</string>
            </dict>
            <key>225112.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1585},{327,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,300}}</string>
                <key>sourceSize</key>
                <string>{327,300}</string>
            </dict>
            <key>225113.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,329},{377,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,311}}</string>
                <key>sourceSize</key>
                <string>{377,311}</string>
            </dict>
            <key>225114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,642},{366,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,312}}</string>
                <key>sourceSize</key>
                <string>{366,312}</string>
            </dict>
            <key>225115.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,642},{371,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,276}}</string>
                <key>sourceSize</key>
                <string>{371,276}</string>
            </dict>
            <key>225116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,353},{242,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,331}}</string>
                <key>sourceSize</key>
                <string>{242,331}</string>
            </dict>
            <key>225117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1305},{285,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,330}}</string>
                <key>sourceSize</key>
                <string>{285,330}</string>
            </dict>
            <key>225118.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,933},{359,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,328}}</string>
                <key>sourceSize</key>
                <string>{359,328}</string>
            </dict>
            <key>225119.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,323},{379,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,330}}</string>
                <key>sourceSize</key>
                <string>{379,330}</string>
            </dict>
            <key>225120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{467,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,319}}</string>
                <key>sourceSize</key>
                <string>{467,319}</string>
            </dict>
            <key>225121.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{421,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,325}}</string>
                <key>sourceSize</key>
                <string>{421,325}</string>
            </dict>
            <key>225122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,329},{231,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,359}}</string>
                <key>sourceSize</key>
                <string>{231,359}</string>
            </dict>
            <key>225123.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1263},{290,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,348}}</string>
                <key>sourceSize</key>
                <string>{290,348}</string>
            </dict>
            <key>225124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,956},{312,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,355}}</string>
                <key>sourceSize</key>
                <string>{312,355}</string>
            </dict>
            <key>225125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,2},{250,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,349}}</string>
                <key>sourceSize</key>
                <string>{250,349}</string>
            </dict>
            <key>225126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{410,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,352}}</string>
                <key>sourceSize</key>
                <string>{410,352}</string>
            </dict>
            <key>225127.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1234},{353,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,349}}</string>
                <key>sourceSize</key>
                <string>{353,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum225_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3b7fc6d0032951972306ddd0e9f4f08:1/1$</string>
            <key>textureFileName</key>
            <string>hum225_3.png</string>
        </dict>
    </dict>
</plist>
