<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>028100.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,138},{248,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,173}}</string>
                <key>sourceSize</key>
                <string>{248,173}</string>
            </dict>
            <key>028101.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,367},{208,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,141}}</string>
                <key>sourceSize</key>
                <string>{208,141}</string>
            </dict>
            <key>028102.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,326},{214,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,175}}</string>
                <key>sourceSize</key>
                <string>{216,175}</string>
            </dict>
            <key>028103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{162,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>028104.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,542},{112,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,100}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>028105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{162,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,157}}</string>
                <key>sourceSize</key>
                <string>{164,157}</string>
            </dict>
            <key>028106.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,175},{222,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,190}}</string>
                <key>sourceSize</key>
                <string>{224,190}</string>
            </dict>
            <key>028107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{168,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,143}}</string>
                <key>sourceSize</key>
                <string>{168,143}</string>
            </dict>
            <key>028108.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{254,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,134}}</string>
                <key>sourceSize</key>
                <string>{256,134}</string>
            </dict>
            <key>028109.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,647},{138,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>028110.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,328},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>028111.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,442},{172,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,157}}</string>
                <key>sourceSize</key>
                <string>{172,157}</string>
            </dict>
            <key>028112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{266,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,179}}</string>
                <key>sourceSize</key>
                <string>{268,179}</string>
            </dict>
            <key>028113.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,789},{152,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,137}}</string>
                <key>sourceSize</key>
                <string>{152,137}</string>
            </dict>
            <key>028114.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,313},{220,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,169}}</string>
                <key>sourceSize</key>
                <string>{220,169}</string>
            </dict>
            <key>028115.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,787},{146,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,116}}</string>
                <key>sourceSize</key>
                <string>{148,116}</string>
            </dict>
            <key>028116.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,601},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>028117.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,510},{164,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,143}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>028118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,156}}</string>
                <key>sourceSize</key>
                <string>{304,156}</string>
            </dict>
            <key>028119.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,186},{166,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,138}}</string>
                <key>sourceSize</key>
                <string>{168,138}</string>
            </dict>
            <key>028120.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{158,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,182}}</string>
                <key>sourceSize</key>
                <string>{160,182}</string>
            </dict>
            <key>028121.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,792},{156,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,114}}</string>
                <key>sourceSize</key>
                <string>{156,114}</string>
            </dict>
            <key>028122.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,175},{110,151}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,151}}</string>
                <key>sourceSize</key>
                <string>{112,151}</string>
            </dict>
            <key>028123.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,484},{164,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>028124.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{296,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,171}}</string>
                <key>sourceSize</key>
                <string>{296,171}</string>
            </dict>
            <key>028125.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,542},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>028126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{208,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,145}}</string>
                <key>sourceSize</key>
                <string>{208,145}</string>
            </dict>
            <key>028127.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,655},{132,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,113}}</string>
                <key>sourceSize</key>
                <string>{132,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum27_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cfa64bbcd8713fe7d9973606b83de8f:1/1$</string>
            <key>textureFileName</key>
            <string>hum27_2.png</string>
        </dict>
    </dict>
</plist>
