<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>225032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{281,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,397}}</string>
                <key>sourceSize</key>
                <string>{281,397}</string>
            </dict>
            <key>225033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1221},{274,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,384}}</string>
                <key>sourceSize</key>
                <string>{274,384}</string>
            </dict>
            <key>225034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,414}}</string>
                <key>sourceSize</key>
                <string>{289,414}</string>
            </dict>
            <key>225035.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,418},{293,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,371}}</string>
                <key>sourceSize</key>
                <string>{293,371}</string>
            </dict>
            <key>225036.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1221},{287,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,375}}</string>
                <key>sourceSize</key>
                <string>{287,375}</string>
            </dict>
            <key>225037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{284,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,402}}</string>
                <key>sourceSize</key>
                <string>{284,402}</string>
            </dict>
            <key>225038.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,822},{323,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,372}}</string>
                <key>sourceSize</key>
                <string>{323,372}</string>
            </dict>
            <key>225039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1607},{311,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,380}}</string>
                <key>sourceSize</key>
                <string>{311,380}</string>
            </dict>
            <key>225040.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{282,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,367}}</string>
                <key>sourceSize</key>
                <string>{282,367}</string>
            </dict>
            <key>225041.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1598},{283,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,362}}</string>
                <key>sourceSize</key>
                <string>{283,362}</string>
            </dict>
            <key>225042.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1196},{275,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,356}}</string>
                <key>sourceSize</key>
                <string>{275,356}</string>
            </dict>
            <key>225043.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{272,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,369}}</string>
                <key>sourceSize</key>
                <string>{272,369}</string>
            </dict>
            <key>225044.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,371},{256,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,349}}</string>
                <key>sourceSize</key>
                <string>{256,349}</string>
            </dict>
            <key>225045.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{241,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,348}}</string>
                <key>sourceSize</key>
                <string>{241,348}</string>
            </dict>
            <key>225046.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,371},{244,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,356}}</string>
                <key>sourceSize</key>
                <string>{244,356}</string>
            </dict>
            <key>225047.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1082},{260,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,343}}</string>
                <key>sourceSize</key>
                <string>{260,343}</string>
            </dict>
            <key>225048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{244,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,335}}</string>
                <key>sourceSize</key>
                <string>{244,335}</string>
            </dict>
            <key>225049.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1554},{241,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,345}}</string>
                <key>sourceSize</key>
                <string>{241,345}</string>
            </dict>
            <key>225050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,352},{247,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,335}}</string>
                <key>sourceSize</key>
                <string>{247,335}</string>
            </dict>
            <key>225051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,689},{243,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,322}}</string>
                <key>sourceSize</key>
                <string>{243,322}</string>
            </dict>
            <key>225052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,2},{241,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,317}}</string>
                <key>sourceSize</key>
                <string>{241,317}</string>
            </dict>
            <key>225053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{247,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,317}}</string>
                <key>sourceSize</key>
                <string>{247,317}</string>
            </dict>
            <key>225054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,321},{252,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,308}}</string>
                <key>sourceSize</key>
                <string>{252,308}</string>
            </dict>
            <key>225055.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1554},{239,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,345}}</string>
                <key>sourceSize</key>
                <string>{239,345}</string>
            </dict>
            <key>225056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1427},{281,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,326}}</string>
                <key>sourceSize</key>
                <string>{281,326}</string>
            </dict>
            <key>225057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1755},{289,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,315}}</string>
                <key>sourceSize</key>
                <string>{289,315}</string>
            </dict>
            <key>225058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,659},{294,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,313}}</string>
                <key>sourceSize</key>
                <string>{294,313}</string>
            </dict>
            <key>225059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,339},{287,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,318}}</string>
                <key>sourceSize</key>
                <string>{287,318}</string>
            </dict>
            <key>225060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1013},{284,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,314}}</string>
                <key>sourceSize</key>
                <string>{284,314}</string>
            </dict>
            <key>225061.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,729},{274,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,351}}</string>
                <key>sourceSize</key>
                <string>{274,351}</string>
            </dict>
            <key>225062.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,722},{247,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,335}}</string>
                <key>sourceSize</key>
                <string>{247,335}</string>
            </dict>
            <key>225063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1059},{243,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,322}}</string>
                <key>sourceSize</key>
                <string>{243,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum225_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f93cc786b9d170c8af8e71d0e68928c:1/1$</string>
            <key>textureFileName</key>
            <string>hum225_1.png</string>
        </dict>
    </dict>
</plist>
