<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>029100.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,468},{94,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>029101.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,82},{106,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>029102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{102,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,76}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>029103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{66,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,94}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
            <key>029104.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,241},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>029105.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,456},{66,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>029106.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,376},{90,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,102}}</string>
                <key>sourceSize</key>
                <string>{92,102}</string>
            </dict>
            <key>029107.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,323},{70,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,103}}</string>
                <key>sourceSize</key>
                <string>{72,103}</string>
            </dict>
            <key>029108.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,308},{66,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,112}}</string>
                <key>sourceSize</key>
                <string>{68,112}</string>
            </dict>
            <key>029109.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,395},{96,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,79}}</string>
                <key>sourceSize</key>
                <string>{96,79}</string>
            </dict>
            <key>029110.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,224},{82,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>029111.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,380},{102,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,74}}</string>
                <key>sourceSize</key>
                <string>{104,74}</string>
            </dict>
            <key>029112.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{66,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,131}}</string>
                <key>sourceSize</key>
                <string>{68,131}</string>
            </dict>
            <key>029113.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,380},{66,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,101}}</string>
                <key>sourceSize</key>
                <string>{68,101}</string>
            </dict>
            <key>029114.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{78,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,108}}</string>
                <key>sourceSize</key>
                <string>{80,108}</string>
            </dict>
            <key>029115.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,304},{110,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>029116.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,232},{70,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,120}}</string>
                <key>sourceSize</key>
                <string>{72,120}</string>
            </dict>
            <key>029117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{114,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>029118.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,70},{88,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,127}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>029119.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,112},{126,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,67}}</string>
                <key>sourceSize</key>
                <string>{128,67}</string>
            </dict>
            <key>029120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,66}}</string>
                <key>sourceSize</key>
                <string>{132,66}</string>
            </dict>
            <key>029121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{80,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,110}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>029122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{130,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,93}}</string>
                <key>sourceSize</key>
                <string>{132,93}</string>
            </dict>
            <key>029123.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,150},{80,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>029124.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{130,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,108}}</string>
                <key>sourceSize</key>
                <string>{132,108}</string>
            </dict>
            <key>029125.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,181},{122,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,58}}</string>
                <key>sourceSize</key>
                <string>{124,58}</string>
            </dict>
            <key>029126.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,160},{124,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,62}}</string>
                <key>sourceSize</key>
                <string>{124,62}</string>
            </dict>
            <key>029127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{58,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,119}}</string>
                <key>sourceSize</key>
                <string>{60,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum28_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a754a43a1a798701b82af21608b11bf:1/1$</string>
            <key>textureFileName</key>
            <string>hum28_1.png</string>
        </dict>
    </dict>
</plist>
