<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>026050.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1074},{156,153}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,153}}</string>
                <key>sourceSize</key>
                <string>{160,153}</string>
            </dict>
            <key>026051.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,485},{156,155}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,155}}</string>
                <key>sourceSize</key>
                <string>{160,155}</string>
            </dict>
            <key>026052.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,485},{162,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,166}}</string>
                <key>sourceSize</key>
                <string>{164,166}</string>
            </dict>
            <key>026053.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,751},{160,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,166}}</string>
                <key>sourceSize</key>
                <string>{164,166}</string>
            </dict>
            <key>026054.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,918},{158,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>026055.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1053},{160,154}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,154}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>026056.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,925},{158,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,147}}</string>
                <key>sourceSize</key>
                <string>{160,147}</string>
            </dict>
            <key>026057.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,481},{168,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,135}}</string>
                <key>sourceSize</key>
                <string>{172,135}</string>
            </dict>
            <key>026058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{168,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,140}}</string>
                <key>sourceSize</key>
                <string>{172,140}</string>
            </dict>
            <key>026059.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1322},{154,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,148}}</string>
                <key>sourceSize</key>
                <string>{156,148}</string>
            </dict>
            <key>026060.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,781},{164,135}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,135}}</string>
                <key>sourceSize</key>
                <string>{168,135}</string>
            </dict>
            <key>026061.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,585},{168,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,141}}</string>
                <key>sourceSize</key>
                <string>{172,141}</string>
            </dict>
            <key>026062.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,868},{146,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,166}}</string>
                <key>sourceSize</key>
                <string>{148,166}</string>
            </dict>
            <key>026063.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,808},{142,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,162}}</string>
                <key>sourceSize</key>
                <string>{144,162}</string>
            </dict>
            <key>026064.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,952},{156,156}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>026065.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1016},{162,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,154}}</string>
                <key>sourceSize</key>
                <string>{164,154}</string>
            </dict>
            <key>026066.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1209},{150,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>026067.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,728},{138,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,167}}</string>
                <key>sourceSize</key>
                <string>{140,167}</string>
            </dict>
            <key>026068.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1172},{148,159}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,159}}</string>
                <key>sourceSize</key>
                <string>{152,159}</string>
            </dict>
            <key>026069.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,649},{128,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,166}}</string>
                <key>sourceSize</key>
                <string>{132,166}</string>
            </dict>
            <key>026070.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,165},{132,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,173}}</string>
                <key>sourceSize</key>
                <string>{136,173}</string>
            </dict>
            <key>026071.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,453},{146,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>026072.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,317},{130,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,172}}</string>
                <key>sourceSize</key>
                <string>{132,172}</string>
            </dict>
            <key>026073.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,449},{134,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,171}}</string>
                <key>sourceSize</key>
                <string>{136,171}</string>
            </dict>
            <key>026074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{164,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>026075.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,601},{148,167}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,167}}</string>
                <key>sourceSize</key>
                <string>{152,167}</string>
            </dict>
            <key>026076.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,779},{144,165}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,165}}</string>
                <key>sourceSize</key>
                <string>{148,165}</string>
            </dict>
            <key>026077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1063},{146,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,162}}</string>
                <key>sourceSize</key>
                <string>{148,162}</string>
            </dict>
            <key>026078.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,913},{138,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,163}}</string>
                <key>sourceSize</key>
                <string>{140,163}</string>
            </dict>
            <key>026079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{158,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,170}}</string>
                <key>sourceSize</key>
                <string>{160,170}</string>
            </dict>
            <key>026080.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,156},{174,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,159}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>026081.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,164},{174,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,153}}</string>
                <key>sourceSize</key>
                <string>{176,153}</string>
            </dict>
            <key>026082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1365},{154,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{156,138}</string>
            </dict>
            <key>026083.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{190,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,153}}</string>
                <key>sourceSize</key>
                <string>{192,153}</string>
            </dict>
            <key>026084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{136,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,166}}</string>
                <key>sourceSize</key>
                <string>{140,166}</string>
            </dict>
            <key>026085.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{152,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>026086.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,319},{168,160}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,160}}</string>
                <key>sourceSize</key>
                <string>{172,160}</string>
            </dict>
            <key>026087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1211},{158,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,152}}</string>
                <key>sourceSize</key>
                <string>{160,152}</string>
            </dict>
            <key>026088.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1216},{150,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{152,150}</string>
            </dict>
            <key>026089.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,299},{172,152}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,152}}</string>
                <key>sourceSize</key>
                <string>{176,152}</string>
            </dict>
            <key>026090.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,317},{168,166}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{172,166}</string>
            </dict>
            <key>026091.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,618},{166,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,161}}</string>
                <key>sourceSize</key>
                <string>{168,161}</string>
            </dict>
            <key>026092.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1078},{136,156}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,156}}</string>
                <key>sourceSize</key>
                <string>{140,156}</string>
            </dict>
            <key>026093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,137}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,137}}</string>
                <key>sourceSize</key>
                <string>{200,137}</string>
            </dict>
            <key>026094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{188,157}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,157}}</string>
                <key>sourceSize</key>
                <string>{192,157}</string>
            </dict>
            <key>026095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{182,155}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,155}}</string>
                <key>sourceSize</key>
                <string>{184,155}</string>
            </dict>
            <key>026096.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,157},{184,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,158}}</string>
                <key>sourceSize</key>
                <string>{188,158}</string>
            </dict>
            <key>026097.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{180,160}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{184,160}</string>
            </dict>
            <key>026098.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,643},{154,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,163}}</string>
                <key>sourceSize</key>
                <string>{156,163}</string>
            </dict>
            <key>026099.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{186,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,161}}</string>
                <key>sourceSize</key>
                <string>{188,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum25_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab205f1ede6b1dcd02676c01a403240f:1/1$</string>
            <key>textureFileName</key>
            <string>hum25_1.png</string>
        </dict>
    </dict>
</plist>
