<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>024050.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,385},{130,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,91}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>024051.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,360},{138,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,88}}</string>
                <key>sourceSize</key>
                <string>{140,88}</string>
            </dict>
            <key>024052.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,221},{146,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,91}}</string>
                <key>sourceSize</key>
                <string>{148,91}</string>
            </dict>
            <key>024053.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,238},{140,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>024054.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,189},{142,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,88}}</string>
                <key>sourceSize</key>
                <string>{144,88}</string>
            </dict>
            <key>024055.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,260},{142,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,89}}</string>
                <key>sourceSize</key>
                <string>{144,89}</string>
            </dict>
            <key>024056.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,569},{98,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,105}}</string>
                <key>sourceSize</key>
                <string>{100,105}</string>
            </dict>
            <key>024057.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,640},{98,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>024058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{98,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>024059.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,661},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>024060.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,748},{96,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,89}}</string>
                <key>sourceSize</key>
                <string>{96,89}</string>
            </dict>
            <key>024061.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,648},{98,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>024062.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,639},{108,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,94}}</string>
                <key>sourceSize</key>
                <string>{108,94}</string>
            </dict>
            <key>024063.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,669},{98,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>024064.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,478},{112,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,89}}</string>
                <key>sourceSize</key>
                <string>{112,89}</string>
            </dict>
            <key>024065.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,427},{120,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{124,90}</string>
            </dict>
            <key>024066.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,549},{110,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>024067.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,657},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>024068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{138,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>024069.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,450},{128,90}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>024070.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,332},{130,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,93}}</string>
                <key>sourceSize</key>
                <string>{132,93}</string>
            </dict>
            <key>024071.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,445},{136,93}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,93}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>024072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{126,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,92}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>024073.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,351},{138,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,92}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>024074.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,540},{126,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,115}}</string>
                <key>sourceSize</key>
                <string>{128,115}</string>
            </dict>
            <key>024075.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,541},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>024076.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,547},{112,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,113}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>024077.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,658},{110,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,113}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>024078.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,314},{116,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>024079.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,314},{130,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,119}}</string>
                <key>sourceSize</key>
                <string>{132,119}</string>
            </dict>
            <key>024080.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,117},{146,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,102}}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>024081.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{160,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,110}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>024082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{202,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,169}}</string>
                <key>sourceSize</key>
                <string>{204,169}</string>
            </dict>
            <key>024083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{130,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,127}}</string>
                <key>sourceSize</key>
                <string>{132,127}</string>
            </dict>
            <key>024084.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,435},{110,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,124}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>024085.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,427},{124,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,112}}</string>
                <key>sourceSize</key>
                <string>{124,112}</string>
            </dict>
            <key>024086.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,541},{110,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>024087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{138,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,96}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>024088.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{228,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,141}}</string>
                <key>sourceSize</key>
                <string>{228,141}</string>
            </dict>
            <key>024089.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,145},{142,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,113}}</string>
                <key>sourceSize</key>
                <string>{144,113}</string>
            </dict>
            <key>024090.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,114},{148,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,122}}</string>
                <key>sourceSize</key>
                <string>{148,122}</string>
            </dict>
            <key>024091.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,279},{138,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,104}}</string>
                <key>sourceSize</key>
                <string>{140,104}</string>
            </dict>
            <key>024092.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,432},{116,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,107}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>024093.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{154,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,113}}</string>
                <key>sourceSize</key>
                <string>{156,113}</string>
            </dict>
            <key>024094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,116}}</string>
                <key>sourceSize</key>
                <string>{252,116}</string>
            </dict>
            <key>024095.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{164,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,86}}</string>
                <key>sourceSize</key>
                <string>{164,86}</string>
            </dict>
            <key>024096.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,90},{158,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,97}}</string>
                <key>sourceSize</key>
                <string>{160,97}</string>
            </dict>
            <key>024097.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,269},{134,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,89}}</string>
                <key>sourceSize</key>
                <string>{136,89}</string>
            </dict>
            <key>024098.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,542},{104,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,111}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
            <key>024099.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,145},{134,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,122}}</string>
                <key>sourceSize</key>
                <string>{136,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum23_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf4de9725e80a4b2b6018507b4173a1c:1/1$</string>
            <key>textureFileName</key>
            <string>hum23_1.png</string>
        </dict>
    </dict>
</plist>
