<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>028050.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,652},{166,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,127}}</string>
                <key>sourceSize</key>
                <string>{168,127}</string>
            </dict>
            <key>028051.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,899},{152,133}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,133}}</string>
                <key>sourceSize</key>
                <string>{156,133}</string>
            </dict>
            <key>028052.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,759},{154,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,138}}</string>
                <key>sourceSize</key>
                <string>{156,138}</string>
            </dict>
            <key>028053.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,781},{156,137}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,137}}</string>
                <key>sourceSize</key>
                <string>{160,137}</string>
            </dict>
            <key>028054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{162,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,136}}</string>
                <key>sourceSize</key>
                <string>{164,136}</string>
            </dict>
            <key>028055.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,516},{166,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,134}}</string>
                <key>sourceSize</key>
                <string>{168,134}</string>
            </dict>
            <key>028056.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1153},{134,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>028057.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1052},{130,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{132,126}</string>
            </dict>
            <key>028058.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1056},{122,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{124,122}</string>
            </dict>
            <key>028059.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1105},{112,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,129}</string>
            </dict>
            <key>028060.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1056},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>028061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{134,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{136,128}</string>
            </dict>
            <key>028062.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,627},{156,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,130}}</string>
                <key>sourceSize</key>
                <string>{156,130}</string>
            </dict>
            <key>028063.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,842},{152,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,134}}</string>
                <key>sourceSize</key>
                <string>{152,134}</string>
            </dict>
            <key>028064.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,736},{154,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,130}}</string>
                <key>sourceSize</key>
                <string>{156,130}</string>
            </dict>
            <key>028065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{154,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,130}}</string>
                <key>sourceSize</key>
                <string>{156,130}</string>
            </dict>
            <key>028066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{152,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,130}}</string>
                <key>sourceSize</key>
                <string>{152,130}</string>
            </dict>
            <key>028067.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,920},{148,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,134}}</string>
                <key>sourceSize</key>
                <string>{148,134}</string>
            </dict>
            <key>028068.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,415},{168,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,99}}</string>
                <key>sourceSize</key>
                <string>{168,99}</string>
            </dict>
            <key>028069.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,703},{162,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,101}}</string>
                <key>sourceSize</key>
                <string>{164,101}</string>
            </dict>
            <key>028070.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,611},{162,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{164,116}</string>
            </dict>
            <key>028071.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,584},{172,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,117}}</string>
                <key>sourceSize</key>
                <string>{172,117}</string>
            </dict>
            <key>028072.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,729},{156,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,111}}</string>
                <key>sourceSize</key>
                <string>{156,111}</string>
            </dict>
            <key>028073.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,448},{166,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,104}}</string>
                <key>sourceSize</key>
                <string>{168,104}</string>
            </dict>
            <key>028074.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,987},{144,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,116}}</string>
                <key>sourceSize</key>
                <string>{144,116}</string>
            </dict>
            <key>028075.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1034},{150,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,117}}</string>
                <key>sourceSize</key>
                <string>{152,117}</string>
            </dict>
            <key>028076.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,868},{152,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,117}}</string>
                <key>sourceSize</key>
                <string>{152,117}</string>
            </dict>
            <key>028077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{156,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>028078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{150,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,107}}</string>
                <key>sourceSize</key>
                <string>{152,107}</string>
            </dict>
            <key>028079.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,935},{148,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,115}}</string>
                <key>sourceSize</key>
                <string>{148,115}</string>
            </dict>
            <key>028080.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,616},{118,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,158}}</string>
                <key>sourceSize</key>
                <string>{120,158}</string>
            </dict>
            <key>028081.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,465},{160,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,165}}</string>
                <key>sourceSize</key>
                <string>{160,165}</string>
            </dict>
            <key>028082.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,126},{228,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,172}}</string>
                <key>sourceSize</key>
                <string>{228,172}</string>
            </dict>
            <key>028083.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,415},{174,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,167}}</string>
                <key>sourceSize</key>
                <string>{176,167}</string>
            </dict>
            <key>028084.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{248,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,122}}</string>
                <key>sourceSize</key>
                <string>{252,122}</string>
            </dict>
            <key>028085.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1083},{136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,139}}</string>
                <key>sourceSize</key>
                <string>{136,139}</string>
            </dict>
            <key>028086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{182,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,131}}</string>
                <key>sourceSize</key>
                <string>{184,131}</string>
            </dict>
            <key>028087.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,300},{190,146}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,146}}</string>
                <key>sourceSize</key>
                <string>{192,146}</string>
            </dict>
            <key>028088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,160}}</string>
                <key>sourceSize</key>
                <string>{268,160}</string>
            </dict>
            <key>028089.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,260},{190,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,153}}</string>
                <key>sourceSize</key>
                <string>{192,153}</string>
            </dict>
            <key>028090.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,154},{214,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,145}}</string>
                <key>sourceSize</key>
                <string>{216,145}</string>
            </dict>
            <key>028091.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,806},{152,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,127}}</string>
                <key>sourceSize</key>
                <string>{152,127}</string>
            </dict>
            <key>028092.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,143},{198,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,115}}</string>
                <key>sourceSize</key>
                <string>{200,115}</string>
            </dict>
            <key>028093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{208,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,144}}</string>
                <key>sourceSize</key>
                <string>{208,144}</string>
            </dict>
            <key>028094.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{254,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>028095.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{230,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,139}}</string>
                <key>sourceSize</key>
                <string>{232,139}</string>
            </dict>
            <key>028096.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,301},{162,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,182}}</string>
                <key>sourceSize</key>
                <string>{164,182}</string>
            </dict>
            <key>028097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{182,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{184,114}</string>
            </dict>
            <key>028098.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,978},{152,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,103}}</string>
                <key>sourceSize</key>
                <string>{152,103}</string>
            </dict>
            <key>028099.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,448},{174,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,161}}</string>
                <key>sourceSize</key>
                <string>{176,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum27_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95bdc9609b0dd9cae6486c21dbc05823:1/1$</string>
            <key>textureFileName</key>
            <string>hum27_1.png</string>
        </dict>
    </dict>
</plist>
