<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>224000.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1437},{232,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,240}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>224001.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1426},{232,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,241}}</string>
                <key>sourceSize</key>
                <string>{232,241}</string>
            </dict>
            <key>224002.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1370},{232,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,243}}</string>
                <key>sourceSize</key>
                <string>{232,243}</string>
            </dict>
            <key>224003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1192},{232,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,244}}</string>
                <key>sourceSize</key>
                <string>{232,244}</string>
            </dict>
            <key>224004.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,238},{234,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,258}}</string>
                <key>sourceSize</key>
                <string>{236,258}</string>
            </dict>
            <key>224005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{234,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,258}}</string>
                <key>sourceSize</key>
                <string>{236,258}</string>
            </dict>
            <key>224006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{236,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,258}}</string>
                <key>sourceSize</key>
                <string>{236,258}</string>
            </dict>
            <key>224007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,258}}</string>
                <key>sourceSize</key>
                <string>{240,258}</string>
            </dict>
            <key>224008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{228,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,254}}</string>
                <key>sourceSize</key>
                <string>{228,254}</string>
            </dict>
            <key>224009.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,240},{230,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,254}}</string>
                <key>sourceSize</key>
                <string>{232,254}</string>
            </dict>
            <key>224010.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,472},{232,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,253}}</string>
                <key>sourceSize</key>
                <string>{232,253}</string>
            </dict>
            <key>224011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{234,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,253}}</string>
                <key>sourceSize</key>
                <string>{236,253}</string>
            </dict>
            <key>224012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,946},{244,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,246}}</string>
                <key>sourceSize</key>
                <string>{244,246}</string>
            </dict>
            <key>224013.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,888},{242,245}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,245}}</string>
                <key>sourceSize</key>
                <string>{244,245}</string>
            </dict>
            <key>224014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{242,244}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>224015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1192},{244,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,243}}</string>
                <key>sourceSize</key>
                <string>{244,243}</string>
            </dict>
            <key>224016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{236,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,210}}</string>
                <key>sourceSize</key>
                <string>{236,210}</string>
            </dict>
            <key>224017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{236,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,209}}</string>
                <key>sourceSize</key>
                <string>{236,209}</string>
            </dict>
            <key>224018.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1780},{236,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,208}}</string>
                <key>sourceSize</key>
                <string>{236,208}</string>
            </dict>
            <key>224019.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1604},{236,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,207}}</string>
                <key>sourceSize</key>
                <string>{236,207}</string>
            </dict>
            <key>224020.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,714},{238,247}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,247}}</string>
                <key>sourceSize</key>
                <string>{240,247}</string>
            </dict>
            <key>224021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{238,246}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,246}}</string>
                <key>sourceSize</key>
                <string>{240,246}</string>
            </dict>
            <key>224022.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1132},{236,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,245}}</string>
                <key>sourceSize</key>
                <string>{236,245}</string>
            </dict>
            <key>224023.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,954},{236,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,245}}</string>
                <key>sourceSize</key>
                <string>{236,245}</string>
            </dict>
            <key>224024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{186,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,250}}</string>
                <key>sourceSize</key>
                <string>{188,250}</string>
            </dict>
            <key>224025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{186,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,250}}</string>
                <key>sourceSize</key>
                <string>{188,250}</string>
            </dict>
            <key>224026.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,698},{188,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,249}}</string>
                <key>sourceSize</key>
                <string>{188,249}</string>
            </dict>
            <key>224027.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,508},{188,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,249}}</string>
                <key>sourceSize</key>
                <string>{188,249}</string>
            </dict>
            <key>224028.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,255},{240,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,251}}</string>
                <key>sourceSize</key>
                <string>{240,251}</string>
            </dict>
            <key>224029.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{240,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,251}}</string>
                <key>sourceSize</key>
                <string>{240,251}</string>
            </dict>
            <key>224030.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,706},{238,251}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,251}}</string>
                <key>sourceSize</key>
                <string>{240,251}</string>
            </dict>
            <key>224031.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,474},{238,252}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,252}}</string>
                <key>sourceSize</key>
                <string>{240,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum224.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:214db2cb042389eb77a71d81e139e435:1/1$</string>
            <key>textureFileName</key>
            <string>hum224.png</string>
        </dict>
    </dict>
</plist>
