<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>223000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{266,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,204}}</string>
                <key>sourceSize</key>
                <string>{268,204}</string>
            </dict>
            <key>223001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{264,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,203}}</string>
                <key>sourceSize</key>
                <string>{264,203}</string>
            </dict>
            <key>223002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1415},{262,203}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,203}}</string>
                <key>sourceSize</key>
                <string>{264,203}</string>
            </dict>
            <key>223003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1832,270},{264,204}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,204}}</string>
                <key>sourceSize</key>
                <string>{268,204}</string>
            </dict>
            <key>223004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{270,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,220}}</string>
                <key>sourceSize</key>
                <string>{272,220}</string>
            </dict>
            <key>223005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{272,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,219}}</string>
                <key>sourceSize</key>
                <string>{272,219}</string>
            </dict>
            <key>223006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,764},{272,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,219}}</string>
                <key>sourceSize</key>
                <string>{272,219}</string>
            </dict>
            <key>223007.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,985},{270,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,220}}</string>
                <key>sourceSize</key>
                <string>{272,220}</string>
            </dict>
            <key>223008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,536},{274,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,248}}</string>
                <key>sourceSize</key>
                <string>{276,248}</string>
            </dict>
            <key>223009.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,739},{272,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,246}}</string>
                <key>sourceSize</key>
                <string>{272,246}</string>
            </dict>
            <key>223010.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,501},{272,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,247}}</string>
                <key>sourceSize</key>
                <string>{272,247}</string>
            </dict>
            <key>223011.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,490},{272,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,247}}</string>
                <key>sourceSize</key>
                <string>{272,247}</string>
            </dict>
            <key>223012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,475},{282,274}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,274}}</string>
                <key>sourceSize</key>
                <string>{284,274}</string>
            </dict>
            <key>223013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{280,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,272}}</string>
                <key>sourceSize</key>
                <string>{280,272}</string>
            </dict>
            <key>223014.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,490},{280,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,272}}</string>
                <key>sourceSize</key>
                <string>{280,272}</string>
            </dict>
            <key>223015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,466},{284,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,273}}</string>
                <key>sourceSize</key>
                <string>{284,273}</string>
            </dict>
            <key>223016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,741},{268,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,264}}</string>
                <key>sourceSize</key>
                <string>{268,264}</string>
            </dict>
            <key>223017.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1207},{266,263}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,263}}</string>
                <key>sourceSize</key>
                <string>{268,263}</string>
            </dict>
            <key>223018.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,987},{266,263}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,263}}</string>
                <key>sourceSize</key>
                <string>{268,263}</string>
            </dict>
            <key>223019.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,750},{266,263}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,263}}</string>
                <key>sourceSize</key>
                <string>{268,263}</string>
            </dict>
            <key>223020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,263}}</string>
                <key>sourceSize</key>
                <string>{308,263}</string>
            </dict>
            <key>223021.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{308,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,261}}</string>
                <key>sourceSize</key>
                <string>{308,261}</string>
            </dict>
            <key>223022.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{308,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,260}}</string>
                <key>sourceSize</key>
                <string>{308,260}</string>
            </dict>
            <key>223023.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{306,262}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,262}}</string>
                <key>sourceSize</key>
                <string>{308,262}</string>
            </dict>
            <key>223024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,238},{294,235}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,235}}</string>
                <key>sourceSize</key>
                <string>{296,235}</string>
            </dict>
            <key>223025.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,266},{294,233}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,233}}</string>
                <key>sourceSize</key>
                <string>{296,233}</string>
            </dict>
            <key>223026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{296,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,234}}</string>
                <key>sourceSize</key>
                <string>{296,234}</string>
            </dict>
            <key>223027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,228},{294,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,236}}</string>
                <key>sourceSize</key>
                <string>{296,236}</string>
            </dict>
            <key>223028.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,265},{304,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,223}}</string>
                <key>sourceSize</key>
                <string>{304,223}</string>
            </dict>
            <key>223029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{302,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,224}}</string>
                <key>sourceSize</key>
                <string>{304,224}</string>
            </dict>
            <key>223030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{302,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,224}}</string>
                <key>sourceSize</key>
                <string>{304,224}</string>
            </dict>
            <key>223031.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,264},{304,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,224}}</string>
                <key>sourceSize</key>
                <string>{304,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum223.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b6f79878f05d585041ca921b6cc735a:1/1$</string>
            <key>textureFileName</key>
            <string>hum223.png</string>
        </dict>
    </dict>
</plist>
