<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>029000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{102,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>029001.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,525},{100,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{104,97}</string>
            </dict>
            <key>029002.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,237},{100,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>029003.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,659},{102,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{108,96}</string>
            </dict>
            <key>029004.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,329},{112,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,86}}</string>
                <key>sourceSize</key>
                <string>{116,86}</string>
            </dict>
            <key>029005.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,417},{110,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>029006.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,340},{110,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,89}}</string>
                <key>sourceSize</key>
                <string>{112,89}</string>
            </dict>
            <key>029007.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,251},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>029008.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,835},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>029009.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,706},{90,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>029010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,651},{92,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,82}}</string>
                <key>sourceSize</key>
                <string>{92,82}</string>
            </dict>
            <key>029011.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{90,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{92,81}</string>
            </dict>
            <key>029012.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,898},{62,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>029013.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,830},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>029014.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,390},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>029015.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,954},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>029016.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,746},{82,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>029017.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,899},{82,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>029018.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,899},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>029019.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,816},{82,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>029020.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,569},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>029021.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,702},{80,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,95}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>029022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>029023.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,622},{82,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,95}}</string>
                <key>sourceSize</key>
                <string>{84,95}</string>
            </dict>
            <key>029024.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,507},{60,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,106}}</string>
                <key>sourceSize</key>
                <string>{60,106}</string>
            </dict>
            <key>029025.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,548},{64,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,105}}</string>
                <key>sourceSize</key>
                <string>{64,105}</string>
            </dict>
            <key>029026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{64,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,104}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>029027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{62,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,106}}</string>
                <key>sourceSize</key>
                <string>{64,106}</string>
            </dict>
            <key>029028.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,517},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>029029.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,470},{76,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,106}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>029030.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,472},{72,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,106}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>029031.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,546},{74,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,105}}</string>
                <key>sourceSize</key>
                <string>{76,105}</string>
            </dict>
            <key>029032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{128,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,97}}</string>
                <key>sourceSize</key>
                <string>{128,97}</string>
            </dict>
            <key>029033.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,97},{124,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{128,102}</string>
            </dict>
            <key>029034.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,159},{118,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{120,98}</string>
            </dict>
            <key>029035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{110,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{112,107}</string>
            </dict>
            <key>029036.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,282},{116,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,106}}</string>
                <key>sourceSize</key>
                <string>{116,106}</string>
            </dict>
            <key>029037.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,132},{118,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,97}}</string>
                <key>sourceSize</key>
                <string>{120,97}</string>
            </dict>
            <key>029038.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,324},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>029039.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,86},{120,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,77}}</string>
                <key>sourceSize</key>
                <string>{120,77}</string>
            </dict>
            <key>029040.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,201},{118,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>029041.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,72},{120,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,85}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>029042.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,165},{118,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,84}}</string>
                <key>sourceSize</key>
                <string>{120,84}</string>
            </dict>
            <key>029043.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,247},{118,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,75}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>029044.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,917},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>029045.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,580},{96,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>029046.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,757},{94,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,76}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>029047.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,508},{106,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,73}}</string>
                <key>sourceSize</key>
                <string>{108,73}</string>
            </dict>
            <key>029048.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,468},{106,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>029049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{88,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>029050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>029051.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,758},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>029052.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,231},{58,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>029053.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,898},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>029054.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,898},{62,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>029055.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,826},{62,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>029056.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,85},{86,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>029057.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,659},{86,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,85}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>029058.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,624},{86,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>029059.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,675},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>029060.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,735},{86,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>029061.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,789},{86,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>029062.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,310},{74,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,114}}</string>
                <key>sourceSize</key>
                <string>{76,114}</string>
            </dict>
            <key>029063.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,386},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>029064.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,431},{84,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,108}}</string>
                <key>sourceSize</key>
                <string>{84,108}</string>
            </dict>
            <key>029065.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,502},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>029066.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,614},{86,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,103}}</string>
                <key>sourceSize</key>
                <string>{88,103}</string>
            </dict>
            <key>029067.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,358},{82,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>029068.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,68},{66,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,125}}</string>
                <key>sourceSize</key>
                <string>{68,125}</string>
            </dict>
            <key>029069.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{60,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,126}}</string>
                <key>sourceSize</key>
                <string>{60,126}</string>
            </dict>
            <key>029070.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,64},{66,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,125}}</string>
                <key>sourceSize</key>
                <string>{68,125}</string>
            </dict>
            <key>029071.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{68,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,121}}</string>
                <key>sourceSize</key>
                <string>{68,121}</string>
            </dict>
            <key>029072.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,179},{66,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,124}}</string>
                <key>sourceSize</key>
                <string>{68,124}</string>
            </dict>
            <key>029073.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{64,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,126}}</string>
                <key>sourceSize</key>
                <string>{64,126}</string>
            </dict>
            <key>029074.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,398},{108,111}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>029075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{102,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{104,115}</string>
            </dict>
            <key>029076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{92,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,117}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>029077.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,136},{82,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>029078.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,220},{88,117}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,117}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>029079.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,231},{96,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{100,114}</string>
            </dict>
            <key>029080.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,73}}</string>
                <key>sourceSize</key>
                <string>{140,73}</string>
            </dict>
            <key>029081.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{82,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,125}}</string>
                <key>sourceSize</key>
                <string>{84,125}</string>
            </dict>
            <key>029082.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,77},{134,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,100}}</string>
                <key>sourceSize</key>
                <string>{136,100}</string>
            </dict>
            <key>029083.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,758},{62,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>029084.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,311},{58,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>029085.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,259},{110,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,97}}</string>
                <key>sourceSize</key>
                <string>{112,97}</string>
            </dict>
            <key>029086.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,592},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>029087.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{136,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,93}}</string>
                <key>sourceSize</key>
                <string>{136,93}</string>
            </dict>
            <key>029088.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,339},{110,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,85}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>029089.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,899},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>029090.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,830},{66,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>029091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{134,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,77}}</string>
                <key>sourceSize</key>
                <string>{136,77}</string>
            </dict>
            <key>029092.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,173},{62,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,99}}</string>
                <key>sourceSize</key>
                <string>{64,99}</string>
            </dict>
            <key>029093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,77}}</string>
                <key>sourceSize</key>
                <string>{144,77}</string>
            </dict>
            <key>029094.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,599},{88,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,74}}</string>
                <key>sourceSize</key>
                <string>{88,74}</string>
            </dict>
            <key>029095.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,583},{104,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{108,74}</string>
            </dict>
            <key>029096.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,426},{108,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,74}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>029097.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,442},{106,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>029098.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,390},{112,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,78}}</string>
                <key>sourceSize</key>
                <string>{112,78}</string>
            </dict>
            <key>029099.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,784},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum28.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d899156c1835e63c08d3708f4df8d9d7:1/1$</string>
            <key>textureFileName</key>
            <string>hum28.png</string>
        </dict>
    </dict>
</plist>
