<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>226065.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,783},{475,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,355}}</string>
                <key>sourceSize</key>
                <string>{475,355}</string>
            </dict>
            <key>226066.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{479,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,379}}</string>
                <key>sourceSize</key>
                <string>{479,379}</string>
            </dict>
            <key>226067.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{479,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,383}}</string>
                <key>sourceSize</key>
                <string>{479,383}</string>
            </dict>
            <key>226068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,406}}</string>
                <key>sourceSize</key>
                <string>{456,406}</string>
            </dict>
            <key>226069.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,387},{438,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,394}}</string>
                <key>sourceSize</key>
                <string>{438,394}</string>
            </dict>
            <key>226070.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1260},{435,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,362}}</string>
                <key>sourceSize</key>
                <string>{435,362}</string>
            </dict>
            <key>226071.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,383},{445,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,388}}</string>
                <key>sourceSize</key>
                <string>{445,388}</string>
            </dict>
            <key>226072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{439,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,392}}</string>
                <key>sourceSize</key>
                <string>{439,392}</string>
            </dict>
            <key>226073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,411},{435,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,395}}</string>
                <key>sourceSize</key>
                <string>{435,395}</string>
            </dict>
            <key>226074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,808},{252,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,451}}</string>
                <key>sourceSize</key>
                <string>{252,451}</string>
            </dict>
            <key>226075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,1263},{286,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,459}}</string>
                <key>sourceSize</key>
                <string>{286,459}</string>
            </dict>
            <key>226076.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1605},{310,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,456}}</string>
                <key>sourceSize</key>
                <string>{310,456}</string>
            </dict>
            <key>226077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,1551},{274,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,473}}</string>
                <key>sourceSize</key>
                <string>{274,473}</string>
            </dict>
            <key>226078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,808},{259,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,482}}</string>
                <key>sourceSize</key>
                <string>{259,482}</string>
            </dict>
            <key>226079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1749},{281,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,474}}</string>
                <key>sourceSize</key>
                <string>{281,474}</string>
            </dict>
            <key>226080.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,773},{488,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,349}}</string>
                <key>sourceSize</key>
                <string>{488,349}</string>
            </dict>
            <key>226081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{492,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,325}}</string>
                <key>sourceSize</key>
                <string>{492,325}</string>
            </dict>
            <key>226082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{431,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,407}}</string>
                <key>sourceSize</key>
                <string>{431,407}</string>
            </dict>
            <key>226083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1292},{323,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,313}}</string>
                <key>sourceSize</key>
                <string>{323,313}</string>
            </dict>
            <key>226084.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1624},{354,441}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,441}}</string>
                <key>sourceSize</key>
                <string>{354,441}</string>
            </dict>
            <key>226085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{449,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,362}}</string>
                <key>sourceSize</key>
                <string>{449,362}</string>
            </dict>
            <key>226086.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1263},{417,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,340}}</string>
                <key>sourceSize</key>
                <string>{417,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum226_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5285a91f6e79cda50864f56697b5ca4c:1/1$</string>
            <key>textureFileName</key>
            <string>hum226_3.png</string>
        </dict>
    </dict>
</plist>
