<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>224096.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,580},{442,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,253}}</string>
                <key>sourceSize</key>
                <string>{444,253}</string>
            </dict>
            <key>224097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,286},{442,257}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,257}}</string>
                <key>sourceSize</key>
                <string>{444,257}</string>
            </dict>
            <key>224098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1649},{256,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,245}}</string>
                <key>sourceSize</key>
                <string>{256,245}</string>
            </dict>
            <key>224099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{264,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,355}}</string>
                <key>sourceSize</key>
                <string>{264,355}</string>
            </dict>
            <key>224100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{294,415}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,415}}</string>
                <key>sourceSize</key>
                <string>{296,415}</string>
            </dict>
            <key>224101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{460,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,282}}</string>
                <key>sourceSize</key>
                <string>{460,282}</string>
            </dict>
            <key>224102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{470,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,253}}</string>
                <key>sourceSize</key>
                <string>{472,253}</string>
            </dict>
            <key>224103.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,835},{406,264}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,264}}</string>
                <key>sourceSize</key>
                <string>{408,264}</string>
            </dict>
            <key>224104.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1674},{290,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,220}}</string>
                <key>sourceSize</key>
                <string>{292,220}</string>
            </dict>
            <key>224105.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1363},{358,309}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,309}}</string>
                <key>sourceSize</key>
                <string>{360,309}</string>
            </dict>
            <key>224106.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1006},{386,381}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,381}}</string>
                <key>sourceSize</key>
                <string>{388,381}</string>
            </dict>
            <key>224107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{278,377}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,377}}</string>
                <key>sourceSize</key>
                <string>{280,377}</string>
            </dict>
            <key>224108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1353},{294,360}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,360}}</string>
                <key>sourceSize</key>
                <string>{296,360}</string>
            </dict>
            <key>224109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,801},{270,389}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,389}}</string>
                <key>sourceSize</key>
                <string>{272,389}</string>
            </dict>
            <key>224110.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1390},{262,255}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,255}}</string>
                <key>sourceSize</key>
                <string>{264,255}</string>
            </dict>
            <key>224111.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,781},{438,223}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,223}}</string>
                <key>sourceSize</key>
                <string>{440,223}</string>
            </dict>
            <key>224112.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{480,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,277}}</string>
                <key>sourceSize</key>
                <string>{480,277}</string>
            </dict>
            <key>224113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,801},{300,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,409}}</string>
                <key>sourceSize</key>
                <string>{300,409}</string>
            </dict>
            <key>224114.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1101},{260,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,375}}</string>
                <key>sourceSize</key>
                <string>{260,375}</string>
            </dict>
            <key>224115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1192},{280,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,363}}</string>
                <key>sourceSize</key>
                <string>{280,363}</string>
            </dict>
            <key>224116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{220,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,280}}</string>
                <key>sourceSize</key>
                <string>{220,280}</string>
            </dict>
            <key>224117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1103},{366,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,248}}</string>
                <key>sourceSize</key>
                <string>{368,248}</string>
            </dict>
            <key>224118.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,532},{450,247}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,247}}</string>
                <key>sourceSize</key>
                <string>{452,247}</string>
            </dict>
            <key>224119.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,281},{454,297}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,297}}</string>
                <key>sourceSize</key>
                <string>{456,297}</string>
            </dict>
            <key>224120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{460,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,293}}</string>
                <key>sourceSize</key>
                <string>{460,293}</string>
            </dict>
            <key>224121.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,252},{476,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,278}}</string>
                <key>sourceSize</key>
                <string>{476,278}</string>
            </dict>
            <key>224122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1674},{260,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,284}}</string>
                <key>sourceSize</key>
                <string>{260,284}</string>
            </dict>
            <key>224123.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1389},{232,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,319}}</string>
                <key>sourceSize</key>
                <string>{232,319}</string>
            </dict>
            <key>224124.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1623},{310,304}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,304}}</string>
                <key>sourceSize</key>
                <string>{312,304}</string>
            </dict>
            <key>224125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,260}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,260}}</string>
                <key>sourceSize</key>
                <string>{504,260}</string>
            </dict>
            <key>224126.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{486,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,248}}</string>
                <key>sourceSize</key>
                <string>{488,248}</string>
            </dict>
            <key>224127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,545},{442,254}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,254}}</string>
                <key>sourceSize</key>
                <string>{444,254}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum224_3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b23a9318a25fcea32f284237c1c711c:1/1$</string>
            <key>textureFileName</key>
            <string>hum224_3.png</string>
        </dict>
    </dict>
</plist>
