<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>031000.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,466},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>031001.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,487},{82,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>031002.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,645},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>031003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{84,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>031004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{66,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>031005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,754},{62,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>031006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,694},{58,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>031007.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,487},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>031008.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,558},{64,82}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{72,82}</string>
            </dict>
            <key>031009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{72,85}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>031010.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,510},{68,84}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>031011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,614},{70,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>031012.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,480},{74,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>031013.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,456},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>031014.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,353},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>031015.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,480},{76,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>031016.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,72},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>031017.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{92,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>031018.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{92,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>031019.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{94,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>031020.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,246},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>031021.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,228},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>031022.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,346},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>031023.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,269},{82,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>031024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{98,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>031025.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,247},{98,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>031026.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,88},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>031027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{98,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>031028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{84,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>031029.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,554},{84,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{84,64}</string>
            </dict>
            <key>031030.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,580},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>031031.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,548},{84,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>031032.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,186},{70,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>031033.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,686},{70,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>031034.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,567},{72,81}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>031035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{72,82}</string>
            </dict>
            <key>031036.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,620},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{72,82}</string>
            </dict>
            <key>031037.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,538},{70,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{72,82}</string>
            </dict>
            <key>031038.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,553},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>031039.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,818},{70,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>031040.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,758},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>031041.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,622},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>031042.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,641},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>031043.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,682},{74,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>031044.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{94,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>031045.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,248},{90,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>031046.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,414},{86,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>031047.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,482},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>031048.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,184},{90,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>031049.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,476},{84,70}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{92,70}</string>
            </dict>
            <key>031050.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,604},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>031051.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,610},{76,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>031052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{78,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{80,69}</string>
            </dict>
            <key>031053.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,624},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>031054.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,717},{74,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>031055.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,559},{76,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>031056.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,414},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,86}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>031057.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,435},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,86}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>031058.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,538},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>031059.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,556},{64,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>031060.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,501},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>031061.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,321},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>031062.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,408},{66,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>031063.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,340},{66,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>031064.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,278},{66,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>031065.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,408},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>031066.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,388},{66,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>031067.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,408},{70,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{72,86}</string>
            </dict>
            <key>031068.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,337},{88,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,75}}</string>
                <key>sourceSize</key>
                <string>{88,75}</string>
            </dict>
            <key>031069.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,336},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>031070.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,328},{88,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>031071.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,94},{90,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>031072.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,190},{90,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>031073.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,387},{86,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>031074.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,310},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>031075.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,258},{88,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>031076.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{90,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>031077.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,256},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>031078.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,166},{90,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>031079.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,148},{90,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>031080.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,252},{94,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>031081.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,108}</string>
            </dict>
            <key>031082.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,74},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,92}}</string>
                <key>sourceSize</key>
                <string>{72,92}</string>
            </dict>
            <key>031083.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,96},{72,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>031084.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{68,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,97}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>031085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{94,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>031086.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,167},{98,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>031087.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,64},{104,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,101}}</string>
                <key>sourceSize</key>
                <string>{104,101}</string>
            </dict>
            <key>031088.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,96},{86,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>031089.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,98},{90,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
            <key>031090.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,184},{92,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,95}}</string>
                <key>sourceSize</key>
                <string>{92,95}</string>
            </dict>
            <key>031091.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,170},{96,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>031092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{104,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,77}}</string>
                <key>sourceSize</key>
                <string>{104,77}</string>
            </dict>
            <key>031093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,91}}</string>
                <key>sourceSize</key>
                <string>{128,91}</string>
            </dict>
            <key>031094.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,164},{98,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>031095.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{102,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{104,87}</string>
            </dict>
            <key>031096.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{106,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>031097.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,428},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>031098.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,326},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>031099.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,91},{98,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,91}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum30.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f286c1e9a700a8731d602a4a3642a51:1/1$</string>
            <key>textureFileName</key>
            <string>hum30.png</string>
        </dict>
    </dict>
</plist>
