<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>035100.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,633},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>035101.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,899},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>035102.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,899},{64,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,99}}</string>
                <key>sourceSize</key>
                <string>{64,99}</string>
            </dict>
            <key>035103.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,445},{46,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,104}}</string>
                <key>sourceSize</key>
                <string>{48,104}</string>
            </dict>
            <key>035104.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,109},{68,103}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,103}}</string>
                <key>sourceSize</key>
                <string>{72,103}</string>
            </dict>
            <key>035105.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,627},{48,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,111}}</string>
                <key>sourceSize</key>
                <string>{48,111}</string>
            </dict>
            <key>035106.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,821},{76,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>035107.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,806},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>035108.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,194},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>035109.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,535},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>035110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{50,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,109}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>035111.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,313},{82,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>035112.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,782},{60,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,99}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
            <key>035113.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,631},{86,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>035114.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,797},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>035115.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,325},{98,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>035116.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,106},{86,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>035117.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{102,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>035118.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,112},{72,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,106}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>035119.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,205},{78,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>035120.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,337},{106,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>035121.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,947},{74,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>035122.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{96,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,86}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>035123.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{78,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,91}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>035124.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,214},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>035125.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,729},{78,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,107}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>035126.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,855},{64,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,110}}</string>
                <key>sourceSize</key>
                <string>{68,110}</string>
            </dict>
            <key>035127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{44,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,112}}</string>
                <key>sourceSize</key>
                <string>{44,112}</string>
            </dict>
            <key>035128.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{88,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>035129.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,731},{82,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>035130.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,719},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>035131.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,631},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>035132.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,501},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>035133.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,409},{90,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>035134.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,690},{70,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,105}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>035135.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,581},{68,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,107}}</string>
                <key>sourceSize</key>
                <string>{72,107}</string>
            </dict>
            <key>035136.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,220},{68,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,103}}</string>
                <key>sourceSize</key>
                <string>{68,105}</string>
            </dict>
            <key>035137.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,680},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,100}}</string>
                <key>sourceSize</key>
                <string>{68,100}</string>
            </dict>
            <key>035138.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,574},{70,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>035139.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,222},{72,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,106}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>035140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{42,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,113}}</string>
                <key>sourceSize</key>
                <string>{44,113}</string>
            </dict>
            <key>035141.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{46,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,113}}</string>
                <key>sourceSize</key>
                <string>{48,115}</string>
            </dict>
            <key>035142.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,245},{50,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,113}}</string>
                <key>sourceSize</key>
                <string>{52,113}</string>
            </dict>
            <key>035143.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,967},{52,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,109}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>035144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{52,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,116}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>035145.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,389},{38,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,116}}</string>
                <key>sourceSize</key>
                <string>{40,116}</string>
            </dict>
            <key>035146.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,471},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>035147.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,465},{66,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,107}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>035148.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,227},{66,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>035149.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,838},{68,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,107}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>035150.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,360},{66,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,109}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>035151.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>035152.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,301},{84,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,90}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>035153.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,100},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>035154.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,425},{82,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>035155.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,435},{84,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>035156.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,535},{82,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>035157.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,95},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>035158.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,618},{68,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,109}}</string>
                <key>sourceSize</key>
                <string>{72,109}</string>
            </dict>
            <key>035159.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,507},{68,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,109}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>035160.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,355},{66,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>035161.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,112},{64,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,108}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>035162.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,742},{66,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,111}}</string>
                <key>sourceSize</key>
                <string>{68,111}</string>
            </dict>
            <key>035163.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,838},{72,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,107}}</string>
                <key>sourceSize</key>
                <string>{72,107}</string>
            </dict>
            <key>035164.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,131}}</string>
                <key>sourceSize</key>
                <string>{48,131}</string>
            </dict>
            <key>035165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{52,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,128}}</string>
                <key>sourceSize</key>
                <string>{52,128}</string>
            </dict>
            <key>035166.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{52,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,122}}</string>
                <key>sourceSize</key>
                <string>{52,122}</string>
            </dict>
            <key>035167.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{50,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,108}}</string>
                <key>sourceSize</key>
                <string>{52,108}</string>
            </dict>
            <key>035168.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{54,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,125}}</string>
                <key>sourceSize</key>
                <string>{56,125}</string>
            </dict>
            <key>035169.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{38,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,118}}</string>
                <key>sourceSize</key>
                <string>{40,118}</string>
            </dict>
            <key>035170.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{82,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>035171.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,129},{82,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{84,114}</string>
            </dict>
            <key>035172.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,245},{82,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{84,108}</string>
            </dict>
            <key>035173.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{82,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>035174.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,117},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>035175.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,330},{68,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,103}}</string>
                <key>sourceSize</key>
                <string>{68,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum34_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:748416733e120c90eda9b26bcb9c633e:1/1$</string>
            <key>textureFileName</key>
            <string>hum34_1.png</string>
        </dict>
    </dict>
</plist>
