<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>032000.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,396},{52,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,128}}</string>
                <key>sourceSize</key>
                <string>{52,128}</string>
            </dict>
            <key>032001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,342},{52,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,129}}</string>
                <key>sourceSize</key>
                <string>{52,129}</string>
            </dict>
            <key>032002.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,375},{52,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,128}}</string>
                <key>sourceSize</key>
                <string>{52,128}</string>
            </dict>
            <key>032003.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,321},{52,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,131}}</string>
                <key>sourceSize</key>
                <string>{52,131}</string>
            </dict>
            <key>032004.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,580},{118,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,103}}</string>
                <key>sourceSize</key>
                <string>{120,103}</string>
            </dict>
            <key>032005.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,508},{118,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>032006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,464},{114,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,105}}</string>
                <key>sourceSize</key>
                <string>{116,105}</string>
            </dict>
            <key>032007.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,532},{120,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,105}}</string>
                <key>sourceSize</key>
                <string>{120,105}</string>
            </dict>
            <key>032008.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,73},{152,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,67}}</string>
                <key>sourceSize</key>
                <string>{152,67}</string>
            </dict>
            <key>032009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,74},{150,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,67}}</string>
                <key>sourceSize</key>
                <string>{152,67}</string>
            </dict>
            <key>032010.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,73},{146,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,67}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>032011.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>032012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{116,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,84}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
            <key>032013.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,521},{114,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,75}}</string>
                <key>sourceSize</key>
                <string>{116,75}</string>
            </dict>
            <key>032014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{114,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,74}}</string>
                <key>sourceSize</key>
                <string>{116,74}</string>
            </dict>
            <key>032015.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,639},{114,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,76}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>032016.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,269},{50,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,106}}</string>
                <key>sourceSize</key>
                <string>{52,106}</string>
            </dict>
            <key>032017.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,875},{50,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{52,96}</string>
            </dict>
            <key>032018.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,873},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,86}}</string>
                <key>sourceSize</key>
                <string>{52,86}</string>
            </dict>
            <key>032019.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,923},{52,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,97}}</string>
                <key>sourceSize</key>
                <string>{52,97}</string>
            </dict>
            <key>032020.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,783},{108,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,88}}</string>
                <key>sourceSize</key>
                <string>{108,88}</string>
            </dict>
            <key>032021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{104,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,79}}</string>
                <key>sourceSize</key>
                <string>{104,79}</string>
            </dict>
            <key>032022.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,927},{96,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,79}}</string>
                <key>sourceSize</key>
                <string>{96,79}</string>
            </dict>
            <key>032023.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,555},{106,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>032024.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,141},{142,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,68}}</string>
                <key>sourceSize</key>
                <string>{144,68}</string>
            </dict>
            <key>032025.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,212},{136,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,68}}</string>
                <key>sourceSize</key>
                <string>{136,68}</string>
            </dict>
            <key>032026.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,323},{128,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,68}}</string>
                <key>sourceSize</key>
                <string>{128,68}</string>
            </dict>
            <key>032027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{136,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,69}}</string>
                <key>sourceSize</key>
                <string>{136,69}</string>
            </dict>
            <key>032028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{110,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>032029.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,814},{104,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,107}}</string>
                <key>sourceSize</key>
                <string>{104,107}</string>
            </dict>
            <key>032030.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,775},{98,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>032031.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,679},{102,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,110}}</string>
                <key>sourceSize</key>
                <string>{104,110}</string>
            </dict>
            <key>032032.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,286},{54,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,131}}</string>
                <key>sourceSize</key>
                <string>{56,131}</string>
            </dict>
            <key>032033.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,265},{54,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,131}}</string>
                <key>sourceSize</key>
                <string>{56,131}</string>
            </dict>
            <key>032034.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,232},{52,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,132}}</string>
                <key>sourceSize</key>
                <string>{52,132}</string>
            </dict>
            <key>032035.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,211},{52,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,132}}</string>
                <key>sourceSize</key>
                <string>{52,132}</string>
            </dict>
            <key>032036.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,269},{52,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,131}}</string>
                <key>sourceSize</key>
                <string>{52,131}</string>
            </dict>
            <key>032037.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,211},{56,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,131}}</string>
                <key>sourceSize</key>
                <string>{56,131}</string>
            </dict>
            <key>032038.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,207},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>032039.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,725},{116,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,111}}</string>
                <key>sourceSize</key>
                <string>{116,111}</string>
            </dict>
            <key>032040.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,354},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>032041.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,429},{122,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,106}}</string>
                <key>sourceSize</key>
                <string>{124,106}</string>
            </dict>
            <key>032042.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,615},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>032043.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,618},{116,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,110}}</string>
                <key>sourceSize</key>
                <string>{116,110}</string>
            </dict>
            <key>032044.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,72},{152,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,67}}</string>
                <key>sourceSize</key>
                <string>{152,67}</string>
            </dict>
            <key>032045.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{152,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,69}}</string>
                <key>sourceSize</key>
                <string>{152,69}</string>
            </dict>
            <key>032046.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,71}}</string>
                <key>sourceSize</key>
                <string>{152,71}</string>
            </dict>
            <key>032047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,72}}</string>
                <key>sourceSize</key>
                <string>{152,72}</string>
            </dict>
            <key>032048.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{152,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,69}}</string>
                <key>sourceSize</key>
                <string>{152,69}</string>
            </dict>
            <key>032049.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{152,70}</string>
            </dict>
            <key>032050.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,501},{122,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,77}}</string>
                <key>sourceSize</key>
                <string>{124,77}</string>
            </dict>
            <key>032051.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,450},{122,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>032052.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,435},{116,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,84}}</string>
                <key>sourceSize</key>
                <string>{116,84}</string>
            </dict>
            <key>032053.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,421},{112,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,85}}</string>
                <key>sourceSize</key>
                <string>{112,85}</string>
            </dict>
            <key>032054.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,670},{116,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,82}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
            <key>032055.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,537},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>032056.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,923},{52,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,96}}</string>
                <key>sourceSize</key>
                <string>{52,96}</string>
            </dict>
            <key>032057.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,927},{52,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,92}}</string>
                <key>sourceSize</key>
                <string>{52,92}</string>
            </dict>
            <key>032058.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,474},{56,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,92}}</string>
                <key>sourceSize</key>
                <string>{56,92}</string>
            </dict>
            <key>032059.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,377},{54,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,95}}</string>
                <key>sourceSize</key>
                <string>{56,95}</string>
            </dict>
            <key>032060.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,927},{54,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,91}}</string>
                <key>sourceSize</key>
                <string>{56,91}</string>
            </dict>
            <key>032061.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,460},{54,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,93}}</string>
                <key>sourceSize</key>
                <string>{56,93}</string>
            </dict>
            <key>032062.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,827},{98,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>032063.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,827},{98,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>032064.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,916},{106,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,78}}</string>
                <key>sourceSize</key>
                <string>{108,78}</string>
            </dict>
            <key>032065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{110,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,75}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>032066.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,916},{106,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,81}}</string>
                <key>sourceSize</key>
                <string>{108,81}</string>
            </dict>
            <key>032067.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,927},{100,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,85}}</string>
                <key>sourceSize</key>
                <string>{100,85}</string>
            </dict>
            <key>032068.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,204},{136,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,69}}</string>
                <key>sourceSize</key>
                <string>{136,69}</string>
            </dict>
            <key>032069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{138,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,66}}</string>
                <key>sourceSize</key>
                <string>{140,66}</string>
            </dict>
            <key>032070.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,142},{138,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>032071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>032072.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,275},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>032073.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,143},{138,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>032074.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,598},{110,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>032075.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,808},{106,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{108,107}</string>
            </dict>
            <key>032076.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,706},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>032077.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,321},{98,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>032078.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,663},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>032079.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,717},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>032080.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,774},{38,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,106}}</string>
                <key>sourceSize</key>
                <string>{40,106}</string>
            </dict>
            <key>032081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{54,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,134}}</string>
                <key>sourceSize</key>
                <string>{56,134}</string>
            </dict>
            <key>032082.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,142},{88,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,140}}</string>
                <key>sourceSize</key>
                <string>{88,140}</string>
            </dict>
            <key>032083.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,282},{70,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,135}}</string>
                <key>sourceSize</key>
                <string>{72,135}</string>
            </dict>
            <key>032084.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,212},{38,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,129}}</string>
                <key>sourceSize</key>
                <string>{40,129}</string>
            </dict>
            <key>032085.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,343},{38,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,115}}</string>
                <key>sourceSize</key>
                <string>{40,115}</string>
            </dict>
            <key>032086.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,122},{96,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>032087.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,571},{106,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,113}}</string>
                <key>sourceSize</key>
                <string>{108,113}</string>
            </dict>
            <key>032088.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,393},{106,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,124}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>032089.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>032090.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,788},{100,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,107}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>032091.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,927},{102,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>032092.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,149},{138,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,53}}</string>
                <key>sourceSize</key>
                <string>{140,53}</string>
            </dict>
            <key>032093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{134,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,74}}</string>
                <key>sourceSize</key>
                <string>{136,74}</string>
            </dict>
            <key>032094.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,685},{116,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,87}}</string>
                <key>sourceSize</key>
                <string>{116,87}</string>
            </dict>
            <key>032095.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,343},{134,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,90}}</string>
                <key>sourceSize</key>
                <string>{136,90}</string>
            </dict>
            <key>032096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{146,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,71}}</string>
                <key>sourceSize</key>
                <string>{148,71}</string>
            </dict>
            <key>032097.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,75},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,72}}</string>
                <key>sourceSize</key>
                <string>{148,72}</string>
            </dict>
            <key>032098.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{106,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,86}}</string>
                <key>sourceSize</key>
                <string>{108,86}</string>
            </dict>
            <key>032099.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,568},{100,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,67}}</string>
                <key>sourceSize</key>
                <string>{100,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum31.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc2e8adcc624576ccedf1beee531352e:1/1$</string>
            <key>textureFileName</key>
            <string>hum31.png</string>
        </dict>
    </dict>
</plist>
