<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>034100.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,880},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>034101.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,92},{80,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>034102.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,779},{64,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,99}}</string>
                <key>sourceSize</key>
                <string>{64,99}</string>
            </dict>
            <key>034103.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,964},{46,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,104}}</string>
                <key>sourceSize</key>
                <string>{48,104}</string>
            </dict>
            <key>034104.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,329},{68,103}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,103}}</string>
                <key>sourceSize</key>
                <string>{72,103}</string>
            </dict>
            <key>034105.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,627},{48,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,111}}</string>
                <key>sourceSize</key>
                <string>{48,111}</string>
            </dict>
            <key>034106.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{78,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>034107.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,352},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>034108.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,802},{60,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,90}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>034109.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,750},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{88,94}</string>
            </dict>
            <key>034110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{50,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,109}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>034111.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,633},{84,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>034112.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,550},{60,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,99}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
            <key>034113.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,92},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>034114.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,677},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>034115.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,797},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>034116.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,534},{86,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>034117.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,218},{102,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{104,89}</string>
            </dict>
            <key>034118.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,464},{74,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,106}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>034119.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,846},{78,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>034120.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,583},{106,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,76}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>034121.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,572},{74,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>034122.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,434},{98,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>034123.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,823},{78,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,91}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>034124.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,651},{96,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,97}}</string>
                <key>sourceSize</key>
                <string>{96,97}</string>
            </dict>
            <key>034125.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,355},{78,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,107}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>034126.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,507},{66,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,110}}</string>
                <key>sourceSize</key>
                <string>{68,110}</string>
            </dict>
            <key>034127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{44,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,112}}</string>
                <key>sourceSize</key>
                <string>{44,112}</string>
            </dict>
            <key>034128.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,710},{90,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>034129.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>034130.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,942},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>034131.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,182},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>034132.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,268},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>034133.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,916},{90,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>034134.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,111},{70,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,105}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>034135.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,228},{70,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,107}}</string>
                <key>sourceSize</key>
                <string>{72,107}</string>
            </dict>
            <key>034136.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{68,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,105}}</string>
                <key>sourceSize</key>
                <string>{68,105}</string>
            </dict>
            <key>034137.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,899},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,100}}</string>
                <key>sourceSize</key>
                <string>{68,100}</string>
            </dict>
            <key>034138.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,691},{70,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>034139.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,337},{72,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,106}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>034140.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{44,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,113}}</string>
                <key>sourceSize</key>
                <string>{44,113}</string>
            </dict>
            <key>034141.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,129},{46,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,115}}</string>
                <key>sourceSize</key>
                <string>{48,115}</string>
            </dict>
            <key>034142.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{50,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,113}}</string>
                <key>sourceSize</key>
                <string>{52,113}</string>
            </dict>
            <key>034143.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{52,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,109}}</string>
                <key>sourceSize</key>
                <string>{52,109}</string>
            </dict>
            <key>034144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{52,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,116}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>034145.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,389},{38,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,116}}</string>
                <key>sourceSize</key>
                <string>{40,116}</string>
            </dict>
            <key>034146.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,729},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>034147.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{66,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,107}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>034148.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,839},{66,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>034149.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,113},{68,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,107}}</string>
                <key>sourceSize</key>
                <string>{68,107}</string>
            </dict>
            <key>034150.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,117},{66,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,109}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>034151.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,850},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>034152.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,729},{86,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>034153.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,616},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>034154.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,520},{82,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>034155.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,322},{84,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>034156.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,422},{82,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>034157.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,894},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>034158.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,362},{70,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,109}}</string>
                <key>sourceSize</key>
                <string>{72,109}</string>
            </dict>
            <key>034159.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,244},{68,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,109}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>034160.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,619},{68,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{68,108}</string>
            </dict>
            <key>034161.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,473},{64,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,108}}</string>
                <key>sourceSize</key>
                <string>{64,108}</string>
            </dict>
            <key>034162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{66,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,111}}</string>
                <key>sourceSize</key>
                <string>{68,111}</string>
            </dict>
            <key>034163.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,949},{72,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,107}}</string>
                <key>sourceSize</key>
                <string>{72,107}</string>
            </dict>
            <key>034164.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,131}}</string>
                <key>sourceSize</key>
                <string>{48,131}</string>
            </dict>
            <key>034165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{52,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,128}}</string>
                <key>sourceSize</key>
                <string>{52,128}</string>
            </dict>
            <key>034166.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{52,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,122}}</string>
                <key>sourceSize</key>
                <string>{52,122}</string>
            </dict>
            <key>034167.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{50,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,108}}</string>
                <key>sourceSize</key>
                <string>{52,108}</string>
            </dict>
            <key>034168.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{54,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,125}}</string>
                <key>sourceSize</key>
                <string>{56,125}</string>
            </dict>
            <key>034169.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{38,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,118}}</string>
                <key>sourceSize</key>
                <string>{40,118}</string>
            </dict>
            <key>034170.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,129},{82,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>034171.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,246},{82,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,114}}</string>
                <key>sourceSize</key>
                <string>{84,114}</string>
            </dict>
            <key>034172.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,854},{82,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,108}}</string>
                <key>sourceSize</key>
                <string>{84,108}</string>
            </dict>
            <key>034173.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,222},{84,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>034174.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,740},{72,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>034175.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,445},{68,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,103}}</string>
                <key>sourceSize</key>
                <string>{68,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum33_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd2594d2b2f7d473c4edd85bc10b8631:1/1$</string>
            <key>textureFileName</key>
            <string>hum33_1.png</string>
        </dict>
    </dict>
</plist>
