<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>031100.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,404},{82,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>031101.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,325},{86,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>031102.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,320},{82,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>031103.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,158},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>031104.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{76,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,106}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>031105.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{68,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,101}}</string>
                <key>sourceSize</key>
                <string>{68,101}</string>
            </dict>
            <key>031106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{64,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>031107.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,261},{62,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{64,90}</string>
            </dict>
            <key>031108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{62,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>031109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{80,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>031110.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,80},{96,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>031111.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,260},{90,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>031112.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,177},{82,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>031113.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,409},{82,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>031114.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,409},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>031115.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,72},{98,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>031116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,93}}</string>
                <key>sourceSize</key>
                <string>{112,93}</string>
            </dict>
            <key>031117.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{108,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>031118.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,167},{94,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>031119.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,228},{94,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>031120.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,188},{94,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>031121.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,284},{94,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,82}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>031122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{86,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>031123.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,89},{86,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>031124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{74,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{76,86}</string>
            </dict>
            <key>031125.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,95},{74,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{76,91}</string>
            </dict>
            <key>031126.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{72,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,91}}</string>
                <key>sourceSize</key>
                <string>{72,91}</string>
            </dict>
            <key>031127.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,404},{78,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum30_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8effeec7419f04f619cea164760479e:1/1$</string>
            <key>textureFileName</key>
            <string>hum30_1.png</string>
        </dict>
    </dict>
</plist>
