<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>033000.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,824},{90,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>033001.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>033002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,932},{90,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>033003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,752},{86,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>033004.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,325},{76,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,101}}</string>
                <key>sourceSize</key>
                <string>{76,101}</string>
            </dict>
            <key>033005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,669},{74,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>033006.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,219},{76,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{76,104}</string>
            </dict>
            <key>033007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,710},{74,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,106}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>033008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,386},{46,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,119}}</string>
                <key>sourceSize</key>
                <string>{48,119}</string>
            </dict>
            <key>033009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,508},{52,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,120}}</string>
                <key>sourceSize</key>
                <string>{52,120}</string>
            </dict>
            <key>033010.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,891},{56,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,120}}</string>
                <key>sourceSize</key>
                <string>{56,120}</string>
            </dict>
            <key>033011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,386},{60,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,120}}</string>
                <key>sourceSize</key>
                <string>{64,120}</string>
            </dict>
            <key>033012.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,644},{72,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,123}}</string>
                <key>sourceSize</key>
                <string>{72,123}</string>
            </dict>
            <key>033013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,259},{72,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,125}}</string>
                <key>sourceSize</key>
                <string>{72,125}</string>
            </dict>
            <key>033014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{72,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,127}}</string>
                <key>sourceSize</key>
                <string>{72,127}</string>
            </dict>
            <key>033015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{72,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,127}}</string>
                <key>sourceSize</key>
                <string>{72,127}</string>
            </dict>
            <key>033016.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,259},{88,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,117}}</string>
                <key>sourceSize</key>
                <string>{92,117}</string>
            </dict>
            <key>033017.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,769},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>033018.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,895},{88,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,121}</string>
            </dict>
            <key>033019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{86,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,123}}</string>
                <key>sourceSize</key>
                <string>{88,123}</string>
            </dict>
            <key>033020.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,126}}</string>
                <key>sourceSize</key>
                <string>{76,126}</string>
            </dict>
            <key>033021.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,131},{74,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,126}}</string>
                <key>sourceSize</key>
                <string>{76,126}</string>
            </dict>
            <key>033022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,127}}</string>
                <key>sourceSize</key>
                <string>{76,127}</string>
            </dict>
            <key>033023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{74,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,126}}</string>
                <key>sourceSize</key>
                <string>{76,126}</string>
            </dict>
            <key>033024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{44,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,124}}</string>
                <key>sourceSize</key>
                <string>{44,124}</string>
            </dict>
            <key>033025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{50,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,125}}</string>
                <key>sourceSize</key>
                <string>{52,125}</string>
            </dict>
            <key>033026.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,517},{56,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,123}}</string>
                <key>sourceSize</key>
                <string>{56,123}</string>
            </dict>
            <key>033027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{62,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,122}}</string>
                <key>sourceSize</key>
                <string>{64,122}</string>
            </dict>
            <key>033028.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,441},{72,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,105}}</string>
                <key>sourceSize</key>
                <string>{76,107}</string>
            </dict>
            <key>033029.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,601},{72,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,107}}</string>
                <key>sourceSize</key>
                <string>{72,107}</string>
            </dict>
            <key>033030.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,112},{70,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>033031.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,224},{70,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>033032.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,528},{90,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>033033.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,301},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>033034.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,926},{90,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>033035.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,640},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>033036.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,712},{88,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>033037.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,732},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>033038.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,562},{72,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,105}}</string>
                <key>sourceSize</key>
                <string>{76,105}</string>
            </dict>
            <key>033039.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,715},{74,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,107}}</string>
                <key>sourceSize</key>
                <string>{76,107}</string>
            </dict>
            <key>033040.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,845},{76,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,107}}</string>
                <key>sourceSize</key>
                <string>{76,107}</string>
            </dict>
            <key>033041.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,490},{72,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,109}}</string>
                <key>sourceSize</key>
                <string>{76,109}</string>
            </dict>
            <key>033042.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,329},{70,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,105}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>033043.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{76,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>033044.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,630},{44,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,113}}</string>
                <key>sourceSize</key>
                <string>{44,113}</string>
            </dict>
            <key>033045.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,232},{44,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,110}}</string>
                <key>sourceSize</key>
                <string>{44,110}</string>
            </dict>
            <key>033046.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,113},{48,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,109}}</string>
                <key>sourceSize</key>
                <string>{48,109}</string>
            </dict>
            <key>033047.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,378},{48,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,112}}</string>
                <key>sourceSize</key>
                <string>{52,112}</string>
            </dict>
            <key>033048.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,378},{44,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,110}}</string>
                <key>sourceSize</key>
                <string>{44,110}</string>
            </dict>
            <key>033049.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{40,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,111}}</string>
                <key>sourceSize</key>
                <string>{40,111}</string>
            </dict>
            <key>033050.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,215},{70,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,101}}</string>
                <key>sourceSize</key>
                <string>{72,101}</string>
            </dict>
            <key>033051.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{72,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,100}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>033052.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{76,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>033053.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,204},{74,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>033054.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,318},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>033055.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,539},{72,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,99}}</string>
                <key>sourceSize</key>
                <string>{72,99}</string>
            </dict>
            <key>033056.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,845},{88,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,79}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>033057.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,194},{86,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{88,79}</string>
            </dict>
            <key>033058.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,406},{88,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>033059.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,802},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>033060.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,916},{90,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>033061.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,620},{90,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>033062.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,774},{70,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>033063.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,309},{74,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,95}}</string>
                <key>sourceSize</key>
                <string>{76,95}</string>
            </dict>
            <key>033064.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,89},{74,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>033065.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,99},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,93}</string>
            </dict>
            <key>033066.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,104},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>033067.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,209},{74,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>033068.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{44,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,114}}</string>
                <key>sourceSize</key>
                <string>{44,114}</string>
            </dict>
            <key>033069.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{42,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,114}}</string>
                <key>sourceSize</key>
                <string>{44,114}</string>
            </dict>
            <key>033070.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,818},{50,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,106}}</string>
                <key>sourceSize</key>
                <string>{52,108}</string>
            </dict>
            <key>033071.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{48,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,108}}</string>
                <key>sourceSize</key>
                <string>{48,108}</string>
            </dict>
            <key>033072.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,118},{44,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,112}}</string>
                <key>sourceSize</key>
                <string>{44,112}</string>
            </dict>
            <key>033073.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,507},{40,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,113}}</string>
                <key>sourceSize</key>
                <string>{40,113}</string>
            </dict>
            <key>033074.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,604},{72,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,109}}</string>
                <key>sourceSize</key>
                <string>{72,109}</string>
            </dict>
            <key>033075.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{70,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,108}}</string>
                <key>sourceSize</key>
                <string>{72,108}</string>
            </dict>
            <key>033076.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,734},{76,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,109}}</string>
                <key>sourceSize</key>
                <string>{76,109}</string>
            </dict>
            <key>033077.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{76,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,109}}</string>
                <key>sourceSize</key>
                <string>{76,109}</string>
            </dict>
            <key>033078.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,622},{72,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>033079.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{72,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,105}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>033080.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,344},{68,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,109}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>033081.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,954},{52,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,106}}</string>
                <key>sourceSize</key>
                <string>{52,106}</string>
            </dict>
            <key>033082.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,824},{78,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>033083.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,651},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>033084.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,492},{54,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,110}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
            <key>033085.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,926},{86,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>033086.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,130},{50,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,115}}</string>
                <key>sourceSize</key>
                <string>{52,115}</string>
            </dict>
            <key>033087.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,548},{86,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>033088.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,226},{58,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,109}}</string>
                <key>sourceSize</key>
                <string>{60,109}</string>
            </dict>
            <key>033089.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,115},{84,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,109}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>033090.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,334},{100,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>033091.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,107},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>033092.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,436},{84,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>033093.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,428},{98,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>033094.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,926},{78,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,91}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>033095.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,109},{72,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>033096.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,455},{104,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,105}}</string>
                <key>sourceSize</key>
                <string>{104,105}</string>
            </dict>
            <key>033097.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,112},{72,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,105}}</string>
                <key>sourceSize</key>
                <string>{72,105}</string>
            </dict>
            <key>033098.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{92,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,85}}</string>
                <key>sourceSize</key>
                <string>{96,85}</string>
            </dict>
            <key>033099.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,222},{76,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,105}}</string>
                <key>sourceSize</key>
                <string>{76,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum32.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a003356efcd7733d46f4c52767f77f81:1/1$</string>
            <key>textureFileName</key>
            <string>hum32.png</string>
        </dict>
    </dict>
</plist>
