<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>043100.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,298},{80,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,73}}</string>
                <key>sourceSize</key>
                <string>{80,73}</string>
            </dict>
            <key>043101.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,344},{78,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>043102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{72,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>043103.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,750},{66,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>043104.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,584},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>043105.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,77},{54,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,88}}</string>
                <key>sourceSize</key>
                <string>{56,88}</string>
            </dict>
            <key>043106.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,208},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>043107.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,280},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>043108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{74,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>043109.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,677},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>043110.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,426},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>043111.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,134},{82,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>043112.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,91}}</string>
                <key>sourceSize</key>
                <string>{60,91}</string>
            </dict>
            <key>043113.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,362},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>043114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{66,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>043115.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,815},{62,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>043116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{62,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>043117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>043118.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,218},{78,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>043119.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,218},{60,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,81}}</string>
                <key>sourceSize</key>
                <string>{60,81}</string>
            </dict>
            <key>043120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>043121.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,712},{50,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,67}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>043122.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,681},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>043123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>043124.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{90,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>043125.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,78},{54,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,87}}</string>
                <key>sourceSize</key>
                <string>{56,87}</string>
            </dict>
            <key>043126.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,684},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>043127.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,134},{46,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,69}}</string>
                <key>sourceSize</key>
                <string>{48,69}</string>
            </dict>
            <key>043128.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,490},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>043129.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,472},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>043130.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,346},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
            <key>043131.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,138},{78,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>043132.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,70},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>043133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>043134.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,654},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>043135.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,559},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>043136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>043137.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{74,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>043138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>043139.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,133},{86,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>043140.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,764},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>043141.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,738},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>043142.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,482},{74,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{76,66}</string>
            </dict>
            <key>043143.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,373},{70,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>043144.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,488},{54,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>043145.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,550},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>043146.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,739},{58,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>043147.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,726},{60,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>043148.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,682},{66,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>043149.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,550},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>043150.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,418},{62,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>043151.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,668},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>043152.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,505},{52,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>043153.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,530},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>043154.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{54,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>043155.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,292},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>043156.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{74,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>043157.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,360},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>043158.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,445},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>043159.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,430},{58,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>043160.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,404},{66,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>043161.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{62,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>043162.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{66,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>043163.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,218},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>043164.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,619},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>043165.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,620},{62,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>043166.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,616},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>043167.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,150},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>043168.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,62},{74,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,89}}</string>
                <key>sourceSize</key>
                <string>{76,89}</string>
            </dict>
            <key>043169.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,216},{62,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>043170.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,604},{58,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>043171.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,544},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>043172.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,604},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>043173.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>043174.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,278},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>043175.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,280},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum43_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:078360c7bb7b2dbaa34572af5fb30eb7:1/1$</string>
            <key>textureFileName</key>
            <string>hum43_1.png</string>
        </dict>
    </dict>
</plist>
