<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>004100.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,150},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>004101.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{94,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,74}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>004102.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,92},{92,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,72}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>004103.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,178},{90,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,64}}</string>
                <key>sourceSize</key>
                <string>{92,64}</string>
            </dict>
            <key>004104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{70,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>004105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{58,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,99}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
            <key>004106.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,225},{64,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,89}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>004107.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,248},{86,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>004108.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,72},{94,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>004109.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,254},{84,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,71}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>004110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>004111.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{94,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>004112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{64,92}</string>
            </dict>
            <key>004113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{90,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>004114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{78,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>004115.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,392},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>004116.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,421},{78,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>004117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,66}}</string>
                <key>sourceSize</key>
                <string>{112,66}</string>
            </dict>
            <key>004118.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,166},{86,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>004119.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,90},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>004120.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{98,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,68}}</string>
                <key>sourceSize</key>
                <string>{100,68}</string>
            </dict>
            <key>004121.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,321},{82,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>004122.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,409},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>004123.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,244},{86,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,78}}</string>
                <key>sourceSize</key>
                <string>{88,78}</string>
            </dict>
            <key>004124.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,157},{90,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>004125.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{88,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,100}}</string>
                <key>sourceSize</key>
                <string>{88,100}</string>
            </dict>
            <key>004126.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,78},{94,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
            <key>004127.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,327},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum4_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff6974a46a18c08151033cb1e007cdc3:1/1$</string>
            <key>textureFileName</key>
            <string>hum4_1.png</string>
        </dict>
    </dict>
</plist>
