<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>004000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,649},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>004001.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,322},{74,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>004002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,571},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>004003.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,581},{74,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>004004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{66,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>004005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,595},{66,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>004006.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,505},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>004007.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,398},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>004008.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,246},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>004009.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,586},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>004010.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,631},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>004011.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,506},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>004012.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,723},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>004013.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,697},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>004014.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,716},{66,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>004015.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,648},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>004016.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,696},{66,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>004017.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,648},{66,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>004018.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,725},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>004019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>004020.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,636},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>004021.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,719},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>004022.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,663},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>004023.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,657},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>004024.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,348},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>004025.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,268},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>004026.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,427},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>004027.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,506},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>004028.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,572},{62,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>004029.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,501},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>004030.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,515},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>004031.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,529},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>004032.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,87},{86,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>004033.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,257},{90,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{92,97}</string>
            </dict>
            <key>004034.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,92},{80,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>004035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{78,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>004036.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,179},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>004037.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,99},{78,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,99}}</string>
                <key>sourceSize</key>
                <string>{80,99}</string>
            </dict>
            <key>004038.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,354},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>004039.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,155},{102,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{104,90}</string>
            </dict>
            <key>004040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{102,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>004041.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,95}}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>004042.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,331},{88,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{88,97}</string>
            </dict>
            <key>004043.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,163},{90,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>004044.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{108,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>004045.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,175},{96,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,71}}</string>
                <key>sourceSize</key>
                <string>{96,71}</string>
            </dict>
            <key>004046.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,77},{104,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,76}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>004047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{116,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,79}}</string>
                <key>sourceSize</key>
                <string>{116,79}</string>
            </dict>
            <key>004048.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,233},{94,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{96,86}</string>
            </dict>
            <key>004049.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>004050.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,270},{98,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>004051.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,400},{90,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>004052.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,410},{90,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>004053.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,321},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>004054.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,254},{94,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,71}}</string>
                <key>sourceSize</key>
                <string>{96,71}</string>
            </dict>
            <key>004055.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,82},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>004056.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,564},{82,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>004057.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,495},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>004058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{74,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>004059.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,485},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>004060.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,493},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>004061.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,567},{84,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{84,79}</string>
            </dict>
            <key>004062.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,255},{98,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>004063.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,158},{96,73}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,73}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>004064.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,327},{92,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,74}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>004065.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>004066.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,421},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>004067.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,431},{86,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>004068.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,183},{102,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,85}}</string>
                <key>sourceSize</key>
                <string>{104,85}</string>
            </dict>
            <key>004069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,87}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>004070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{98,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,79}}</string>
                <key>sourceSize</key>
                <string>{100,79}</string>
            </dict>
            <key>004071.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{108,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,73}}</string>
                <key>sourceSize</key>
                <string>{108,73}</string>
            </dict>
            <key>004072.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,268},{92,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>004073.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>004074.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,174},{92,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>004075.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>004076.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,247},{84,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,98}}</string>
                <key>sourceSize</key>
                <string>{84,98}</string>
            </dict>
            <key>004077.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,333},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>004078.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,341},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>004079.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,158},{94,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>004080.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,419},{80,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,86}</string>
            </dict>
            <key>004081.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,567},{62,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>004082.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,468},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>004083.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,89},{92,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,103}}</string>
                <key>sourceSize</key>
                <string>{92,103}</string>
            </dict>
            <key>004084.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,403},{88,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>004085.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,330},{78,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>004086.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,449},{78,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>004087.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,631},{82,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,67}}</string>
                <key>sourceSize</key>
                <string>{84,67}</string>
            </dict>
            <key>004088.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,563},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>004089.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,85}}</string>
                <key>sourceSize</key>
                <string>{116,85}</string>
            </dict>
            <key>004090.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,431},{82,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>004091.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,478},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>004092.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,558},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>004093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{82,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>004094.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,85},{100,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,71}}</string>
                <key>sourceSize</key>
                <string>{100,71}</string>
            </dict>
            <key>004095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,78}}</string>
                <key>sourceSize</key>
                <string>{120,78}</string>
            </dict>
            <key>004096.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,76},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{104,85}</string>
            </dict>
            <key>004097.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,248},{94,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>004098.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,349},{88,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{88,68}</string>
            </dict>
            <key>004099.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,158},{58,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,86}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e100b15122524ebe63e6ce86f112e2e5:1/1$</string>
            <key>textureFileName</key>
            <string>hum4.png</string>
        </dict>
    </dict>
</plist>
