<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>041016.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,604},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>041017.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,604},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>041018.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,563},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>041019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>115016.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,285},{178,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,163}}</string>
                <key>sourceSize</key>
                <string>{180,163}</string>
            </dict>
            <key>115017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{178,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,163}}</string>
                <key>sourceSize</key>
                <string>{180,163}</string>
            </dict>
            <key>115018.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,120},{178,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,163}}</string>
                <key>sourceSize</key>
                <string>{180,163}</string>
            </dict>
            <key>115019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{178,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,163}}</string>
                <key>sourceSize</key>
                <string>{180,163}</string>
            </dict>
            <key>116016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{168,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,114}}</string>
                <key>sourceSize</key>
                <string>{168,114}</string>
            </dict>
            <key>116017.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,172},{168,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,114}}</string>
                <key>sourceSize</key>
                <string>{168,114}</string>
            </dict>
            <key>116018.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{168,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,114}}</string>
                <key>sourceSize</key>
                <string>{168,114}</string>
            </dict>
            <key>116019.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,172},{168,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,114}}</string>
                <key>sourceSize</key>
                <string>{168,114}</string>
            </dict>
            <key>117016.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,530},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>117017.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,560},{70,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>117018.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,530},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>117019.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,559},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>118016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{162,194}}</string>
                <key>sourceSize</key>
                <string>{208,230}</string>
            </dict>
            <key>118017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{162,194}}</string>
                <key>sourceSize</key>
                <string>{208,230}</string>
            </dict>
            <key>118018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{162,194}}</string>
                <key>sourceSize</key>
                <string>{208,230}</string>
            </dict>
            <key>118019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,194}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{162,194}}</string>
                <key>sourceSize</key>
                <string>{208,230}</string>
            </dict>
            <key>119016.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,480},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>119017.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,450},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>119018.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,480},{82,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{84,77}</string>
            </dict>
            <key>119019.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,450},{84,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,78}}</string>
                <key>sourceSize</key>
                <string>{84,78}</string>
            </dict>
            <key>220016.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{116,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,181}}</string>
                <key>sourceSize</key>
                <string>{116,181}</string>
            </dict>
            <key>220017.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{116,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,181}}</string>
                <key>sourceSize</key>
                <string>{116,181}</string>
            </dict>
            <key>220018.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{116,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,181}}</string>
                <key>sourceSize</key>
                <string>{116,181}</string>
            </dict>
            <key>220019.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{116,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,181}}</string>
                <key>sourceSize</key>
                <string>{116,181}</string>
            </dict>
            <key>221016.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,342},{140,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>221017.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,342},{140,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>221018.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,342},{140,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>221019.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,342},{140,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>222016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{150,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>222017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{150,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>222018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{150,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>222019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{150,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum41.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39c5f9da08af429c3c22e7e88c4c6878:1/1$</string>
            <key>textureFileName</key>
            <string>hum41.png</string>
        </dict>
    </dict>
</plist>
