<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>059064.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1367},{174,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,178}}</string>
                <key>sourceSize</key>
                <string>{176,178}</string>
            </dict>
            <key>059065.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1467},{172,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,174}}</string>
                <key>sourceSize</key>
                <string>{172,174}</string>
            </dict>
            <key>059066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1315},{176,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,168}}</string>
                <key>sourceSize</key>
                <string>{176,168}</string>
            </dict>
            <key>059067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1172},{184,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,167}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>059068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{240,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,178}}</string>
                <key>sourceSize</key>
                <string>{240,178}</string>
            </dict>
            <key>059069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1138},{236,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,175}}</string>
                <key>sourceSize</key>
                <string>{236,175}</string>
            </dict>
            <key>059070.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1159},{236,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,173}}</string>
                <key>sourceSize</key>
                <string>{236,173}</string>
            </dict>
            <key>059071.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,985},{244,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,172}}</string>
                <key>sourceSize</key>
                <string>{244,172}</string>
            </dict>
            <key>059072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,985},{252,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,171}}</string>
                <key>sourceSize</key>
                <string>{252,171}</string>
            </dict>
            <key>059073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,811},{252,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,172}}</string>
                <key>sourceSize</key>
                <string>{252,172}</string>
            </dict>
            <key>059074.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,455},{182,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,206}}</string>
                <key>sourceSize</key>
                <string>{184,206}</string>
            </dict>
            <key>059075.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,247},{182,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,206}}</string>
                <key>sourceSize</key>
                <string>{184,206}</string>
            </dict>
            <key>059076.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1181},{176,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,212}}</string>
                <key>sourceSize</key>
                <string>{176,212}</string>
            </dict>
            <key>059077.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,849},{172,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,215}}</string>
                <key>sourceSize</key>
                <string>{172,215}</string>
            </dict>
            <key>059078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{180,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,210}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>059079.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1504},{186,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,207}}</string>
                <key>sourceSize</key>
                <string>{188,207}</string>
            </dict>
            <key>059080.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,922},{118,220}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,220}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>059081.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1023},{156,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,221}}</string>
                <key>sourceSize</key>
                <string>{156,221}</string>
            </dict>
            <key>059082.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,481},{280,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,218}}</string>
                <key>sourceSize</key>
                <string>{280,218}</string>
            </dict>
            <key>059083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{402,223}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,223}}</string>
                <key>sourceSize</key>
                <string>{404,223}</string>
            </dict>
            <key>059084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{396,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,290}}</string>
                <key>sourceSize</key>
                <string>{396,290}</string>
            </dict>
            <key>059085.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{440,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,243}}</string>
                <key>sourceSize</key>
                <string>{440,243}</string>
            </dict>
            <key>059086.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1543},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,202}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>059087.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1543},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,202}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>059088.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1158},{184,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,198}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>059089.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,524},{228,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,202}}</string>
                <key>sourceSize</key>
                <string>{228,202}</string>
            </dict>
            <key>059090.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1359},{206,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,209}}</string>
                <key>sourceSize</key>
                <string>{208,209}</string>
            </dict>
            <key>059091.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,247},{302,238}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,238}}</string>
                <key>sourceSize</key>
                <string>{304,238}</string>
            </dict>
            <key>059092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{246,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,174}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>059093.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1334},{236,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,168}}</string>
                <key>sourceSize</key>
                <string>{236,168}</string>
            </dict>
            <key>059094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,992},{236,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,178}}</string>
                <key>sourceSize</key>
                <string>{236,178}</string>
            </dict>
            <key>059095.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,747},{236,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,247}}</string>
                <key>sourceSize</key>
                <string>{236,247}</string>
            </dict>
            <key>059096.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,701},{260,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,200}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>059097.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,487},{286,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,258}}</string>
                <key>sourceSize</key>
                <string>{288,258}</string>
            </dict>
            <key>059098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,1333},{198,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,173}}</string>
                <key>sourceSize</key>
                <string>{200,173}</string>
            </dict>
            <key>059099.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1731},{202,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,170}}</string>
                <key>sourceSize</key>
                <string>{204,170}</string>
            </dict>
            <key>059100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,776},{252,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,190}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>059101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{206,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,174}}</string>
                <key>sourceSize</key>
                <string>{208,174}</string>
            </dict>
            <key>059102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,294},{278,285}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,285}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
            <key>059103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,220},{330,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,216}}</string>
                <key>sourceSize</key>
                <string>{332,216}</string>
            </dict>
            <key>059104.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,386},{114,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,169}}</string>
                <key>sourceSize</key>
                <string>{116,169}</string>
            </dict>
            <key>059105.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,747},{134,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,173}}</string>
                <key>sourceSize</key>
                <string>{136,173}</string>
            </dict>
            <key>059106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,438},{270,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,179}}</string>
                <key>sourceSize</key>
                <string>{272,179}</string>
            </dict>
            <key>059107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,968},{238,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,168}}</string>
                <key>sourceSize</key>
                <string>{240,168}</string>
            </dict>
            <key>059108.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{398,237}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,237}}</string>
                <key>sourceSize</key>
                <string>{400,237}</string>
            </dict>
            <key>059109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,157}}</string>
                <key>sourceSize</key>
                <string>{448,157}</string>
            </dict>
            <key>059110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,1158},{198,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,173}}</string>
                <key>sourceSize</key>
                <string>{200,173}</string>
            </dict>
            <key>059111.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1731},{202,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,170}}</string>
                <key>sourceSize</key>
                <string>{204,170}</string>
            </dict>
            <key>059112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,619},{252,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,190}}</string>
                <key>sourceSize</key>
                <string>{252,190}</string>
            </dict>
            <key>059113.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1159},{206,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,174}}</string>
                <key>sourceSize</key>
                <string>{208,174}</string>
            </dict>
            <key>059114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{278,285}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,285}}</string>
                <key>sourceSize</key>
                <string>{280,285}</string>
            </dict>
            <key>059115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,2},{330,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,216}}</string>
                <key>sourceSize</key>
                <string>{332,216}</string>
            </dict>
            <key>059116.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,903},{246,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,174}}</string>
                <key>sourceSize</key>
                <string>{248,174}</string>
            </dict>
            <key>059117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{236,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,168}}</string>
                <key>sourceSize</key>
                <string>{236,168}</string>
            </dict>
            <key>059118.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1079},{236,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,178}}</string>
                <key>sourceSize</key>
                <string>{236,178}</string>
            </dict>
            <key>059119.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,574},{260,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,200}}</string>
                <key>sourceSize</key>
                <string>{260,200}</string>
            </dict>
            <key>059120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,754},{236,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,247}}</string>
                <key>sourceSize</key>
                <string>{236,247}</string>
            </dict>
            <key>059121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{286,258}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,258}}</string>
                <key>sourceSize</key>
                <string>{288,258}</string>
            </dict>
            <key>059122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{180,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,206}}</string>
                <key>sourceSize</key>
                <string>{180,206}</string>
            </dict>
            <key>059123.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1816},{186,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,202}}</string>
                <key>sourceSize</key>
                <string>{188,202}</string>
            </dict>
            <key>059124.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,663},{184,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,198}}</string>
                <key>sourceSize</key>
                <string>{184,198}</string>
            </dict>
            <key>059125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,294},{228,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,202}}</string>
                <key>sourceSize</key>
                <string>{228,202}</string>
            </dict>
            <key>059126.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1259},{206,209}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,209}}</string>
                <key>sourceSize</key>
                <string>{208,209}</string>
            </dict>
            <key>059127.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,241},{302,238}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,238}}</string>
                <key>sourceSize</key>
                <string>{304,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum59_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1e648075a008d3eb92afbcdb384ac37:1/1$</string>
            <key>textureFileName</key>
            <string>hum59_1.png</string>
        </dict>
    </dict>
</plist>
