<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>057000.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,690},{318,332}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,332}}</string>
                <key>sourceSize</key>
                <string>{320,332}</string>
            </dict>
            <key>057001.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,690},{318,331}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,331}}</string>
                <key>sourceSize</key>
                <string>{320,331}</string>
            </dict>
            <key>057002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,322},{318,352}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,352}}</string>
                <key>sourceSize</key>
                <string>{320,352}</string>
            </dict>
            <key>057003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,370},{318,346}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,346}}</string>
                <key>sourceSize</key>
                <string>{320,346}</string>
            </dict>
            <key>057004.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{318,366}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,366}}</string>
                <key>sourceSize</key>
                <string>{320,366}</string>
            </dict>
            <key>057005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{318,385}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,385}}</string>
                <key>sourceSize</key>
                <string>{320,385}</string>
            </dict>
            <key>057006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,385}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,385}}</string>
                <key>sourceSize</key>
                <string>{320,385}</string>
            </dict>
            <key>057007.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,373}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,373}}</string>
                <key>sourceSize</key>
                <string>{320,373}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum57.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c2e3c05f2708c452ba2bee2840b9d54:1/1$</string>
            <key>textureFileName</key>
            <string>hum57.png</string>
        </dict>
    </dict>
</plist>
