<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>052000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{236,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,161}}</string>
                <key>sourceSize</key>
                <string>{236,161}</string>
            </dict>
            <key>052001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,337},{238,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>052002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,331},{238,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>052003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,165},{236,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,160}}</string>
                <key>sourceSize</key>
                <string>{236,160}</string>
            </dict>
            <key>052004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,808},{204,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,191}}</string>
                <key>sourceSize</key>
                <string>{204,191}</string>
            </dict>
            <key>052005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{204,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,191}}</string>
                <key>sourceSize</key>
                <string>{204,191}</string>
            </dict>
            <key>052006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,989},{204,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,191}}</string>
                <key>sourceSize</key>
                <string>{204,191}</string>
            </dict>
            <key>052007.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,851},{204,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,191}}</string>
                <key>sourceSize</key>
                <string>{204,191}</string>
            </dict>
            <key>052008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,490},{140,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,212}}</string>
                <key>sourceSize</key>
                <string>{140,212}</string>
            </dict>
            <key>052009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,469},{140,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,212}}</string>
                <key>sourceSize</key>
                <string>{140,212}</string>
            </dict>
            <key>052010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,348},{140,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,212}}</string>
                <key>sourceSize</key>
                <string>{140,212}</string>
            </dict>
            <key>052011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,327},{140,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,212}}</string>
                <key>sourceSize</key>
                <string>{140,212}</string>
            </dict>
            <key>052012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1044},{196,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,194}}</string>
                <key>sourceSize</key>
                <string>{196,194}</string>
            </dict>
            <key>052013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,1006},{196,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,193}}</string>
                <key>sourceSize</key>
                <string>{196,193}</string>
            </dict>
            <key>052014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1195},{196,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,193}}</string>
                <key>sourceSize</key>
                <string>{196,193}</string>
            </dict>
            <key>052015.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1182},{196,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,193}}</string>
                <key>sourceSize</key>
                <string>{196,193}</string>
            </dict>
            <key>052016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{236,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,169}}</string>
                <key>sourceSize</key>
                <string>{236,169}</string>
            </dict>
            <key>052017.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,174},{234,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,168}}</string>
                <key>sourceSize</key>
                <string>{236,168}</string>
            </dict>
            <key>052018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{236,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,168}}</string>
                <key>sourceSize</key>
                <string>{236,168}</string>
            </dict>
            <key>052019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,173},{234,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,168}}</string>
                <key>sourceSize</key>
                <string>{236,168}</string>
            </dict>
            <key>052020.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1226},{192,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,193}}</string>
                <key>sourceSize</key>
                <string>{192,193}</string>
            </dict>
            <key>052021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1096},{192,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,193}}</string>
                <key>sourceSize</key>
                <string>{192,193}</string>
            </dict>
            <key>052022.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1229},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>052023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1199},{192,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,195}}</string>
                <key>sourceSize</key>
                <string>{192,195}</string>
            </dict>
            <key>052024.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,490},{152,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,221}}</string>
                <key>sourceSize</key>
                <string>{152,221}</string>
            </dict>
            <key>052025.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,344},{152,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,221}}</string>
                <key>sourceSize</key>
                <string>{152,221}</string>
            </dict>
            <key>052026.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,336},{152,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,221}}</string>
                <key>sourceSize</key>
                <string>{152,221}</string>
            </dict>
            <key>052027.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,493},{152,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,220}}</string>
                <key>sourceSize</key>
                <string>{152,220}</string>
            </dict>
            <key>052028.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,783},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>052029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,632},{202,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>052030.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,647},{202,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>052031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{204,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,203}}</string>
                <key>sourceSize</key>
                <string>{204,203}</string>
            </dict>
            <key>052032.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{246,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,163}}</string>
                <key>sourceSize</key>
                <string>{248,163}</string>
            </dict>
            <key>052033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,343},{234,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,164}}</string>
                <key>sourceSize</key>
                <string>{236,164}</string>
            </dict>
            <key>052034.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,174},{238,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,161}}</string>
                <key>sourceSize</key>
                <string>{240,161}</string>
            </dict>
            <key>052035.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{244,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,161}}</string>
                <key>sourceSize</key>
                <string>{244,161}</string>
            </dict>
            <key>052036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{238,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>052037.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,167},{242,162}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,162}}</string>
                <key>sourceSize</key>
                <string>{244,162}</string>
            </dict>
            <key>052038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,509},{208,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,186}}</string>
                <key>sourceSize</key>
                <string>{208,186}</string>
            </dict>
            <key>052039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,836},{204,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,187}}</string>
                <key>sourceSize</key>
                <string>{204,187}</string>
            </dict>
            <key>052040.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,833},{204,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,193}}</string>
                <key>sourceSize</key>
                <string>{204,193}</string>
            </dict>
            <key>052041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,697},{204,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,199}}</string>
                <key>sourceSize</key>
                <string>{204,199}</string>
            </dict>
            <key>052042.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,839},{204,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,192}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>052043.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,644},{206,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,193}}</string>
                <key>sourceSize</key>
                <string>{208,193}</string>
            </dict>
            <key>052044.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,643},{138,214}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,214}}</string>
                <key>sourceSize</key>
                <string>{140,214}</string>
            </dict>
            <key>052045.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,498},{138,213}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,213}}</string>
                <key>sourceSize</key>
                <string>{140,213}</string>
            </dict>
            <key>052046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{142,213}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,213}}</string>
                <key>sourceSize</key>
                <string>{144,213}</string>
            </dict>
            <key>052047.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,499},{142,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,216}}</string>
                <key>sourceSize</key>
                <string>{144,216}</string>
            </dict>
            <key>052048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,469},{138,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,212}}</string>
                <key>sourceSize</key>
                <string>{140,212}</string>
            </dict>
            <key>052049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{140,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,215}}</string>
                <key>sourceSize</key>
                <string>{140,215}</string>
            </dict>
            <key>052050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,898},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>052051.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1028},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>052052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1001},{198,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,196}}</string>
                <key>sourceSize</key>
                <string>{200,196}</string>
            </dict>
            <key>052053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,611},{208,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,195}}</string>
                <key>sourceSize</key>
                <string>{208,195}</string>
            </dict>
            <key>052054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,808},{198,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,196}}</string>
                <key>sourceSize</key>
                <string>{200,196}</string>
            </dict>
            <key>052055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1025},{196,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,197}}</string>
                <key>sourceSize</key>
                <string>{196,197}</string>
            </dict>
            <key>052056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,173}}</string>
                <key>sourceSize</key>
                <string>{248,173}</string>
            </dict>
            <key>052057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,172},{234,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,174}}</string>
                <key>sourceSize</key>
                <string>{236,174}</string>
            </dict>
            <key>052058.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{242,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,170}}</string>
                <key>sourceSize</key>
                <string>{244,170}</string>
            </dict>
            <key>052059.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,170}}</string>
                <key>sourceSize</key>
                <string>{248,170}</string>
            </dict>
            <key>052060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{236,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,170}}</string>
                <key>sourceSize</key>
                <string>{236,170}</string>
            </dict>
            <key>052061.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,165},{242,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,169}}</string>
                <key>sourceSize</key>
                <string>{244,169}</string>
            </dict>
            <key>052062.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,638},{206,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,193}}</string>
                <key>sourceSize</key>
                <string>{208,193}</string>
            </dict>
            <key>052063.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1033},{196,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,194}}</string>
                <key>sourceSize</key>
                <string>{196,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum52.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b56ccf19d6be9efdbc8315db6d0a1ace:1/1$</string>
            <key>textureFileName</key>
            <string>hum52.png</string>
        </dict>
    </dict>
</plist>
