<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>052064.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1323},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>052065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1635},{188,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,195}}</string>
                <key>sourceSize</key>
                <string>{188,195}</string>
            </dict>
            <key>052066.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1447},{190,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,196}}</string>
                <key>sourceSize</key>
                <string>{192,196}</string>
            </dict>
            <key>052067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1825},{194,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{196,194}</string>
            </dict>
            <key>052068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,958},{154,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,222}}</string>
                <key>sourceSize</key>
                <string>{156,222}</string>
            </dict>
            <key>052069.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,810},{154,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,217}}</string>
                <key>sourceSize</key>
                <string>{156,217}</string>
            </dict>
            <key>052070.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,735},{154,221}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,221}}</string>
                <key>sourceSize</key>
                <string>{156,221}</string>
            </dict>
            <key>052071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,719},{158,225}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,225}}</string>
                <key>sourceSize</key>
                <string>{160,225}</string>
            </dict>
            <key>052072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{152,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,221}}</string>
                <key>sourceSize</key>
                <string>{152,221}</string>
            </dict>
            <key>052073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,893},{154,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,222}}</string>
                <key>sourceSize</key>
                <string>{156,222}</string>
            </dict>
            <key>052074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,954},{202,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,207}}</string>
                <key>sourceSize</key>
                <string>{204,207}</string>
            </dict>
            <key>052075.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1117},{204,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>052076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1246},{206,205}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,205}}</string>
                <key>sourceSize</key>
                <string>{208,205}</string>
            </dict>
            <key>052077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1114},{206,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{208,206}</string>
            </dict>
            <key>052078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>052079.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,966},{204,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>052080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{258,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,154}}</string>
                <key>sourceSize</key>
                <string>{260,154}</string>
            </dict>
            <key>052081.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{308,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,166}}</string>
                <key>sourceSize</key>
                <string>{308,166}</string>
            </dict>
            <key>052082.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,170},{282,199}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,199}}</string>
                <key>sourceSize</key>
                <string>{284,199}</string>
            </dict>
            <key>052083.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,188},{246,215}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,215}}</string>
                <key>sourceSize</key>
                <string>{248,215}</string>
            </dict>
            <key>052084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,164},{248,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,178}}</string>
                <key>sourceSize</key>
                <string>{248,178}</string>
            </dict>
            <key>052085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,339},{242,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,172}}</string>
                <key>sourceSize</key>
                <string>{244,172}</string>
            </dict>
            <key>052086.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1070},{182,203}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,203}}</string>
                <key>sourceSize</key>
                <string>{184,203}</string>
            </dict>
            <key>052087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1033},{196,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,217}}</string>
                <key>sourceSize</key>
                <string>{196,217}</string>
            </dict>
            <key>052088.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{300,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,163}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>052089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{280,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,168}}</string>
                <key>sourceSize</key>
                <string>{280,168}</string>
            </dict>
            <key>052090.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,627},{226,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,181}}</string>
                <key>sourceSize</key>
                <string>{228,181}</string>
            </dict>
            <key>052091.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,879},{208,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,189}}</string>
                <key>sourceSize</key>
                <string>{208,189}</string>
            </dict>
            <key>052092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,599},{160,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,215}}</string>
                <key>sourceSize</key>
                <string>{160,215}</string>
            </dict>
            <key>052093.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,723},{184,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,221}}</string>
                <key>sourceSize</key>
                <string>{184,221}</string>
            </dict>
            <key>052094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,513},{204,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,226}}</string>
                <key>sourceSize</key>
                <string>{204,226}</string>
            </dict>
            <key>052095.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,909},{214,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,206}}</string>
                <key>sourceSize</key>
                <string>{216,206}</string>
            </dict>
            <key>052096.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1103},{152,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,214}}</string>
                <key>sourceSize</key>
                <string>{152,214}</string>
            </dict>
            <key>052097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,513},{140,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,212}}</string>
                <key>sourceSize</key>
                <string>{140,212}</string>
            </dict>
            <key>052098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,500},{228,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,195}}</string>
                <key>sourceSize</key>
                <string>{228,195}</string>
            </dict>
            <key>052099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{270,185}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,185}}</string>
                <key>sourceSize</key>
                <string>{272,185}</string>
            </dict>
            <key>052100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{160,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,257}}</string>
                <key>sourceSize</key>
                <string>{160,257}</string>
            </dict>
            <key>052101.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,383},{142,238}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,238}}</string>
                <key>sourceSize</key>
                <string>{144,238}</string>
            </dict>
            <key>052102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,816},{178,211}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,211}}</string>
                <key>sourceSize</key>
                <string>{180,211}</string>
            </dict>
            <key>052103.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1257},{188,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,205}}</string>
                <key>sourceSize</key>
                <string>{188,205}</string>
            </dict>
            <key>052104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,158},{254,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,179}}</string>
                <key>sourceSize</key>
                <string>{256,179}</string>
            </dict>
            <key>052105.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{290,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,184}}</string>
                <key>sourceSize</key>
                <string>{292,184}</string>
            </dict>
            <key>052106.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,167},{284,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,214}}</string>
                <key>sourceSize</key>
                <string>{284,214}</string>
            </dict>
            <key>052107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,372},{228,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,212}}</string>
                <key>sourceSize</key>
                <string>{228,212}</string>
            </dict>
            <key>052108.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,555},{234,178}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,178}}</string>
                <key>sourceSize</key>
                <string>{236,178}</string>
            </dict>
            <key>052109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{234,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,173}}</string>
                <key>sourceSize</key>
                <string>{236,173}</string>
            </dict>
            <key>052110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1029},{188,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,215}}</string>
                <key>sourceSize</key>
                <string>{188,215}</string>
            </dict>
            <key>052111.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,527},{194,235}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,235}}</string>
                <key>sourceSize</key>
                <string>{196,235}</string>
            </dict>
            <key>052112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>sourceSize</key>
                <string>{320,180}</string>
            </dict>
            <key>052113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{280,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,161}}</string>
                <key>sourceSize</key>
                <string>{280,161}</string>
            </dict>
            <key>052114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,768},{226,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,188}}</string>
                <key>sourceSize</key>
                <string>{228,188}</string>
            </dict>
            <key>052115.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1172},{202,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,192}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>052116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,586},{180,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,228}}</string>
                <key>sourceSize</key>
                <string>{180,228}</string>
            </dict>
            <key>052117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,2},{194,249}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,249}}</string>
                <key>sourceSize</key>
                <string>{196,249}</string>
            </dict>
            <key>052118.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,405},{220,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,235}}</string>
                <key>sourceSize</key>
                <string>{220,235}</string>
            </dict>
            <key>052119.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,891},{210,217}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,217}}</string>
                <key>sourceSize</key>
                <string>{212,217}</string>
            </dict>
            <key>052120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,372},{162,225}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,225}}</string>
                <key>sourceSize</key>
                <string>{164,225}</string>
            </dict>
            <key>052121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,727},{152,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,225}}</string>
                <key>sourceSize</key>
                <string>{152,225}</string>
            </dict>
            <key>052122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,697},{226,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,194}}</string>
                <key>sourceSize</key>
                <string>{228,194}</string>
            </dict>
            <key>052123.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,371},{278,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,182}}</string>
                <key>sourceSize</key>
                <string>{280,182}</string>
            </dict>
            <key>052124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,198},{172,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,245}}</string>
                <key>sourceSize</key>
                <string>{172,245}</string>
            </dict>
            <key>052125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,344},{154,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,240}}</string>
                <key>sourceSize</key>
                <string>{156,240}</string>
            </dict>
            <key>052126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1231},{196,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,213}}</string>
                <key>sourceSize</key>
                <string>{196,213}</string>
            </dict>
            <key>052127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1049},{198,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,207}}</string>
                <key>sourceSize</key>
                <string>{200,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum52_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c4fc43ab471f7d0dfbee7e9d67e9ff9:1/1$</string>
            <key>textureFileName</key>
            <string>hum52_1.png</string>
        </dict>
    </dict>
</plist>
