<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>059000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{98,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,224}}</string>
                <key>sourceSize</key>
                <string>{100,224}</string>
            </dict>
            <key>059001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{98,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,224}}</string>
                <key>sourceSize</key>
                <string>{100,224}</string>
            </dict>
            <key>059002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{98,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,224}}</string>
                <key>sourceSize</key>
                <string>{100,224}</string>
            </dict>
            <key>059003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{98,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,224}}</string>
                <key>sourceSize</key>
                <string>{100,224}</string>
            </dict>
            <key>059004.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,558},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>059005.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,558},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>059006.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,558},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>059007.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,558},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>059008.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,185},{240,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,176}</string>
            </dict>
            <key>059009.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,185},{240,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,176}</string>
            </dict>
            <key>059010.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,185},{240,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,176}</string>
            </dict>
            <key>059011.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,185},{240,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,176}</string>
            </dict>
            <key>059012.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,923},{188,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,173}}</string>
                <key>sourceSize</key>
                <string>{188,173}</string>
            </dict>
            <key>059013.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,923},{188,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,173}}</string>
                <key>sourceSize</key>
                <string>{188,173}</string>
            </dict>
            <key>059014.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,923},{188,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,173}}</string>
                <key>sourceSize</key>
                <string>{188,173}</string>
            </dict>
            <key>059015.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,923},{188,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,173}}</string>
                <key>sourceSize</key>
                <string>{188,173}</string>
            </dict>
            <key>059016.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,774},{94,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,168}}</string>
                <key>sourceSize</key>
                <string>{96,168}</string>
            </dict>
            <key>059017.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,774},{94,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,168}}</string>
                <key>sourceSize</key>
                <string>{96,168}</string>
            </dict>
            <key>059018.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,774},{94,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,168}}</string>
                <key>sourceSize</key>
                <string>{96,168}</string>
            </dict>
            <key>059019.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,774},{94,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,168}}</string>
                <key>sourceSize</key>
                <string>{96,168}</string>
            </dict>
            <key>059020.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,839},{188,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,173}}</string>
                <key>sourceSize</key>
                <string>{188,173}</string>
            </dict>
            <key>059021.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,839},{188,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,173}}</string>
                <key>sourceSize</key>
                <string>{188,173}</string>
            </dict>
            <key>059022.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,839},{188,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,173}}</string>
                <key>sourceSize</key>
                <string>{188,173}</string>
            </dict>
            <key>059023.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,839},{188,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,173}}</string>
                <key>sourceSize</key>
                <string>{188,173}</string>
            </dict>
            <key>059024.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,182},{240,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,176}</string>
            </dict>
            <key>059025.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,182},{240,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,176}</string>
            </dict>
            <key>059026.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,182},{240,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,176}</string>
            </dict>
            <key>059027.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,182},{240,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,176}}</string>
                <key>sourceSize</key>
                <string>{240,176}</string>
            </dict>
            <key>059028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>059029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>059030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>059031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{184,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,210}}</string>
                <key>sourceSize</key>
                <string>{184,210}</string>
            </dict>
            <key>059032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{94,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,222}}</string>
                <key>sourceSize</key>
                <string>{96,222}</string>
            </dict>
            <key>059033.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,363},{94,224}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,224}}</string>
                <key>sourceSize</key>
                <string>{96,224}</string>
            </dict>
            <key>059034.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,360},{96,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,224}}</string>
                <key>sourceSize</key>
                <string>{96,224}</string>
            </dict>
            <key>059035.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,357},{94,225}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,225}}</string>
                <key>sourceSize</key>
                <string>{96,225}</string>
            </dict>
            <key>059036.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,453},{94,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,222}}</string>
                <key>sourceSize</key>
                <string>{96,222}</string>
            </dict>
            <key>059037.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,458},{98,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,216}}</string>
                <key>sourceSize</key>
                <string>{100,216}</string>
            </dict>
            <key>059038.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,549},{188,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,210}}</string>
                <key>sourceSize</key>
                <string>{188,210}</string>
            </dict>
            <key>059039.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,459},{194,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,210}}</string>
                <key>sourceSize</key>
                <string>{196,210}</string>
            </dict>
            <key>059040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{184,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,205}}</string>
                <key>sourceSize</key>
                <string>{184,205}</string>
            </dict>
            <key>059041.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,744},{180,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,205}}</string>
                <key>sourceSize</key>
                <string>{180,205}</string>
            </dict>
            <key>059042.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,739},{182,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,206}}</string>
                <key>sourceSize</key>
                <string>{184,206}</string>
            </dict>
            <key>059043.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,655},{182,206}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,206}}</string>
                <key>sourceSize</key>
                <string>{184,206}</string>
            </dict>
            <key>059044.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,172}}</string>
                <key>sourceSize</key>
                <string>{252,172}</string>
            </dict>
            <key>059045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,180}}</string>
                <key>sourceSize</key>
                <string>{252,180}</string>
            </dict>
            <key>059046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{244,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,181}}</string>
                <key>sourceSize</key>
                <string>{244,181}</string>
            </dict>
            <key>059047.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{246,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,181}}</string>
                <key>sourceSize</key>
                <string>{248,181}</string>
            </dict>
            <key>059048.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,176},{246,179}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,179}}</string>
                <key>sourceSize</key>
                <string>{248,179}</string>
            </dict>
            <key>059049.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{240,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,178}}</string>
                <key>sourceSize</key>
                <string>{240,178}</string>
            </dict>
            <key>059050.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1062},{176,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,167}}</string>
                <key>sourceSize</key>
                <string>{176,167}</string>
            </dict>
            <key>059051.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,926},{184,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,167}}</string>
                <key>sourceSize</key>
                <string>{184,167}</string>
            </dict>
            <key>059052.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,870},{190,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,167}}</string>
                <key>sourceSize</key>
                <string>{192,167}</string>
            </dict>
            <key>059053.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1098},{182,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,165}}</string>
                <key>sourceSize</key>
                <string>{184,165}</string>
            </dict>
            <key>059054.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1095},{174,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,164}}</string>
                <key>sourceSize</key>
                <string>{176,164}</string>
            </dict>
            <key>059055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1119},{178,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,175}}</string>
                <key>sourceSize</key>
                <string>{180,175}</string>
            </dict>
            <key>059056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{90,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,161}}</string>
                <key>sourceSize</key>
                <string>{92,161}</string>
            </dict>
            <key>059057.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1192},{92,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,172}}</string>
                <key>sourceSize</key>
                <string>{92,172}</string>
            </dict>
            <key>059058.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1265},{96,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,165}}</string>
                <key>sourceSize</key>
                <string>{96,165}</string>
            </dict>
            <key>059059.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,458},{100,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,158}}</string>
                <key>sourceSize</key>
                <string>{100,158}</string>
            </dict>
            <key>059060.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1231},{104,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,153}}</string>
                <key>sourceSize</key>
                <string>{104,153}</string>
            </dict>
            <key>059061.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,618},{110,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,154}}</string>
                <key>sourceSize</key>
                <string>{112,154}</string>
            </dict>
            <key>059062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{182,186}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,186}}</string>
                <key>sourceSize</key>
                <string>{184,186}</string>
            </dict>
            <key>059063.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1014},{176,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,183}}</string>
                <key>sourceSize</key>
                <string>{176,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum59.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:314fe951a9d20719c026c22c4cad21b8:1/1$</string>
            <key>textureFileName</key>
            <string>hum59.png</string>
        </dict>
    </dict>
</plist>
