<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>005100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{82,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>005101.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,188},{78,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>005102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>005103.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,225},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>005104.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,155},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>005105.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,89}</string>
            </dict>
            <key>005106.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{72,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,85}}</string>
                <key>sourceSize</key>
                <string>{72,85}</string>
            </dict>
            <key>005107.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,136},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>005108.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,146},{78,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,62}}</string>
                <key>sourceSize</key>
                <string>{80,62}</string>
            </dict>
            <key>005109.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>005110.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,141},{60,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>005111.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,60},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>005112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>005113.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,66},{82,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>005114.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,210},{68,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,57}}</string>
                <key>sourceSize</key>
                <string>{68,57}</string>
            </dict>
            <key>005115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{62,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>005116.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,217},{66,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>005117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,66}}</string>
                <key>sourceSize</key>
                <string>{100,66}</string>
            </dict>
            <key>005118.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,75},{78,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>005119.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,76},{58,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>005120.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,343},{54,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{56,61}</string>
            </dict>
            <key>005121.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{52,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,67}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>005122.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,199},{70,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>005123.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{82,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{84,62}</string>
            </dict>
            <key>005124.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{92,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>005125.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,130},{56,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,82}}</string>
                <key>sourceSize</key>
                <string>{56,82}</string>
            </dict>
            <key>005126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{54,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>005127.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,71},{50,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum5_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e3a5746a454faef1bba8d9962d25115:1/1$</string>
            <key>textureFileName</key>
            <string>hum5_1.png</string>
        </dict>
    </dict>
</plist>
