<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>006148.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,193},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>006149.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,81},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>006150.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,76},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006151.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,312},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>006152.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,387},{62,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>006153.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,312},{66,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>006154.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,80},{62,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>006155.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,287},{64,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>006156.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,355},{66,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>006157.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,159},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>006158.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>006159.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{66,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>006160.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,275},{66,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>006161.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{62,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,89}}</string>
                <key>sourceSize</key>
                <string>{64,89}</string>
            </dict>
            <key>006162.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,380},{74,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>006163.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,435},{70,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>006164.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,233},{62,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>006165.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,76},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006166.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,236},{74,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>006167.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{66,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>006168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{64,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>006169.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,388},{66,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>006170.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,150},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>006171.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>006172.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,157},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>006173.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{80,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{80,93}</string>
            </dict>
            <key>006174.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,94}</string>
            </dict>
            <key>006175.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{62,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum6_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67a830e47ccfd30cc7d5c757aea96b51:1/1$</string>
            <key>textureFileName</key>
            <string>hum6_1.png</string>
        </dict>
    </dict>
</plist>
