<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>006000.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,841},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,76},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>006002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,318},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>006003.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,76},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>006005.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,153},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>006006.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,244},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>006007.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,342},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>006008.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,839},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>006009.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,915},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>006010.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>006011.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,912},{58,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>006012.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,74},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>006013.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,147},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>006014.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,221},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>006015.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,295},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>006016.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,75},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>006017.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,416},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>006018.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,150},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>006019.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,500},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>006020.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,766},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>006021.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,528},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>006022.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,616},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>006023.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,691},{56,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,73}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>006024.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,717},{50,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>006025.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,789},{50,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>006026.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,861},{50,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>006027.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,789},{50,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>006028.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,717},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>006029.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,645},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>006030.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,372},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>006031.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>006032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{58,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>006033.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,941},{62,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>006034.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,461},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>006035.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,289},{66,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>006036.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,865},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>006037.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,373},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>006038.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,789},{70,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>006039.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,691},{66,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>006040.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,189},{66,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>006041.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,547},{74,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>006042.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,79},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006043.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,170},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006044.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>006045.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,391},{70,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>006046.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,223},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>006047.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{88,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,69}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
            <key>006048.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,573},{70,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>006049.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,300},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>006050.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,92},{76,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,70}}</string>
                <key>sourceSize</key>
                <string>{76,70}</string>
            </dict>
            <key>006051.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,535},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>006052.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,268},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006053.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,489},{70,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>006054.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,789},{66,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>006055.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,541},{66,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>006056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{66,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>006057.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,860},{66,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>006058.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,352},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006059.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,704},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>006060.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,930},{62,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>006061.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,603},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006062.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,704},{62,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>006063.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,463},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>006064.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,855},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>006065.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,149},{66,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>006066.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,775},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>006067.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,765},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>006068.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,861},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>006069.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,932},{54,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>006070.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>006071.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,933},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>006072.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,704},{54,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{56,69}</string>
            </dict>
            <key>006073.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,561},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>006074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,631},{66,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>006075.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,930},{66,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>006076.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,453},{62,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>006077.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,942},{64,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,74}}</string>
                <key>sourceSize</key>
                <string>{64,74}</string>
            </dict>
            <key>006078.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,426},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>006079.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,273},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>006128.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,227},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>006129.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,780},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>006130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>006131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,95}}</string>
                <key>sourceSize</key>
                <string>{84,95}</string>
            </dict>
            <key>006132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>006133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>006134.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,616},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>006135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>006136.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,189},{62,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{64,82}</string>
            </dict>
            <key>006137.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,99},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>006138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{94,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
            <key>006139.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>006140.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,704},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>006141.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,627},{66,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>006142.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,377},{82,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>006143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>006144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{86,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>006145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{74,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{76,73}</string>
            </dict>
            <key>006146.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,645},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>006147.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,633},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:168e234ac90d4f2ef3a75fd0f49fb36e:1/1$</string>
            <key>textureFileName</key>
            <string>hum6.png</string>
        </dict>
    </dict>
</plist>
