<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>007148.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,79},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>007149.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,245},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>007150.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,260},{62,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>007151.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,166},{56,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,77}}</string>
                <key>sourceSize</key>
                <string>{56,77}</string>
            </dict>
            <key>007152.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>007153.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,178},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>007154.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,358},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{52,80}</string>
            </dict>
            <key>007155.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,275},{68,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>007156.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>007157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>007158.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>007159.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,82},{58,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>007160.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,86},{66,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>007161.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,190},{60,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,83}}</string>
                <key>sourceSize</key>
                <string>{60,83}</string>
            </dict>
            <key>007162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,93}}</string>
                <key>sourceSize</key>
                <string>{60,93}</string>
            </dict>
            <key>007163.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{72,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>007164.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,339},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>007165.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,440},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>007166.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,441},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>007167.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{66,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>007168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{70,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,91}}</string>
                <key>sourceSize</key>
                <string>{72,91}</string>
            </dict>
            <key>007169.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,94},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>007170.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,415},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>007171.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,160},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>007172.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>007173.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>007174.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>007175.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,358},{62,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum7_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f17b1a2470c2785541fa7076c68a685c:1/1$</string>
            <key>textureFileName</key>
            <string>hum7_1.png</string>
        </dict>
    </dict>
</plist>
