<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>021000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,373},{208,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,139}}</string>
                <key>sourceSize</key>
                <string>{208,139}</string>
            </dict>
            <key>021001.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,361},{206,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,143}}</string>
                <key>sourceSize</key>
                <string>{208,143}</string>
            </dict>
            <key>021002.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,352},{208,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,141}}</string>
                <key>sourceSize</key>
                <string>{208,141}</string>
            </dict>
            <key>021003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,329},{208,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,140}}</string>
                <key>sourceSize</key>
                <string>{208,140}</string>
            </dict>
            <key>021004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,882},{180,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,182}}</string>
                <key>sourceSize</key>
                <string>{180,182}</string>
            </dict>
            <key>021005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{186,177}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,177}}</string>
                <key>sourceSize</key>
                <string>{188,177}</string>
            </dict>
            <key>021006.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,827},{184,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,175}}</string>
                <key>sourceSize</key>
                <string>{184,175}</string>
            </dict>
            <key>021007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{178,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,176}}</string>
                <key>sourceSize</key>
                <string>{180,176}</string>
            </dict>
            <key>021008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,609},{130,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,196}}</string>
                <key>sourceSize</key>
                <string>{132,196}</string>
            </dict>
            <key>021009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,612},{128,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,195}}</string>
                <key>sourceSize</key>
                <string>{128,195}</string>
            </dict>
            <key>021010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,598},{134,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,194}}</string>
                <key>sourceSize</key>
                <string>{136,194}</string>
            </dict>
            <key>021011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,734},{132,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,195}}</string>
                <key>sourceSize</key>
                <string>{132,195}</string>
            </dict>
            <key>021012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,989},{174,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,190}}</string>
                <key>sourceSize</key>
                <string>{176,190}</string>
            </dict>
            <key>021013.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,534},{174,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,188}}</string>
                <key>sourceSize</key>
                <string>{176,188}</string>
            </dict>
            <key>021014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,741},{160,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,192}}</string>
                <key>sourceSize</key>
                <string>{160,192}</string>
            </dict>
            <key>021015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,648},{166,193}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,193}}</string>
                <key>sourceSize</key>
                <string>{168,193}</string>
            </dict>
            <key>021016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{214,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,159}}</string>
                <key>sourceSize</key>
                <string>{216,159}</string>
            </dict>
            <key>021017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{212,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,160}}</string>
                <key>sourceSize</key>
                <string>{212,160}</string>
            </dict>
            <key>021018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,166},{210,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,161}}</string>
                <key>sourceSize</key>
                <string>{212,161}</string>
            </dict>
            <key>021019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,2},{212,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,162}}</string>
                <key>sourceSize</key>
                <string>{212,162}</string>
            </dict>
            <key>021020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{212,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,186}}</string>
                <key>sourceSize</key>
                <string>{212,186}</string>
            </dict>
            <key>021021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{216,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,191}}</string>
                <key>sourceSize</key>
                <string>{216,191}</string>
            </dict>
            <key>021022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,188}}</string>
                <key>sourceSize</key>
                <string>{220,188}</string>
            </dict>
            <key>021023.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{218,184}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,184}}</string>
                <key>sourceSize</key>
                <string>{220,184}</string>
            </dict>
            <key>021024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,903},{164,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,190}}</string>
                <key>sourceSize</key>
                <string>{164,190}</string>
            </dict>
            <key>021025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,1032},{168,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,189}}</string>
                <key>sourceSize</key>
                <string>{168,189}</string>
            </dict>
            <key>021026.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,653},{172,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>021027.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,710},{170,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,188}}</string>
                <key>sourceSize</key>
                <string>{172,188}</string>
            </dict>
            <key>021028.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,353},{212,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,179}}</string>
                <key>sourceSize</key>
                <string>{212,179}</string>
            </dict>
            <key>021029.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,168},{216,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,182}}</string>
                <key>sourceSize</key>
                <string>{216,182}</string>
            </dict>
            <key>021030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{210,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,176}}</string>
                <key>sourceSize</key>
                <string>{212,176}</string>
            </dict>
            <key>021031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,195},{208,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,176}}</string>
                <key>sourceSize</key>
                <string>{208,176}</string>
            </dict>
            <key>021032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,471},{200,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,139}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>021033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,325},{204,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,139}}</string>
                <key>sourceSize</key>
                <string>{204,139}</string>
            </dict>
            <key>021034.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,495},{204,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,146}}</string>
                <key>sourceSize</key>
                <string>{204,146}</string>
            </dict>
            <key>021035.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,506},{204,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,145}}</string>
                <key>sourceSize</key>
                <string>{204,145}</string>
            </dict>
            <key>021036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,180},{204,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,143}}</string>
                <key>sourceSize</key>
                <string>{204,143}</string>
            </dict>
            <key>021037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,333},{202,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,138}}</string>
                <key>sourceSize</key>
                <string>{204,138}</string>
            </dict>
            <key>021038.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,884},{182,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,175}}</string>
                <key>sourceSize</key>
                <string>{184,175}</string>
            </dict>
            <key>021039.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1061},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>021040.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,775},{176,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,185}}</string>
                <key>sourceSize</key>
                <string>{176,185}</string>
            </dict>
            <key>021041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{172,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,181}}</string>
                <key>sourceSize</key>
                <string>{172,181}</string>
            </dict>
            <key>021042.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,816},{168,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,178}}</string>
                <key>sourceSize</key>
                <string>{168,178}</string>
            </dict>
            <key>021043.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,953},{172,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,174}}</string>
                <key>sourceSize</key>
                <string>{172,174}</string>
            </dict>
            <key>021044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,466},{130,197}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,197}}</string>
                <key>sourceSize</key>
                <string>{132,197}</string>
            </dict>
            <key>021045.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,643},{130,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,198}}</string>
                <key>sourceSize</key>
                <string>{132,198}</string>
            </dict>
            <key>021046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,598},{134,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,196}}</string>
                <key>sourceSize</key>
                <string>{136,196}</string>
            </dict>
            <key>021047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,794},{132,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,193}}</string>
                <key>sourceSize</key>
                <string>{132,193}</string>
            </dict>
            <key>021048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,473},{134,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,196}}</string>
                <key>sourceSize</key>
                <string>{136,196}</string>
            </dict>
            <key>021049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,514},{132,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,198}}</string>
                <key>sourceSize</key>
                <string>{132,198}</string>
            </dict>
            <key>021050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,1165},{160,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,189}}</string>
                <key>sourceSize</key>
                <string>{160,189}</string>
            </dict>
            <key>021051.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,714},{168,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,188}}</string>
                <key>sourceSize</key>
                <string>{168,188}</string>
            </dict>
            <key>021052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{174,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,188}}</string>
                <key>sourceSize</key>
                <string>{176,188}</string>
            </dict>
            <key>021053.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,534},{178,188}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,188}}</string>
                <key>sourceSize</key>
                <string>{180,188}</string>
            </dict>
            <key>021054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,742},{166,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,191}}</string>
                <key>sourceSize</key>
                <string>{168,191}</string>
            </dict>
            <key>021055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,868},{162,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,191}}</string>
                <key>sourceSize</key>
                <string>{164,191}</string>
            </dict>
            <key>021056.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{218,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,164}}</string>
                <key>sourceSize</key>
                <string>{220,164}</string>
            </dict>
            <key>021057.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{218,166}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,166}}</string>
                <key>sourceSize</key>
                <string>{220,166}</string>
            </dict>
            <key>021058.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,188},{214,163}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,163}}</string>
                <key>sourceSize</key>
                <string>{216,163}</string>
            </dict>
            <key>021059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,164},{210,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,167}}</string>
                <key>sourceSize</key>
                <string>{212,167}</string>
            </dict>
            <key>021060.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,172},{214,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,169}}</string>
                <key>sourceSize</key>
                <string>{216,169}</string>
            </dict>
            <key>021061.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{218,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,168}}</string>
                <key>sourceSize</key>
                <string>{220,168}</string>
            </dict>
            <key>021062.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,343},{212,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,189}}</string>
                <key>sourceSize</key>
                <string>{212,189}</string>
            </dict>
            <key>021063.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,170},{214,189}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,189}}</string>
                <key>sourceSize</key>
                <string>{216,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum7.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:588f57983e259870021a7fd1fa419eec:1/1$</string>
            <key>textureFileName</key>
            <string>hum7.png</string>
        </dict>
    </dict>
</plist>
