<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>008000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,307},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>008001.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,336},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>008002.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,280},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>008003.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,300},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>008004.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,238},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>008005.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,296},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>008006.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,288},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>008007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{60,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,77}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>008008.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,482},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>008009.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,441},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>008010.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,439},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>008011.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,406},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>008012.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,468},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>008013.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,464},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>008014.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,456},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>008015.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,460},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>008016.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,426},{66,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>008017.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,420},{66,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>008018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>008019.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,414},{66,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>008020.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,404},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>008021.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,346},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>008022.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,344},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>008023.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,344},{58,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>008024.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,406},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>008025.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,402},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>008026.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,521},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>008027.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,494},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>008028.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,212},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>008029.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,289},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>008030.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,274},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>008031.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,218},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>008032.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{66,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>008033.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{66,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>008034.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,86},{66,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>008035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{66,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>008036.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,165},{66,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,85}}</string>
                <key>sourceSize</key>
                <string>{68,85}</string>
            </dict>
            <key>008037.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>008038.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,233},{82,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>008039.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{74,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,87}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>008040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{72,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,88}}</string>
                <key>sourceSize</key>
                <string>{72,88}</string>
            </dict>
            <key>008041.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{82,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>008042.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,206},{78,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{80,83}</string>
            </dict>
            <key>008043.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,78},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>008044.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{90,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{92,71}</string>
            </dict>
            <key>008045.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{82,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>008046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{82,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>008047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>008048.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,218},{76,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>008049.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,75},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>008050.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,156},{78,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>008051.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{82,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>008052.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,233},{78,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>008053.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{82,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,71}}</string>
                <key>sourceSize</key>
                <string>{84,71}</string>
            </dict>
            <key>008054.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,366},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>008055.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,74},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>008056.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,206},{66,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>008057.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,530},{66,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>008058.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,455},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>008059.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,136},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>008060.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,526},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>008061.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,373},{66,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>008062.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,501},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>008063.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,544},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>008064.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,351},{70,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>008065.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,274},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>008066.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,522},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>008067.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,488},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>008068.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,212},{66,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>008069.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,350},{62,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>008070.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,423},{62,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>008071.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,503},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>008072.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,569},{58,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>008073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{62,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>008074.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,70},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>008075.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,142},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>008076.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,152},{58,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>008077.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,70},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>008078.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,154},{62,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>008079.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,70},{70,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,87}}</string>
                <key>sourceSize</key>
                <string>{72,87}</string>
            </dict>
            <key>008128.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,206},{62,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>008129.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,358},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>008130.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,138},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>008131.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>008132.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,75},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>008133.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,286},{70,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>008134.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,150},{66,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>008135.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,136},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>008136.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,74},{62,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>008137.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{66,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,81}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>008138.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{84,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,81}}</string>
                <key>sourceSize</key>
                <string>{84,81}</string>
            </dict>
            <key>008139.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,84},{76,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>008140.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,385},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>008141.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,358},{66,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>008142.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,270},{72,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,75}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>008143.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,315},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{68,77}</string>
            </dict>
            <key>008144.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,162},{78,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>008145.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,212},{78,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>008146.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,520},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>008147.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,487},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f708b5589e5a0ce59b4d32c25ae6c8a3:1/1$</string>
            <key>textureFileName</key>
            <string>hum8.png</string>
        </dict>
    </dict>
</plist>
