<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>097088.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,913},{126,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,213}}</string>
                <key>sourceSize</key>
                <string>{126,213}</string>
            </dict>
            <key>097089.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,440},{140,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,209}}</string>
                <key>sourceSize</key>
                <string>{140,209}</string>
            </dict>
            <key>097090.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,942},{140,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,218}}</string>
                <key>sourceSize</key>
                <string>{140,218}</string>
            </dict>
            <key>097091.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,470},{152,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,225}}</string>
                <key>sourceSize</key>
                <string>{152,225}</string>
            </dict>
            <key>097092.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1399},{95,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,217}}</string>
                <key>sourceSize</key>
                <string>{95,217}</string>
            </dict>
            <key>097093.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1621},{101,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,217}}</string>
                <key>sourceSize</key>
                <string>{101,217}</string>
            </dict>
            <key>097094.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1162},{105,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,215}}</string>
                <key>sourceSize</key>
                <string>{105,215}</string>
            </dict>
            <key>097095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,236}}</string>
                <key>sourceSize</key>
                <string>{112,236}</string>
            </dict>
            <key>097096.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{114,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,227}}</string>
                <key>sourceSize</key>
                <string>{114,227}</string>
            </dict>
            <key>097097.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{99,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,228}}</string>
                <key>sourceSize</key>
                <string>{99,228}</string>
            </dict>
            <key>097098.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1529},{132,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,187}}</string>
                <key>sourceSize</key>
                <string>{132,187}</string>
            </dict>
            <key>097099.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1236},{133,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,181}}</string>
                <key>sourceSize</key>
                <string>{133,181}</string>
            </dict>
            <key>097100.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1719},{135,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,187}}</string>
                <key>sourceSize</key>
                <string>{135,187}</string>
            </dict>
            <key>097101.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,204},{135,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,199}}</string>
                <key>sourceSize</key>
                <string>{135,199}</string>
            </dict>
            <key>097102.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,216},{139,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,209}}</string>
                <key>sourceSize</key>
                <string>{139,209}</string>
            </dict>
            <key>097103.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1836},{152,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,209}}</string>
                <key>sourceSize</key>
                <string>{152,209}</string>
            </dict>
            <key>097104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,1170},{163,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,161}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>097105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,942},{163,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,158}}</string>
                <key>sourceSize</key>
                <string>{163,158}</string>
            </dict>
            <key>097106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,566},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>097107.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1192},{164,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,172}}</string>
                <key>sourceSize</key>
                <string>{164,172}</string>
            </dict>
            <key>097108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{150,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,178}}</string>
                <key>sourceSize</key>
                <string>{150,178}</string>
            </dict>
            <key>097109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,386},{178,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,175}}</string>
                <key>sourceSize</key>
                <string>{178,175}</string>
            </dict>
            <key>097110.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1718},{123,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,187}}</string>
                <key>sourceSize</key>
                <string>{123,187}</string>
            </dict>
            <key>097111.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1270},{122,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,187}}</string>
                <key>sourceSize</key>
                <string>{122,187}</string>
            </dict>
            <key>097112.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1753},{126,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,190}}</string>
                <key>sourceSize</key>
                <string>{126,190}</string>
            </dict>
            <key>097113.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1074},{137,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,194}}</string>
                <key>sourceSize</key>
                <string>{137,194}</string>
            </dict>
            <key>097114.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,870},{140,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,202}}</string>
                <key>sourceSize</key>
                <string>{140,202}</string>
            </dict>
            <key>097115.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1128},{152,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,202}}</string>
                <key>sourceSize</key>
                <string>{152,202}</string>
            </dict>
            <key>097116.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,713},{95,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,227}}</string>
                <key>sourceSize</key>
                <string>{95,227}</string>
            </dict>
            <key>097117.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1133},{101,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,214}}</string>
                <key>sourceSize</key>
                <string>{101,214}</string>
            </dict>
            <key>097118.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,226},{105,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,214}}</string>
                <key>sourceSize</key>
                <string>{105,214}</string>
            </dict>
            <key>097119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{112,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,227}}</string>
                <key>sourceSize</key>
                <string>{112,227}</string>
            </dict>
            <key>097120.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1178},{114,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,219}}</string>
                <key>sourceSize</key>
                <string>{114,219}</string>
            </dict>
            <key>097121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{99,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,220}}</string>
                <key>sourceSize</key>
                <string>{99,220}</string>
            </dict>
            <key>097122.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1554},{132,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,197}}</string>
                <key>sourceSize</key>
                <string>{132,197}</string>
            </dict>
            <key>097123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{133,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,197}}</string>
                <key>sourceSize</key>
                <string>{133,197}</string>
            </dict>
            <key>097124.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{135,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,209}}</string>
                <key>sourceSize</key>
                <string>{135,209}</string>
            </dict>
            <key>097125.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1840},{135,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,203}}</string>
                <key>sourceSize</key>
                <string>{135,203}</string>
            </dict>
            <key>097126.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,442},{139,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,212}}</string>
                <key>sourceSize</key>
                <string>{139,212}</string>
            </dict>
            <key>097127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{152,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,219}}</string>
                <key>sourceSize</key>
                <string>{152,219}</string>
            </dict>
            <key>097128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,998},{165,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,170}}</string>
                <key>sourceSize</key>
                <string>{165,170}</string>
            </dict>
            <key>097129.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1419},{159,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,176}}</string>
                <key>sourceSize</key>
                <string>{159,176}</string>
            </dict>
            <key>097130.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1010},{169,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,180}}</string>
                <key>sourceSize</key>
                <string>{169,180}</string>
            </dict>
            <key>097131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,201},{163,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,183}}</string>
                <key>sourceSize</key>
                <string>{163,183}</string>
            </dict>
            <key>097132.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,817},{151,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,179}}</string>
                <key>sourceSize</key>
                <string>{151,179}</string>
            </dict>
            <key>097133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,591},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>097134.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1349},{129,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,203}}</string>
                <key>sourceSize</key>
                <string>{129,203}</string>
            </dict>
            <key>097135.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{125,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,200}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>097136.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{131,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,212}}</string>
                <key>sourceSize</key>
                <string>{131,212}</string>
            </dict>
            <key>097137.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,651},{136,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,202}}</string>
                <key>sourceSize</key>
                <string>{136,202}</string>
            </dict>
            <key>097138.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1618},{140,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,216}}</string>
                <key>sourceSize</key>
                <string>{140,216}</string>
            </dict>
            <key>097139.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,240},{155,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,228}}</string>
                <key>sourceSize</key>
                <string>{155,228}</string>
            </dict>
            <key>097140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{88,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,234}}</string>
                <key>sourceSize</key>
                <string>{88,234}</string>
            </dict>
            <key>097141.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,478},{97,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,233}}</string>
                <key>sourceSize</key>
                <string>{97,233}</string>
            </dict>
            <key>097142.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1379},{100,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,215}}</string>
                <key>sourceSize</key>
                <string>{100,215}</string>
            </dict>
            <key>097143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{111,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,236}}</string>
                <key>sourceSize</key>
                <string>{111,236}</string>
            </dict>
            <key>097144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1621},{113,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,217}}</string>
                <key>sourceSize</key>
                <string>{113,217}</string>
            </dict>
            <key>097145.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,231},{100,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,223}}</string>
                <key>sourceSize</key>
                <string>{100,223}</string>
            </dict>
            <key>097146.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,629},{132,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,191}}</string>
                <key>sourceSize</key>
                <string>{132,191}</string>
            </dict>
            <key>097147.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,629},{125,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,186}}</string>
                <key>sourceSize</key>
                <string>{125,186}</string>
            </dict>
            <key>097148.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1048},{131,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,186}}</string>
                <key>sourceSize</key>
                <string>{131,186}</string>
            </dict>
            <key>097149.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1908},{137,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,185}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>097150.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,855},{139,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,191}}</string>
                <key>sourceSize</key>
                <string>{139,191}</string>
            </dict>
            <key>097151.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,427},{151,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,200}}</string>
                <key>sourceSize</key>
                <string>{151,200}</string>
            </dict>
            <key>097152.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1597},{165,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,159}}</string>
                <key>sourceSize</key>
                <string>{165,159}</string>
            </dict>
            <key>097153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,736},{159,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,161}}</string>
                <key>sourceSize</key>
                <string>{159,161}</string>
            </dict>
            <key>097154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,771},{169,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,161}}</string>
                <key>sourceSize</key>
                <string>{169,161}</string>
            </dict>
            <key>097155.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1366},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>097156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,367},{151,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,168}}</string>
                <key>sourceSize</key>
                <string>{151,168}</string>
            </dict>
            <key>097157.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,187},{178,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,173}}</string>
                <key>sourceSize</key>
                <string>{178,173}</string>
            </dict>
            <key>097158.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,822},{129,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,186}}</string>
                <key>sourceSize</key>
                <string>{129,186}</string>
            </dict>
            <key>097159.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{126,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,183}}</string>
                <key>sourceSize</key>
                <string>{126,183}</string>
            </dict>
            <key>097160.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,405},{131,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,184}}</string>
                <key>sourceSize</key>
                <string>{131,184}</string>
            </dict>
            <key>097161.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1907},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>097162.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1529},{140,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,188}}</string>
                <key>sourceSize</key>
                <string>{140,188}</string>
            </dict>
            <key>097163.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1332},{154,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,195}}</string>
                <key>sourceSize</key>
                <string>{154,195}</string>
            </dict>
            <key>097164.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,672},{88,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,213}}</string>
                <key>sourceSize</key>
                <string>{88,213}</string>
            </dict>
            <key>097165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{97,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,233}}</string>
                <key>sourceSize</key>
                <string>{97,233}</string>
            </dict>
            <key>097166.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,656},{100,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,212}}</string>
                <key>sourceSize</key>
                <string>{100,212}</string>
            </dict>
            <key>097167.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,456},{111,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,214}}</string>
                <key>sourceSize</key>
                <string>{111,214}</string>
            </dict>
            <key>097168.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,697},{113,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,214}}</string>
                <key>sourceSize</key>
                <string>{113,214}</string>
            </dict>
            <key>097169.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,697},{100,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,218}}</string>
                <key>sourceSize</key>
                <string>{100,218}</string>
            </dict>
            <key>097170.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,213},{129,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,200}}</string>
                <key>sourceSize</key>
                <string>{129,200}</string>
            </dict>
            <key>097171.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{125,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,200}}</string>
                <key>sourceSize</key>
                <string>{125,200}</string>
            </dict>
            <key>097172.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,226},{131,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,212}}</string>
                <key>sourceSize</key>
                <string>{131,212}</string>
            </dict>
            <key>097173.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1840},{136,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,206}}</string>
                <key>sourceSize</key>
                <string>{136,206}</string>
            </dict>
            <key>097174.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,917},{139,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,214}}</string>
                <key>sourceSize</key>
                <string>{139,214}</string>
            </dict>
            <key>097175.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{152,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,222}}</string>
                <key>sourceSize</key>
                <string>{152,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum97_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fd1d26a6ad238b9f2e7070fe6e0cbda:1/1$</string>
            <key>textureFileName</key>
            <string>hum97_1.png</string>
        </dict>
    </dict>
</plist>
