<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>097000.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1373},{165,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>097001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{168,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,175}}</string>
                <key>sourceSize</key>
                <string>{168,175}</string>
            </dict>
            <key>097002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,563},{175,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{175,180}</string>
            </dict>
            <key>097003.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1190},{179,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,181}}</string>
                <key>sourceSize</key>
                <string>{179,181}</string>
            </dict>
            <key>097004.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1538},{128,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,201}}</string>
                <key>sourceSize</key>
                <string>{128,201}</string>
            </dict>
            <key>097005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,638},{129,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,203}}</string>
                <key>sourceSize</key>
                <string>{129,203}</string>
            </dict>
            <key>097006.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1123},{133,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,211}}</string>
                <key>sourceSize</key>
                <string>{133,211}</string>
            </dict>
            <key>097007.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,215},{138,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,205}}</string>
                <key>sourceSize</key>
                <string>{138,205}</string>
            </dict>
            <key>097008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{87,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,228}}</string>
                <key>sourceSize</key>
                <string>{87,228}</string>
            </dict>
            <key>097009.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1764},{93,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,211}}</string>
                <key>sourceSize</key>
                <string>{93,211}</string>
            </dict>
            <key>097010.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,887},{96,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,210}}</string>
                <key>sourceSize</key>
                <string>{96,210}</string>
            </dict>
            <key>097011.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1336},{101,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,210}}</string>
                <key>sourceSize</key>
                <string>{101,210}</string>
            </dict>
            <key>097012.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,396},{129,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,186}}</string>
                <key>sourceSize</key>
                <string>{129,186}</string>
            </dict>
            <key>097013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{130,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,183}}</string>
                <key>sourceSize</key>
                <string>{130,183}</string>
            </dict>
            <key>097014.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,1622},{135,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,182}}</string>
                <key>sourceSize</key>
                <string>{135,182}</string>
            </dict>
            <key>097015.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,769},{138,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,181}}</string>
                <key>sourceSize</key>
                <string>{138,181}</string>
            </dict>
            <key>097016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,544},{165,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,158}}</string>
                <key>sourceSize</key>
                <string>{165,158}</string>
            </dict>
            <key>097017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,922},{168,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,158}}</string>
                <key>sourceSize</key>
                <string>{168,158}</string>
            </dict>
            <key>097018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,555},{175,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,158}}</string>
                <key>sourceSize</key>
                <string>{175,158}</string>
            </dict>
            <key>097019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{179,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,159}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>097020.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{128,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,188}}</string>
                <key>sourceSize</key>
                <string>{128,188}</string>
            </dict>
            <key>097021.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{130,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,184}}</string>
                <key>sourceSize</key>
                <string>{130,184}</string>
            </dict>
            <key>097022.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1005},{141,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,183}}</string>
                <key>sourceSize</key>
                <string>{141,183}</string>
            </dict>
            <key>097023.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1438},{138,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,182}}</string>
                <key>sourceSize</key>
                <string>{138,182}</string>
            </dict>
            <key>097024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{88,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,212}}</string>
                <key>sourceSize</key>
                <string>{88,212}</string>
            </dict>
            <key>097025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1764},{93,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,211}}</string>
                <key>sourceSize</key>
                <string>{93,211}</string>
            </dict>
            <key>097026.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{96,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,211}}</string>
                <key>sourceSize</key>
                <string>{96,211}</string>
            </dict>
            <key>097027.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,216},{101,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,211}}</string>
                <key>sourceSize</key>
                <string>{101,211}</string>
            </dict>
            <key>097028.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1755},{129,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,201}}</string>
                <key>sourceSize</key>
                <string>{129,201}</string>
            </dict>
            <key>097029.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,856},{130,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,204}}</string>
                <key>sourceSize</key>
                <string>{130,204}</string>
            </dict>
            <key>097030.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{135,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,212}}</string>
                <key>sourceSize</key>
                <string>{135,212}</string>
            </dict>
            <key>097031.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,429},{138,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,207}}</string>
                <key>sourceSize</key>
                <string>{138,207}</string>
            </dict>
            <key>097032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{165,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>097033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,368},{169,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,174}}</string>
                <key>sourceSize</key>
                <string>{169,174}</string>
            </dict>
            <key>097034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,187},{174,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,179}}</string>
                <key>sourceSize</key>
                <string>{174,179}</string>
            </dict>
            <key>097035.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1741},{170,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,183}}</string>
                <key>sourceSize</key>
                <string>{170,183}</string>
            </dict>
            <key>097036.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1684},{155,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,182}}</string>
                <key>sourceSize</key>
                <string>{155,182}</string>
            </dict>
            <key>097037.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,626},{188,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,179}}</string>
                <key>sourceSize</key>
                <string>{188,179}</string>
            </dict>
            <key>097038.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{127,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,202}}</string>
                <key>sourceSize</key>
                <string>{127,202}</string>
            </dict>
            <key>097039.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1099},{131,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,204}}</string>
                <key>sourceSize</key>
                <string>{131,204}</string>
            </dict>
            <key>097040.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1337},{134,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,211}}</string>
                <key>sourceSize</key>
                <string>{134,211}</string>
            </dict>
            <key>097041.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,422},{139,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,202}}</string>
                <key>sourceSize</key>
                <string>{139,202}</string>
            </dict>
            <key>097042.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,219},{140,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,212}}</string>
                <key>sourceSize</key>
                <string>{140,212}</string>
            </dict>
            <key>097043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{151,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,219}}</string>
                <key>sourceSize</key>
                <string>{151,219}</string>
            </dict>
            <key>097044.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,459},{89,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,213}}</string>
                <key>sourceSize</key>
                <string>{89,213}</string>
            </dict>
            <key>097045.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1550},{92,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,211}}</string>
                <key>sourceSize</key>
                <string>{92,211}</string>
            </dict>
            <key>097046.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,646},{97,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,208}}</string>
                <key>sourceSize</key>
                <string>{97,208}</string>
            </dict>
            <key>097047.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,433},{109,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,211}}</string>
                <key>sourceSize</key>
                <string>{109,211}</string>
            </dict>
            <key>097048.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,674},{119,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,211}}</string>
                <key>sourceSize</key>
                <string>{119,211}</string>
            </dict>
            <key>097049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{106,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,214}}</string>
                <key>sourceSize</key>
                <string>{106,214}</string>
            </dict>
            <key>097050.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,843},{132,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,189}}</string>
                <key>sourceSize</key>
                <string>{132,189}</string>
            </dict>
            <key>097051.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,603},{132,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,186}}</string>
                <key>sourceSize</key>
                <string>{132,186}</string>
            </dict>
            <key>097052.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1806},{134,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,182}}</string>
                <key>sourceSize</key>
                <string>{134,182}</string>
            </dict>
            <key>097053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,188},{135,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,183}}</string>
                <key>sourceSize</key>
                <string>{135,183}</string>
            </dict>
            <key>097054.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,378},{138,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,183}}</string>
                <key>sourceSize</key>
                <string>{138,183}</string>
            </dict>
            <key>097055.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,206},{146,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,188}}</string>
                <key>sourceSize</key>
                <string>{146,188}</string>
            </dict>
            <key>097056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,732},{165,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,159}}</string>
                <key>sourceSize</key>
                <string>{165,159}</string>
            </dict>
            <key>097057.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1129},{169,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,161}}</string>
                <key>sourceSize</key>
                <string>{169,161}</string>
            </dict>
            <key>097058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,745},{175,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>097059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,179},{172,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,163}}</string>
                <key>sourceSize</key>
                <string>{172,163}</string>
            </dict>
            <key>097060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,353},{155,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,164}}</string>
                <key>sourceSize</key>
                <string>{155,164}</string>
            </dict>
            <key>097061.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,413},{188,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,163}}</string>
                <key>sourceSize</key>
                <string>{188,163}</string>
            </dict>
            <key>097062.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1305},{127,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,192}}</string>
                <key>sourceSize</key>
                <string>{127,192}</string>
            </dict>
            <key>097063.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,816},{131,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,187}}</string>
                <key>sourceSize</key>
                <string>{131,187}</string>
            </dict>
            <key>097064.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,192},{134,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,184}}</string>
                <key>sourceSize</key>
                <string>{134,184}</string>
            </dict>
            <key>097065.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,584},{139,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,183}}</string>
                <key>sourceSize</key>
                <string>{139,183}</string>
            </dict>
            <key>097066.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,791},{140,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,183}}</string>
                <key>sourceSize</key>
                <string>{140,183}</string>
            </dict>
            <key>097067.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1062},{146,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,189}}</string>
                <key>sourceSize</key>
                <string>{146,189}</string>
            </dict>
            <key>097068.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{89,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,215}}</string>
                <key>sourceSize</key>
                <string>{89,215}</string>
            </dict>
            <key>097069.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,692},{92,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,213}}</string>
                <key>sourceSize</key>
                <string>{92,213}</string>
            </dict>
            <key>097070.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1120},{97,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,210}}</string>
                <key>sourceSize</key>
                <string>{97,210}</string>
            </dict>
            <key>097071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1123},{109,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,212}}</string>
                <key>sourceSize</key>
                <string>{109,212}</string>
            </dict>
            <key>097072.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,907},{119,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,211}}</string>
                <key>sourceSize</key>
                <string>{119,211}</string>
            </dict>
            <key>097073.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,241},{106,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,216}}</string>
                <key>sourceSize</key>
                <string>{106,216}</string>
            </dict>
            <key>097074.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,209},{130,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,202}}</string>
                <key>sourceSize</key>
                <string>{130,202}</string>
            </dict>
            <key>097075.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1332},{132,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,204}}</string>
                <key>sourceSize</key>
                <string>{132,204}</string>
            </dict>
            <key>097076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{135,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,213}}</string>
                <key>sourceSize</key>
                <string>{135,213}</string>
            </dict>
            <key>097077.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{136,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,205}}</string>
                <key>sourceSize</key>
                <string>{136,205}</string>
            </dict>
            <key>097078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1551},{138,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,211}}</string>
                <key>sourceSize</key>
                <string>{138,211}</string>
            </dict>
            <key>097079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,237}}</string>
                <key>sourceSize</key>
                <string>{152,237}</string>
            </dict>
            <key>097080.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,952},{163,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,175}}</string>
                <key>sourceSize</key>
                <string>{163,175}</string>
            </dict>
            <key>097081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,373},{163,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,180}}</string>
                <key>sourceSize</key>
                <string>{163,180}</string>
            </dict>
            <key>097082.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1499},{167,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,183}}</string>
                <key>sourceSize</key>
                <string>{167,183}</string>
            </dict>
            <key>097083.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1253},{163,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,183}}</string>
                <key>sourceSize</key>
                <string>{163,183}</string>
            </dict>
            <key>097084.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,976},{151,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,181}}</string>
                <key>sourceSize</key>
                <string>{151,181}</string>
            </dict>
            <key>097085.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1868},{178,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,179}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>097086.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1763},{123,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,205}}</string>
                <key>sourceSize</key>
                <string>{123,205}</string>
            </dict>
            <key>097087.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1548},{121,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,205}}</string>
                <key>sourceSize</key>
                <string>{121,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum97.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c8c5175fd47e8abd54b4f897d3e3422:1/1$</string>
            <key>textureFileName</key>
            <string>hum97.png</string>
        </dict>
    </dict>
</plist>
