<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>092000.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{214,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,158}}</string>
                <key>sourceSize</key>
                <string>{214,158}</string>
            </dict>
            <key>092001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{222,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,144}}</string>
                <key>sourceSize</key>
                <string>{222,144}</string>
            </dict>
            <key>092002.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1806},{207,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,143}}</string>
                <key>sourceSize</key>
                <string>{207,143}</string>
            </dict>
            <key>092003.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,672},{213,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,140}}</string>
                <key>sourceSize</key>
                <string>{213,140}</string>
            </dict>
            <key>092004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,228},{158,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,224}}</string>
                <key>sourceSize</key>
                <string>{158,224}</string>
            </dict>
            <key>092005.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1629},{161,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,220}}</string>
                <key>sourceSize</key>
                <string>{161,220}</string>
            </dict>
            <key>092006.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1537},{157,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,186}}</string>
                <key>sourceSize</key>
                <string>{157,186}</string>
            </dict>
            <key>092007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,783},{159,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,169}}</string>
                <key>sourceSize</key>
                <string>{159,169}</string>
            </dict>
            <key>092008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{108,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,224}}</string>
                <key>sourceSize</key>
                <string>{108,224}</string>
            </dict>
            <key>092009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1406},{103,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,222}}</string>
                <key>sourceSize</key>
                <string>{103,222}</string>
            </dict>
            <key>092010.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1725},{101,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,185}}</string>
                <key>sourceSize</key>
                <string>{101,185}</string>
            </dict>
            <key>092011.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1725},{107,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,185}}</string>
                <key>sourceSize</key>
                <string>{107,185}</string>
            </dict>
            <key>092012.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{158,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,192}}</string>
                <key>sourceSize</key>
                <string>{158,192}</string>
            </dict>
            <key>092013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,954},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>092014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1725},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,160}}</string>
                <key>sourceSize</key>
                <string>{158,160}</string>
            </dict>
            <key>092015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,169},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>092016.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1139},{214,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,151}}</string>
                <key>sourceSize</key>
                <string>{214,151}</string>
            </dict>
            <key>092017.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,919},{218,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,145}}</string>
                <key>sourceSize</key>
                <string>{218,145}</string>
            </dict>
            <key>092018.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,213},{208,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,143}}</string>
                <key>sourceSize</key>
                <string>{208,143}</string>
            </dict>
            <key>092019.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,917},{213,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,143}}</string>
                <key>sourceSize</key>
                <string>{213,143}</string>
            </dict>
            <key>092020.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,211},{158,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,192}}</string>
                <key>sourceSize</key>
                <string>{158,192}</string>
            </dict>
            <key>092021.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1085},{161,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,190}}</string>
                <key>sourceSize</key>
                <string>{161,190}</string>
            </dict>
            <key>092022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,359},{157,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,161}}</string>
                <key>sourceSize</key>
                <string>{157,161}</string>
            </dict>
            <key>092023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2},{159,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,160}}</string>
                <key>sourceSize</key>
                <string>{159,160}</string>
            </dict>
            <key>092024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{108,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,224}}</string>
                <key>sourceSize</key>
                <string>{108,224}</string>
            </dict>
            <key>092025.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1277},{103,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,186}}</string>
                <key>sourceSize</key>
                <string>{103,186}</string>
            </dict>
            <key>092026.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1028},{101,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,186}}</string>
                <key>sourceSize</key>
                <string>{101,186}</string>
            </dict>
            <key>092027.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1277},{107,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,186}}</string>
                <key>sourceSize</key>
                <string>{107,186}</string>
            </dict>
            <key>092028.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{158,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,224}}</string>
                <key>sourceSize</key>
                <string>{158,224}</string>
            </dict>
            <key>092029.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,641},{162,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,193}}</string>
                <key>sourceSize</key>
                <string>{162,193}</string>
            </dict>
            <key>092030.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,405},{157,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,189}}</string>
                <key>sourceSize</key>
                <string>{157,189}</string>
            </dict>
            <key>092031.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,997},{160,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,172}}</string>
                <key>sourceSize</key>
                <string>{160,172}</string>
            </dict>
            <key>092032.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,228},{215,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,158}}</string>
                <key>sourceSize</key>
                <string>{215,158}</string>
            </dict>
            <key>092033.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1182},{222,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,143}}</string>
                <key>sourceSize</key>
                <string>{222,143}</string>
            </dict>
            <key>092034.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1355},{207,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,142}}</string>
                <key>sourceSize</key>
                <string>{207,142}</string>
            </dict>
            <key>092035.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1564},{202,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,141}}</string>
                <key>sourceSize</key>
                <string>{202,141}</string>
            </dict>
            <key>092036.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1216},{178,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,140}}</string>
                <key>sourceSize</key>
                <string>{178,140}</string>
            </dict>
            <key>092037.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,940},{219,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,173}}</string>
                <key>sourceSize</key>
                <string>{219,173}</string>
            </dict>
            <key>092038.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,713},{159,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,225}}</string>
                <key>sourceSize</key>
                <string>{159,225}</string>
            </dict>
            <key>092039.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1630},{161,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,221}}</string>
                <key>sourceSize</key>
                <string>{161,221}</string>
            </dict>
            <key>092040.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1768},{157,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,186}}</string>
                <key>sourceSize</key>
                <string>{157,186}</string>
            </dict>
            <key>092041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,385},{153,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,166}}</string>
                <key>sourceSize</key>
                <string>{153,166}</string>
            </dict>
            <key>092042.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,431},{150,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,208}}</string>
                <key>sourceSize</key>
                <string>{150,208}</string>
            </dict>
            <key>092043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{162,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,238}}</string>
                <key>sourceSize</key>
                <string>{162,238}</string>
            </dict>
            <key>092044.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,245},{110,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,225}}</string>
                <key>sourceSize</key>
                <string>{110,225}</string>
            </dict>
            <key>092045.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,698},{102,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,219}}</string>
                <key>sourceSize</key>
                <string>{102,219}</string>
            </dict>
            <key>092046.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,445},{100,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,212}}</string>
                <key>sourceSize</key>
                <string>{100,212}</string>
            </dict>
            <key>092047.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1912},{117,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,184}}</string>
                <key>sourceSize</key>
                <string>{117,184}</string>
            </dict>
            <key>092048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,196},{138,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{138,187}</string>
            </dict>
            <key>092049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{120,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,230}}</string>
                <key>sourceSize</key>
                <string>{120,230}</string>
            </dict>
            <key>092050.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1851},{161,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,194}}</string>
                <key>sourceSize</key>
                <string>{161,194}</string>
            </dict>
            <key>092051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{161,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,165}}</string>
                <key>sourceSize</key>
                <string>{161,165}</string>
            </dict>
            <key>092052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1563},{158,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,160}}</string>
                <key>sourceSize</key>
                <string>{158,160}</string>
            </dict>
            <key>092053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1171},{153,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,163}}</string>
                <key>sourceSize</key>
                <string>{153,163}</string>
            </dict>
            <key>092054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1396},{150,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,165}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>092055.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,836},{154,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,190}}</string>
                <key>sourceSize</key>
                <string>{154,190}</string>
            </dict>
            <key>092056.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1381},{214,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,155}}</string>
                <key>sourceSize</key>
                <string>{214,155}</string>
            </dict>
            <key>092057.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1161},{218,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,156}}</string>
                <key>sourceSize</key>
                <string>{218,156}</string>
            </dict>
            <key>092058.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1597},{207,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,145}}</string>
                <key>sourceSize</key>
                <string>{207,145}</string>
            </dict>
            <key>092059.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1132},{202,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,148}}</string>
                <key>sourceSize</key>
                <string>{202,148}</string>
            </dict>
            <key>092060.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1465},{178,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,148}}</string>
                <key>sourceSize</key>
                <string>{178,148}</string>
            </dict>
            <key>092061.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,698},{217,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,148}}</string>
                <key>sourceSize</key>
                <string>{217,148}</string>
            </dict>
            <key>092062.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,887},{158,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,196}}</string>
                <key>sourceSize</key>
                <string>{158,196}</string>
            </dict>
            <key>092063.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,423},{161,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,193}}</string>
                <key>sourceSize</key>
                <string>{161,193}</string>
            </dict>
            <key>092064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,767},{158,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,162}}</string>
                <key>sourceSize</key>
                <string>{158,162}</string>
            </dict>
            <key>092065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,553},{153,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,162}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>092066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1645},{150,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,165}}</string>
                <key>sourceSize</key>
                <string>{150,165}</string>
            </dict>
            <key>092067.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,618},{153,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,190}}</string>
                <key>sourceSize</key>
                <string>{153,190}</string>
            </dict>
            <key>092068.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,485},{110,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,226}}</string>
                <key>sourceSize</key>
                <string>{110,226}</string>
            </dict>
            <key>092069.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1406},{102,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,221}}</string>
                <key>sourceSize</key>
                <string>{102,221}</string>
            </dict>
            <key>092070.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1912},{100,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,185}}</string>
                <key>sourceSize</key>
                <string>{100,185}</string>
            </dict>
            <key>092071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,596},{117,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,185}}</string>
                <key>sourceSize</key>
                <string>{117,185}</string>
            </dict>
            <key>092072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,2},{137,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,187}}</string>
                <key>sourceSize</key>
                <string>{137,187}</string>
            </dict>
            <key>092073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{120,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,233}}</string>
                <key>sourceSize</key>
                <string>{120,233}</string>
            </dict>
            <key>092074.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,472},{162,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,224}}</string>
                <key>sourceSize</key>
                <string>{162,224}</string>
            </dict>
            <key>092075.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1853},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>092076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1858},{157,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,187}}</string>
                <key>sourceSize</key>
                <string>{157,187}</string>
            </dict>
            <key>092077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,596},{153,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,169}}</string>
                <key>sourceSize</key>
                <string>{153,169}</string>
            </dict>
            <key>092078.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{150,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,207}}</string>
                <key>sourceSize</key>
                <string>{150,207}</string>
            </dict>
            <key>092079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,241}}</string>
                <key>sourceSize</key>
                <string>{164,241}</string>
            </dict>
            <key>092080.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,218},{211,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,164}}</string>
                <key>sourceSize</key>
                <string>{211,164}</string>
            </dict>
            <key>092081.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,454},{216,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,166}}</string>
                <key>sourceSize</key>
                <string>{216,166}</string>
            </dict>
            <key>092082.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1336},{199,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,144}}</string>
                <key>sourceSize</key>
                <string>{199,144}</string>
            </dict>
            <key>092083.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,810},{185,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,141}}</string>
                <key>sourceSize</key>
                <string>{185,141}</string>
            </dict>
            <key>092084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,191},{166,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,140}}</string>
                <key>sourceSize</key>
                <string>{166,140}</string>
            </dict>
            <key>092085.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{209,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,179}}</string>
                <key>sourceSize</key>
                <string>{209,179}</string>
            </dict>
            <key>092086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{153,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,228}}</string>
                <key>sourceSize</key>
                <string>{153,228}</string>
            </dict>
            <key>092087.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{142,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,224}}</string>
                <key>sourceSize</key>
                <string>{142,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum92.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6bb5cc847657d5d64cbb6a82aa93bac:1/1$</string>
            <key>textureFileName</key>
            <string>hum92.png</string>
        </dict>
    </dict>
</plist>
