<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>091088.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,390},{141,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,180}}</string>
                <key>sourceSize</key>
                <string>{141,180}</string>
            </dict>
            <key>091089.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{145,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,184}}</string>
                <key>sourceSize</key>
                <string>{145,184}</string>
            </dict>
            <key>091090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,176},{157,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,168}}</string>
                <key>sourceSize</key>
                <string>{157,168}</string>
            </dict>
            <key>091091.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,369},{167,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,177}}</string>
                <key>sourceSize</key>
                <string>{167,177}</string>
            </dict>
            <key>091092.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1249},{107,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,198}}</string>
                <key>sourceSize</key>
                <string>{107,198}</string>
            </dict>
            <key>091093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{109,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,205}}</string>
                <key>sourceSize</key>
                <string>{109,205}</string>
            </dict>
            <key>091094.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,205},{107,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,199}}</string>
                <key>sourceSize</key>
                <string>{107,199}</string>
            </dict>
            <key>091095.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,413},{115,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,199}}</string>
                <key>sourceSize</key>
                <string>{115,199}</string>
            </dict>
            <key>091096.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1449},{128,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,196}}</string>
                <key>sourceSize</key>
                <string>{128,196}</string>
            </dict>
            <key>091097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,212}}</string>
                <key>sourceSize</key>
                <string>{111,212}</string>
            </dict>
            <key>091098.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,183},{157,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,176}}</string>
                <key>sourceSize</key>
                <string>{157,176}</string>
            </dict>
            <key>091099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,713},{153,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,170}}</string>
                <key>sourceSize</key>
                <string>{153,170}</string>
            </dict>
            <key>091100.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1134},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>091101.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,406},{142,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,186}}</string>
                <key>sourceSize</key>
                <string>{142,186}</string>
            </dict>
            <key>091102.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1647},{155,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,195}}</string>
                <key>sourceSize</key>
                <string>{155,195}</string>
            </dict>
            <key>091103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1853},{166,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,192}}</string>
                <key>sourceSize</key>
                <string>{166,192}</string>
            </dict>
            <key>091104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{207,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,158}}</string>
                <key>sourceSize</key>
                <string>{207,158}</string>
            </dict>
            <key>091105.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,421},{201,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,154}}</string>
                <key>sourceSize</key>
                <string>{201,154}</string>
            </dict>
            <key>091106.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1432},{191,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,156}}</string>
                <key>sourceSize</key>
                <string>{191,156}</string>
            </dict>
            <key>091107.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,361},{175,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,159}}</string>
                <key>sourceSize</key>
                <string>{175,159}</string>
            </dict>
            <key>091108.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,594},{167,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,180}}</string>
                <key>sourceSize</key>
                <string>{167,180}</string>
            </dict>
            <key>091109.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1048},{199,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,162}}</string>
                <key>sourceSize</key>
                <string>{199,162}</string>
            </dict>
            <key>091110.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1381},{152,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,176}}</string>
                <key>sourceSize</key>
                <string>{152,176}</string>
            </dict>
            <key>091111.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,752},{143,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,176}}</string>
                <key>sourceSize</key>
                <string>{143,176}</string>
            </dict>
            <key>091112.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,572},{141,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,178}}</string>
                <key>sourceSize</key>
                <string>{141,178}</string>
            </dict>
            <key>091113.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,776},{144,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,178}}</string>
                <key>sourceSize</key>
                <string>{144,178}</string>
            </dict>
            <key>091114.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,825},{157,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,189}}</string>
                <key>sourceSize</key>
                <string>{157,189}</string>
            </dict>
            <key>091115.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,203},{167,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,185}}</string>
                <key>sourceSize</key>
                <string>{167,185}</string>
            </dict>
            <key>091116.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1844},{107,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,195}}</string>
                <key>sourceSize</key>
                <string>{107,195}</string>
            </dict>
            <key>091117.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{109,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,206}}</string>
                <key>sourceSize</key>
                <string>{109,206}</string>
            </dict>
            <key>091118.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{107,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,201}}</string>
                <key>sourceSize</key>
                <string>{107,201}</string>
            </dict>
            <key>091119.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1249},{115,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,196}}</string>
                <key>sourceSize</key>
                <string>{115,196}</string>
            </dict>
            <key>091120.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,614},{127,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,188}}</string>
                <key>sourceSize</key>
                <string>{127,188}</string>
            </dict>
            <key>091121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{111,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,203}}</string>
                <key>sourceSize</key>
                <string>{111,203}</string>
            </dict>
            <key>091122.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1696},{157,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,165}}</string>
                <key>sourceSize</key>
                <string>{157,165}</string>
            </dict>
            <key>091123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{153,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,175}}</string>
                <key>sourceSize</key>
                <string>{153,175}</string>
            </dict>
            <key>091124.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1167},{150,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,176}}</string>
                <key>sourceSize</key>
                <string>{150,176}</string>
            </dict>
            <key>091125.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1106},{142,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,171}}</string>
                <key>sourceSize</key>
                <string>{142,171}</string>
            </dict>
            <key>091126.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1279},{155,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,161}}</string>
                <key>sourceSize</key>
                <string>{155,161}</string>
            </dict>
            <key>091127.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,900},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>091128.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{208,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,129}}</string>
                <key>sourceSize</key>
                <string>{208,129}</string>
            </dict>
            <key>091129.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1447},{195,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,136}}</string>
                <key>sourceSize</key>
                <string>{195,136}</string>
            </dict>
            <key>091130.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1238},{192,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,136}}</string>
                <key>sourceSize</key>
                <string>{192,136}</string>
            </dict>
            <key>091131.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1345},{175,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,137}}</string>
                <key>sourceSize</key>
                <string>{175,137}</string>
            </dict>
            <key>091132.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1910},{166,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,131}}</string>
                <key>sourceSize</key>
                <string>{166,131}</string>
            </dict>
            <key>091133.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,624},{199,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,133}}</string>
                <key>sourceSize</key>
                <string>{199,133}</string>
            </dict>
            <key>091134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,2},{160,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,172}}</string>
                <key>sourceSize</key>
                <string>{160,172}</string>
            </dict>
            <key>091135.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,956},{149,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,176}}</string>
                <key>sourceSize</key>
                <string>{149,176}</string>
            </dict>
            <key>091136.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1818},{146,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,179}}</string>
                <key>sourceSize</key>
                <string>{146,179}</string>
            </dict>
            <key>091137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,357},{143,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,173}}</string>
                <key>sourceSize</key>
                <string>{143,173}</string>
            </dict>
            <key>091138.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1863},{155,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,164}}</string>
                <key>sourceSize</key>
                <string>{155,164}</string>
            </dict>
            <key>091139.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,804},{166,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,181}}</string>
                <key>sourceSize</key>
                <string>{166,181}</string>
            </dict>
            <key>091140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1653},{102,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,198}}</string>
                <key>sourceSize</key>
                <string>{102,198}</string>
            </dict>
            <key>091141.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,636},{107,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,203}}</string>
                <key>sourceSize</key>
                <string>{107,203}</string>
            </dict>
            <key>091142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1048},{102,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,201}}</string>
                <key>sourceSize</key>
                <string>{102,201}</string>
            </dict>
            <key>091143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1453},{114,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,198}}</string>
                <key>sourceSize</key>
                <string>{114,198}</string>
            </dict>
            <key>091144.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1644},{127,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,194}}</string>
                <key>sourceSize</key>
                <string>{127,194}</string>
            </dict>
            <key>091145.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,212},{112,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,207}}</string>
                <key>sourceSize</key>
                <string>{112,207}</string>
            </dict>
            <key>091146.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{158,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,179}}</string>
                <key>sourceSize</key>
                <string>{158,179}</string>
            </dict>
            <key>091147.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,930},{149,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,174}}</string>
                <key>sourceSize</key>
                <string>{149,174}</string>
            </dict>
            <key>091148.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,725},{147,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,173}}</string>
                <key>sourceSize</key>
                <string>{147,173}</string>
            </dict>
            <key>091149.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,538},{143,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,173}}</string>
                <key>sourceSize</key>
                <string>{143,173}</string>
            </dict>
            <key>091150.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1201},{153,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,178}}</string>
                <key>sourceSize</key>
                <string>{153,178}</string>
            </dict>
            <key>091151.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1016},{161,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,183}}</string>
                <key>sourceSize</key>
                <string>{161,183}</string>
            </dict>
            <key>091152.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{209,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,157}}</string>
                <key>sourceSize</key>
                <string>{209,157}</string>
            </dict>
            <key>091153.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1852},{194,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,155}}</string>
                <key>sourceSize</key>
                <string>{194,155}</string>
            </dict>
            <key>091154.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1840},{192,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,151}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>091155.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,180},{175,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,156}}</string>
                <key>sourceSize</key>
                <string>{175,156}</string>
            </dict>
            <key>091156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,2},{167,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,159}}</string>
                <key>sourceSize</key>
                <string>{167,159}</string>
            </dict>
            <key>091157.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,841},{199,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,160}}</string>
                <key>sourceSize</key>
                <string>{199,160}</string>
            </dict>
            <key>091158.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,548},{160,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,175}}</string>
                <key>sourceSize</key>
                <string>{160,175}</string>
            </dict>
            <key>091159.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1736},{149,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,172}}</string>
                <key>sourceSize</key>
                <string>{149,172}</string>
            </dict>
            <key>091160.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1310},{147,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,171}}</string>
                <key>sourceSize</key>
                <string>{147,171}</string>
            </dict>
            <key>091161.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1522},{143,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,172}}</string>
                <key>sourceSize</key>
                <string>{143,172}</string>
            </dict>
            <key>091162.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{155,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,176}}</string>
                <key>sourceSize</key>
                <string>{155,176}</string>
            </dict>
            <key>091163.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,188},{166,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,179}}</string>
                <key>sourceSize</key>
                <string>{166,179}</string>
            </dict>
            <key>091164.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1042},{102,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,194}}</string>
                <key>sourceSize</key>
                <string>{102,194}</string>
            </dict>
            <key>091165.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1251},{106,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,200}}</string>
                <key>sourceSize</key>
                <string>{106,200}</string>
            </dict>
            <key>091166.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{102,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,199}}</string>
                <key>sourceSize</key>
                <string>{102,199}</string>
            </dict>
            <key>091167.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1653},{114,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,197}}</string>
                <key>sourceSize</key>
                <string>{114,197}</string>
            </dict>
            <key>091168.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1625},{127,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,191}}</string>
                <key>sourceSize</key>
                <string>{127,191}</string>
            </dict>
            <key>091169.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,210},{112,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,201}}</string>
                <key>sourceSize</key>
                <string>{112,201}</string>
            </dict>
            <key>091170.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,353},{158,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,169}}</string>
                <key>sourceSize</key>
                <string>{158,169}</string>
            </dict>
            <key>091171.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1559},{149,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,175}}</string>
                <key>sourceSize</key>
                <string>{149,175}</string>
            </dict>
            <key>091172.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,987},{147,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,178}}</string>
                <key>sourceSize</key>
                <string>{147,178}</string>
            </dict>
            <key>091173.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,532},{143,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,170}}</string>
                <key>sourceSize</key>
                <string>{143,170}</string>
            </dict>
            <key>091174.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1483},{153,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,163}}</string>
                <key>sourceSize</key>
                <string>{153,163}</string>
            </dict>
            <key>091175.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,179},{161,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,172}}</string>
                <key>sourceSize</key>
                <string>{161,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum91_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dc54e72f9e3cc3861eb6dd69aa0b618:1/1$</string>
            <key>textureFileName</key>
            <string>hum91_1.png</string>
        </dict>
    </dict>
</plist>
