<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>093000.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,596},{168,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,122}}</string>
                <key>sourceSize</key>
                <string>{168,122}</string>
            </dict>
            <key>093001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,802},{167,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,131}}</string>
                <key>sourceSize</key>
                <string>{167,131}</string>
            </dict>
            <key>093002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1479},{161,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,130}}</string>
                <key>sourceSize</key>
                <string>{161,130}</string>
            </dict>
            <key>093003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1856},{151,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,134}}</string>
                <key>sourceSize</key>
                <string>{151,134}</string>
            </dict>
            <key>093004.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1461},{130,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,159}}</string>
                <key>sourceSize</key>
                <string>{130,159}</string>
            </dict>
            <key>093005.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,877},{129,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,163}}</string>
                <key>sourceSize</key>
                <string>{129,163}</string>
            </dict>
            <key>093006.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1069},{126,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,165}}</string>
                <key>sourceSize</key>
                <string>{126,165}</string>
            </dict>
            <key>093007.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,540},{123,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,168}}</string>
                <key>sourceSize</key>
                <string>{123,168}</string>
            </dict>
            <key>093008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{89,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,183}}</string>
                <key>sourceSize</key>
                <string>{89,183}</string>
            </dict>
            <key>093009.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,231},{92,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,184}}</string>
                <key>sourceSize</key>
                <string>{92,184}</string>
            </dict>
            <key>093010.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,325},{94,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,181}}</string>
                <key>sourceSize</key>
                <string>{94,181}</string>
            </dict>
            <key>093011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,194},{97,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,183}}</string>
                <key>sourceSize</key>
                <string>{97,183}</string>
            </dict>
            <key>093012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{130,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,167}}</string>
                <key>sourceSize</key>
                <string>{130,167}</string>
            </dict>
            <key>093013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,803},{130,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,167}}</string>
                <key>sourceSize</key>
                <string>{130,167}</string>
            </dict>
            <key>093014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{126,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,165}}</string>
                <key>sourceSize</key>
                <string>{126,165}</string>
            </dict>
            <key>093015.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1197},{123,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,164}}</string>
                <key>sourceSize</key>
                <string>{123,164}</string>
            </dict>
            <key>093016.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,720},{167,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,144}}</string>
                <key>sourceSize</key>
                <string>{167,144}</string>
            </dict>
            <key>093017.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1008},{166,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,147}}</string>
                <key>sourceSize</key>
                <string>{166,147}</string>
            </dict>
            <key>093018.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1282},{161,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,148}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>093019.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1880},{151,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,148}}</string>
                <key>sourceSize</key>
                <string>{151,148}</string>
            </dict>
            <key>093020.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,293},{130,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,181}}</string>
                <key>sourceSize</key>
                <string>{130,181}</string>
            </dict>
            <key>093021.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,814},{129,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,167}}</string>
                <key>sourceSize</key>
                <string>{129,167}</string>
            </dict>
            <key>093022.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,935},{132,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,165}}</string>
                <key>sourceSize</key>
                <string>{132,165}</string>
            </dict>
            <key>093023.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1157},{123,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,164}}</string>
                <key>sourceSize</key>
                <string>{123,164}</string>
            </dict>
            <key>093024.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,103},{89,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,184}}</string>
                <key>sourceSize</key>
                <string>{89,184}</string>
            </dict>
            <key>093025.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,187},{92,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,184}}</string>
                <key>sourceSize</key>
                <string>{92,184}</string>
            </dict>
            <key>093026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{94,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,182}}</string>
                <key>sourceSize</key>
                <string>{94,182}</string>
            </dict>
            <key>093027.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,132},{97,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,184}}</string>
                <key>sourceSize</key>
                <string>{97,184}</string>
            </dict>
            <key>093028.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1502},{130,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,158}}</string>
                <key>sourceSize</key>
                <string>{130,158}</string>
            </dict>
            <key>093029.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1197},{129,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,164}}</string>
                <key>sourceSize</key>
                <string>{129,164}</string>
            </dict>
            <key>093030.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1195},{126,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,165}}</string>
                <key>sourceSize</key>
                <string>{126,165}</string>
            </dict>
            <key>093031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{123,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,176}}</string>
                <key>sourceSize</key>
                <string>{123,176}</string>
            </dict>
            <key>093032.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,866},{167,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,122}}</string>
                <key>sourceSize</key>
                <string>{167,122}</string>
            </dict>
            <key>093033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{168,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,131}}</string>
                <key>sourceSize</key>
                <string>{168,131}</string>
            </dict>
            <key>093034.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1370},{161,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,130}}</string>
                <key>sourceSize</key>
                <string>{161,130}</string>
            </dict>
            <key>093035.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1593},{144,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,135}}</string>
                <key>sourceSize</key>
                <string>{144,135}</string>
            </dict>
            <key>093036.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1730},{130,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,138}}</string>
                <key>sourceSize</key>
                <string>{130,138}</string>
            </dict>
            <key>093037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{162,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,119}}</string>
                <key>sourceSize</key>
                <string>{162,119}</string>
            </dict>
            <key>093038.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1598},{128,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,161}}</string>
                <key>sourceSize</key>
                <string>{128,161}</string>
            </dict>
            <key>093039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{130,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,165}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>093040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{126,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,164}}</string>
                <key>sourceSize</key>
                <string>{126,164}</string>
            </dict>
            <key>093041.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1118},{125,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,165}}</string>
                <key>sourceSize</key>
                <string>{125,165}</string>
            </dict>
            <key>093042.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,421},{117,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,173}}</string>
                <key>sourceSize</key>
                <string>{117,173}</string>
            </dict>
            <key>093043.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1728},{126,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{126,158}</string>
            </dict>
            <key>093044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{90,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,184}}</string>
                <key>sourceSize</key>
                <string>{90,184}</string>
            </dict>
            <key>093045.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,94},{91,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,185}}</string>
                <key>sourceSize</key>
                <string>{91,185}</string>
            </dict>
            <key>093046.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,325},{94,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,181}}</string>
                <key>sourceSize</key>
                <string>{94,181}</string>
            </dict>
            <key>093047.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,281},{103,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,181}}</string>
                <key>sourceSize</key>
                <string>{103,181}</string>
            </dict>
            <key>093048.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{99,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,186}}</string>
                <key>sourceSize</key>
                <string>{99,186}</string>
            </dict>
            <key>093049.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,386},{92,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,181}}</string>
                <key>sourceSize</key>
                <string>{92,181}</string>
            </dict>
            <key>093050.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,95},{131,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,184}}</string>
                <key>sourceSize</key>
                <string>{131,184}</string>
            </dict>
            <key>093051.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,552},{131,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,169}}</string>
                <key>sourceSize</key>
                <string>{131,169}</string>
            </dict>
            <key>093052.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1069},{126,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,165}}</string>
                <key>sourceSize</key>
                <string>{126,165}</string>
            </dict>
            <key>093053.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,945},{122,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,167}}</string>
                <key>sourceSize</key>
                <string>{122,167}</string>
            </dict>
            <key>093054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{114,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,168}}</string>
                <key>sourceSize</key>
                <string>{114,168}</string>
            </dict>
            <key>093055.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,418},{126,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,180}}</string>
                <key>sourceSize</key>
                <string>{126,180}</string>
            </dict>
            <key>093056.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,708},{167,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,145}}</string>
                <key>sourceSize</key>
                <string>{167,145}</string>
            </dict>
            <key>093057.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,665},{167,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,147}}</string>
                <key>sourceSize</key>
                <string>{167,147}</string>
            </dict>
            <key>093058.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1328},{162,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,149}}</string>
                <key>sourceSize</key>
                <string>{162,149}</string>
            </dict>
            <key>093059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1880},{146,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,152}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>093060.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1565},{130,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,147}}</string>
                <key>sourceSize</key>
                <string>{130,147}</string>
            </dict>
            <key>093061.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1451},{162,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,145}}</string>
                <key>sourceSize</key>
                <string>{162,145}</string>
            </dict>
            <key>093062.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{128,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,185}}</string>
                <key>sourceSize</key>
                <string>{128,185}</string>
            </dict>
            <key>093063.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,546},{130,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,170}}</string>
                <key>sourceSize</key>
                <string>{130,170}</string>
            </dict>
            <key>093064.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,540},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>093065.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,935},{125,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,166}}</string>
                <key>sourceSize</key>
                <string>{125,166}</string>
            </dict>
            <key>093066.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,685},{116,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,168}}</string>
                <key>sourceSize</key>
                <string>{116,168}</string>
            </dict>
            <key>093067.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,425},{125,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,179}}</string>
                <key>sourceSize</key>
                <string>{125,179}</string>
            </dict>
            <key>093068.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{90,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,186}}</string>
                <key>sourceSize</key>
                <string>{90,186}</string>
            </dict>
            <key>093069.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{91,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,186}}</string>
                <key>sourceSize</key>
                <string>{91,186}</string>
            </dict>
            <key>093070.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,322},{94,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,181}}</string>
                <key>sourceSize</key>
                <string>{94,181}</string>
            </dict>
            <key>093071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{103,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,181}}</string>
                <key>sourceSize</key>
                <string>{103,181}</string>
            </dict>
            <key>093072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,186}}</string>
                <key>sourceSize</key>
                <string>{99,186}</string>
            </dict>
            <key>093073.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,228},{92,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,182}}</string>
                <key>sourceSize</key>
                <string>{92,182}</string>
            </dict>
            <key>093074.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1432},{131,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,159}}</string>
                <key>sourceSize</key>
                <string>{131,159}</string>
            </dict>
            <key>093075.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1062},{131,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,165}}</string>
                <key>sourceSize</key>
                <string>{131,165}</string>
            </dict>
            <key>093076.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1323},{126,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,164}}</string>
                <key>sourceSize</key>
                <string>{126,164}</string>
            </dict>
            <key>093077.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,678},{122,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,168}}</string>
                <key>sourceSize</key>
                <string>{122,168}</string>
            </dict>
            <key>093078.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,480},{114,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,172}}</string>
                <key>sourceSize</key>
                <string>{114,172}</string>
            </dict>
            <key>093079.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1611},{126,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{126,158}</string>
            </dict>
            <key>093080.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,990},{165,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,126}}</string>
                <key>sourceSize</key>
                <string>{165,126}</string>
            </dict>
            <key>093081.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1322},{161,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,137}}</string>
                <key>sourceSize</key>
                <string>{161,137}</string>
            </dict>
            <key>093082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{156,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,132}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>093083.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1634},{144,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,134}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>093084.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1697},{136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,139}}</string>
                <key>sourceSize</key>
                <string>{136,139}</string>
            </dict>
            <key>093085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1625},{161,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,119}}</string>
                <key>sourceSize</key>
                <string>{161,119}</string>
            </dict>
            <key>093086.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1245},{123,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,163}}</string>
                <key>sourceSize</key>
                <string>{123,163}</string>
            </dict>
            <key>093087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{121,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,166}}</string>
                <key>sourceSize</key>
                <string>{121,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum93.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a611f8ec986447c2f972271aad614c:1/1$</string>
            <key>textureFileName</key>
            <string>hum93.png</string>
        </dict>
    </dict>
</plist>
