<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>091000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{208,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,127}}</string>
                <key>sourceSize</key>
                <string>{208,127}</string>
            </dict>
            <key>091001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,2},{206,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,135}}</string>
                <key>sourceSize</key>
                <string>{206,135}</string>
            </dict>
            <key>091002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,159},{199,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,134}}</string>
                <key>sourceSize</key>
                <string>{199,134}</string>
            </dict>
            <key>091003.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,512},{193,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,135}}</string>
                <key>sourceSize</key>
                <string>{193,135}</string>
            </dict>
            <key>091004.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,988},{159,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,170}}</string>
                <key>sourceSize</key>
                <string>{159,170}</string>
            </dict>
            <key>091005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,510},{157,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,182}}</string>
                <key>sourceSize</key>
                <string>{157,182}</string>
            </dict>
            <key>091006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,649},{151,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,181}}</string>
                <key>sourceSize</key>
                <string>{151,181}</string>
            </dict>
            <key>091007.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,688},{148,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,177}}</string>
                <key>sourceSize</key>
                <string>{148,177}</string>
            </dict>
            <key>091008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{102,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,193}}</string>
                <key>sourceSize</key>
                <string>{102,193}</string>
            </dict>
            <key>091009.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,295},{99,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,199}}</string>
                <key>sourceSize</key>
                <string>{99,199}</string>
            </dict>
            <key>091010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,274},{97,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,195}}</string>
                <key>sourceSize</key>
                <string>{97,195}</string>
            </dict>
            <key>091011.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,650},{101,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,192}}</string>
                <key>sourceSize</key>
                <string>{101,192}</string>
            </dict>
            <key>091012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{159,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,175}}</string>
                <key>sourceSize</key>
                <string>{159,175}</string>
            </dict>
            <key>091013.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,838},{157,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,172}}</string>
                <key>sourceSize</key>
                <string>{157,172}</string>
            </dict>
            <key>091014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,851},{150,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,169}}</string>
                <key>sourceSize</key>
                <string>{150,169}</string>
            </dict>
            <key>091015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,875},{147,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,167}}</string>
                <key>sourceSize</key>
                <string>{147,167}</string>
            </dict>
            <key>091016.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,140},{209,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,155}}</string>
                <key>sourceSize</key>
                <string>{209,155}</string>
            </dict>
            <key>091017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{206,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,151}}</string>
                <key>sourceSize</key>
                <string>{206,151}</string>
            </dict>
            <key>091018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{198,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,148}}</string>
                <key>sourceSize</key>
                <string>{198,148}</string>
            </dict>
            <key>091019.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,376},{193,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,150}}</string>
                <key>sourceSize</key>
                <string>{193,150}</string>
            </dict>
            <key>091020.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,913},{159,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,175}}</string>
                <key>sourceSize</key>
                <string>{159,175}</string>
            </dict>
            <key>091021.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,829},{157,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,173}}</string>
                <key>sourceSize</key>
                <string>{157,173}</string>
            </dict>
            <key>091022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,828},{149,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,171}}</string>
                <key>sourceSize</key>
                <string>{149,171}</string>
            </dict>
            <key>091023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,997},{146,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,168}}</string>
                <key>sourceSize</key>
                <string>{146,168}</string>
            </dict>
            <key>091024.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,546},{102,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,193}}</string>
                <key>sourceSize</key>
                <string>{102,193}</string>
            </dict>
            <key>091025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,131},{99,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,200}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>091026.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,447},{97,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,197}}</string>
                <key>sourceSize</key>
                <string>{97,197}</string>
            </dict>
            <key>091027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,232},{101,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,195}}</string>
                <key>sourceSize</key>
                <string>{101,195}</string>
            </dict>
            <key>091028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,899},{159,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,170}}</string>
                <key>sourceSize</key>
                <string>{159,170}</string>
            </dict>
            <key>091029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,408},{157,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,182}}</string>
                <key>sourceSize</key>
                <string>{157,182}</string>
            </dict>
            <key>091030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,536},{150,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,182}}</string>
                <key>sourceSize</key>
                <string>{150,182}</string>
            </dict>
            <key>091031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{147,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,178}}</string>
                <key>sourceSize</key>
                <string>{147,178}</string>
            </dict>
            <key>091032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{208,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,127}}</string>
                <key>sourceSize</key>
                <string>{208,127}</string>
            </dict>
            <key>091033.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{208,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,134}}</string>
                <key>sourceSize</key>
                <string>{208,134}</string>
            </dict>
            <key>091034.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,375},{198,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,135}}</string>
                <key>sourceSize</key>
                <string>{198,135}</string>
            </dict>
            <key>091035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,194},{184,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,138}}</string>
                <key>sourceSize</key>
                <string>{184,138}</string>
            </dict>
            <key>091036.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,802},{177,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,134}}</string>
                <key>sourceSize</key>
                <string>{177,134}</string>
            </dict>
            <key>091037.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{215,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,136}}</string>
                <key>sourceSize</key>
                <string>{215,136}</string>
            </dict>
            <key>091038.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1074},{158,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,171}}</string>
                <key>sourceSize</key>
                <string>{158,171}</string>
            </dict>
            <key>091039.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,528},{158,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,181}}</string>
                <key>sourceSize</key>
                <string>{158,181}</string>
            </dict>
            <key>091040.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,724},{150,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,181}}</string>
                <key>sourceSize</key>
                <string>{150,181}</string>
            </dict>
            <key>091041.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1036},{145,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,172}}</string>
                <key>sourceSize</key>
                <string>{145,172}</string>
            </dict>
            <key>091042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1003},{149,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,160}}</string>
                <key>sourceSize</key>
                <string>{149,160}</string>
            </dict>
            <key>091043.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{155,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,212}}</string>
                <key>sourceSize</key>
                <string>{155,212}</string>
            </dict>
            <key>091044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,335},{103,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,194}}</string>
                <key>sourceSize</key>
                <string>{103,194}</string>
            </dict>
            <key>091045.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,156},{99,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,200}}</string>
                <key>sourceSize</key>
                <string>{99,200}</string>
            </dict>
            <key>091046.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,625},{97,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,193}}</string>
                <key>sourceSize</key>
                <string>{97,193}</string>
            </dict>
            <key>091047.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,514},{109,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,193}}</string>
                <key>sourceSize</key>
                <string>{109,193}</string>
            </dict>
            <key>091048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,274},{132,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,190}}</string>
                <key>sourceSize</key>
                <string>{132,190}</string>
            </dict>
            <key>091049.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,396},{116,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,198}}</string>
                <key>sourceSize</key>
                <string>{116,198}</string>
            </dict>
            <key>091050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,688},{161,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,177}}</string>
                <key>sourceSize</key>
                <string>{161,177}</string>
            </dict>
            <key>091051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,669},{157,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,174}}</string>
                <key>sourceSize</key>
                <string>{157,174}</string>
            </dict>
            <key>091052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1275},{150,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,169}}</string>
                <key>sourceSize</key>
                <string>{150,169}</string>
            </dict>
            <key>091053.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1183},{141,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,170}}</string>
                <key>sourceSize</key>
                <string>{141,170}</string>
            </dict>
            <key>091054.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1090},{150,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,170}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>091055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1117},{156,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,171}}</string>
                <key>sourceSize</key>
                <string>{156,171}</string>
            </dict>
            <key>091056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{208,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,156}}</string>
                <key>sourceSize</key>
                <string>{208,156}</string>
            </dict>
            <key>091057.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{208,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,152}}</string>
                <key>sourceSize</key>
                <string>{208,152}</string>
            </dict>
            <key>091058.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,297},{198,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,148}}</string>
                <key>sourceSize</key>
                <string>{198,148}</string>
            </dict>
            <key>091059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,380},{184,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,154}}</string>
                <key>sourceSize</key>
                <string>{184,154}</string>
            </dict>
            <key>091060.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,532},{177,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,155}}</string>
                <key>sourceSize</key>
                <string>{177,155}</string>
            </dict>
            <key>091061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,153}}</string>
                <key>sourceSize</key>
                <string>{215,153}</string>
            </dict>
            <key>091062.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,753},{158,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,179}}</string>
                <key>sourceSize</key>
                <string>{158,179}</string>
            </dict>
            <key>091063.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,876},{158,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,176}}</string>
                <key>sourceSize</key>
                <string>{158,176}</string>
            </dict>
            <key>091064.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,938},{150,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,172}}</string>
                <key>sourceSize</key>
                <string>{150,172}</string>
            </dict>
            <key>091065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,851},{144,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,169}}</string>
                <key>sourceSize</key>
                <string>{144,169}</string>
            </dict>
            <key>091066.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,997},{150,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,170}}</string>
                <key>sourceSize</key>
                <string>{150,170}</string>
            </dict>
            <key>091067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,718},{155,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,171}}</string>
                <key>sourceSize</key>
                <string>{155,171}</string>
            </dict>
            <key>091068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{103,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,196}}</string>
                <key>sourceSize</key>
                <string>{103,196}</string>
            </dict>
            <key>091069.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,138},{99,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,201}}</string>
                <key>sourceSize</key>
                <string>{99,201}</string>
            </dict>
            <key>091070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,155},{97,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,196}}</string>
                <key>sourceSize</key>
                <string>{97,196}</string>
            </dict>
            <key>091071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,254},{109,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,194}}</string>
                <key>sourceSize</key>
                <string>{109,194}</string>
            </dict>
            <key>091072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{131,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,191}}</string>
                <key>sourceSize</key>
                <string>{131,191}</string>
            </dict>
            <key>091073.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,257},{116,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,199}}</string>
                <key>sourceSize</key>
                <string>{116,199}</string>
            </dict>
            <key>091074.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1234},{161,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,169}}</string>
                <key>sourceSize</key>
                <string>{161,169}</string>
            </dict>
            <key>091075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,440},{159,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,182}}</string>
                <key>sourceSize</key>
                <string>{159,182}</string>
            </dict>
            <key>091076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,567},{149,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,182}}</string>
                <key>sourceSize</key>
                <string>{149,182}</string>
            </dict>
            <key>091077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,756},{141,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,174}}</string>
                <key>sourceSize</key>
                <string>{141,174}</string>
            </dict>
            <key>091078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1060},{150,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,163}}</string>
                <key>sourceSize</key>
                <string>{150,163}</string>
            </dict>
            <key>091079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,373},{157,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,193}}</string>
                <key>sourceSize</key>
                <string>{157,193}</string>
            </dict>
            <key>091080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,139},{206,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,133}}</string>
                <key>sourceSize</key>
                <string>{206,133}</string>
            </dict>
            <key>091081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,131},{201,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,141}}</string>
                <key>sourceSize</key>
                <string>{201,141}</string>
            </dict>
            <key>091082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,2},{190,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,139}}</string>
                <key>sourceSize</key>
                <string>{190,139}</string>
            </dict>
            <key>091083.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,689},{175,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,138}}</string>
                <key>sourceSize</key>
                <string>{175,138}</string>
            </dict>
            <key>091084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,979},{167,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,133}}</string>
                <key>sourceSize</key>
                <string>{167,133}</string>
            </dict>
            <key>091085.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,239},{199,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,135}}</string>
                <key>sourceSize</key>
                <string>{199,135}</string>
            </dict>
            <key>091086.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,601},{153,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,175}}</string>
                <key>sourceSize</key>
                <string>{153,175}</string>
            </dict>
            <key>091087.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,365},{143,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,183}}</string>
                <key>sourceSize</key>
                <string>{143,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum91.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33c29bc62ec83c7f51c2c02154c7fb04:1/1$</string>
            <key>textureFileName</key>
            <string>hum91.png</string>
        </dict>
    </dict>
</plist>
