<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>095000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,1599},{182,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,179}}</string>
                <key>sourceSize</key>
                <string>{182,179}</string>
            </dict>
            <key>095001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1341},{209,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,194}}</string>
                <key>sourceSize</key>
                <string>{209,194}</string>
            </dict>
            <key>095002.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,453},{208,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,196}}</string>
                <key>sourceSize</key>
                <string>{208,196}</string>
            </dict>
            <key>095003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1510},{190,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,195}}</string>
                <key>sourceSize</key>
                <string>{190,195}</string>
            </dict>
            <key>095004.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1304},{142,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,204}}</string>
                <key>sourceSize</key>
                <string>{142,204}</string>
            </dict>
            <key>095005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,228},{156,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,223}}</string>
                <key>sourceSize</key>
                <string>{156,223}</string>
            </dict>
            <key>095006.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{156,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,224}}</string>
                <key>sourceSize</key>
                <string>{156,224}</string>
            </dict>
            <key>095007.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,453},{144,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,218}}</string>
                <key>sourceSize</key>
                <string>{144,218}</string>
            </dict>
            <key>095008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1784},{94,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,207}}</string>
                <key>sourceSize</key>
                <string>{94,207}</string>
            </dict>
            <key>095009.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,902},{100,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,219}}</string>
                <key>sourceSize</key>
                <string>{100,219}</string>
            </dict>
            <key>095010.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,680},{99,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,219}}</string>
                <key>sourceSize</key>
                <string>{99,219}</string>
            </dict>
            <key>095011.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,901},{102,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,215}}</string>
                <key>sourceSize</key>
                <string>{102,215}</string>
            </dict>
            <key>095012.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1481},{141,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,188}}</string>
                <key>sourceSize</key>
                <string>{141,188}</string>
            </dict>
            <key>095013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,607},{157,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,189}}</string>
                <key>sourceSize</key>
                <string>{157,189}</string>
            </dict>
            <key>095014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,194},{156,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,189}}</string>
                <key>sourceSize</key>
                <string>{156,189}</string>
            </dict>
            <key>095015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,588},{144,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,185}}</string>
                <key>sourceSize</key>
                <string>{144,185}</string>
            </dict>
            <key>095016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,193},{183,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,173}}</string>
                <key>sourceSize</key>
                <string>{183,173}</string>
            </dict>
            <key>095017.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{207,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,177}}</string>
                <key>sourceSize</key>
                <string>{207,177}</string>
            </dict>
            <key>095018.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1118},{209,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,174}}</string>
                <key>sourceSize</key>
                <string>{209,174}</string>
            </dict>
            <key>095019.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,835},{191,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,172}}</string>
                <key>sourceSize</key>
                <string>{191,172}</string>
            </dict>
            <key>095020.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1707},{142,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,188}}</string>
                <key>sourceSize</key>
                <string>{142,188}</string>
            </dict>
            <key>095021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,2},{156,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,190}}</string>
                <key>sourceSize</key>
                <string>{156,190}</string>
            </dict>
            <key>095022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,204},{156,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,191}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>095023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1010},{144,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,186}}</string>
                <key>sourceSize</key>
                <string>{144,186}</string>
            </dict>
            <key>095024.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,421},{94,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,207}}</string>
                <key>sourceSize</key>
                <string>{94,207}</string>
            </dict>
            <key>095025.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,912},{100,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,220}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
            <key>095026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{99,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,221}}</string>
                <key>sourceSize</key>
                <string>{99,221}</string>
            </dict>
            <key>095027.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1123},{102,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,216}}</string>
                <key>sourceSize</key>
                <string>{102,216}</string>
            </dict>
            <key>095028.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,873},{142,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,203}}</string>
                <key>sourceSize</key>
                <string>{142,203}</string>
            </dict>
            <key>095029.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,455},{157,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,223}}</string>
                <key>sourceSize</key>
                <string>{157,223}</string>
            </dict>
            <key>095030.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,229},{156,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,224}}</string>
                <key>sourceSize</key>
                <string>{156,224}</string>
            </dict>
            <key>095031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1357},{144,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,219}}</string>
                <key>sourceSize</key>
                <string>{144,219}</string>
            </dict>
            <key>095032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{182,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,179}}</string>
                <key>sourceSize</key>
                <string>{182,179}</string>
            </dict>
            <key>095033.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,212},{207,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,194}}</string>
                <key>sourceSize</key>
                <string>{207,194}</string>
            </dict>
            <key>095034.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1573},{209,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,195}}</string>
                <key>sourceSize</key>
                <string>{209,195}</string>
            </dict>
            <key>095035.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1743},{180,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,198}}</string>
                <key>sourceSize</key>
                <string>{180,198}</string>
            </dict>
            <key>095036.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1671},{132,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,188}}</string>
                <key>sourceSize</key>
                <string>{132,188}</string>
            </dict>
            <key>095037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1198},{173,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,180}}</string>
                <key>sourceSize</key>
                <string>{173,180}</string>
            </dict>
            <key>095038.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1797},{141,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,210}}</string>
                <key>sourceSize</key>
                <string>{141,210}</string>
            </dict>
            <key>095039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{157,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,224}}</string>
                <key>sourceSize</key>
                <string>{157,224}</string>
            </dict>
            <key>095040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{156,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,226}}</string>
                <key>sourceSize</key>
                <string>{156,226}</string>
            </dict>
            <key>095041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{145,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,217}}</string>
                <key>sourceSize</key>
                <string>{145,217}</string>
            </dict>
            <key>095042.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1552},{121,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,205}}</string>
                <key>sourceSize</key>
                <string>{121,205}</string>
            </dict>
            <key>095043.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,226},{138,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,208}}</string>
                <key>sourceSize</key>
                <string>{138,208}</string>
            </dict>
            <key>095044.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,673},{95,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,209}}</string>
                <key>sourceSize</key>
                <string>{95,209}</string>
            </dict>
            <key>095045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1135},{100,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,220}}</string>
                <key>sourceSize</key>
                <string>{100,220}</string>
            </dict>
            <key>095046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{99,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,218}}</string>
                <key>sourceSize</key>
                <string>{99,218}</string>
            </dict>
            <key>095047.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1355},{110,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,216}}</string>
                <key>sourceSize</key>
                <string>{110,216}</string>
            </dict>
            <key>095048.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1097},{105,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,205}}</string>
                <key>sourceSize</key>
                <string>{105,205}</string>
            </dict>
            <key>095049.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1080},{99,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,204}}</string>
                <key>sourceSize</key>
                <string>{99,204}</string>
            </dict>
            <key>095050.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1028},{143,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,190}}</string>
                <key>sourceSize</key>
                <string>{143,190}</string>
            </dict>
            <key>095051.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,625},{158,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,191}}</string>
                <key>sourceSize</key>
                <string>{158,191}</string>
            </dict>
            <key>095052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,397},{156,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,189}}</string>
                <key>sourceSize</key>
                <string>{156,189}</string>
            </dict>
            <key>095053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,818},{141,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,190}}</string>
                <key>sourceSize</key>
                <string>{141,190}</string>
            </dict>
            <key>095054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,2},{123,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,189}}</string>
                <key>sourceSize</key>
                <string>{123,189}</string>
            </dict>
            <key>095055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1220},{138,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{138,187}</string>
            </dict>
            <key>095056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,385},{183,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,174}}</string>
                <key>sourceSize</key>
                <string>{183,174}</string>
            </dict>
            <key>095057.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,663},{208,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,174}}</string>
                <key>sourceSize</key>
                <string>{208,174}</string>
            </dict>
            <key>095058.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,886},{209,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,172}}</string>
                <key>sourceSize</key>
                <string>{209,172}</string>
            </dict>
            <key>095059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1409},{182,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,178}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>095060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,775},{132,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,176}}</string>
                <key>sourceSize</key>
                <string>{132,176}</string>
            </dict>
            <key>095061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,570},{174,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,172}}</string>
                <key>sourceSize</key>
                <string>{174,172}</string>
            </dict>
            <key>095062.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1078},{142,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,192}}</string>
                <key>sourceSize</key>
                <string>{142,192}</string>
            </dict>
            <key>095063.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1286},{157,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,193}}</string>
                <key>sourceSize</key>
                <string>{157,193}</string>
            </dict>
            <key>095064.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,414},{156,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,191}}</string>
                <key>sourceSize</key>
                <string>{156,191}</string>
            </dict>
            <key>095065.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1897},{144,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,187}}</string>
                <key>sourceSize</key>
                <string>{144,187}</string>
            </dict>
            <key>095066.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1220},{121,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,188}}</string>
                <key>sourceSize</key>
                <string>{121,188}</string>
            </dict>
            <key>095067.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1410},{138,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,187}}</string>
                <key>sourceSize</key>
                <string>{138,187}</string>
            </dict>
            <key>095068.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,673},{96,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,211}}</string>
                <key>sourceSize</key>
                <string>{96,211}</string>
            </dict>
            <key>095069.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{101,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,222}}</string>
                <key>sourceSize</key>
                <string>{101,222}</string>
            </dict>
            <key>095070.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,680},{99,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,220}}</string>
                <key>sourceSize</key>
                <string>{99,220}</string>
            </dict>
            <key>095071.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1578},{110,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,217}}</string>
                <key>sourceSize</key>
                <string>{110,217}</string>
            </dict>
            <key>095072.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,873},{103,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,205}}</string>
                <key>sourceSize</key>
                <string>{103,205}</string>
            </dict>
            <key>095073.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1536},{99,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,205}}</string>
                <key>sourceSize</key>
                <string>{99,205}</string>
            </dict>
            <key>095074.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,421},{143,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,202}}</string>
                <key>sourceSize</key>
                <string>{143,202}</string>
            </dict>
            <key>095075.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{158,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,225}}</string>
                <key>sourceSize</key>
                <string>{158,225}</string>
            </dict>
            <key>095076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{156,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,225}}</string>
                <key>sourceSize</key>
                <string>{156,225}</string>
            </dict>
            <key>095077.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1134},{141,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,219}}</string>
                <key>sourceSize</key>
                <string>{141,219}</string>
            </dict>
            <key>095078.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1329},{119,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,205}}</string>
                <key>sourceSize</key>
                <string>{119,205}</string>
            </dict>
            <key>095079.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,630},{137,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,203}}</string>
                <key>sourceSize</key>
                <string>{137,203}</string>
            </dict>
            <key>095080.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1861},{179,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{179,185}</string>
            </dict>
            <key>095081.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,211},{201,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,201}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>095082.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{198,200}</string>
            </dict>
            <key>095083.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1784},{168,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,205}}</string>
                <key>sourceSize</key>
                <string>{168,205}</string>
            </dict>
            <key>095084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,798},{135,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,186}}</string>
                <key>sourceSize</key>
                <string>{135,186}</string>
            </dict>
            <key>095085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,986},{166,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,180}}</string>
                <key>sourceSize</key>
                <string>{166,180}</string>
            </dict>
            <key>095086.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{135,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,208}}</string>
                <key>sourceSize</key>
                <string>{135,208}</string>
            </dict>
            <key>095087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,227}}</string>
                <key>sourceSize</key>
                <string>{140,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum95.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:526fe7baaa044853b6d05aee6f09493e:1/1$</string>
            <key>textureFileName</key>
            <string>hum95.png</string>
        </dict>
    </dict>
</plist>
