<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>092088.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,806},{147,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,185}}</string>
                <key>sourceSize</key>
                <string>{147,185}</string>
            </dict>
            <key>092089.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,612},{157,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,192}}</string>
                <key>sourceSize</key>
                <string>{157,192}</string>
            </dict>
            <key>092090.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,993},{161,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,181}}</string>
                <key>sourceSize</key>
                <string>{161,181}</string>
            </dict>
            <key>092091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,245}}</string>
                <key>sourceSize</key>
                <string>{167,245}</string>
            </dict>
            <key>092092.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,968},{114,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,228}}</string>
                <key>sourceSize</key>
                <string>{114,228}</string>
            </dict>
            <key>092093.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,241},{113,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,226}}</string>
                <key>sourceSize</key>
                <string>{113,226}</string>
            </dict>
            <key>092094.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1846},{112,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,190}}</string>
                <key>sourceSize</key>
                <string>{112,190}</string>
            </dict>
            <key>092095.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1429},{125,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,222}}</string>
                <key>sourceSize</key>
                <string>{125,222}</string>
            </dict>
            <key>092096.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,439},{133,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,204}}</string>
                <key>sourceSize</key>
                <string>{133,204}</string>
            </dict>
            <key>092097.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1175},{116,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,213}}</string>
                <key>sourceSize</key>
                <string>{116,213}</string>
            </dict>
            <key>092098.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,417},{155,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,193}}</string>
                <key>sourceSize</key>
                <string>{155,193}</string>
            </dict>
            <key>092099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,535},{151,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,161}}</string>
                <key>sourceSize</key>
                <string>{151,161}</string>
            </dict>
            <key>092100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,180},{156,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,166}}</string>
                <key>sourceSize</key>
                <string>{156,166}</string>
            </dict>
            <key>092101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,187},{153,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,177}}</string>
                <key>sourceSize</key>
                <string>{153,177}</string>
            </dict>
            <key>092102.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,400},{158,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,191}}</string>
                <key>sourceSize</key>
                <string>{158,191}</string>
            </dict>
            <key>092103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1880},{166,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,204}}</string>
                <key>sourceSize</key>
                <string>{166,204}</string>
            </dict>
            <key>092104.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,703},{211,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,153}}</string>
                <key>sourceSize</key>
                <string>{211,153}</string>
            </dict>
            <key>092105.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,469},{211,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,149}}</string>
                <key>sourceSize</key>
                <string>{211,149}</string>
            </dict>
            <key>092106.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1327},{199,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,153}}</string>
                <key>sourceSize</key>
                <string>{199,153}</string>
            </dict>
            <key>092107.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1035},{185,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,151}}</string>
                <key>sourceSize</key>
                <string>{185,151}</string>
            </dict>
            <key>092108.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1583},{165,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,163}}</string>
                <key>sourceSize</key>
                <string>{165,163}</string>
            </dict>
            <key>092109.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,682},{205,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,169}}</string>
                <key>sourceSize</key>
                <string>{205,169}</string>
            </dict>
            <key>092110.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,205},{152,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,193}}</string>
                <key>sourceSize</key>
                <string>{152,193}</string>
            </dict>
            <key>092111.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{141,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,193}}</string>
                <key>sourceSize</key>
                <string>{141,193}</string>
            </dict>
            <key>092112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,561},{147,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,168}}</string>
                <key>sourceSize</key>
                <string>{147,168}</string>
            </dict>
            <key>092113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{155,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,176}}</string>
                <key>sourceSize</key>
                <string>{155,176}</string>
            </dict>
            <key>092114.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,390},{160,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,184}}</string>
                <key>sourceSize</key>
                <string>{160,184}</string>
            </dict>
            <key>092115.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1124},{167,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,197}}</string>
                <key>sourceSize</key>
                <string>{167,197}</string>
            </dict>
            <key>092116.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{115,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,225}}</string>
                <key>sourceSize</key>
                <string>{115,225}</string>
            </dict>
            <key>092117.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,889},{112,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,195}}</string>
                <key>sourceSize</key>
                <string>{112,195}</string>
            </dict>
            <key>092118.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1846},{112,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,190}}</string>
                <key>sourceSize</key>
                <string>{112,190}</string>
            </dict>
            <key>092119.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1634},{125,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,214}}</string>
                <key>sourceSize</key>
                <string>{125,214}</string>
            </dict>
            <key>092120.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1850},{134,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,196}}</string>
                <key>sourceSize</key>
                <string>{134,196}</string>
            </dict>
            <key>092121.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,241},{116,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,232}}</string>
                <key>sourceSize</key>
                <string>{116,232}</string>
            </dict>
            <key>092122.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1653},{155,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,220}}</string>
                <key>sourceSize</key>
                <string>{155,220}</string>
            </dict>
            <key>092123.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1845},{152,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,187}}</string>
                <key>sourceSize</key>
                <string>{152,187}</string>
            </dict>
            <key>092124.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1222},{156,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,182}}</string>
                <key>sourceSize</key>
                <string>{156,182}</string>
            </dict>
            <key>092125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,757},{153,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,169}}</string>
                <key>sourceSize</key>
                <string>{153,169}</string>
            </dict>
            <key>092126.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1406},{158,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,175}}</string>
                <key>sourceSize</key>
                <string>{158,175}</string>
            </dict>
            <key>092127.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{167,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,233}}</string>
                <key>sourceSize</key>
                <string>{167,233}</string>
            </dict>
            <key>092128.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1418},{214,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,158}}</string>
                <key>sourceSize</key>
                <string>{214,158}</string>
            </dict>
            <key>092129.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{208,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,159}}</string>
                <key>sourceSize</key>
                <string>{208,159}</string>
            </dict>
            <key>092130.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1124},{201,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,142}}</string>
                <key>sourceSize</key>
                <string>{201,142}</string>
            </dict>
            <key>092131.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1702},{185,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,141}}</string>
                <key>sourceSize</key>
                <string>{185,141}</string>
            </dict>
            <key>092132.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1705},{166,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,138}}</string>
                <key>sourceSize</key>
                <string>{166,138}</string>
            </dict>
            <key>092133.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,229},{208,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,177}}</string>
                <key>sourceSize</key>
                <string>{208,177}</string>
            </dict>
            <key>092134.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,475},{159,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,226}}</string>
                <key>sourceSize</key>
                <string>{159,226}</string>
            </dict>
            <key>092135.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1515},{154,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,188}}</string>
                <key>sourceSize</key>
                <string>{154,188}</string>
            </dict>
            <key>092136.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,195},{153,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,184}}</string>
                <key>sourceSize</key>
                <string>{153,184}</string>
            </dict>
            <key>092137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,963},{147,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,170}}</string>
                <key>sourceSize</key>
                <string>{147,170}</string>
            </dict>
            <key>092138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,576},{154,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,179}}</string>
                <key>sourceSize</key>
                <string>{154,179}</string>
            </dict>
            <key>092139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{168,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,243}}</string>
                <key>sourceSize</key>
                <string>{168,243}</string>
            </dict>
            <key>092140.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,729},{109,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,228}}</string>
                <key>sourceSize</key>
                <string>{109,228}</string>
            </dict>
            <key>092141.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1323},{111,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,190}}</string>
                <key>sourceSize</key>
                <string>{111,190}</string>
            </dict>
            <key>092142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{106,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,191}}</string>
                <key>sourceSize</key>
                <string>{106,191}</string>
            </dict>
            <key>092143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{124,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,228}}</string>
                <key>sourceSize</key>
                <string>{124,228}</string>
            </dict>
            <key>092144.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,645},{134,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,194}}</string>
                <key>sourceSize</key>
                <string>{134,194}</string>
            </dict>
            <key>092145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{116,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,237}}</string>
                <key>sourceSize</key>
                <string>{116,237}</string>
            </dict>
            <key>092146.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1513},{155,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,187}}</string>
                <key>sourceSize</key>
                <string>{155,187}</string>
            </dict>
            <key>092147.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,197},{149,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,191}}</string>
                <key>sourceSize</key>
                <string>{149,191}</string>
            </dict>
            <key>092148.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1351},{153,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,165}}</string>
                <key>sourceSize</key>
                <string>{153,165}</string>
            </dict>
            <key>092149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,366},{147,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,167}}</string>
                <key>sourceSize</key>
                <string>{147,167}</string>
            </dict>
            <key>092150.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1176},{152,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,173}}</string>
                <key>sourceSize</key>
                <string>{152,173}</string>
            </dict>
            <key>092151.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,780},{160,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,181}}</string>
                <key>sourceSize</key>
                <string>{160,181}</string>
            </dict>
            <key>092152.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,959},{214,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,154}}</string>
                <key>sourceSize</key>
                <string>{214,154}</string>
            </dict>
            <key>092153.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,212},{203,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,153}}</string>
                <key>sourceSize</key>
                <string>{203,153}</string>
            </dict>
            <key>092154.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{201,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,147}}</string>
                <key>sourceSize</key>
                <string>{201,147}</string>
            </dict>
            <key>092155.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,593},{185,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,147}}</string>
                <key>sourceSize</key>
                <string>{185,147}</string>
            </dict>
            <key>092156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1135},{165,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,153}}</string>
                <key>sourceSize</key>
                <string>{165,153}</string>
            </dict>
            <key>092157.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,916},{206,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,158}}</string>
                <key>sourceSize</key>
                <string>{206,158}</string>
            </dict>
            <key>092158.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,841},{158,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,192}}</string>
                <key>sourceSize</key>
                <string>{158,192}</string>
            </dict>
            <key>092159.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,928},{152,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,163}}</string>
                <key>sourceSize</key>
                <string>{152,163}</string>
            </dict>
            <key>092160.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,731},{153,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,162}}</string>
                <key>sourceSize</key>
                <string>{153,162}</string>
            </dict>
            <key>092161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,2},{147,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,166}}</string>
                <key>sourceSize</key>
                <string>{147,166}</string>
            </dict>
            <key>092162.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1875},{154,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,171}}</string>
                <key>sourceSize</key>
                <string>{154,171}</string>
            </dict>
            <key>092163.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1528},{165,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,190}}</string>
                <key>sourceSize</key>
                <string>{165,190}</string>
            </dict>
            <key>092164.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1429},{108,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,225}}</string>
                <key>sourceSize</key>
                <string>{108,225}</string>
            </dict>
            <key>092165.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,494},{111,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,233}}</string>
                <key>sourceSize</key>
                <string>{111,233}</string>
            </dict>
            <key>092166.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1323},{106,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,188}}</string>
                <key>sourceSize</key>
                <string>{106,188}</string>
            </dict>
            <key>092167.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1720},{124,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,189}}</string>
                <key>sourceSize</key>
                <string>{124,189}</string>
            </dict>
            <key>092168.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{134,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,191}}</string>
                <key>sourceSize</key>
                <string>{134,191}</string>
            </dict>
            <key>092169.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{116,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,229}}</string>
                <key>sourceSize</key>
                <string>{116,229}</string>
            </dict>
            <key>092170.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{156,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,222}}</string>
                <key>sourceSize</key>
                <string>{156,222}</string>
            </dict>
            <key>092171.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1198},{151,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,218}}</string>
                <key>sourceSize</key>
                <string>{151,218}</string>
            </dict>
            <key>092172.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1845},{153,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,185}}</string>
                <key>sourceSize</key>
                <string>{153,185}</string>
            </dict>
            <key>092173.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{146,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,183}}</string>
                <key>sourceSize</key>
                <string>{146,183}</string>
            </dict>
            <key>092174.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,381},{152,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,178}}</string>
                <key>sourceSize</key>
                <string>{152,178}</string>
            </dict>
            <key>092175.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{161,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,237}}</string>
                <key>sourceSize</key>
                <string>{161,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum92_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a603415f9d432af1fc93e4a33e86282e:1/1$</string>
            <key>textureFileName</key>
            <string>hum92_1.png</string>
        </dict>
    </dict>
</plist>
