<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>094088.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{161,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,237}}</string>
                <key>sourceSize</key>
                <string>{161,237}</string>
            </dict>
            <key>094089.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,714},{162,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,226}}</string>
                <key>sourceSize</key>
                <string>{162,226}</string>
            </dict>
            <key>094090.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{165,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,221}}</string>
                <key>sourceSize</key>
                <string>{165,221}</string>
            </dict>
            <key>094091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,244}}</string>
                <key>sourceSize</key>
                <string>{170,244}</string>
            </dict>
            <key>094092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{121,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,237}}</string>
                <key>sourceSize</key>
                <string>{121,237}</string>
            </dict>
            <key>094093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1457},{121,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,237}}</string>
                <key>sourceSize</key>
                <string>{121,237}</string>
            </dict>
            <key>094094.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1695},{119,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,234}}</string>
                <key>sourceSize</key>
                <string>{119,234}</string>
            </dict>
            <key>094095.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1218},{132,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,236}}</string>
                <key>sourceSize</key>
                <string>{132,236}</string>
            </dict>
            <key>094096.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,227},{133,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,222}}</string>
                <key>sourceSize</key>
                <string>{133,222}</string>
            </dict>
            <key>094097.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1695},{117,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,234}}</string>
                <key>sourceSize</key>
                <string>{117,234}</string>
            </dict>
            <key>094098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,832},{155,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,189}}</string>
                <key>sourceSize</key>
                <string>{155,189}</string>
            </dict>
            <key>094099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,2},{155,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,184}}</string>
                <key>sourceSize</key>
                <string>{155,184}</string>
            </dict>
            <key>094100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,210},{164,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,196}}</string>
                <key>sourceSize</key>
                <string>{164,196}</string>
            </dict>
            <key>094101.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1116},{156,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,204}}</string>
                <key>sourceSize</key>
                <string>{156,204}</string>
            </dict>
            <key>094102.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,900},{162,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,214}}</string>
                <key>sourceSize</key>
                <string>{162,214}</string>
            </dict>
            <key>094103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{166,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,206}}</string>
                <key>sourceSize</key>
                <string>{166,206}</string>
            </dict>
            <key>094104.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{223,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,178}}</string>
                <key>sourceSize</key>
                <string>{223,178}</string>
            </dict>
            <key>094105.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1691},{230,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,176}}</string>
                <key>sourceSize</key>
                <string>{230,176}</string>
            </dict>
            <key>094106.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1656},{225,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>094107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,411},{196,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,192}}</string>
                <key>sourceSize</key>
                <string>{196,192}</string>
            </dict>
            <key>094108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,198},{164,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,185}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>094109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{194,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,178}}</string>
                <key>sourceSize</key>
                <string>{194,178}</string>
            </dict>
            <key>094110.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1893},{152,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,189}}</string>
                <key>sourceSize</key>
                <string>{152,189}</string>
            </dict>
            <key>094111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1252},{144,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,191}}</string>
                <key>sourceSize</key>
                <string>{144,191}</string>
            </dict>
            <key>094112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,210},{161,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,199}}</string>
                <key>sourceSize</key>
                <string>{161,199}</string>
            </dict>
            <key>094113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,432},{161,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,199}}</string>
                <key>sourceSize</key>
                <string>{161,199}</string>
            </dict>
            <key>094114.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1345},{165,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,205}}</string>
                <key>sourceSize</key>
                <string>{165,205}</string>
            </dict>
            <key>094115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,657},{167,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,200}}</string>
                <key>sourceSize</key>
                <string>{167,200}</string>
            </dict>
            <key>094116.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,241},{121,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,235}}</string>
                <key>sourceSize</key>
                <string>{121,235}</string>
            </dict>
            <key>094117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{121,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,241}}</string>
                <key>sourceSize</key>
                <string>{121,241}</string>
            </dict>
            <key>094118.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{119,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,234}}</string>
                <key>sourceSize</key>
                <string>{119,234}</string>
            </dict>
            <key>094119.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1436},{132,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,227}}</string>
                <key>sourceSize</key>
                <string>{132,227}</string>
            </dict>
            <key>094120.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1128},{133,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,215}}</string>
                <key>sourceSize</key>
                <string>{133,215}</string>
            </dict>
            <key>094121.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1665},{116,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,226}}</string>
                <key>sourceSize</key>
                <string>{116,226}</string>
            </dict>
            <key>094122.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,972},{155,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,230}}</string>
                <key>sourceSize</key>
                <string>{155,230}</string>
            </dict>
            <key>094123.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,478},{155,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,234}}</string>
                <key>sourceSize</key>
                <string>{155,234}</string>
            </dict>
            <key>094124.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1456},{164,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,233}}</string>
                <key>sourceSize</key>
                <string>{164,233}</string>
            </dict>
            <key>094125.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,455},{156,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,222}}</string>
                <key>sourceSize</key>
                <string>{156,222}</string>
            </dict>
            <key>094126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{162,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,216}}</string>
                <key>sourceSize</key>
                <string>{162,216}</string>
            </dict>
            <key>094127.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,735},{170,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,235}}</string>
                <key>sourceSize</key>
                <string>{170,235}</string>
            </dict>
            <key>094128.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1429},{225,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,204}}</string>
                <key>sourceSize</key>
                <string>{225,204}</string>
            </dict>
            <key>094129.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,906},{220,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,203}}</string>
                <key>sourceSize</key>
                <string>{220,203}</string>
            </dict>
            <key>094130.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1201},{226,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,198}}</string>
                <key>sourceSize</key>
                <string>{226,198}</string>
            </dict>
            <key>094131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,859},{197,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,191}}</string>
                <key>sourceSize</key>
                <string>{197,191}</string>
            </dict>
            <key>094132.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1883},{163,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,183}}</string>
                <key>sourceSize</key>
                <string>{163,183}</string>
            </dict>
            <key>094133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,444},{194,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,211}}</string>
                <key>sourceSize</key>
                <string>{194,211}</string>
            </dict>
            <key>094134.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,494},{159,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,239}}</string>
                <key>sourceSize</key>
                <string>{159,239}</string>
            </dict>
            <key>094135.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{154,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,237}}</string>
                <key>sourceSize</key>
                <string>{154,237}</string>
            </dict>
            <key>094136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{160,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,237}}</string>
                <key>sourceSize</key>
                <string>{160,237}</string>
            </dict>
            <key>094137.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,456},{148,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,224}}</string>
                <key>sourceSize</key>
                <string>{148,224}</string>
            </dict>
            <key>094138.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,679},{160,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,219}}</string>
                <key>sourceSize</key>
                <string>{160,219}</string>
            </dict>
            <key>094139.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{168,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,244}}</string>
                <key>sourceSize</key>
                <string>{168,244}</string>
            </dict>
            <key>094140.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,735},{114,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,236}}</string>
                <key>sourceSize</key>
                <string>{114,236}</string>
            </dict>
            <key>094141.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,239},{120,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,234}}</string>
                <key>sourceSize</key>
                <string>{120,234}</string>
            </dict>
            <key>094142.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{114,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,235}}</string>
                <key>sourceSize</key>
                <string>{114,235}</string>
            </dict>
            <key>094143.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,979},{131,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,236}}</string>
                <key>sourceSize</key>
                <string>{131,236}</string>
            </dict>
            <key>094144.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,672},{133,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,213}}</string>
                <key>sourceSize</key>
                <string>{133,213}</string>
            </dict>
            <key>094145.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1204},{116,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,230}}</string>
                <key>sourceSize</key>
                <string>{116,230}</string>
            </dict>
            <key>094146.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1058},{156,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,192}}</string>
                <key>sourceSize</key>
                <string>{156,192}</string>
            </dict>
            <key>094147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1718},{151,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,192}}</string>
                <key>sourceSize</key>
                <string>{151,192}</string>
            </dict>
            <key>094148.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1522},{158,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,194}}</string>
                <key>sourceSize</key>
                <string>{158,194}</string>
            </dict>
            <key>094149.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1058},{147,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,190}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>094150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,887},{157,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,201}}</string>
                <key>sourceSize</key>
                <string>{157,201}</string>
            </dict>
            <key>094151.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1552},{160,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,199}}</string>
                <key>sourceSize</key>
                <string>{160,199}</string>
            </dict>
            <key>094152.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>094153.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,682},{222,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,180}}</string>
                <key>sourceSize</key>
                <string>{222,180}</string>
            </dict>
            <key>094154.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,972},{227,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,180}}</string>
                <key>sourceSize</key>
                <string>{227,180}</string>
            </dict>
            <key>094155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,633},{197,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,181}}</string>
                <key>sourceSize</key>
                <string>{197,181}</string>
            </dict>
            <key>094156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,2},{163,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,181}}</string>
                <key>sourceSize</key>
                <string>{163,181}</string>
            </dict>
            <key>094157.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1753},{194,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,177}}</string>
                <key>sourceSize</key>
                <string>{194,177}</string>
            </dict>
            <key>094158.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,408},{159,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,188}}</string>
                <key>sourceSize</key>
                <string>{159,188}</string>
            </dict>
            <key>094159.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1485},{154,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,191}}</string>
                <key>sourceSize</key>
                <string>{154,191}</string>
            </dict>
            <key>094160.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1290},{160,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,193}}</string>
                <key>sourceSize</key>
                <string>{160,193}</string>
            </dict>
            <key>094161.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,609},{148,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,189}}</string>
                <key>sourceSize</key>
                <string>{148,189}</string>
            </dict>
            <key>094162.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1090},{161,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,198}}</string>
                <key>sourceSize</key>
                <string>{161,198}</string>
            </dict>
            <key>094163.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1322},{165,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,198}}</string>
                <key>sourceSize</key>
                <string>{165,198}</string>
            </dict>
            <key>094164.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1931},{114,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,232}}</string>
                <key>sourceSize</key>
                <string>{114,232}</string>
            </dict>
            <key>094165.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1217},{120,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,233}}</string>
                <key>sourceSize</key>
                <string>{120,233}</string>
            </dict>
            <key>094166.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1931},{114,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,232}}</string>
                <key>sourceSize</key>
                <string>{114,232}</string>
            </dict>
            <key>094167.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,451},{131,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,219}}</string>
                <key>sourceSize</key>
                <string>{131,219}</string>
            </dict>
            <key>094168.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,220},{133,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,210}}</string>
                <key>sourceSize</key>
                <string>{133,210}</string>
            </dict>
            <key>094169.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,229},{116,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,225}}</string>
                <key>sourceSize</key>
                <string>{116,225}</string>
            </dict>
            <key>094170.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,248},{155,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,239}}</string>
                <key>sourceSize</key>
                <string>{155,239}</string>
            </dict>
            <key>094171.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,489},{151,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,235}}</string>
                <key>sourceSize</key>
                <string>{151,235}</string>
            </dict>
            <key>094172.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1457},{157,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,236}}</string>
                <key>sourceSize</key>
                <string>{157,236}</string>
            </dict>
            <key>094173.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,229},{146,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,224}}</string>
                <key>sourceSize</key>
                <string>{146,224}</string>
            </dict>
            <key>094174.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,225},{156,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,217}}</string>
                <key>sourceSize</key>
                <string>{156,217}</string>
            </dict>
            <key>094175.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{164,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,240}}</string>
                <key>sourceSize</key>
                <string>{164,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum94_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdc5e750db9b1bb5e2ca6a5548e482f2:1/1$</string>
            <key>textureFileName</key>
            <string>hum94_1.png</string>
        </dict>
    </dict>
</plist>
