<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>094000.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1177},{225,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,203}}</string>
                <key>sourceSize</key>
                <string>{225,203}</string>
            </dict>
            <key>094001.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,493},{237,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,199}}</string>
                <key>sourceSize</key>
                <string>{237,199}</string>
            </dict>
            <key>094002.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1692},{235,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,195}}</string>
                <key>sourceSize</key>
                <string>{235,195}</string>
            </dict>
            <key>094003.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,946},{229,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,180}}</string>
                <key>sourceSize</key>
                <string>{229,180}</string>
            </dict>
            <key>094004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,969},{158,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,232}}</string>
                <key>sourceSize</key>
                <string>{158,232}</string>
            </dict>
            <key>094005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{165,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,241}}</string>
                <key>sourceSize</key>
                <string>{165,241}</string>
            </dict>
            <key>094006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{168,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,236}}</string>
                <key>sourceSize</key>
                <string>{168,236}</string>
            </dict>
            <key>094007.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1404},{163,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,221}}</string>
                <key>sourceSize</key>
                <string>{163,221}</string>
            </dict>
            <key>094008.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1928},{114,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,233}}</string>
                <key>sourceSize</key>
                <string>{114,233}</string>
            </dict>
            <key>094009.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{110,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,231}}</string>
                <key>sourceSize</key>
                <string>{110,231}</string>
            </dict>
            <key>094010.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{105,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,230}}</string>
                <key>sourceSize</key>
                <string>{105,230}</string>
            </dict>
            <key>094011.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1164},{110,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,220}}</string>
                <key>sourceSize</key>
                <string>{110,220}</string>
            </dict>
            <key>094012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1792},{159,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,188}}</string>
                <key>sourceSize</key>
                <string>{159,188}</string>
            </dict>
            <key>094013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,641},{166,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,193}}</string>
                <key>sourceSize</key>
                <string>{166,193}</string>
            </dict>
            <key>094014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1352},{170,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,194}}</string>
                <key>sourceSize</key>
                <string>{170,194}</string>
            </dict>
            <key>094015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,836},{165,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,186}}</string>
                <key>sourceSize</key>
                <string>{165,186}</string>
            </dict>
            <key>094016.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,464},{225,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,176}}</string>
                <key>sourceSize</key>
                <string>{225,176}</string>
            </dict>
            <key>094017.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{237,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,176}}</string>
                <key>sourceSize</key>
                <string>{237,176}</string>
            </dict>
            <key>094018.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1691},{235,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,177}}</string>
                <key>sourceSize</key>
                <string>{235,177}</string>
            </dict>
            <key>094019.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,706},{229,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,178}}</string>
                <key>sourceSize</key>
                <string>{229,178}</string>
            </dict>
            <key>094020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1548},{158,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,188}}</string>
                <key>sourceSize</key>
                <string>{158,188}</string>
            </dict>
            <key>094021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1793},{165,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,195}}</string>
                <key>sourceSize</key>
                <string>{165,195}</string>
            </dict>
            <key>094022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,443},{168,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,196}}</string>
                <key>sourceSize</key>
                <string>{168,196}</string>
            </dict>
            <key>094023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,193},{163,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,185}}</string>
                <key>sourceSize</key>
                <string>{163,185}</string>
            </dict>
            <key>094024.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1929},{114,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,234}}</string>
                <key>sourceSize</key>
                <string>{114,234}</string>
            </dict>
            <key>094025.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1203},{110,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,232}}</string>
                <key>sourceSize</key>
                <string>{110,232}</string>
            </dict>
            <key>094026.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,713},{105,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,231}}</string>
                <key>sourceSize</key>
                <string>{105,231}</string>
            </dict>
            <key>094027.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1404},{110,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,221}}</string>
                <key>sourceSize</key>
                <string>{110,221}</string>
            </dict>
            <key>094028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{158,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,236}}</string>
                <key>sourceSize</key>
                <string>{158,236}</string>
            </dict>
            <key>094029.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{166,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,241}}</string>
                <key>sourceSize</key>
                <string>{166,241}</string>
            </dict>
            <key>094030.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,732},{169,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,236}}</string>
                <key>sourceSize</key>
                <string>{169,236}</string>
            </dict>
            <key>094031.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{165,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,223}}</string>
                <key>sourceSize</key>
                <string>{165,223}</string>
            </dict>
            <key>094032.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1670},{225,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,203}}</string>
                <key>sourceSize</key>
                <string>{225,203}</string>
            </dict>
            <key>094033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{236,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,200}}</string>
                <key>sourceSize</key>
                <string>{236,200}</string>
            </dict>
            <key>094034.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1454},{235,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,194}}</string>
                <key>sourceSize</key>
                <string>{235,194}</string>
            </dict>
            <key>094035.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1164},{218,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,185}}</string>
                <key>sourceSize</key>
                <string>{218,185}</string>
            </dict>
            <key>094036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,2},{177,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,182}}</string>
                <key>sourceSize</key>
                <string>{177,182}</string>
            </dict>
            <key>094037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,227},{214,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,206}}</string>
                <key>sourceSize</key>
                <string>{214,206}</string>
            </dict>
            <key>094038.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,235},{159,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,230}}</string>
                <key>sourceSize</key>
                <string>{159,230}</string>
            </dict>
            <key>094039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{166,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,240}}</string>
                <key>sourceSize</key>
                <string>{166,240}</string>
            </dict>
            <key>094040.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,970},{170,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,235}}</string>
                <key>sourceSize</key>
                <string>{170,235}</string>
            </dict>
            <key>094041.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1627},{155,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,220}}</string>
                <key>sourceSize</key>
                <string>{155,220}</string>
            </dict>
            <key>094042.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,691},{153,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,216}}</string>
                <key>sourceSize</key>
                <string>{153,216}</string>
            </dict>
            <key>094043.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,241},{155,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,231}}</string>
                <key>sourceSize</key>
                <string>{155,231}</string>
            </dict>
            <key>094044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{115,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,231}}</string>
                <key>sourceSize</key>
                <string>{115,231}</string>
            </dict>
            <key>094045.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1443},{111,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,232}}</string>
                <key>sourceSize</key>
                <string>{111,232}</string>
            </dict>
            <key>094046.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,234},{105,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,228}}</string>
                <key>sourceSize</key>
                <string>{105,228}</string>
            </dict>
            <key>094047.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1386},{121,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,219}}</string>
                <key>sourceSize</key>
                <string>{121,219}</string>
            </dict>
            <key>094048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,909},{138,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,206}}</string>
                <key>sourceSize</key>
                <string>{138,206}</string>
            </dict>
            <key>094049.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{120,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,227}}</string>
                <key>sourceSize</key>
                <string>{120,227}</string>
            </dict>
            <key>094050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,218},{162,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,190}}</string>
                <key>sourceSize</key>
                <string>{162,190}</string>
            </dict>
            <key>094051.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1596},{168,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,195}}</string>
                <key>sourceSize</key>
                <string>{168,195}</string>
            </dict>
            <key>094052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1596},{173,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,194}}</string>
                <key>sourceSize</key>
                <string>{173,194}</string>
            </dict>
            <key>094053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{156,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,189}}</string>
                <key>sourceSize</key>
                <string>{156,189}</string>
            </dict>
            <key>094054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,872},{154,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,194}}</string>
                <key>sourceSize</key>
                <string>{154,194}</string>
            </dict>
            <key>094055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,637},{154,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,186}}</string>
                <key>sourceSize</key>
                <string>{154,186}</string>
            </dict>
            <key>094056.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,697},{225,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,180}}</string>
                <key>sourceSize</key>
                <string>{225,180}</string>
            </dict>
            <key>094057.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,245},{237,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,179}}</string>
                <key>sourceSize</key>
                <string>{237,179}</string>
            </dict>
            <key>094058.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1216},{235,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,178}}</string>
                <key>sourceSize</key>
                <string>{235,178}</string>
            </dict>
            <key>094059.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,924},{218,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,183}}</string>
                <key>sourceSize</key>
                <string>{218,183}</string>
            </dict>
            <key>094060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{177,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,182}}</string>
                <key>sourceSize</key>
                <string>{177,182}</string>
            </dict>
            <key>094061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{214,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,176}}</string>
                <key>sourceSize</key>
                <string>{214,176}</string>
            </dict>
            <key>094062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,443},{159,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,192}}</string>
                <key>sourceSize</key>
                <string>{159,192}</string>
            </dict>
            <key>094063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,673},{166,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,197}}</string>
                <key>sourceSize</key>
                <string>{166,197}</string>
            </dict>
            <key>094064.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1849},{170,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,197}}</string>
                <key>sourceSize</key>
                <string>{170,197}</string>
            </dict>
            <key>094065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1313},{155,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,188}}</string>
                <key>sourceSize</key>
                <string>{155,188}</string>
            </dict>
            <key>094066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1117},{154,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,194}}</string>
                <key>sourceSize</key>
                <string>{154,194}</string>
            </dict>
            <key>094067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1068},{153,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,187}}</string>
                <key>sourceSize</key>
                <string>{153,187}</string>
            </dict>
            <key>094068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1692},{115,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,236}}</string>
                <key>sourceSize</key>
                <string>{115,236}</string>
            </dict>
            <key>094069.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1207},{111,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,234}}</string>
                <key>sourceSize</key>
                <string>{111,234}</string>
            </dict>
            <key>094070.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1437},{105,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,231}}</string>
                <key>sourceSize</key>
                <string>{105,231}</string>
            </dict>
            <key>094071.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1627},{121,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,221}}</string>
                <key>sourceSize</key>
                <string>{121,221}</string>
            </dict>
            <key>094072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1144},{138,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,206}}</string>
                <key>sourceSize</key>
                <string>{138,206}</string>
            </dict>
            <key>094073.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,467},{121,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,228}}</string>
                <key>sourceSize</key>
                <string>{121,228}</string>
            </dict>
            <key>094074.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,480},{162,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,231}}</string>
                <key>sourceSize</key>
                <string>{162,231}</string>
            </dict>
            <key>094075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{168,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,241}}</string>
                <key>sourceSize</key>
                <string>{168,241}</string>
            </dict>
            <key>094076.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,241},{173,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,237}}</string>
                <key>sourceSize</key>
                <string>{173,237}</string>
            </dict>
            <key>094077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{156,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,223}}</string>
                <key>sourceSize</key>
                <string>{156,223}</string>
            </dict>
            <key>094078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,456},{154,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,215}}</string>
                <key>sourceSize</key>
                <string>{154,215}</string>
            </dict>
            <key>094079.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,732},{157,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,235}}</string>
                <key>sourceSize</key>
                <string>{157,235}</string>
            </dict>
            <key>094080.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,231},{223,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,209}}</string>
                <key>sourceSize</key>
                <string>{223,209}</string>
            </dict>
            <key>094081.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,474},{230,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,206}}</string>
                <key>sourceSize</key>
                <string>{230,206}</string>
            </dict>
            <key>094082.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,937},{225,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,201}}</string>
                <key>sourceSize</key>
                <string>{225,201}</string>
            </dict>
            <key>094083.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1850},{196,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,192}}</string>
                <key>sourceSize</key>
                <string>{196,192}</string>
            </dict>
            <key>094084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,410},{164,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,185}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>094085.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1384},{194,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,210}}</string>
                <key>sourceSize</key>
                <string>{194,210}</string>
            </dict>
            <key>094086.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{152,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,237}}</string>
                <key>sourceSize</key>
                <string>{152,237}</string>
            </dict>
            <key>094087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,246}}</string>
                <key>sourceSize</key>
                <string>{144,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hum94.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa3e80ddf27e3d01b6727465e65e975:1/1$</string>
            <key>textureFileName</key>
            <string>hum94.png</string>
        </dict>
    </dict>
</plist>
