<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,153},{34,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,154},{34,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{34,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,40},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,30},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,32},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,232},{30,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,236},{30,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,105},{34,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,93},{34,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,72},{34,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,126},{34,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,167},{32,29}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,76},{34,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,154},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,87},{34,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,209},{30,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,205},{30,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,65},{26,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,257},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{20,29}</string>
            </dict>
            <key>000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,181},{22,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,224},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,58},{30,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>000024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,181},{32,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{32,26}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,59},{26,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,35}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>000026.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,232},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>000027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>000028.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,248},{22,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>000029.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,242},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>000030.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,252},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>000031.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{14,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>000032.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,22},{14,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>000033.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,140},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>000034.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,135},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>000035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>000036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{34,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>000037.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,122},{34,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>000038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{32,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,27}}</string>
                <key>sourceSize</key>
                <string>{36,29}</string>
            </dict>
            <key>000039.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,240},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>000040.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,108},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>000041.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,200},{30,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>000042.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,185},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>000043.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,258},{28,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>000044.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,224},{22,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>000045.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,142},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>000046.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,172},{32,28}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>000047.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,299},{26,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>000048.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,202},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>000049.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,212},{28,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>000050.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,279},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>000051.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,198},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>000052.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,116},{24,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>000053.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,248},{24,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>000054.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,271},{26,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>000055.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,174},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,24}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>000056.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,42},{36,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>000057.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{36,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>000058.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>000059.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,121},{34,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>000060.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,36},{36,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>000061.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,90},{34,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>000062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>000063.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,268},{22,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>000064.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,90},{24,21}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>000065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{24,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>000066.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>000067.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>000068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>000069.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{36,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f24dd01c0158b71ee5923dd7670e9e10:1/1$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
